[2019-03-25 19:16] paregorios commented on #345
@rmhorne how does the above JSON suggestion look to you?

[2019-03-25 19:55] paregorios commented on #339
To restate the concern:

In the "edit" view for locations, names, and connections, the "Time Period" subsection of the "Time Period and Confidence Level" widget that is used by the "Temporal Attestations" widget refers to "this name" even if the context is not a name. Consider this example, from the "location" edit view:

<img width="525" alt="Screen Shot 2019-03-25 at 2 49 35 PM" src="https://use

[2019-03-25 20:09] paregorios commented on #359
I'm unclear as to what best practice would be here. I guess there are at least the following options:

 - when there are no items in list, emit [rdf:nil](https://www.w3.org/TR/rdf-schema/#ch_nil) instead of ```[]```
 - omit the entire term (e.g., as here ```cito:citesAsRelated```)
 - something else

Suggestions? @manosntoulias @rybesh @sfsheath @gabrielbodard @ryanfb @aboutgeo

[2019-03-25 20:10] paregorios commented on #308
Identify and fix mixed content problems so the map works over https

[2019-03-25 20:15] paregorios opened #365 "default text for content "publish" action - 5"
As an authenticated pleiades user with the "Reviewer" role preparing to __publish__ a piece of content, I am currently presented with an empty "comments" field on the "Publishing Process" page:

<img width="636" alt="Screen Shot 2019-03-25 at 3 13 15 PM" src="https://user-images.githubusercontent.com/263285/54951024-a6526700-4f10-11e9-8cf0-fcecdb0b2dca.png">

Instead, I would like to see the comme

[2019-03-25 20:18] paregorios opened #366 "default text for content "check in" action - 3"
As an authenticated pleiades user with the "Reviewer" role preparing to *check in* a working copy of a piece of content, I am currently presented with an empty "comments" field on the "Checkin" page:

![Screen Shot 2019-03-25 at 10 19 23 AM](https://user-images.githubusercontent.com/263285/54951227-1660ed00-4f11-11e9-81ee-30e757e1dc21.png)

Instead, I would like to see the comments box pre-populat

[2019-03-25 20:19] paregorios commented on #366
See also issues nos. #76 and #365

[2019-03-25 20:19] paregorios commented on #76
See also issues nos. #365 and #366

[2019-03-25 20:20] paregorios commented on #365
See also nos. #76 and #366

[2019-03-25 20:25] rybesh commented on #359
I think this is a bug in the parser the OP is using; `[]` is valid Turtle indicating an anonymous (blank) node with no properties. Try converting the following to ntriples at http://www.easyrdf.org/converter:

[code]

You will get:

[code]

To verify this I used the riot (Jena) parser on `places-8.ttl`, and it validates (`riot --validate places-8.ttl` returns no output).

[2019-03-25 20:27] paregorios commented on #307
duplicate of #339. Closing in favor of that one.

[2019-03-25 20:27] #307 closed, assigned to paregorios

[2019-03-25 20:54] paregorios commented on #271
As a user of Pleiades export JSON, I will find the following terms in JSON data (both the individual files provided for each place using the /json stub and those provided via download):

## association certainty

Where we emit "associationCertainty" also emit "associationCertaintyURI":

[code]

## attestation confidence and time periods

Under "attestations" when we emit "confidence" also emit "co

[2019-03-26 08:20] manosntoulias commented on #359
But according to rule [7] of the syntax I linked predicatedObjectList can't be empty. It must have at least one verb and followed by one objectList:

[7] | predicateObjectList  ::=  verb objectList (';' (verb objectList)?)*

Is this not the official turtle syntax?

[2019-03-26 12:04] rybesh commented on #359
`[]` is not a `blankNodePropertyList`, it is an [`ANON`](https://www.w3.org/TR/turtle/#grammar-production-ANON).

[2019-03-26 14:46] paregorios opened #367 "include both raw term keys and full term URIs in vocabulary content serialized into JSON -- 3"
The following has been split out separately from #271:

As a user of Pleiades export JSON, I will find the following terms in JSON data (both the individual files provided for each place using the /json stub and those provided via download):

## association certainty

Where we emit "associationCertainty" also emit "associationCertaintyURI":

[code]

## attestation confidence and time periods

Unde

[2019-03-26 14:47] paregorios commented on #271
split out JSON aspects to separate ticket #367

[2019-03-26 14:48] paregorios commented on #271
downgraded priority since we have long privileged the json export as fully complete

[2019-03-26 17:22] paregorios commented on #320
On step of generating JSoN, examine the geometry and ensure they follow the right-hand rule.

[2019-03-26 17:29] paregorios commented on #339
"Select the time period to be associated with this resource."

[2019-03-26 17:47] paregorios opened #368 "matthew on-boarding and dev environment setup -- 2"

[2019-03-26 17:58] paregorios commented on #290
See also #318, which is a duplicate, but has lots of additional troubleshooting and other information.

[2019-03-26 17:59] paregorios commented on #318
Closing as duplicate for #290

[2019-03-26 17:59] #318 closed, assigned to paregorios

[2019-03-26 18:03] paregorios commented on #264
justification: the batch script input file makes you set an id for new content; however, place ids are supposed to be autogenerated by code in the plone. This modification to the script prevents trouble by ignoring the input id on a new content item for creation if that item is a place.

[2019-03-26 18:06] paregorios commented on #340
download files are here: http://atlantides.org/downloads/pleiades/rdf/

[2019-03-27 05:58] cguardia commented on #264
The PR has been merged.

[2019-03-27 13:45] paregorios commented on #264
@cguardia so is this ticket ready to move into "reviewing"?

[2019-03-27 15:54] cguardia commented on #264
It is now. I hadn't deployed to staging.

[2019-03-27 17:14] atomrab commented on #177
@paregorios when you've changed this on the Pleiades side, let me know and I'll go make the necessary edits on the PeriodO side. I can either add new periods or edit the old ones, though in general we'd prefer not to delete the old ones, in case someone has used them in the meantime.

[2019-03-28 07:55] cguardia commented on #340
This is on staging now, meaning you can run

bin/instance1 run dump-scripts/rdf.py -v place-types

and the correct data will now show up (it errored out previously).

[2019-03-28 20:02] paregorios commented on #264
this looks good; please deploy to production

[2019-03-29 13:37] paregorios commented on #340
Output from the script looks good. Please merge to master, deploy to production, and verify that it runs correctly on the regular dump schedule.

[2019-03-29 17:47] paregorios opened #369 "figure out branches and staging"
From @skleinfeldt in email:

[2019-03-29 17:52] paregorios commented on #369
Blocker for isawnyu/PleiadesEntity#37

[2019-03-29 18:42] paregorios opened #370 "convert core Plone types from Archetypes to Dexterity"

[2019-03-29 18:46] paregorios opened #371 "eliminate ATVocabularyManager"
Finish removing dependency on ATVocabularyManager and migrate any remaining vocabs to PleiadesSettings (to include surfacing the new vocab in HTML at /vocabularies/ and to include exporting same to JSON).

Remove ATVocabularyManager from the Pleiades buildout. Hunt down and exterminate related cruft.

[2019-03-29 18:49] paregorios opened #372 "convert custom Plone types from Archetypes to Dexterity"

[2019-03-29 18:50] paregorios opened #373 "identify and eliminate or upgrade third-party add-ons that are not compatible with Plone 5 or Python 3"

[2019-03-29 18:52] paregorios opened #374 "upgrade site to Plone 5"

[2019-03-29 18:53] paregorios opened #375 "identify custom code components that will need to be upgraded to Python 3"

[2019-03-29 18:54] paregorios opened #376 "upgrade custom code components to Python 3"

[2019-03-29 18:54] paregorios commented on #376
Blocked by #375 (identify custom components that will need to be upgraded to Python 3).
Blocker for #377 (upgrade site to Python 3).

[2019-03-29 18:55] paregorios commented on #375
Blocker for #376

[2019-03-29 18:56] paregorios opened #377 "upgrade ZODB to Python 3"

[2019-03-29 18:56] paregorios commented on #377
Blocked by:

 - #374 (upgrade site to Plone 5)
 - #376 (upgrade custom components to Python 3)

[2019-03-29 18:57] paregorios commented on #374
Blocker for #377 (upgrade site to Python 3).
Blocked by:

 - #370 (convert core Plone types from Archetypes to Dexterity)
 - #371 (eliminate ATVocabularyManager)
 - #372 (convert custom Plone types from Archetypes to Dexterity)
 - #373 (identify third-party add-ons that are not compatible with Plone 5)

[2019-03-29 18:59] paregorios commented on #373
Blocker for #374 (upgrade site to Plone 5)

[2019-03-29 18:59] paregorios commented on #372
Blocker for #374 (upgrade site to Plone 5)

[2019-03-29 18:59] paregorios commented on #371
Blocker for #374 (upgrade site to Plone 5)

[2019-03-29 19:00] paregorios commented on #370
Blocker for #374 (upgrade site to Plone 5)

[2019-03-29 19:20] paregorios opened #378 "epic: future-proof by upgrading to Plone 5 and Python 3"
All implementation stories for this epic are to be found under the [Plone5Python3 label](https://github.com/isawnyu/pleiades-gazetteer/labels/Plone5Python3).

[2019-03-29 19:21] paregorios commented on #378
![pleiades_python3_dependencies](https://user-images.githubusercontent.com/263285/55258264-589b6e80-5230-11e9-8e38-85f9d74883a8.png)

[2019-03-29 19:31] skleinfeldt commented on #376
Probably should be an epic with separate stories for each component to be ported.

[2019-03-29 19:32] skleinfeldt commented on #373
Probably should be an epic with separate stories for each add-on that needs to be ported to p5 and py3.

[2019-03-29 19:32] skleinfeldt commented on #372
Probably should be an epic with separate stories for each content type to be migrated.

[2019-03-29 19:38] skleinfeldt commented on #370
Were any core types schema extended? If so each of those probably deserves its own story.

[2019-03-30 22:00] alecpm commented on #360
The server at 66.35.62.81 is now running the full pleiades stack with the original SSL certs in place. You should be able to test it by editing your local `/etc/hosts` file to add the following line:

```66.35.62.81 pleiades.stoa.org atlantides.org api.pleiades.stoa.org```

Then you should be able to visit any of the above IPs/hostnames and test the site.

[2019-04-02 16:13] paregorios commented on #360
I've given it a workout this morning and cannot find anything to complain about. :)

I'll get tummy rolling on the security audit and try to recruit somebody else to poke around on the new server and see if they can get anything to break.

[2019-04-02 16:29] paregorios commented on #360
Security audit has been requested. I will update here when scheduled and when complete.

[2019-04-03 21:20] alecpm commented on #369
I've set all the `staging` branches to match the tips of their respective `master` branches. In the cases where there were commits on `staging` that weren't on master I backed up the branch as `staging-20190403`. That was the case for [PleiadesEntity](https://github.com/isawnyu/PleiadesEntity) and [pleiades.notredame](https://github.com/isawnyu/pleiades-notredame), the rest were either some commit

[2019-04-05 17:05] paregorios commented on #345
It looks like @cguardia has finished review of the pull request, so I think the next step (right @skleinfeldt ?) is to put this change on staging so that I can look at the json output from a live system.

[2019-04-05 17:06] paregorios commented on #367
It looks like @cguardia has finished review of the pull request, so I think the next step (right @skleinfeldt ?) is to put this change on staging so that I can look at the json output from a live system.

[2019-04-05 17:13] paregorios commented on #369
I will investigate the two repositories that had derelict changes on staging prior to the changes, but I see no reason to wait to embrace these changes.

@alecpm is there really anything else that needs to be done here (e.g., re-deploying on staging), or should I just close this as complete?

[2019-04-05 17:26] paregorios commented on #288
Downgraded priority since JSON exports are being upgraded to fully output connection information (see #345). CSV is still desirable, but since the data is available another way, other high-priority concerns should be addressed first.

[2019-04-05 17:28] paregorios commented on #340
I will undertake to complete review of this on production after the scheduled next cycle for rdf export, which is on Sunday.

[2019-04-05 17:31] #264 closed, assigned to cguardia

[2019-04-05 17:33] paregorios commented on #370
Per discussion with @cguardia in IRC, schema extender was not used on core types for Pleiades. @skleinfeldt do you think since that's the case that this ticket is ok to estimate as is?

[2019-04-05 17:37] paregorios commented on #372
Starting with a list here, and then I'll break these out into individual story issues:

## Content types in the PleiadesEntity product:

 - [ ] Place: #379
 - [ ] Name: #380
 - [ ] Location: #381
 - [ ] Connection: #382
 - [ ] Place Container: #383
 - [ ] Positional Accuracy: #385
 - [ ] Feature and Feature Container: #386

## Content types in the pleiades-workspace product: #384

 - [ ] Workspace

[2019-04-05 17:44] paregorios opened #379 "convert "Place" content type from Archetypes to Dexterity"
Parent epic: #372
Product: [PleiadesEntity](https://github.com/isawnyu/PleiadesEntity)
Code: https://github.com/isawnyu/PleiadesEntity/blob/master/Products/PleiadesEntity/content/Place.py
Example content item: https://pleiades.stoa.org/places/285440

[2019-04-05 17:45] paregorios opened #380 "convert "Name" content type from Archetypes to Dexterity"

[2019-04-05 17:49] paregorios opened #381 "convert "Location" content type from Archetypes to Dexterity"
Parent epic: #372
Product: [PleiadesEntity](https://github.com/isawnyu/PleiadesEntity)
Code: https://github.com/isawnyu/PleiadesEntity/blob/master/Products/PleiadesEntity/content/Location.py
Example content item: https://pleiades.stoa.org/places/766723266/osm-location-of-forum-southwest

[2019-04-05 17:49] paregorios opened #382 "convert "Connection" content type from Archetypes to Dexterity"
Parent epic: #372
Product: [PleiadesEntity](https://github.com/isawnyu/PleiadesEntity)
Code: https://github.com/isawnyu/PleiadesEntity/blob/master/Products/PleiadesEntity/content/Connection.py
Example content item: https://pleiades.stoa.org/places/286572422/nesiotic-league-first

[2019-04-05 18:00] paregorios opened #383 "convert "Place Container" content type from Archetypes to Dexterity"
Parent epic: #372
Product: [PleiadesEntity](https://github.com/isawnyu/PleiadesEntity)
Code: https://github.com/isawnyu/PleiadesEntity/blob/master/Products/PleiadesEntity/content/PlaceContainer.py
Example content item: https://pleiades.stoa.org/places

[2019-04-05 19:05] paregorios opened #384 "discovery: can pleiades.workspace be eliminated?"
Parent epic: #372
Product: [pleiades-workspace](https://github.com/isawnyu/pleiades-workspace)
Content types affected:
 - Workspace
 - Workspace Folder
 - Workspace Collection

The pleiades-workspace product is not, to my knowledge, actively used any longer by the Pleiades community. The purpose of this ticket is to investigate dependencies etc. in order to see if it would be quicker and easier to

[2019-04-05 19:10] paregorios opened #385 "convert "Positional Accuracy" content type from Archetypes to Dexterity"
Parent epic: #372
Product: [PleiadesEntity](https://github.com/isawnyu/PleiadesEntity)
Code: https://github.com/isawnyu/PleiadesEntity/blob/master/Products/PleiadesEntity/content/PositionalAccuracy.py
Example content item: https://pleiades.stoa.org/features/metadata/helsinki-atlas

[2019-04-05 19:17] paregorios opened #386 "discovery: can "Feature" and "Feature Collection" be eliminated?"
Parent epic: #372
Product: [PleiadesEntity](https://github.com/isawnyu/PleiadesEntity)

To my knowledge, the "Feature" and "Feature Collection" content types defined by the PleiadesEntity product are no longer actively used by the Pleiades community as they reflect an earlier stage in the development of our data model, now eclipsed by the quad of "place", "name", "location" and "connection" (altho

[2019-04-05 19:23] paregorios opened #387 "upgrade the "Geolocation Criterion" content type from Archetypes to Dexterity"
Parent epic: #372
Product: [pleiades-vatrouindex](https://github.com/isawnyu/pleiades-vaytrouindex)
Code: https://github.com/isawnyu/pleiades-vaytrouindex/blob/master/pleiades/vaytrouindex/criteria.py

I am unclear on how and for what this content item is used. Can it even be upgraded to Dexterity without taking on other changes in the hosting product, which as I understand it provides spatial ind

[2019-04-05 20:14] paregorios commented on #316
Let's try to use the following cascade of heuristics to get a better centroid calculation on the basis of connections.

- if ThisPlace has published Location(s) that do not derive from BAtlas, TAVO, or DARMC; then:
    - use only those Location(s) geometries
- elif ThisPlace has inbound Connections@type=[part_of_physical,connection,at,on]; then:
    - use only inbound Connections@type=[part_of_phy

[2019-04-05 21:55] skleinfeldt commented on #345
All the project board columns are about the production deploy, I would have thought the "reviewing" column implied that it is on staging already. We might want to discuss Monday how this should work, taking into account PR reviews.

In any event, @cguardia or @alecpm can you please deploy this to staging?

[2019-04-05 21:56] skleinfeldt commented on #367
See https://github.com/isawnyu/pleiades-gazetteer/issues/345#issuecomment-480434404

[2019-04-05 22:00] skleinfeldt commented on #370
@paregorios I think so, but we can ask the team to confirm.

[2019-04-08 16:14] paregorios commented on #360
/me to split out actual production swap 0ut steps to a separate ticket for iteration 2

[2019-04-08 16:14] #368 closed, assigned to MatthewWilkes

[2019-04-08 16:16] #340 closed, assigned to paregorios

[2019-04-08 16:46] paregorios opened #388 "do Plone 5 upgrade and fix blockers -- 13"

[2019-04-08 16:49] paregorios opened #389 "get a separate staging server for plone 5 work -- 3"
Includes initial deploy

[2019-04-08 16:50] paregorios commented on #388
get to the point where it would be conceivable to deploy a plone5 version of the site to a staging server for the pleiades community to have a look at

[2019-04-08 16:53] MatthewWilkes commented on #367
@paregorios This has been deployed to staging

[2019-04-08 16:55] MatthewWilkes commented on #345
@paregorios This has been deployed to staging

[2019-04-08 23:09] alecpm commented on #362
I've updated the profile to remove the GA script from the resource registry (https://github.com/isawnyu/pleiades-notredame/pull/4) and remove GA from the static frontpage html (https://github.com/isawnyu/pleiades-frontpage/pull/11). These have been merged to staging branches and deployed to https://pleiades.jazkarta.com for review.

[2019-04-08 23:42] alecpm commented on #339
This change (isawnyu/PleiadesEntity#38) is deployed to staging for review.

[2019-04-09 14:40] paregorios commented on #362
Looks good. Please merge to master and deploy to production.

[2019-04-09 14:44] paregorios commented on #339
Looks good. Please merge to master and deploy to production.

[2019-04-09 15:19] paregorios commented on #345
This looks good. Please merge to master and deploy to production.

[2019-04-09 15:19] paregorios commented on #367
This looks good. Please merge to master and deploy to production.

[2019-04-09 15:22] paregorios opened #390 "finish move to new production server"
Blocked by prep work outlined in #360

Remaining steps:

 - [x] decide on a switchover window (date and time)
 - [x] alert tummy and pleiades community to switchover date
 - [x] reboot new server to verify that all processes restart correctly
 - [x] disable changes on legacy production and post notice about same; also email community list
 - [x] do final content copy-over and archive a copy
 - [x]

[2019-04-09 15:25] paregorios commented on #360
@alecpm were there any documentation changes needed for our ansible setup based on the above work that still need to be done? If not, then I'm prepared to close this ticket.

[2019-04-09 15:46] paregorios commented on #371
I believe that these are the vocabularies that are still using ATVM:

 - "association certainty" (association-certainty)
 - "attestation confidence" (attestation-confidence)
 - "language and script" (ancient-name-languages)
 - "name type" (name-types)
 - "name accuracy" (name-accuracy)
 - "name completeness" (name-completeness)

[2019-04-10 09:34] alecpm commented on #390
I did a reboot and all services appear to have restarted and were working correctly. In addition I made a preliminary copy of all data.

[2019-04-10 09:35] alecpm commented on #360
It does not appear that any updates are needed for the ansible documentation.

[2019-04-10 11:19] #360 closed, assigned to alecpm

[2019-04-10 11:20] paregorios commented on #369
@alecpm do you concur that this ticket is ready to close?

[2019-04-10 11:22] #362 closed, assigned to alecpm, paregorios

[2019-04-10 11:24] #339 closed, assigned to alecpm, paregorios

[2019-04-10 14:45] alecpm commented on #369
We've had a couple successful staging deployments, so I believe the answer is yes..

[2019-04-10 14:48] #369 closed, assigned to alecpm

[2019-04-10 18:45] paregorios commented on #390
I've ticked off several of the tasks above that I think are now done. @alecpm do you concur that that's all correct?

[2019-04-10 18:46] alecpm commented on #390
I believe so, yes.

[2019-04-10 18:56] paregorios commented on #390
waiting for DNS changes to propagate

[2019-04-11 12:31] paregorios commented on #280
see also #291

[2019-04-11 12:32] paregorios commented on #291
see also #280

[2019-04-11 12:34] rmhorne commented on #291
I am all for auto-switching when the zoom level is too small; we should also allow closer zoom for the other basemaps where possible (i.e. OSM can zoom in far more than the ancient layers)

[2019-04-11 12:41] rmhorne opened #391 "Cross-walk Recogito and Pleiades places"
There is a significant user community around Pelagios' Recogito tool. As they are annotating places they find many that are not in the Pleiades data set, yet are associated with ancient sources; this should be captured and modeled in Pleiades.

To facilitate this, here is the theoretical workflow:

1) User identifies a place in recogito
2) The recogito user determins that the place is not in pleia

[2019-04-11 16:40] MatthewWilkes commented on #345
Deployed this to live

[2019-04-11 16:40] MatthewWilkes commented on #345
Deployed this to live

[2019-04-11 16:40] MatthewWilkes commented on #367
Deployed this to live

[2019-04-12 13:29] MatthewWilkes commented on #337
There are a large number of content items affected throughout the site, with modification dates between 2012 and 2019. This does not appear to be a one-off error.

I'm defining this error as there being a child of a place that contains 'copy_of_' in its id within the folder, but has a mismatching id field on the object itself. The object does not reference the same ZODB level object as the one it'

[2019-04-12 15:20] alecpm commented on #337
Could this be related to the fact that a number of content types do a full `commit` in the middle of their custom `_renameAfterCreation` methods, instead of a savepoint? If some later part of the transaction failed, the user would get an error but the artifact would remain from the point just before the auto-rename.

[2019-04-12 15:31] MatthewWilkes commented on #337
I've developed a script to iterate over the places and fix any of the broken connections, which I've been able to run on my local instance with positive results. I think running this on staging and testing it before applying to live is a good way of proceeding to clear the existing errors, considering the zombie connections aren't indexed anyway.

[2019-04-12 15:34] MatthewWilkes commented on #337
That's a very interesting suggestion, @alecpm! Yes, that sounds quite possible. I don't think they should be using a full commit, maybe we should also switch those over to savepoints and see if that fixes the issue? I could also add a manual error throw in there to emulate this, but I'm still not sure what user interactions would cause the rename after creation to trigger.

[2019-04-12 16:55] MatthewWilkes commented on #337
@paregorios I've deployed the change @alecpm suggested to staging and run the fixup script. https://pleiades.jazkarta.com/places/462204 appears to be displaying correctly, but I do think we need to consider the different places that the autorename happens to make sure we've not broken any of them. All I've tested there so far is creating a new association, as some of the comments around the commit

[2019-04-12 17:07] alecpm commented on #337
In general, if you try to change the id an object after creating it you'll get an error unless a savepoint (formerly sub-transaction commit) is created. The rename method will be called on new object creation via the AT add form, and also explicitly [here](https://github.com/isawnyu/PleiadesEntity/blob/master/Products/PleiadesEntity/browser/location.py) when "promoting" a Location to a Place using

[2019-04-13 01:30] alecpm commented on #371
I've created PRs in [`pleiades.vocabularies`](https://github.com/isawnyu/pleiades-vocabularies/pull/7) and [`Products.PleiadesEntities`](https://github.com/isawnyu/PleiadesEntity/pull/39), merged those branches to staging, deployed and run the migrations. All the vocabs on staging should now be registry based vocabularies, but otherwise be identical to the ATVM vocabularies. This will require rela

[2019-04-15 15:49] paregorios opened #392 "problem with JSON export dumps"
The newly enhanced JSON for Pleiades places (#345 and #367) is __almost__ working on production. Here's what __does__ work:

 - Individual JSON place URLs return the enhanced JSON (e.g., https://pleiades.stoa.org/places/579885/json)
 - Full dump of JSON is being written to ```pleiades-places.json``` and ```pleiades-errata.json``` in http://atlantides.org/downloads/pleiades/json/

Here is what is _

[2019-04-15 16:12] paregorios commented on #371
Below is the testing regime I propose to follow:

## Verify I can see ~~and edit~~ all expected vocabularies via the control panel
 - [x] Time Periods
 - [x] Feature (or Place) Categories
 - [x] Archaeological Remains
 - [x] Location Categories
 - [x] Connection Types (aka Relationship Types)
 - [x] Association Certainty
 - [x] Attestation Confidence
 - [x] Language and Script
 - [x] Name Types
 -

[2019-04-15 16:56] alecpm commented on #371
I believe that's all that should be involved, but you would definitely know better than I do. There are some scripts like `Products/PleiadesEntity/skins/PleiadesEntity/getNameFacets.py` used for `Products/PleiadesEntity/skins/PleiadesEntity/browse_names.pt` that make use of the vocabs as well, I'm not sure where those appear on the site though.

[2019-04-15 17:11] alecpm commented on #392
Testing now.

[2019-04-15 19:03] alecpm commented on #392
So it looks like the dump process is failing silently any and causing the script to exit before it does the file renaming and gzipping. The dump files appear to be incomplete (lacking a final closing `}` and probably some number of objects). The log has an indication of the error source:

[code]

[2019-04-15 19:13] alecpm commented on #392
Looking at the code it seems like that could only happen if it found a connection with an empty place (or with the place filled with some non-adaptable object). Looks like the error likely occurred on `/places/462204` `Euryelos` which throws an error for non-authenticated users:

[code]

[2019-04-15 19:15] alecpm commented on #392
This is just one of those `Zombie` connections (#337) breaking the export isn't it?

[2019-04-15 20:17] alecpm commented on #392
Seeing an interesting warning in the output on staging:

`Inaccessible published object /plone/Members/jatkins/anglo-saxon-burial-mounds/4
23593605`
`Inaccessible published object /plone/Members/rmoffat/kato-lefkos/324843879`

These appear to be published objects that live inside of private member folders.

[2019-04-15 22:02] paregorios opened #393 "published but unindexed objects"
While addressing #392, @alecpm discovered that there are some connections that are published, but not in the catalog. The two that he discovered were:

 - https://pleiades.stoa.org/places/423031/423080
 - https://pleiades.stoa.org/places/423031/422995

but of course there could be more lurking. And since we don't know how they got this way (both of these examples are at least a couple years old),

[2019-04-16 00:36] alecpm commented on #392
OK, the script appears to be running cleanly now. During the run it detected a few connection objects that don't have catalog records. These can be manually fixed by editing and saving them, I believe:

[code]

Additionally, the original error was due to connection objects whose target could not be found by the script. There were only two of these:

[code]

[2019-04-16 13:23] paregorios opened #394 "staging: attempts to view content types with time periods fail (connections, names, locations)"
Steps to re-create:

 - Login to staging
 - Navigate to https://pleiades.jazkarta.com/places/423031/423080
 - Observe the following traceback

[code]

I assume this is related to changes made for #371. I encountered it while trying to address broken connections found during work on #392.

[2019-04-16 13:25] paregorios commented on #371
It looks like #394 may be related and so I've marked it as blocking progress on this ticket.

[2019-04-16 13:32] paregorios commented on #394
NB this error occurs on all connections in staging that I have tried.

[2019-04-16 13:34] paregorios commented on #392
I have checked the four connections reported as having no catalog entry. Here's the status:

 - Staging: cannot address because blocked by #394
 - Production: these also had no catalog records on production (I used the ZMI to check). I manually edited each of them through the Plone then check the ZMI again. They all have catalog entries now.

[2019-04-16 13:42] paregorios commented on #392
I have checked the two connections reported as having a target that could not be found by the script. Here's the status:

 - Staging: cannot address because blocked by #394
 - Production: cannot reproduce problem through the Plone. Here is what I find:
    - Connection [423038/423025](https://pleiades.stoa.org/places/423038/423025) has target [Roma](https://pleiades.stoa.org/places/423025), which

[2019-04-16 14:04] paregorios commented on #394
This is also happening on at least some locations on staging:

 - Login to staging
 - Navigate to https://pleiades.jazkarta.com/places/59730/darmc-location-11647
 - Note the following traceback:

[code]

[2019-04-16 14:06] paregorios commented on #394
And names, e.g.:

https://pleiades.jazkarta.com/places/609307/antiochia

[2019-04-16 17:53] alecpm commented on #394
Looks like I missed a method in the vocabulary conversions. Will look at this shortly.

[2019-04-16 17:55] alecpm commented on #392
That last script output was from production. I'm curious if the 423038/423025 and 462204/462503 connections appear in the dump, given that they triggered that warning.

[2019-04-16 18:12] paregorios commented on #392
Something's weird regarding 423038/423025 and 462204/462503. Trying to de-reference the ```/json``` URI from the parent place through the webapp throws an error. E.g., https://pleiades.stoa.org/places/423038/json yieds:

[code]

Ditto for https://pleiades.stoa.org/places/462204/json

[2019-04-16 18:12] paregorios commented on #392
ahah:

![Screen Shot 2019-04-16 at 1 12 37 PM](https://user-images.githubusercontent.com/263285/56233720-56ffe200-6049-11e9-88fb-01737f4e0207.png)

[2019-04-16 18:15] paregorios commented on #392
But:

![Screen Shot 2019-04-16 at 1 15 12 PM](https://user-images.githubusercontent.com/263285/56233902-b5c55b80-6049-11e9-845f-248daecf3067.png)

[2019-04-16 18:15] paregorios commented on #392
Are these zombie connections?

[2019-04-16 21:06] alecpm commented on #371
Definitely related. I believe a fix is on its way to the staging server right now. I also opened up a [new PR on `pleiades.policy`](https://github.com/isawnyu/pleiades-policy/pull/2).

[2019-04-16 21:47] alecpm commented on #371
This and #394 were due to some dumb copy/paste errors I made in my initial commits. These are now resolved and this is ready for testing on staging.

[2019-04-16 21:47] alecpm commented on #394
These were due to some dumb copy/paste errors I made in my initial commits. These are now resolved and #371 is ready for testing on staging.

[2019-04-16 21:48] alecpm commented on #371
This should no longer be blocked and is ready for review.

[2019-04-17 10:39] paregorios commented on #394
Looks good, thanks.

[2019-04-17 10:39] #394 closed, assigned to nobody

[2019-04-17 19:53] paregorios opened #395 ""hidden" checkbox on "association certainty" vocabulary has no effect: 3pts"
Bug discovered on staging while reviewing #371:

Steps to replicate:

 - Visit @@pleiades-settings on staging
 - Check the "hidden" checkbox for a value in the "association certainty" (e.g., the current test value "speculative")

![Screen Shot 2019-04-17 at 2 46 14 PM](https://user-images.githubusercontent.com/263285/56316480-03ac9300-6120-11e9-8b37-04a873a8eab7.png)

 - Scroll to the bottom of th

[2019-04-17 23:54] alecpm commented on #395
Is this a blocker for #371?

[2019-04-18 13:53] paregorios commented on #395
This is **not** a blocker for #371.

[2019-04-18 17:41] paregorios commented on #337
So, what's the current thinking on this one? Wait until the next iteration to complete?

[2019-04-19 20:13] paregorios commented on #9
@ryanfb I've looked back at [the ttl spec](https://www.w3.org/TeamSubmission/turtle/) and, unless I'm really clueless, I think the spec itself only requires that we're using UTF-8:

Do you read this differently? I'm not opposed to escaping/encoding URIs as a convenience for downstream consumers that don't faithfully implement the spec, but I do need to assess priority of same in the light of limit

[2019-04-19 20:33] paregorios opened #396 "citation information missing from TTL files - 3"
## Example problem:

[code]

## I would have preferred to see:

[code]

## tl;dr

 - The object in any ```cito:``` triple must be the value of the "Access URI" field.
 - If the "access uri" field is empty, use the value in the "Bibliographic URI" field.
 - If both the "access uri" and the "bibliographic uri" fields are empty, then do not generate a triple for this reference at all.

[2019-04-19 20:38] paregorios opened #397 "citation information missing from RDF XML files - 2"
Consider the example of https://pleiades.stoa.org/places/872503244/rdf wherein we find references to nodes with auto-generated IDs:

[code]

but the referenced node ids do not appear as subjects anywhere else in the RDF file.

This is presumably related to the problem we're seeing in #396.

[2019-04-20 07:09] wouterbeek commented on #9
Hi @paregorios,

My original complaint was about unescaped spaces appearing in some IRIs.  E.g., the last character of the subject term and the character before the hyphen in the object term:

[code]

Notice that the main issue may not even be that the spaces are unescaped, but that they appear in the first place.  Are they no simply the result of incorrect IRI creation?

I would be opposed to URI

[2019-04-22 12:13] paregorios commented on #9
Having reviewed the examples provided by @ryanfb and @wouterbeek I see that our problems are with URLs that are broken in some way, e.g.:

 - inappropriate inclusion of trailing spaces
 - invalid URL values as entered in our CMS (e.g., trailing &gt;)

We probably need to do a few things here:

1. Hunt down the specific problems identified and clean them up in the CMS
2. Add some URL format validat

[2019-04-22 13:02] paregorios commented on #9
I've manually addressed the specific problems that were included in the gist from @ryanfb by checking in the reference changes he had submitted previously and by updating all references on the basis of our Zotero data.

[2019-04-23 10:45] MatthewWilkes commented on #337
@paregorios That's a very good question. I've deployed the script to fix the issue to the development server but ran out of time before being able to run it. I think for this that code review is probably the most effective way of reviewing. I'm also a bit concerned that #392 interacts with this in some way, but I didn't grok exactly what was found there well enough to say for sure. I'd personally

[2019-04-23 10:46] MatthewWilkes commented on #392
They do indeed look like the Zombie connections.

[2019-04-23 18:51] paregorios opened #398 "illegal trapped space in capgrid URI in RDF dump"
Somewhere between isawnyu/pleiades-capgrids and isawnyu/pleiades-rdf the following illegal URIs get serialized. There should be no spaces:

[code]

The only place they seem to appear in the dumps is in places-7.ttl

[code]

_Originally posted by @wouterbeek in https://github.com/isawnyu/pleiades-gazetteer/issues/9#issuecomment-485065154_

[2019-04-23 18:53] paregorios commented on #398
Here is where those URIs get serialized:

https://github.com/isawnyu/pleiades-rdf/blob/263454c72c6b3ad5a59836d5c6aa38bdf8ec9cc8/pleiades/rdf/common.py#L503

It looks like there must be a location(s) somewhere in Pleiades that has a trailing space in the grid square. Solution looks like:

 - find and clean up the offending content
 - add ```.strip()``` to the gridsquare formulation to be on the saf

[2019-04-23 19:17] paregorios commented on #398
There seems to be only one Pleiades place reference that still has a published location derived from BAtlas 79 A2: https://pleiades.stoa.org/places/776198/. Upon inspection, RDF exhibits the diagnostic problem:

[code]

And the problem is also present in the TTL.

[2019-04-23 19:36] paregorios commented on #398
I've retracted the BAtlas location associated with 776198, which has the effect of removing the problematic data from the online TTL and RDF/XML serializations for same. We'll know if that clears out the full dump after Sunday, when it runs again.

[2019-05-02 18:04] paregorios commented on #351
In retrospect, I think @skleinfeldt's suggestion is better. Maybe something like:

The "do an advanced search instead" text should link to the advanced search section.

In addition to being more similar, I suspect it would cover more use cases in discovery failure recovery.

[2019-05-02 18:08] paregorios commented on #361
This is potentially useful. I've often thought there are many things we could do with pre-composed map images.

I think we should prioritize as follows (guessing about which solution combos are the cheapest to implement):

 - Modify front-page map usage:
    - Increase time delays between each successive (random) item shown on the front page map.
    - Cap the number of places to be shown at 10-15

[2019-06-03 15:08] paregorios commented on #359
In any case, I don't think we should be writing citation-type triples when there's no object (and this will only be happening when we have malformed bibliographic data in the database -- i.e., legacy stuff that hasn't been updated).

Implementation for developer:

 - if serialization a citation and there is none of [accessURI, alternateURI, bibliographicURI] then do not emit citation-type triple a

[2019-06-03 15:09] paregorios commented on #359
blocked for #396

[2019-06-03 15:10] paregorios commented on #396
blocker for #359, #397

[2019-06-03 15:10] paregorios commented on #397
blocked for #396

[2019-06-03 15:13] paregorios commented on #343
Development:

 - eliminate link to "neightborhood kml" in HTML and __all other serializations including dumps__
 - put apache rewrite rule in place to emit an HTTP status code in the response ("410 Gone") for any attempt to get to any "neighborhood kml" uri in future

[2019-06-03 15:17] paregorios commented on #392
All updates are occurring as expected on production. Closing as resolved (noting that the separate "zombie connections" ticket #337 is still not resolved).

[2019-06-03 15:17] #392 closed, assigned to MatthewWilkes, alecpm

[2019-06-03 15:25] paregorios commented on #345
Looks good on production. Closing as resolved.

[2019-06-03 15:25] #345 closed, assigned to MatthewWilkes

[2019-06-03 15:26] paregorios commented on #367
Looks good on production. Closing as resolved.

[2019-06-03 15:26] #367 closed, assigned to MatthewWilkes

[2019-06-03 16:10] skleinfeldt commented on #337
Next step is to test by running on staging.

[2019-06-03 16:15] #389 closed, assigned to nobody

[2019-06-03 16:33] paregorios commented on #290
Don't save a location unless it's got valid geometry.

[2019-06-03 16:35] skleinfeldt commented on #290
(Do final bullet on https://github.com/isawnyu/pleiades-gazetteer/issues/290#issuecomment-475797265)

[2019-06-03 23:08] alecpm commented on #371
All branches have been merged and deployed to production, and the migration was run.

[2019-06-04 13:37] paregorios commented on #371
Evaluation on production: I cannot see an entry for "archaeological remains" on ```/vocabularies```. Based on the checklist above, I previously saw it on staging after the upgrade, so this looks perhaps like a missed step. I wanted to double-check staging, but it is timing out this morning.

[2019-06-04 14:58] alecpm commented on #371
What's odd is the "archaeological remains" was added as a registry based vocabulary 3 years ago. I'm going to try running the old upgrade steps for that vocab to see if they put it in place, but I don't understand why it would have gone missing. I'll also take a look at staging.

[2019-06-04 15:01] alecpm commented on #371
Looks like the vocabulary is there, but it's not included in the vocabulary view. You can see it by  searching the registry (https://pleiades.stoa.org/portal_registry) for "arch_remains". I'll add the vocab id to the listing view.

[2019-06-04 18:05] alecpm commented on #371
It wasn't listed on staging either, but now it's in both. Turns out the vocabs that weren't originally ATVM vocabs need to be hardcoded into the custom listing view to appear there.

[2019-06-04 18:45] paregorios commented on #371
Looks good. Closing as resolved.

[2019-06-05 04:28] cguardia commented on #290
There's a fix for this on staging. I tested by first saving coordinates with this value:

{"type": "MultiLineString", "coordinates": []}

This caused an error, as per the issue description. I then added the patch and now it's not possible to save this value and a validation error is shown. This should get other errors where the JSON format is OK, but the coordinates are bad.

[2019-06-05 11:44] MatthewWilkes commented on #337
Okay, I've run this on staging:

If you compare
    https://pleiades.stoa.org/places/462204
and
    https://pleiades.jazkarta.com/places/462204

you'll see the error is no longer present on the staging server.

[2019-06-05 19:59] paregorios commented on #337
Looks good. Let's deploy to production and run. Maybe stash a copy of the production database somewhere before we do?

[2019-06-05 20:03] skleinfeldt commented on #337
Good idea!!

[2019-06-05 23:03] alecpm commented on #396
I believe I've deployed a fix for this to staging, but the place you have referenced on the tickets doesn't exist on staging and I don't want to waste a ton of time trying to hunt one down or create one to test. So I'll leave it to @paregorios to test. The change is fairly simple and should fix #397 as well. See: https://github.com/isawnyu/pleiades-rdf/commit/7753bd486c643038d386bc97191450dd80ee3d

[2019-06-05 23:05] alecpm commented on #397
I believe this should have been fixed by the fix for #396.

[2019-06-06 06:01] cguardia commented on #294
The aliases didn't work for /places/vocab, because of an apache rewrite rule. Fixed that, updated ansible, and moved the doc to help as requested. All three urls should work now.

[2019-06-06 15:35] paregorios commented on #396
Clearly something has changed on staging, but I don't think we've quite cracked the code. Here's a test case (irrelevant bits omitted):

[code]

compared to staging:

[code]

In other words, the citation information is completely missing from staging now, instead of being fully restored.

Looking at [the commit](https://github.com/isawnyu/pleiades-rdf/commit/7753bd486c643038d386bc97191450dd80ee3d1

[2019-06-06 15:50] alecpm commented on #396
Ah I see. Sorry about that. Should be a quick fix now that I know the `identifier` isn't playing the role I thought it was.

[2019-06-06 15:51] paregorios commented on #290
It looks to me like both of my (implied) use cases are being addressed, but I would like to suggest a modification to the error notification for the one involving OSM import.

## Complete: entry of bad geometry string through-the-plone

Steps to test:

 - Navigate to https://pleiades.jazkarta.com/places/
 - Login
 - Select "Add new..." -> "Place" from the actions menu
 - Create a new place and sav

[2019-06-06 15:52] paregorios commented on #294
This looks good. Closing as resolved.

[2019-06-06 15:52] #294 closed, assigned to cguardia

[2019-06-06 16:20] paregorios commented on #332
title would be identical unless the location title started with "OSM Location of" or "Location of" in which case these initial substrings would be removed for the place title.

[2019-06-06 16:21] skleinfeldt opened #399 "Downgrade Plone 5 staging server -- 1"
Now that the upgrade has run we can have a smaller, less expensive server.

[2019-06-06 17:12] alecpm commented on #396
I think it's fixed now:

https://pleiades.stoa.org/places/140481/turtle

[2019-06-06 17:14] alecpm commented on #397
This appears to be fixed:

https://pleiades.stoa.org/places/140481/rdf

[2019-06-06 18:34] alecpm commented on #399
I've downgraded the server from a `t3.xlarge` ($0.1984/hr) to a `t3.small` ($0.0248/hr). You should be able to safely stop (but don't terminate) and start the instance at any time. It's named `Pleiades Plone 5` and lives in the N. Virginia (us-east-1) region.

[2019-06-06 22:02] alecpm commented on #287
This should be fixed on staging. The auto rename mechanism for Places and Features was also changed in this commit to ensure they are all using the more direct API for choosing a name on AT content.

[2019-06-06 22:19] paregorios commented on #287
This works great on staging. Please deploy to production.

[2019-06-06 22:33] alecpm commented on #287
Will do! That means @MatthewWilkes Will have to deal with the conflict errors when merging the zombie fix branch. I can merge this into that branch (which one is it?) to avoid the need for that if you'd like though @MatthewWilkes.

[2019-06-06 22:52] alecpm commented on #287
Deployed.

[2019-06-06 23:30] cguardia commented on #290
The latest fixes are on staging now.

[2019-06-07 03:45] cguardia commented on #343
This is on staging now.

[2019-06-07 15:22] MatthewWilkes commented on #320
I believe I've made sufficient changes to make this work, as can be seen on http://192.168.1.50:9080/plone/places/423064/json and http://192.168.1.50:9080/plone/places/423064/json

I used http://geojsonlint.com/ as an easy way of double checking this and visualising the data.

I think a good way of checking this will be to wait for the next bulk export from staging (those **do** happen, right?) an

[2019-06-07 15:56] paregorios commented on #287
Looks good. Closing resolved.

[2019-06-07 15:56] #287 closed, assigned to alecpm

[2019-06-07 15:57] #399 closed, assigned to alecpm, paregorios

[2019-06-07 16:01] MatthewWilkes commented on #337
These are the entities that were fixed

| Originjal id | Duplicate id | Original last modified | Original version id | Copy last modified | Copy version id|
| ----- | --- | --- | --- | --- | --- |
|darmc-location-2381|copy_of_darmc-location-2381|2011/12/09 16:43:22.261000 US/Eastern|0|2011/03/09 23:55:58.927000 US/Eastern|2|
|246730|copy_of_246730|2016/07/13 09:32:6.144068 GMT-4|7|2016/07/13 10:02

[2019-06-07 16:05] paregorios commented on #396
I'm surprised for this particular example not to see the following:

 - http://www.perseus.tufts.edu/hopper/text?doc=Perseus:text:1999.04.0006:entry=saint-just-pepiron
 - http://francia.ahlfeldt.se/places/20147
 - http://www.persee.fr/web/revues/home/prescript/article/galia_0016-4119_1969_num_27_1_2518

Is it possible that the code is only looking at "bibliographicURI" and not the series of fallba

[2019-06-07 16:08] alecpm commented on #396
Sorry, I did something very dumb here and pasted in `alternate_uri` instead of `access_uri`.

[2019-06-07 16:14] alecpm commented on #396
Should be fixed now.

[2019-06-07 16:34] paregorios commented on #396
And great joy seized the people! Please merge to master and deploy to production.

[2019-06-07 16:36] paregorios commented on #397
Yet more joy! Please merge to master and deploy to production.

[2019-06-07 16:37] paregorios commented on #290
Looks great! Please merge to master and deploy to production.

[2019-06-07 16:40] paregorios commented on #343
Brilliant! Please merge to master and deploy to production.

[2019-06-07 16:42] paregorios commented on #359
Resolution of issue #396 should eliminate the case of empty lists of objects for these citation-related verbs in our ttl. Will double-check after next full export.

[2019-06-07 18:31] cguardia commented on #308
This is on staging.

[2019-06-07 18:32] paregorios commented on #308
This looks good. Please merge to master and deploy to production.

[2019-06-07 18:46] alecpm commented on #341
These are to be imported as type "relation" rather than type "way", correct?

[2019-06-07 18:55] alecpm commented on #341
Assuming it's `relation` this is up on staging for review.

[2019-06-07 19:11] cguardia commented on #308
Deployed.

[2019-06-07 19:26] paregorios commented on #341
Assumption was correct. And this works as desired. Please merge to master and deploy to production.

[2019-06-07 19:49] cguardia commented on #290
Deployed.

[2019-06-07 19:50] cguardia commented on #343
Deployed.

[2019-06-07 19:57] cguardia commented on #343
Well, it seems that the 410 redirect is not working in production, not sure why.

[2019-06-07 20:20] alecpm commented on #332
So it looks like it already copies references, but explicitly excludes those of type `citesAsDataSource` (https://github.com/isawnyu/PleiadesEntity/blob/master/Products/PleiadesEntity/browser/location.py#L16). Do we want to start including those types of references? Or when you say references do you mean AT `relatedItems` (it doesn't seem like you're using those generally)?

[2019-06-07 20:41] cguardia commented on #343
Never mind, forgot to restart the cache.

[2019-06-07 20:53] alecpm commented on #332
The title update is in place on staging for review. I'll implement the reference change once I better understand the intention.

[2019-06-12 18:52] paregorios commented on #332
Regarding references:

https://pleiades.jazkarta.com/places/227802613/athena-t was a location under https://pleiades.jazkarta.com/places/580107 and I "promoted to place" which led to the creation of https://pleiades.jazkarta.com/places/227802613 . But the reference to "Perseus, Sounion, Temple of Athena (Building)" on the location did not get copied to the new place resource.

[2019-06-12 18:53] paregorios commented on #332
title cleanup works on staging

[2019-06-12 18:54] paregorios commented on #320
Need help: how do I view bulk exports on staging so I can review this?

[2019-06-12 19:08] #341 closed, assigned to nobody

[2019-06-12 19:09] #308 closed, assigned to cguardia

[2019-06-12 19:10] #396 closed, assigned to alecpm

[2019-06-12 19:10] #290 closed, assigned to cguardia

[2019-06-12 19:11] #397 closed, assigned to alecpm

[2019-06-12 19:12] #343 closed, assigned to cguardia

[2019-06-12 20:23] alecpm commented on #332
References should be copied on staging now:

https://pleiades.jazkarta.com/places/958536675

[2019-06-12 20:24] paregorios commented on #332
Looks good. Please merge to master and deploy to production.

[2019-06-13 09:44] MatthewWilkes commented on #320
You can get them with a slightly complex cURL command:

    curl -O http://pleiades.jazkarta.com/downloads/pleiades/json/pleiades-places-latest.json.gz -H "Host: atlantides.org"

or from `/var/www/atlantides.org/downloads/pleiades/json/` if you ssh in to the server.

[2019-06-16 16:06] serviliusahala opened #400 "OSM relation import error"
Pleiades reports error 'parsing geometry' for this attempted relation import:

https://www.openstreetmap.org/relation/1225134

I've left the empty location created by the attempted import [in place](https://pleiades.stoa.org/places/246736).

[2019-06-18 17:14] paregorios commented on #400
The error message was the one we put in place when we fixed #290, so at least that part is working as designed. What's unclear is whether this involves some sort of naive logic on our part when parsing some OSM relations, or whether there's something defective about one or more of the ways or nodes included in this relation. We should make this ticket a place to capture information about example r

[2019-07-18 21:56] paregorios opened #401 "peripleo link under map on place and location pages goes to old version url - 1"
Steps to reproduce:

 - navigate to Pleiades place page for Corinth: https://pleiades.stoa.org/places/570182
 - select the "Pelagios' Peripleo" link in the caption area under the map (see screen shot below)
 - feast your eyes upon the Pelagios 404 page
 - navigate to a location page, and observe the same problem

Fix:

~~Change the base url and query to use same, newer targets like we added to the

[2019-07-21 14:26] paregorios opened #402 "supervisorctl on production throws "permission denied" error on startup"
Steps to recreate:

 - login to production
 - sudo to the appropriate username
 - cd to the pleiades4 directory
 - type "supervisorctl"
 - read the following error message:

[code]

Impact: cannot restart plones to pick up new vocabulary terms; consequence is any place using a new vocabulary term throws a traceback.

[2019-07-21 15:08] alecpm commented on #402
`supervisor` is now an OS installed service that runs as root so that it can start it's various sub-services as whichever user it needs to. You should be able to use the following steps:

* Login to production
* type `sudo supervisorctl`
* `restart` whichever services need to be restarted

[2019-07-21 15:11] paregorios commented on #402
Thanks @alecpm. This is resolved.

[2019-07-21 15:11] #402 closed, assigned to nobody

[2019-07-22 20:08] paregorios opened #403 "we no longer have a void file describing our rdf dataset"
Back in the day, we created a [VOID](https://www.w3.org/TR/void/) file to describe our RDF. It was hosted at http://atlantides.org/downloads/pleiades/rdf/void.ttl . It is not there anymore.

[2019-08-26 13:28] #390 closed, assigned to paregorios

[2019-08-26 13:58] paregorios opened #404 "Pelagios portlet is failing again - 2"
Sigh.

[2019-08-26 14:01] paregorios commented on #404
I've written to Rainer asking for pointers to the currently supported API.

[2019-08-26 14:01] paregorios commented on #401
Blocked for #404, since I thought at least that was working.

[2019-08-26 14:22] paregorios commented on #404
Rainer responds:

[2019-08-26 15:04] paregorios commented on #9
As a consumer of Pleiades content in any serialization (html, json, rdf), I will never encounter malformed HTTP(s) URIs.

There are several contexts in which contributor users can enter URIs into data fields. We should validate to ensure:

 - URIs have proper form (using the built-in archetypes url checker)
 - URIs do not contain spaces

The following contexts should have validation:

 - any field

[2019-08-26 15:14] paregorios commented on #358
As a Pleiades contributor user, I can add date information to ```connections``` as follows:

 - "not before" field (signed integer)
 - "not after" field (signed integer)

Validation:

 - ensure values are signed integers or None
 - 0 is not a valid value
 - if both fields contain integers, ensure not_before <= not_after
 - values constrained by the upper and lower bounds of time period(s) assigned

[2019-08-26 15:26] paregorios commented on #363
As an authenticated Pleiades user who belongs to the "Administrators" group (i.e., has role "Manager"), I will see a new item on the "actions" menu for published ```place``` items: "withdraw".

If I select "withdraw":

 - Move the ```place``` and any of its content to the ```/errata/``` folder.
 - Unless plone does it for you, insert a link with the same Pleiades ID number in the ```/places/``` fo

[2019-08-26 15:28] paregorios commented on #347
As an authenticated Pleiades user with "edit" role on a given content item, I can:

 - select one or more references (with a checkbox)
 - select a "copy" button
 - navigate to and edit another content item
 - select an affordance to paste the references I previously copied

[2019-08-26 15:41] paregorios commented on #361
Story:

As a Pleiades user, when I first load the front page, I will see the map animation as now, however, the following changes in behavior will obtain:

 - After pan-zooming to 10 randomly selected places, that list will repeat until the map animation is stopped for some other reason.
 - Stop the map animation once I start typing in the search box. Do not restart the animation unless I reload t

[2019-08-26 15:45] #388 closed, assigned to paregorios, cguardia

[2019-08-26 15:52] paregorios commented on #401
The URL pattern is currently:

[code]

Instead, it should now be:

[code]

[2019-08-26 17:15] paregorios commented on #333
Break into separate tickets for each content type.

[2019-08-26 17:27] alecpm commented on #301
Tasks:

* [x] Ensure folder listing change state button passes checked items through to advanced workflow form
* [x] Ensure that advanced workflow form checks only the items selected on the folder listing form.

[2019-08-26 17:31] alecpm commented on #140
Tasks:

* [x] Implement event handler that processes all `description` fields with a regex substitution to strip newlines and eliminate duplicate and trailing spaces.
* [x] Implement script to run above whitespace stripping on all `description` fields.
* [x] Run script on all content.

[2019-08-27 08:57] MatthewWilkes commented on #361
I know this part isn't in scope for this story, but I wanted to add that the raster map option is unlikely to be possible due to the Mapbox terms of service:

    you may not redistribute any map content from the Services, including from a cache, by proxying, or by using a screenshot or other static image, instead of directly accessing via our APIs

[2019-08-27 16:03] alecpm commented on #356
Tasks:

* [x] Determine cause of incorrect name/id based coordinate assignment
* [x] Use unique identifier to determine coordinates.

[2019-08-27 16:14] cguardia commented on #300
- [x] Make title visible again.
- [x] Use title field in view.

[2019-08-27 16:23] cguardia commented on #310
- [x] Change schema to add back description and text, with correct labels.
- [x] Display new fields in view.

[2019-08-27 16:46] paregorios commented on #361
Currently, we pay mapbox for quantity of raster tile load (via the Raster Tiles API). The new pricing model works around "map loads" regarding which they say:

Per month, we'd get "up to 50,000" map loads for free. According to old Google Analytics data, we only run about 25,000 - 35,000 __page__ views per month. So, I think the first thing we ought to do is to convert to the new pricing, which in

[2019-08-27 16:53] paregorios opened #405 "update front page to use Mapbox GL JS v1.0.0 or higher for map"
We want to move to [the new mapbox pricing per map load](https://www.mapbox.com/pricing/#maploads) (we currently pay by the raster tile hit), but to do this we need to be using "Mapbox GL JS v1.0.0 and above". There's a deadline of November 20, 2019 to make this change or unattractive pricing effects kick in.

As of today, the current version of [Mapbox GL JS](https://docs.mapbox.com/mapbox-gl-js/

[2019-08-27 16:54] paregorios commented on #405
This is a blocker for #361, #406, #407, #408, and #409

[2019-08-27 16:54] paregorios commented on #361
Blocked by #405

[2019-08-27 16:55] paregorios commented on #405
I don't think we can properly estimate this ticket until we know whether this is a swap-in or worse as outlined in my comment above. @skleinfeldt does it make sense to assign this to @MatthewWilkes for the purpose of conducting that assessment?

[2019-08-27 16:58] paregorios opened #406 "update place page to use Mapbox GL JS v1.0.0 or higher for map"
Blocked for #405, q.v.

[2019-08-27 16:59] paregorios opened #407 "update location page to use Mapbox GL JS v1.0.0 or higher for map"
Blocked for #405 and #406, q.v.

[2019-08-27 17:00] paregorios commented on #406
Blocker for #407.

[2019-08-27 17:01] paregorios opened #408 "update search results pages to use Mapbox GL JS v1.0.0 or higher for map"
Blocked by #405

[2019-08-27 17:02] paregorios opened #409 "update "recently modified resources" maps to use Mapbox GL JS v1.0.0 or higher for map"
Blocked by #405, q.v.

There's a version of this map embedded in the page at https://pleiades.stoa.org/home, and there's also a full-screen version at https://pleiades.stoa.org/map_recent

[2019-08-27 17:07] paregorios commented on #356
See now #408 and its prerequisite #405. Should we defer work on this ticket until we know whether we're going to have to rewrite our map code on this page?

[2019-08-27 17:09] paregorios commented on #351
I would like to hold off on work on this ticket until we have assessed #405 and how costly the downstream work from it is going to be. This particular issue, though important, is lower priority than making our maps as modern and as price-conscious as they can be.

[2019-08-27 17:09] paregorios commented on #351
cc @skleinfeldt ^^^

[2019-08-27 17:10] alecpm commented on #356
I think the issues are somewhat orthogonal, but if this isn't urgent it might be more expedient to upgrade the map JS as needed before making these changes. Task 1 can certainly be done independently of the specific client-side map implementation.

[2019-08-27 17:12] paregorios commented on #356
Let's go ahead with this one for now.

[2019-08-27 17:50] skleinfeldt commented on #405
With this blocking so many things (and #351 deemed lower priority), I think it does make sense to have @MatthewWilkes work on this first.

[2019-08-27 17:51] paregorios commented on #405
Thanks @skleinfeldt. I have assigned it to @MatthewWilkes accordingly.

[2019-08-27 17:52] paregorios commented on #351
@MatthewWilkes please work on #405 before you address this ticket. See further https://github.com/isawnyu/pleiades-gazetteer/issues/405#issuecomment-525411609

[2019-08-27 18:24] paregorios commented on #332
This is indeed working on production.

[2019-08-27 18:24] #332 closed, assigned to paregorios

[2019-08-28 14:53] paregorios commented on #401
This looks good. Please merge to master and deploy to production.

[2019-08-28 14:55] paregorios commented on #300
This looks good! Please merge to master and deploy to production.

[2019-08-28 14:56] paregorios commented on #310
This looks good! Please merge to master and deploy to production.

[2019-08-28 15:29] paregorios commented on #404
Things that seem to need changing include:

## URI base

Our pelagios/peripleo portlet client is using a no-longer-supported URI for the pelagios API. I thought this was fixed previously, but can find no record of it in code so I guess I dreamed it. Anyway, we need to change [the pelagios URI base used in our portlet client](https://github.com/isawnyu/pleiades.portlet.pelagios/blob/master/pleiades

[2019-08-29 06:03] cguardia commented on #358
- [x] Add text fields for not before and not after.
- [x] Add validator for limits.
- [ ] Tweak view to show upper/lower meetings and new fields correctly.

[2019-08-29 13:34] MatthewWilkes commented on #405
I believe this is the "worse" state. I don't think we need to rework any mapbox serverside components, however it appears to me that parts of the map integration will have to be re-written. Every option I've checked so far appears to be present in the new version, however the syntax is rather different.

[2019-08-29 23:36] alecpm commented on #301
This is up on staging for review.

[2019-08-30 00:00] alecpm commented on #140
This is deployed to staging, and the upgrade step has been run to update all content. It took about 63 seconds to run (and required disabling the memmon to prevent it from killing the instance running the script). I'm leaving the last task unchecked though, to save if for running the step on production.

[2019-08-30 00:17] alecpm commented on #356
I think I fixed this on staging. The results there are a bit different, but there appear to be multiple `Phrygia` map points now.

[2019-08-30 00:35] alecpm commented on #404
I think this is working on staging now:

https://pleiades.jazkarta.com/places/579885

[2019-08-30 01:34] paregorios commented on #404
Looks good on staging. Please merge to master and deploy to production.

[2019-08-30 01:42] paregorios commented on #301
This looks good. Please merge to master and deploy to production.

[2019-08-30 01:44] paregorios commented on #140
This looks good. Please merge to master, deploy to production, and run the upgrade step on production.

[2019-08-30 01:47] paregorios commented on #356
This looks good. Please merge to master and deploy to production.

[2019-08-30 07:04] alecpm commented on #140
The script has been run on production (95 seconds)

[2019-08-30 07:05] alecpm commented on #356
This is live on production.

[2019-08-30 07:06] alecpm commented on #404
This is live on production

[2019-08-30 07:06] alecpm commented on #301
This is live on production.

[2019-08-30 10:12] MatthewWilkes commented on #316
I think that between:

* if ThisPlace has published Location(s) that do not derive from BAtlas, TAVO, or DARMC; then:
  * use only those Location(s) geometries
* elif ThisPlace has inbound Connections@type=[part_of_physical,connection,at,on]; then:
  * use only inbound Connections@type=[part_of_physical,connection,at,on]

There should be use any other published location. Is that right, @paregorios

[2019-08-30 10:21] paregorios commented on #316
@MatthewWilkes I would prefer that we take the centroid of inbound connections __before__ we consider BAtlas, TAVO, or DARMC locations. This is because BAtlas and TAVO locations are map grid square bounding boxes (on the order of 0.5x0.5 degrees in size, or larger) and because DARMC coordinates have horizontal precision on the order of +/- 2km with a significantly large sigma for horizontal accura

[2019-08-30 10:24] paregorios commented on #316
Perhaps add a clause for these locations, but add it last, if there are no connections at all.

[2019-08-30 10:26] paregorios commented on #316
so:

[code]

[2019-08-30 10:30] MatthewWilkes commented on #316
@paregorios Okay! I notice that we have a PositionalAccuracy type associated with locations (I'm trying to find the best way of detecting these and was hoping to avoid string matching the initialProvenance). Do you think filtering by the positional accuracy value of these types would be a good way of approaching this instead of these specific sources?

Some of them don't have accuracies set, which

[2019-08-30 10:58] MatthewWilkes commented on #316
After a discussion on Slack, we've come to the following conclusions:

1) Rather than averaging co-ordinates together we should use the co-ordinate with the best PositionalAccuracy
2) The DARMC, TAVO, etc data sources should have a None for their positional accuracy. These will cause them to be discounted in the first choice of the heuristic. The last choice will be to use published locations with

[2019-08-30 11:23] paregorios commented on #404
Verified working on production. cc @rsimon

[2019-08-30 11:23] #404 closed, assigned to alecpm

[2019-08-30 11:54] paregorios commented on #356
@rmhorne how does this look to you?

[2019-08-30 11:59] paregorios commented on #140
Looks good! Thanks.

[2019-08-30 11:59] #140 closed

[2019-08-30 12:00] MatthewWilkes commented on #316
Okay, so, combining this with the existing code, I have the following heuristic:

* if ThisPlace has published Location(s) that are precise
    * use the centroid of the location with the best LocationAccuracy and mark as *precise*
* elif ThisPlace has inbound Connections@type=[part_of_physical,connection,at,on] which have a precise location; then:
    * use the average of the centroids of these c

[2019-08-30 12:14] MatthewWilkes commented on #316
Code is in https://github.com/isawnyu/pleiades-geographer/tree/tickets/316 and deployed to staging

[2019-08-30 15:54] MatthewWilkes commented on #405
I've updated the front page and deployed it to staging. This is now using the mapbox gl style. The biggest visual difference is the attribution is no longer hidden behind an i circle. You may need to clear cache or force refresh to see it load.

I tried to approximate the same visual behaviour as the old map, but there was a change to the way zooming worked. They have chosen a new zoom system that

[2019-08-30 16:16] paregorios commented on #361
Obviated by change to map views.

[2019-08-30 16:41] paregorios commented on #405
This looks good. Please merge to master and deploy to production.

[2019-08-30 17:06] MatthewWilkes commented on #405
On production

[2019-08-30 18:49] alecpm commented on #76
Should the commit messages be ordered oldest first, or newest first?

[2019-08-30 19:33] paregorios commented on #76
oldest first please

[2019-08-30 19:37] paregorios commented on #405
This looks great!

[2019-08-30 19:37] #405 closed, assigned to MatthewWilkes

[2019-08-30 19:43] paregorios commented on #300
This is working well on production.

[2019-08-30 19:43] #300 closed, assigned to cguardia

[2019-08-30 19:45] paregorios commented on #401
Perfect! Thanks.

[2019-08-30 19:45] #401 closed, assigned to cguardia

[2019-08-30 19:48] paregorios commented on #310
This is working as expected on production

[2019-08-30 19:48] #310 closed, assigned to cguardia

[2019-08-30 19:50] paregorios commented on #356
This seems to be working well on production.

[2019-08-30 19:50] #356 closed, assigned to rmhorne

[2019-08-30 20:55] paregorios commented on #316
I made a mistake in the pseudocode. Two changes are requested:

## 1. In the first "elif" clause, where we read:

we should change the connections types list to:

[code]

(i.e., get rid of plain "connection")

## 2. in the second "elif" clause, where we read:

we should change the connections types list to:

[code]

(i.e., add a third term "part_of_admin").

[2019-08-30 23:36] cguardia commented on #9
Looks like the URL validators used for these fields don't do  much more than making certain there are no spaces in the URL. So, not sure where a space could be coming from.

[2019-08-31 00:37] alecpm commented on #76
I've got a first pass of this up on staging. When the `content_status_history` form is loaded with the `workflow_action` set to `submit` it should include all revision comments for the item since the item's last `publish` transition. Additionally, any if any sub-objects were modified since the last `publish` transition an additional comment will be added in the form `; updated Connections, Names`.

[2019-08-31 10:34] paregorios commented on #76
This is working the way I hoped it would on staging. Unless there's a wrinkle you're seeing that I don't, please merge to master and deploy to production.

[2019-09-05 00:12] alecpm commented on #76
This is merged and deployed.

[2019-09-05 11:56] paregorios opened #410 "AttributeError on submit: 'credit_utils' object has no attribute 'history_comments'"
Attempting to submit [a working copy that was in drafting state](https://pleiades.stoa.org/places/copy_of_236689), received the following traceback:

[code]

[2019-09-05 15:16] alecpm commented on #410
I looks like the deploy didn't restart the instances. I think it should be working now.

[2019-09-05 16:12] paregorios commented on #410
Yes, that's got it. Thanks!

[2019-09-05 16:12] #410 closed, assigned to nobody

[2019-09-05 16:12] #301 closed, assigned to alecpm

[2019-09-05 16:12] #76 closed

[2019-09-05 16:29] paregorios opened #411 "front page search includes items in errata"
Moving something to errata is meant to retract it, so I don't think we should be surfacing that content via the simple front-page search. But right now it looks like we are. Will have to investigate more thoroguhly to get good examples.

Originally noted by @rmhorne .

[2019-09-05 21:42] paregorios opened #412 "ten-year-old "expires" date in Pleiades response headers"
This is interesting (note the "Expires" value):

[code]

Is that what we want?

[2019-09-05 22:36] alecpm commented on #365
This is up on staging for review.

[2019-09-05 22:42] alecpm commented on #412
Plone's "weak caching" rule always sets an expiration date in the past to ensure that the browser always re-validates its locally cached content (with a conditional "If-None-Match: $etag" request) before rendering it.

[2019-09-05 22:43] paregorios commented on #412
Thanks for the explanation!

[2019-09-05 22:43] #412 closed, assigned to nobody

[2019-09-05 23:37] alecpm commented on #366
I think this is ready for review.

[2019-09-06 14:14] paregorios commented on #366
This is working as desired on staging. Please merge to master and deploy to production.

[2019-09-06 14:33] paregorios commented on #365
This is working on staging as I would like. Please merge to master and deploy to production.

[2019-09-06 17:49] alecpm commented on #365
Deployed

[2019-09-06 17:50] alecpm commented on #366
Deployed

[2019-09-07 06:57] cguardia commented on #351
This is on staging now.

[2019-09-07 08:28] cguardia commented on #358
@paregorios forgot to remind you today that you were going to give me an idea of what the UI for this would be. A simple mock-up in this ticket will do.

[2019-09-08 06:35] cguardia commented on #358
@paregorios anyway, I put what I have on staging for you to review. I believe it does what is needed, but might need to reword descriptions.

[2019-09-09 04:38] cguardia commented on #9
I reviewed the .ttl files from pleiades downloads, and couldn't find URIs similar to those with errors (that is, no URis with space before closing bracket, or between name and -extent.

[2019-09-09 11:31] wouterbeek commented on #9
@cguardia There are still invalid IRIs in the latest version of the RDF download (I used <http://atlantides.org/downloads/pleiades/rdf/pleiades-latest.tar.gz>).

The first issue is that the caret character (`^`) which appears unescaped multiple times in an IRI on line 60,524:

[code]

Please consider using an off-the-shelf solution that has been tested for years like uriparser library (<https://ur

[2019-09-09 14:06] paregorios commented on #9
@wouterbeek I appreciate your efforts to help us sort this out and the investment of time that represents. What is unclear to us is which characters do need escaping and why. We have had previous discussion in this thread about requirements for same, [concluding](https://github.com/isawnyu/pleiades-gazetteer/issues/9#issuecomment-485002993) that there is no RDF/TTL requirement to do more than enco

[2019-09-09 20:24] wouterbeek commented on #9
@paregorios No problem, URI/IRI syntax is (unfortunately) quite complex.  I'll first dive into the syntax a bit and then give concrete examples on how to detect violations of the URI/IRI syntax.

# Syntax

The issues that I have observed seem to occur in the path component of IRIs.  This is the part of the IRI that is separated by forward slashes.  The parts in between the forward slashes are call

[2019-09-09 21:33] paregorios commented on #358
I cannot review this change until staging is working again. It is currently timing out.

[2019-09-09 21:35] paregorios commented on #351
I cannot review this ticket until staging is working again. It is currently timing out.

[2019-09-09 23:07] alecpm commented on #351
The instance seems to be offline. Stopping and starting it now.

[2019-09-09 23:11] alecpm commented on #351
It's back up.

[2019-09-09 23:15] alecpm commented on #351
Issue seems likely related to high RAM usage. I'll need to tweak the staging memmon to kill the processes at lower RAM usage, or have fewer plone instances running.

[2019-09-10 11:01] paregorios commented on #351
This looks great! Please merge to master and deploy to production.

[2019-09-10 11:15] paregorios commented on #358
The behaviors on this look great. Please modify the UI as follows:

- Put the "temporal attestations" widget before these two date fields
- Add a heading that reads "Temporal Constraints: proleptic Julian years prior to establishment of the Gregorian calendar"

So, the relevant portion of the base view should look like this:

---

**Association Certainty:**
Certain

**Temporal attestations:**
- Ea

[2019-09-12 07:36] cguardia commented on #358
This is on staging.

[2019-09-12 10:23] paregorios commented on #358
This looks good in the base view. Could we also surface the same UI modifications in the add/edit form?

[2019-09-12 17:24] cguardia commented on #358
On staging again. The only issue is that there's no line break between the title and description in edit mode. That's not easy to fix without changing the whole thing and making custom edit and view forms. Since we are out of time, I don't think we can do that.

[2019-09-29 13:45] paregorios commented on #336
Just found one here:

https://pleiades.stoa.org/places/462168/

It appears in the base view (both server-side and browser-side caches having been cleared):

<img width="531" alt="Screen Shot 2019-09-29 at 8 42 08 AM" src="https://user-images.githubusercontent.com/263285/65833363-4e1c6900-e295-11e9-9a9f-6ef7b2ae885e.png">

but not in the folder view:

<img width="615" alt="Screen Shot 2019-09-29 at

[2019-09-29 13:47] paregorios commented on #337
It turns out this is not resolved after all: https://github.com/isawnyu/pleiades-gazetteer/issues/336#issuecomment-536301972

[2019-09-29 13:50] paregorios commented on #336
The Zombie connection in the case of Pantelleria does seem to be some sort of derelict working copy and it can be seen in the ZMI:

<img width="1032" alt="Screen Shot 2019-09-29 at 8 49 27 AM" src="https://user-images.githubusercontent.com/263285/65833449-237ee000-e296-11e9-8bb4-79bb99f55e1e.png">

[2019-09-29 13:51] paregorios commented on #336
If one manually enters the URL for said zombie connection in the browser location bar, it can be accessed through the plone:

https://pleiades.stoa.org/places/462168/copy_of_1043

[2019-09-29 13:52] paregorios commented on #336
I have deleted this zombie connection through the ZMI and now the other views are clean. I am leaving this ticket and #337 open because we have clearly not got rid of this problem.

[2019-10-01 19:21] paregorios commented on #320
Both bulk and individual serializations on staging are now correct. This change is ready to merge to master and deploy to production.

[2019-10-16 22:25] #351 closed, assigned to cguardia

[2019-10-31 14:10] paregorios opened #413 "daily CSV and JSON dumps incomplete, invalid, and not getting zipped"
Note dates in the listing for CSV files at http://atlantides.org/downloads/pleiades/dumps/:

![Screen Shot 2019-10-31 at 9 10 08 AM](https://user-images.githubusercontent.com/263285/67954039-431f6600-fbbe-11e9-98da-645300debab3.png)

[2019-10-31 14:22] paregorios commented on #413
Note the same problem in the listing for JSON files at http://atlantides.org/downloads/pleiades/json/:

![Screen Shot 2019-10-31 at 9 22 46 AM](https://user-images.githubusercontent.com/263285/67955088-048aab00-fbc0-11e9-9b28-2387498f8892.png)

[2019-12-04 00:10] paregorios commented on #413
Note also the size and content of the JSON files: something is happening to cause them to error off part-way through production.

An unindexed, locked content item was found within https://pleiades.stoa.org/places/874621, which may have been the cause of this problem. Will check exports tomorrow to see if they've started up again.

[2019-12-04 19:07] paregorios commented on #413
Unlocking, renaming, and (as a result) auto-reindexing the offending content item (a name), seems to have resolved the problem and all exports are now running to completion and appear to be valid. Kudos to @alecpm for the assist.

[2019-12-04 19:07] #413 closed, assigned to paregorios

[2019-12-05 18:21] paregorios commented on #398
This is resolved.

[2019-12-05 18:21] #398 closed, assigned to paregorios

[2019-12-06 07:36] wouterbeek commented on #398
@paregorios Thanks for improving the IRIs, but I just tried to upload <http://atlantides.org/downloads/pleiades/rdf/pleiades-latest.tar.gz> and still ran into illegal characters in IRIs.  The first issue occurs in entry `places-1.ttl` line 60,604 where an IRI contains an unescaped caret (`^`) characters.

The corresponding line in the Turtle grammar is as follows:
[code]

It would be best to escap

[2019-12-10 13:30] paregorios opened #414 "OSM Import needs to handle id collision more gracefully: 3pts"
Reported by @rmhorne

OSM Import constructs the object ID (Plone "short name") for the location object by URL-cleaning the __title__ string entered in the import dialog box (or the OSM node/way/relation title if the text box was left blank by the user initiating the import). If the resulting ID string matches the ID of another content item (name, location, connection) in the same place context, th

[2019-12-17 17:37] paregorios opened #415 "batch_update.py does not reindex objects"
This can lead to false negatives in subject, title, and other advanced searches.

[2019-12-29 16:53] paregorios opened #416 "citation type URIs in JSON exports are wrong (1 story point)"
URIs for our citation types are generated for our JSON exports using the namespace "https://pleiades.stoa.org/vocabularies/feature-type/". This is wrong, and affects both the en masse export and the individual serializations.

The correct namespaces appear in the RDF, using the rdfs and cito prefixes.

[2020-02-03 19:26] paregorios opened #417 "Zotero site redesign has broken the Pleiades Zotero reference import tool"
Steps to replicate:

- Edit any content item that has references.
- Go to the reference tab.
- Paste in a Pleiades Zotero URI and click the "fetch" button
- Read the error message: "could not find item-details-div"

<img width="333" alt="Screen Shot 2020-02-03 at 1 26 11 PM" src="https://user-images.githubusercontent.com/263285/73683920-c9998700-4688-11ea-84a1-a51b5f4e2fe3.png">

[2020-02-03 19:31] paregorios commented on #417
Code is failing at this point: https://github.com/isawnyu/isaw.bibitems/blob/b854ced93f71ad537e0ddc1d92377bd77c53ca4b/src/isaw/bibitems/zotero.py#L38

[2020-02-03 20:58] paregorios commented on #417
In work: https://github.com/isawnyu/isaw.bibitems/tree/issue417

[2020-02-03 21:18] #417 closed, assigned to paregorios

[2020-02-21 14:25] paregorios opened #418 "automated emails for new account and password reset are degraded"
User reported and verified by log anlysis, where we find "Client host rejected: cannot find your hostname" being issued by postrelay2.lrz.de for our emails destined for University of Munich addressees.

[2020-02-21 14:25] paregorios commented on #418
Emails to other domains seem to be going through without difficulty.

[2020-02-21 14:28] paregorios commented on #418
This may be related to a failing reverse DNS lookup, and so may be of similar/same origin as the "SPF check softfail ... dynamic or unknown reverse DNS" responses we are getting from mx1.tigertech.net

[2020-02-21 17:54] paregorios commented on #418
SMTP config modifications to align To addresses and hostnames have been completed. DNS modifications to update MX record and add TXT records for SPF and DEMARC have been completed. tigertech.net is no longer complaining about our emails, but the lrz.de relay is still rejecting them with the same error message.

I have sent an email to postmaster@lrz.de requesting guidance on meeting their requirem

[2020-02-25 20:53] paregorios commented on #418
Reply from postmaster at lrz.de confirms my suspicions about reverse DNS problems:

[code]

I'll need to take this up with our hosting provider, as I'm not clear how they set this up.

[2020-02-26 18:13] paregorios commented on #418
I have queried our hosting provider on how to address this.

[2020-02-27 11:43] paregorios commented on #418
PTR record for host in question has been updated. Affected users report they are now receiving emails. This is resolved.

[2020-02-27 11:46] #418 closed, assigned to paregorios

[2020-03-07 20:29] rmhorne commented on #289
This still appears to be an issue; the CSV dumps are still reading "copy_of" in the connection columns.

See https://pleiades.stoa.org/places/265984 in the CSV, which has "copy_of_270296"; There are many more examples.

[2020-03-08 18:18] rmhorne opened #419 "Possible Issue with Missing Representative Points in the .csv export"
Consider https://pleiades.stoa.org/places/23296898
In the places view, we have a representative point of 40.0, 28.25, which is derived from the connected places. However, looking at the places .csv export, the representative point is missing, and the loctionprecision column reads "unlocated". This should be fine, but the representative point should be coming in through the .csv export.

[2020-03-09 19:03] paregorios commented on #406
No longer blocked by #405. The place map has more complex javascript.

[2020-03-09 19:04] paregorios commented on #406
Now in work in https://github.com/isawnyu/PleiadesEntity/tree/issue406

[2020-05-21 19:01] paregorios commented on #406
Deployed!

[2020-05-21 19:01] #406 closed, assigned to paregorios

[2020-05-21 19:02] paregorios opened #420 "rotate mapbox access tokens"
- [x] places (done, as final step on #406)
- [x] locations
- [x] search (https://github.com/isawnyu/pleiades-notredame/commit/582ef7a1f3a1d902e5fb9b98ce186c18e17146c8)
- [x] front page (https://github.com/isawnyu/pleiades-frontpage/commit/2c219cceb36d0436135617ee02f0875b59f552a0)
- [x] recently modified (on home/about; uses search map javascript code, so already covered)

[2020-05-28 14:24] paregorios commented on #420
Frontpage branch for this was not created from head, so we've had regression on production front page search (no path to "advanced search"). This needs addressing ASAP, probably simply with rebase.

[2020-05-28 14:36] paregorios commented on #420
Rebase/merge and push of branch to frontpage has resolved the regression mentioned above.

[2020-05-28 14:39] paregorios opened #421 "Front page search doesn't find "Ur""
Front-page search seems to wait to try to start matching until at least 3 letters have been entered. This means it never tries to match "Ur".

[2020-05-28 14:40] paregorios commented on #421
This issue is blocked for resolution and merge-to-master of #420 (at least as the front page is concerned).

[2020-05-28 14:57] paregorios commented on #420
Unless indicated below, production is still running a branch with the rotated key for each component. Merge to master and deploy:

- [x] front page
- [x] places
- [x] locations
- [ ] search / recently modified

[2020-05-28 14:58] paregorios commented on #421
Frontpage is now running on HEAD of master, so this issue is no longer blocked for development.

[2020-05-28 15:07] paregorios commented on #421
Production is now running pleiades-frontpage branch "issue421", which seems to address this problem. Need to check mapbox utilization in a day or two to make sure we're not spiking into penalty territory.

[2020-05-28 16:20] paregorios opened #422 "some vocabularies aren't sorted in pick lists"
e.g., connection types

[2020-05-28 16:28] paregorios commented on #422
Production is now running pleiades.vocabularies branch issue422, which seems to address this problem.

[2020-05-28 18:13] paregorios opened #423 "remove "participate" redirect from apache config"
We no longer need the plain-html "participate" page that's included in the front-page package and served via a rewrite rule in our apache config. It's commented out of the conf on production, but we need to get it out of the ansible build.

[2020-05-29 15:20] paregorios commented on #22
This is done: https://github.com/isawnyu/pleiades-frontpage/commit/f52dbacd4f163d131d8abd442225f540d7477e62

[2020-05-29 15:20] #22 closed

[2020-06-07 10:27] paregorios opened #424 "OSM import GUI is out of date"
Incorrect terminology and guidance needs updating on the "Add Location from OSM" dialog. This is blocking an important documentation upgrade rollout.

[2020-06-07 10:44] paregorios commented on #424
Resolved with https://github.com/isawnyu/PleiadesEntity/commit/da87b0212515b7354ff5511c88144e8349e370b8

[2020-06-07 10:44] #424 closed, assigned to paregorios

[2020-06-08 11:16] paregorios commented on #422
deployed

[2020-06-08 11:16] #422 closed, assigned to paregorios

[2020-06-22 21:03] paregorios opened #425 "pleiades-ansible README out of date (roles)"
The pleiades-ansible README says:

but running this command via the CLI on ansible-galaxy 2.9.10 on osx produces the following error message:

Running the following command seems to work instead:

[code]

[2020-06-22 21:06] paregorios opened #426 "pleiades-ansible roles installation fails on new relic"
See #425 and then:

[code]

[2020-06-22 21:29] paregorios opened #427 "pleiades-ansible ansible-playbook pleiades.yml fails on python-software-properties"
Tried:

```ansible-playbook pleiades.yml -l staging_serenity --ask-become-pass```

got:

[code]

On target server, tried:

[code]

[2020-06-29 15:37] serviliusahala opened #428 "Search for place 658576 (Pyramos (river)) returns an error"
A search for the following place (https://pleiades.stoa.org/places/658576) produces this error message:

We’re sorry, but there seems to be an error…
Here is the full error message:

Display traceback as text

Traceback (innermost last):

Module ZPublisher.Publish, line 138, in publish
Module ZPublisher.mapply, line 77, in mapply
Module ZPublisher.Publish, line 48, in call_object
Module Shared.DC.

[2020-06-30 13:21] paregorios commented on #428
I have reproduced the error as follows:

1. Login to Pleiades  (NB: I have been **unable** to reproduce this error while browsing anonymously).
2. Navigate to https://pleiades.stoa.org/places/658576
3. Observe the traceback provided by @serviliusahala, above.

Since this error is only occurring for authenticated users, I suspect it is related to bad/damaged content (i.e., a location, name, or conn

[2020-06-30 13:22] paregorios commented on #428
It's a damaged Location: https://pleiades.stoa.org/places/658576/ceyhan

[2020-06-30 13:24] paregorios commented on #428
This appears to be a "zombie location" a la #337

[2020-06-30 13:28] paregorios commented on #428
Zombie connection has been removed via the ZMI as outlined for prior cases in nos. #336 and #337. @serviliusahala if this now works for you, please close this ticket. We will keep the other tickets open pending an opportunity to try to find out why this is still happening despite previous developer work on the problem.

[2020-06-30 13:29] paregorios commented on #336
Still a problem: see #428

[2020-06-30 13:30] paregorios commented on #337
Still a problem. See #428

[2020-07-02 21:04] paregorios opened #429 "location exports (e.g. json) should include accuracy"
The horizontal accuracy value in meters from the linked "positional accuracy assessment" should be exported along with each location.

[2020-07-02 21:52] paregorios commented on #429
Test code in branch https://github.com/isawnyu/PleiadesEntity/tree/issue429 is currently running on production.

[2020-07-10 15:51] paregorios opened #430 "daily JSON and CSV exports failing"
It looks like we haven't had a complete run since 2 July. I'll have to inspect the logs, but if past is prologue, this is likely due to a piece of broken content somewhere.

[2020-07-10 15:53] paregorios commented on #430
CSV exports are also affected

[2020-07-10 15:55] paregorios commented on #430
KML and RDF/TTL exports seem to have continued to run to completion, so they may be handling whatever the error is more gracefully than our other exports.

[2020-07-10 18:42] paregorios commented on #430
Ran the dump script manually and watched it's output. Sure enough, threw a traceback trying to access a location. The culprit seems to have been that the location in question, instead of referencing a published "accuracy assessment" object was referencing an unpublished location object (how on earth could such a thing happen?). In any case, editing the location and using the reference browser to c

[2020-07-10 18:51] paregorios commented on #430
The next road bump was a published location with a linked accuracy assessment that was not published. These are all very old. Why should they only be throwing errors now?

But now another location with the same weird problem noted above? Is this due to a UUID collision?

[2020-07-10 22:11] paregorios commented on #430
I've found a few more of these. I think these data problems (some locations with links to things other than accuracy assessments) have been in place for years, but the dump never tripped over them because we weren't trying to access any data in the linked accuracy assessment. [The code I rolled out last week](https://github.com/isawnyu/PleiadesEntity/blob/7278c7a244f60b4d7c61b9e5b625c81925d503f0/P

[2020-07-11 15:56] serviliusahala opened #431 "Pleiades place 75740664 produces an error"
Searching for this Pleiades [place](https://pleiades.stoa.org/places/75740664/) produces an error. The error occurs whether logged in or not.

We’re sorry, but there seems to be an error…
Here is the full error message:

Display traceback as text

Traceback (innermost last):

Module ZPublisher.Publish, line 138, in publish
Module ZPublisher.mapply, line 77, in mapply
Module ZPublisher.Publish, lin

[2020-07-12 10:31] paregorios commented on #431
Name at https://pleiades.stoa.org/places/75740664/a-aa-ar-qim had an invalid language code. Corrected. Am adding better reporting to error message for this failure case.

[2020-07-12 10:31] #431 closed, assigned to nobody

[2020-07-13 02:11] paregorios commented on #430
Exception handling has been added to the export code for (1) attempts to access unauthorized accuracy assessments and (2) failed attempts to access the "value" field on an accuracy object (i.e., if it's not really an accuracy object and therefore doesn't have a "value" field. These code changes allow the full export to run to completion and log errors to dump.log. This morning's daily run was succ

[2020-07-13 02:11] #430 closed, assigned to paregorios

[2020-07-25 11:39] paregorios opened #432 "add support for import of OSM relations with type=site: 3pts"
Attempting to import https://www.openstreetmap.org/relation/8481114, got this:

<img width="925" alt="Screen Shot 2020-07-25 at 6 38 51 AM" src="https://user-images.githubusercontent.com/263285/88456222-94a10c80-ce41-11ea-963e-dd02fd136cad.png">

Desired behavior: import this relation, which is of type=site, the same way we import our other supported types of OSM relations.

Specific fixes:

1. Ad

[2020-07-25 11:41] paregorios commented on #432
More relation types than this are supported in code, unless we've had a regression. But it may be that the error message is simply out of date. So:

- [ ] check our code for regression on supported relationship types and completeness of error message
- [ ] if that doesn't fix it, investigate adding the relationship type being used by OSM here

[2020-10-08 13:34] paregorios opened #433 "Suppress stock DC "Location" field on all content types (3 story points)"
This field appears on the "Categorization" Tab for places, names, locations, and connections, as well as the plone stock content types. As Pleiades uses the term "Location" to mean something different, this causes confusion for users. Moreover, given that our content is specifically geographic in a detailed way, this core functionality is both redundant and inadequate.

This default "Location" fie

[2020-10-08 16:40] kgjenkins opened #434 "Roman Empire basemap tiles have moved"
When looking at a location ([example](https://pleiades.stoa.org/places/413062/darmc-location-18290)) switching the map to the "Roman Empire" basemap results in a gray blankness.

It's attempting to use tiles from:
`http://pelagios.dme.ait.ac.at/tilesets/imperium//{z}/{x}/{y}.png`

Those tiles have moved, and are now being hosted by the Centre for Digital Humanities at the University of Gothenberg,

[2020-10-08 16:57] kgjenkins commented on #434
p.s. and the attribution in the following line could point to https://dh.gu.se/dare/

[2020-10-09 20:41] paregorios commented on #378
This issue-tracker version of the epic has now been superseded by an entry in the wiki roadmap for the same epic: https://github.com/isawnyu/pleiades-gazetteer/wiki/Epic:-Future-Proof

[2020-10-09 20:41] #378 closed, assigned to paregorios

[2020-10-09 21:00] paregorios opened #435 "expire daily backups (2 story points)"
Pleiades performs a daily backup(?) and stores the results in ```/srv/python27-apps/pleiades4/var/backup/```, which eats up disk space. We need an automated process to keep a reasonable back number of these and archive or delete earlier ones.

-----

Epics: [Migrate to New Server](https://github.com/isawnyu/pleiades-gazetteer/wiki/Epic:-Migrate-to-New-Server)

[2020-10-14 13:45] paregorios opened #436 "update style used in place view maps"
Because mapbox has deprecated "legacy" raster tile styles so we need to update to something they still support while we seek a different solution.

[2020-10-22 22:53] paregorios commented on #434
[A fix for our location maps only](https://github.com/isawnyu/PleiadesEntity/blob/13fa484eebe59845b9ff4afd4d3722fbb0022f7a/Products/PleiadesEntity/skins/PleiadesEntity/location_map.js#L100-L104) is now in live test on production.

[2020-10-26 17:21] #429 closed, assigned to paregorios

[2020-10-26 17:23] #428 closed, assigned to serviliusahala

[2020-10-26 17:26] #421 closed, assigned to paregorios

[2020-10-26 17:26] #420 closed, assigned to paregorios

[2020-10-26 17:29] #361 closed, assigned to nobody

[2020-10-26 17:29] #366 closed, assigned to alecpm

[2020-10-26 17:29] #365 closed, assigned to alecpm

[2020-10-26 17:32] #291 closed, assigned to paregorios, rmhorne

[2020-10-26 17:33] #280 closed, assigned to paregorios

[2020-10-26 17:35] #235 closed, assigned to nobody

[2020-10-27 20:59] paregorios opened #437 "hitting enter kills the current front page process (2 story points)"
No results are displayed if this happens too fast.

Steps to reproduce:

1. Visit https://pleiades.stoa.org/
2. Focus the search box.
3. Quickly type (without quotes) "Roma" and hit the enter key immediately.
4. Note that no results appear below.
5. Compare with what happens if you type "Roma" but do not hit the enter key.

Desired behavior:

If/when user hits enter key, results of a substring sea

[2020-11-06 22:27] alecpm commented on #387
This is an interesting question. It should be relatively simple to create an equivalent `plone.app.querystring` `QueryOperation`, which is a search criteria for new style Collections. This is only useful if you have Collections/Topics on the site that make use of fixed Geolocation queries using this criteria, and it appears that none are present pleiades.stoa.org.

[2020-11-12 00:28] alecpm commented on #142
Do we have a copy of this file somewhere?

[2020-11-12 14:08] paregorios commented on #142
Let's not bother with this. It dates back to the pre-upgrade days when bots would routinely hammer us into 5xx land and I wanted to be able to tell Bing to back off. We haven't had a problem in years. Closing as "won't fix".

[2020-11-12 14:08] #142 closed

[2020-11-16 16:46] paregorios opened #438 "changes to locations do not always trigger reindex and reprPoint recalculation (3 points)"
Logged-in reviewers and other users don't always see the spatial results of changes they make to places in a timely manner. Also, retraction and publication of locations don't seem to always trigger a spatial re-index of the containing place, so that users are not getting the latest reprPoint values and the place map doesn't reflect the current state and position(s) of the locations.

The rules sh

[2020-11-16 18:36] paregorios commented on #435
Retain 2 weeks.

[2020-11-16 23:20] alecpm commented on #435
This change is on the new server. The prior configuration was manually running backups. The new configuration uses [`collective.recipe.backup`](https://pypi.org/project/collective.recipe.backup/) to provide pruning, etc. It's configured to retain 2 full backups and incrementals from those. Full backups are taken after every ZODB pack, which happens once a week, so it should retain 2 weeks worth of

[2020-11-17 04:51] cguardia commented on #437
While I was able to duplicate this problem in the website, I have not been able to duplicate it locally. Will keep trying to find out what's going on.

[2020-11-17 07:24] cguardia commented on #438
@paregorios is there an example that you could point me to?

[2020-11-17 11:56] paregorios commented on #438
@cguardia I have cleaned up (reindexed) all the cases I previously came across. I have tried this morning to reproduce the error, but I have been unsuccessful. Let's defer further work on this ticket and move on to other things for now.

[2020-11-17 12:02] paregorios commented on #437
@cguardia production was running a modified code branch ("coverage") other than "master", so that is probably why you were not seeing the error locally. I have just merged "coverage" into "master", so if you update your local copy from isawnyu/pleiades-frontpage:master, I suspect you will start seeing the error locally. Sorry for the churn.

[2020-11-17 19:13] cguardia commented on #437
Pushed a fix for this to master.

[2020-11-19 00:28] cguardia commented on #316
@paregorios I deployed the latest changes to staging.

[2020-11-19 01:45] cguardia commented on #358
@paregorios could we start this round with a review of what is on staging and go from there? I just put it there.

[2020-11-19 07:58] alecpm commented on #416
I'm not quite sure what to do here. The bad vocabulary link is hardcoded here:

https://github.com/isawnyu/PleiadesEntity/blob/master/Products/PleiadesEntity/browser/adapters/__init__.py#L257

That's pretty obviously wrong: it points to a vocabulary that doesn't exist, and the [field involved](https://github.com/isawnyu/PleiadesEntity/blob/master/Products/PleiadesEntity/content/ReferenceCitation.p

[2020-11-19 08:46] alecpm commented on #433
This is merged to master and deployed to https://pleiades.jazkarta.com for review.

[2020-11-19 12:20] paregorios commented on #433
Looks great!

[2020-11-19 12:20] #433 closed, assigned to alecpm

[2020-11-19 12:29] paregorios commented on #358
@cguardia I think that's a good idea, but I am not seeing it at pleiades.jazkarta.com. Can you check with @alecpm and see if you are both using the same branches and approach for deployment there? I think he's using isawnyu/PleiadesEntity:master for updates to pleiades.jazkarta.com since the machine at pleiades.jazkarta.com is going to become the production server soon and then tummy will retire t

[2020-11-19 12:51] paregorios commented on #416
RDF has a convention for using short prefixes (like "cito") to make long URIs more readable. If you view the raw RDF/XML, you'll see these defined as attributes on the root element, e.g.:

[code]

JSON has no such convention, so in order to produce a semantically equivalent identifier for the term in the JSON, we have to emit the full URI.

For these citation type URIs, we are making use of extern

[2020-11-19 15:21] skleinfeldt commented on #416
Yikes...

[2020-11-19 17:43] alecpm commented on #416
@paregorios I see. It should be easy enough to use the XML namespace url from the RDF as the prefix for the citation url. I'll get that in place shortly. Thanks!

[2020-11-19 18:07] alecpm commented on #416
This is in place on pleiades.jazkarta.com:

https://pleiades.jazkarta.com/places/175420887/json

(you may need to shift reload)

[2020-11-19 18:27] paregorios commented on #437
This looks good on pleiades.jazkarta.com. Since it's merged to master, I think this one can be closed as resolved.

[2020-11-19 18:27] #437 closed, assigned to cguardia

[2020-11-19 18:33] paregorios commented on #316
@cguardia on staging, I'm getting a traceback for ```/places/226577``` that I think may be related to this code change. [The corresponding page on production](https://pleiades.stoa.org/places/226577) runs fine. Here's the traceback:

[code]

[2020-11-19 18:36] paregorios commented on #416
Looks great. Let's merge to master and call this one done!

[2020-11-19 18:39] alecpm commented on #416
This was already merged and the pin was updated, so I'll close it.

[2020-11-19 18:39] #416 closed, assigned to alecpm

[2020-11-19 18:41] paregorios commented on #358
@cguardia I'm seeing a traceback after adding integers to the two fields on the connection at https://pleiades.jazkarta.com/places/874299107/423025:

[code]

[2020-11-19 19:01] cguardia commented on #358
Taking a look now.

[2020-11-19 19:44] alecpm commented on #344
I have been unable to reproduce this on https://pleiades.jazkarta.com. I added new vocabulary items to the Place Types and Location Types vocabularies and set those values [here](https://pleiades.jazkarta.com/places/175420887/base_view) and [here](https://pleiades.jazkarta.com/places/175420887/location-of-necropolis/base_view), respectively. So far no tracebacks even though I haven't restarted. If

[2020-11-19 19:54] paregorios commented on #344
I cannot get it to happen on a place now, but I just succeeded in making it happen on a connection:

[code]

Steps:
1. Navigated to pleiades settings
2. Added "custom" type to relationship types
3. In same browser window, navigated to https://pleiades.jazkarta.com/places/465912/sicilia-island/
4. Edited the connection and added "custom" (which appeared at the bottom of the combo list)
5. Clicked s

[2020-11-19 20:06] alecpm commented on #344
Thanks!!

[2020-11-19 20:44] alecpm commented on #344
Ugh, tried this exact thing locally. No traceback. So much fun. The good news is there doesn't seem to be any sort of vocabulary caching that would be the source of this. The bad news is that this seems to be some sort of deep issue in the AT field validation machinery, preventing these values from being saved in some cases.

[2020-11-19 20:45] alecpm commented on #344
Time to debug directly on the server I guess.

[2020-11-19 21:48] alecpm commented on #358
These errors should be fixed now. This was a blocker for reproducing: #344

[2020-11-20 11:30] paregorios commented on #316
Still seeing this traceback on pleiades.jazkarta.com, even after the branch synchronizations yesterday. For example https://pleiades.jazkarta.com/places/658378

[2020-11-20 11:33] paregorios commented on #358
This looks good. Please merge to master and close as resolved.

[2020-11-20 11:48] paregorios opened #439 "apply plone 4.3 minor version upgrades"
Let's get fully up-to-date if possible.

[2020-11-20 18:09] cguardia commented on #358
This has been merged to master.

[2020-11-20 18:09] #358 closed, assigned to alecpm, cguardia

[2020-11-21 00:42] cguardia commented on #316
I put in a fix for this on staging. Now you should be able to review.

[2020-11-21 01:39] alecpm commented on #439
https://pleiades.jazkarta.com is now running Plone 4.3.19. The upgrade was pretty painless when performed in the ZMI via `portal_setup/manage_upgrades`, but when performed in the Plone Control Panel it triggered a spurious full catalog reindex. Looking through the upgrade steps performed, none of them required a reindex. Best to run this via the ZMI when we do the final run.

It may make sense to

[2020-11-21 01:39] alecpm commented on #344
At this point I don't think this is reproducible on the new server. Please let me know if you find otherwise @paregorios.

[2020-11-21 01:44] alecpm commented on #439
I think I see what triggered the reindex. There's an implicit upgrade of `plone.app.discussion` which made a change in the default comment workflow (does pleiades use comments?). That upgrade reindexes the permission settings for any `Discussion Item` content. The Plone migration tool tries to be clever and intercept any reindex attempts, skip them and set a flag. At the end of the migration path

[2020-11-21 09:04] cguardia commented on #415
This is done. Committed the change directly to the updated-pins branch.

[2020-11-21 13:01] paregorios commented on #438
I think I have been able to create a case of this on staging: https://pleiades.jazkarta.com/places/520977

Here's what I did:

1. Changed the connection types on the two inbound connections from "connection" to "communicates with".
2. Retracted the previously published location.

Problems:

1. I see no change in the reprPoint calculations although examination of the code leads me to believe that i

[2020-11-21 13:43] paregorios commented on #316
Please merge to master and close this ticket at resolved.

I see several cases that are doing what I expect. E.g.,

- https://pleiades.jazkarta.com/places/231467659
- https://pleiades.jazkarta.com/places/530871
- https://pleiades.jazkarta.com/places/638965

[2020-11-21 13:52] paregorios commented on #344
I cannot reproduce this error on the new server either. Closing as automagical.

[2020-11-21 17:39] alecpm commented on #344
Just FYI, I did make a small fix on staging before we had any tracebacks that should handle a theoretical issue with unknown vocabulary terms. It just ensures that vocabulary values which are set on a content item, but aren't in the vocabulary don't result in a traceback. See  https://github.com/isawnyu/pleiades-vocabularies/commit/0c7dfba12382b060a7eff054189dd36b32931e72

I will merge this to mas

[2020-11-23 04:33] cguardia commented on #316
Merged to master.

[2020-11-23 04:33] #316 closed, assigned to cguardia

[2020-11-24 17:52] paregorios commented on #438
Seems to have been a chache issue or something has caused a reindex in the meantime as I'm now seeing what I expect.

[2020-11-24 19:59] alecpm commented on #439
pleiades.jazkarta.com is now on 4.3.20, the upgrade will need to be re-run after data migration using `portal_setup`.

[2020-12-04 04:20] serviliusahala opened #440 "Error on place page 445545537: Forum Iulium"
Navigating to a Pleiades [place](https://pleiades.stoa.org/places/445545537) produces the error below, although the associated [location resource](https://pleiades.stoa.org/places/445545537/osm-location-of-temple-of-venus-genetrix/?searchterm=genetrix*) functions properly.

We’re sorry, but there seems to be an error…
Here is the full error message:

Display traceback as text

Traceback (innermost

[2020-12-04 13:32] paregorios commented on #440
I'm not seeing this error as of 8:30 EST 12/4/20. @cguardia has it been addressed?

[2020-12-04 13:33] paregorios commented on #440
Update: I am seeing this error, but only when authenticated. Anonymous visits don't trigger it, which makes me suspicious that it involves a piece of content that's in draft or pending.

[2020-12-04 13:37] paregorios commented on #440
I've looked at folder_contents and don't see any obvious troublemakers. There's no recent new content here that I can see. Another edge case in the new reprPoint algorithm?

[2020-12-04 13:42] paregorios commented on #440
Error is in the recently modified code: https://github.com/isawnyu/pleiades-geographer/commit/49f2174431841dbe1902a4d400b122a4766b2772

I wonder if we have another edge case here with some kind of unexpected value condition. If so, we should not only delete the offending content item after identifying it, but also script a check of the entire dataset for similar problems like we did for the weird

[2020-12-06 07:50] cguardia commented on #440
It's the lambda expression that we were going to change anyway. Looks like my old nemesis getAccuracy is returning None. Pushed the fix to master. but not deployed or tagged.

[2020-12-06 16:12] alecpm commented on #440
Deploying the change now.

[2020-12-06 17:17] alecpm commented on #440
The error seems to be gone now.

[2020-12-12 18:31] serviliusahala opened #441 "Weird bug on new place with connections"
A place for [Regio I, Pompeii](https://pleiades.stoa.org/places/222138654) was created yesterday and there is now some weird behavior - there is some iteration of the place at this [url](https://pleiades.stoa.org/places/copy2_of_222138654) and it generates this area. I can't see an active working copy that is checked out so not certain where the copy is coming from.

We’re sorry, but there seems t

[2020-12-13 11:31] paregorios commented on #441
I think this is fixed, but I don't know how it happened in the first place. I examined the catalog through the Zope Management Interface and found entries for ```/plone/places/copy2_of_222138654``` (with contents matching the baseline copy) and an apparently identical set at ```/plone/places/copy_of_222138654``` (ditto). I deleted all of these content items from the catalog and now everything seem

[2020-12-13 11:31] #441 closed, assigned to paregorios

[2021-01-04 19:53] serviliusahala opened #442 "Working copy produces error"
My attempt to check-in this [working copy](https://pleiades.stoa.org/places/copy_of_894019/@@content-checkin?_authenticator=7d6c62964820c77881d67d0189b176d0b41cbf15) results in this error:

We’re sorry, but there seems to be an error…
Here is the full error message:

Display traceback as text

Traceback (innermost last):

Module ZPublisher.Publish, line 138, in publish
Module ZPublisher.mapply, li

[2021-01-04 20:34] paregorios commented on #442
The traceback is thrown [at the point in the code](https://github.com/isawnyu/PleiadesEntity/blob/master/Products/PleiadesEntity/browser/credits.py#L231) where all previous history comments are concatenated in order to pre-populate the checkin comment box. Given the error -- and the fact that one of the prior history comments on this place contains a non-ascii character -- seems to imply that some

[2021-01-05 18:50] paregorios commented on #442
The working copy is now checked in. I still need to incorporate revised code into the main branch on PleiadesEntity so this doesn't happen again somewhere else in future.

[2021-01-05 18:52] #442 closed, assigned to paregorios

[2021-01-21 15:56] #440 closed, assigned to cguardia

[2021-01-21 15:59] paregorios opened #443 "unhashable type error on place page 721417202"
Steps to reproduce:

- Visit https://pleiades.stoa.org/places/721417202 and behold:

[code]

This place page was working fine until I did the following:
- Promoted two of the four locations to separate places
- Cut the remaining two locations and pasted them into the newly created places
- Published the new places along with their subordinate locations and connections back to this place

[2021-01-21 16:00] paregorios commented on #443
Is this a regression to https://github.com/isawnyu/pleiades-gazetteer/issues/328 ?

[2021-01-21 16:05] paregorios commented on #443
This bug is occurring [in a different place](https://github.com/isawnyu/pleiades-geographer/blob/master/pleiades/geographer/geo.py#L544) from #328, but seems to be related to the same problem, i.e., return of connections as a list.

[2021-02-01 23:19] paregorios opened #444 "place maps don't update during editing"
When authenticated, a user is not shown the geometries for locations added during the edit session, which is a ginormous pain. I think this is because varnish is caching the response to the client request for ```{place_uri}/json```, which the PleiadesEntity::place_map.js uses to get these geometries.

How can we verify whether this is what's happening and, if so, can we bypass caching for the JSON

[2021-02-01 23:23] paregorios commented on #444
This issue probably replaces #438, which posited a different cause for the observed behavior and could not be verified.

[2021-02-01 23:23] paregorios commented on #438
Closing in lieu of #444

[2021-02-01 23:23] #438 closed, assigned to cguardia

[2021-02-09 22:16] paregorios opened #445 "build a better bulk ingest script for entirely new content"

[2021-02-09 22:17] paregorios commented on #445
In work now in branch "issue445" in https://github.com/isawnyu/pleiades3-buildout

[2021-02-16 22:24] #408 closed, assigned to paregorios

[2021-02-18 19:50] paregorios commented on #444
The JSON caching is client-side, so adding a timestamp to our JSON requests should bypass that (will bypass server-side too IIRC). Maybe we can alter the page template so we only use timestamps on the JSON requests when we're authenticated, which would be the only circumstance under which we're likely seeing this behavior.

[2021-02-19 22:15] paregorios opened #446 "reprPoint doesn't handle complex location cases"
When more than one location with precise geometries are present, the reprPoint calculation seems to only use one of them.

[2021-02-19 23:04] #446 closed, assigned to paregorios

[2021-02-19 23:21] #444 closed, assigned to nobody

[2021-02-20 01:31] paregorios opened #447 "make place map styles switchable"
i.e., satellite vs. outdoors

[2021-02-25 20:38] paregorios opened #448 "build a tighter script for modifying attributes on content items"

[2021-02-25 20:39] paregorios commented on #448
Now in work on branch "issue448" of https://github.com/isawnyu/pleiades3-buildout

[2021-03-10 19:15] paregorios commented on #161
Reopening: there's a bug in the attestations browser that doesn't handle some newly added name types adequately.

[2021-04-02 23:21] serviliusahala opened #449 "Error on place page 573193"
This [page](https://pleiades.stoa.org/places/573193/?searchterm=Dyrrachion*) produces the following error:

Traceback (innermost last):

Module ZPublisher.Publish, line 138, in publish
Module ZPublisher.mapply, line 77, in mapply
Module ZPublisher.Publish, line 48, in call_object
Module Shared.DC.Scripts.Bindings, line 322, in __call__
Module Shared.DC.Scripts.Bindings, line 359, in _bindAndExec
M

[2021-04-02 23:34] paregorios commented on #344
It's back: #449

[2021-04-02 23:34] paregorios commented on #449
This may be an example of #344

[2021-04-02 23:43] paregorios commented on #449
This is fixed. Earlier today I inadvertently added a duplicate term to the place types vocabulary. That's what caused this error. It is now resolved.

[2021-04-02 23:43] #449 closed, assigned to paregorios

[2021-04-21 10:54] paregorios opened #450 "roles misbehavior"

[2021-04-21 19:32] alecpm commented on #450
So it turns out this is one I've seen before and it has to do with a missing `data-` attribute on the body tag that Plone expects to be present in order to determine the base url to use for certain AJAX requests. I'm surprised to be seeing this on a Plone 4 site, but it's almost certainly just a small tweak to the Diazo rules file to pull in the body tag data attributes.

[2021-04-21 19:53] alecpm commented on #450
Looks like it was the custom main_template that needed the additional `data-` attributes since pleiades.notredame is not a Diazo theme, but it was a simple fix nonetheless. I've made the updates removes the undesirable role assignments.

[2021-04-21 22:13] alecpm commented on #443
So resaving the connections to this place:

https://pleiades.stoa.org/places/115852119/9074813478/
https://pleiades.stoa.org/places/424487311/9261627739

Made their connection type single valued and fixed the error. I guess the question is how are these connections ending up with multi-valued connection types? Were these imported via some process or were they manually created?

[2021-04-21 22:21] alecpm commented on #443
@paregorios I think I see where this might have happened. The "promote to place" feature creates a connection with a type set to `["at"]` instead of simply "at". Do you know if it's possible that these connections could have been created as part of the promote to place process?

[2021-04-21 22:25] alecpm commented on #443
It's also possible that the `place_maker.py` import script could create these multi-valued fields, but only if the JSON that was imported using that script had connections with `relationshipType` set to array instead of string values. We already have a script that can find these broken connections and fix them, but it would be good to ensure they don't get created in the future.

[2021-04-21 22:31] alecpm commented on #443
I've update the place promotion code to set the correct value. The script found and fixed 12 bad connections:

/plone/places/199686145/9186138458
/plone/places/909992346/8663840363
/plone/places/789002570/1582396828
/plone/places/651069708/5167183909
/plone/places/484509128/5592806276
/plone/places/115105706/5093105578
/plone/places/176836030/6672173199
/plone/places/700578305/2935053591
/plone/pl

[2021-05-06 15:27] serviliusahala opened #451 "error on working copy of Sublanuvio"
I discovered an unintentional instance of place duplication (this [place](https://pleiades.stoa.org/places/40617124) duplicates this [place](https://pleiades.stoa.org/places/423077)). In attempting to check out a working copy and combine resources, I stumbled into some kind of error.
We’re sorry, but there seems to be an error…
Here is the full error message:

Display traceback as text

Traceback

[2021-05-06 16:27] paregorios commented on #451
This looks like a bad connection somewhere. I will investigate.

[2021-05-06 17:26] paregorios commented on #451
There are two connections inside the working copy (https://pleiades.stoa.org/places/copy_of_423077/folder_contents) that do not have connected places. That's causing an error to be thrown on various resources that try to calculate coordinates based on these connections. I'm looking at options for the least destructive fix.

[2021-05-06 17:45] paregorios commented on #451
This is fixed for this particular content item.

Here's what I think happened: two "connections" from the retracted duplicate place were copy+pasted into the working copy. Unfortunately, connections do not retain the target place ID when copy+pasted. So, these connections were unmoored from their targets. The `getConnectedPlaces` function in `PleiadesEntity.content.Named` doesn't protect itself fr

[2021-05-20 19:47] alecpm opened #452 "Apply security Hotfix"
New Hotfix is out:

https://github.com/isawnyu/isaw.web/issues/427

Will apply shortly.

[2021-05-21 08:04] alecpm commented on #452
Hotfix is applied

[2021-05-21 08:04] #452 closed, assigned to alecpm

[2021-10-04 14:10] paregorios opened #453 "Zotero imports are failing"
Steps to reproduce:

- Log in
- Create a new content item that supports "references" (place, name, location, connection) or edit an existing one.
- Navigate to "references" tab, add a new reference, paste a valid zotero URI (like https://www.zotero.org/groups/2533/items/MDVTXNTU) into the "bibliographic URI field, and click the "Fetch Zotero" button.
- A pop-up appears like this:

![Screen Shot 20

[2021-10-04 19:34] paregorios commented on #453
[code]

[2021-10-04 20:13] alecpm commented on #453
Should be working now. I installed an updated certifi package in the virtualenv. I still need to update the ansible scripts.

[2021-10-04 20:15] paregorios commented on #453
Confirmed working. Thanks @alecpm! Shall we leave this ticket open (priority downgraded) until the ansible scripts are updated?

[2021-10-04 20:15] alecpm commented on #453
Sounds good.

[2021-10-05 15:01] paregorios opened #454 "deploy ansible fix for big log files"
Some logfiles in the plone `var/log` directory are multiple gigabytes in size. @alecpm has already written ansible code to address this, but it hasn't been deployed yet.

[2021-10-05 19:19] alecpm commented on #454
@paregorios The fix was deployed yesterday along with the changes to the SSL libs. The logs should automatically rotate once they hit 50MB now.

[2021-10-05 19:50] #454 closed, assigned to alecpm

[2021-10-18 16:35] paregorios opened #455 "review/discuss Pleiades backup strategy"
I would like an offsite backup strategy and tooling for Pleiades content. What would be entailed?

[2021-10-18 19:18] paregorios opened #456 "review/discuss aws reservations/savings plans"

[2021-11-03 11:29] paregorios opened #457 "place_maker script doesn't handle multiple IDs for locations"
When there's more than one location in a place:

[code]

Ideal solution:
- Read location ID from input JSON file if present
- If not present in input file: generate and add numeric one-up final component if more than one item in list

This is blocking next step on Dura Europos imports

[2021-11-04 17:35] paregorios commented on #457
This is resolved with https://github.com/isawnyu/pleiades3-buildout/pull/7

[2021-11-04 17:35] #457 closed, assigned to paregorios

[2022-01-12 20:19] paregorios opened #458 "connection handling in place_maker script"
The placemaker script currently (and evidently successfully) caches IDs for places it creates during a given run so that it can make a second pass to create connections specified in the same run to those places; however, it does not handle properly a connection specification in the input that identifies a pre-existing place resource by place ID or by Pleiades place URI. It should do so. In fact, i

[2022-01-12 20:20] paregorios commented on #458
Now in work in branch `issue458`.

[2022-01-27 09:47] paregorios opened #459 "place_maker script does not include messages on content creation"
can invokeFactory take a comment like the workflow does in batch_update?

[2022-01-27 09:47] paregorios commented on #459
Now in work in pleiades3-buildout:issue459

[2022-01-27 09:54] paregorios opened #460 "place_maker script chops up multi-word subjects"
invoking the script at the command line with something like --tags='YDEA project' produces two separate subjects on the resulting content items, like `['YDEA', 'project']` instead of a single subject string like `['YDEA project']`. This is because of the [over-fancy argparse handling introduced here](https://github.com/isawnyu/pleiades3-buildout/commit/58c812601edd47dc73a55d4f1503930bfe0710dc#diff

[2022-01-27 10:00] #460 closed, assigned to paregorios

[2022-01-27 10:10] #458 closed, assigned to paregorios

[2022-01-27 10:26] paregorios commented on #459
https://stackoverflow.com/questions/26149860/include-change-note-when-creating-content-from-invokefactory

[2022-01-27 11:02] #459 closed, assigned to paregorios

[2022-01-27 11:09] paregorios commented on #445
This is done.

[2022-01-27 11:09] #445 closed, assigned to paregorios

[2022-02-02 14:54] paregorios opened #461 "manage workflow in batches"
Create a new script to manage workflow on existing items in batches.

[2022-02-02 14:56] paregorios commented on #461
Now in work in https://github.com/isawnyu/pleiades3-buildout/tree/issue461

[2022-02-04 23:13] skleinfeldt opened #462 "Minor security issue - update cache settings"
Update cache settings to prevent image_view_fullscreen cache poisoning:
https://community.plone.org/t/security-fix-for-image-view-fullscreen-cache-poisoning/14757

[2022-02-04 23:44] alecpm commented on #462
I've made the cache settings update on production.

[2022-02-04 23:44] #462 closed, assigned to alecpm

[2022-02-05 13:59] paregorios opened #463 "add "Create" and "Publish externally" events to history in JSON dumps: 3pts"
State transitions are not currently included in object histories written to JSON by [the pleiades-json package](https://github.com/isawnyu/pleiades-json/blob/master/pleiades/json/browser.py). It would be useful, especially for generating accurate and complete [human-readable monthly changelogs](https://atlantides.org/changelogs/), if object "Creation" and "Publish externally" events were included

[2022-02-05 14:14] paregorios opened #464 "add subheadings to Locations list on place view: 3pts"
As a Pleiades user viewing a place page with a web browser, I would like to see subheadings, based on `location type` in the "Locations" section of the place page.

As `location type` is a multi-valued field, the logic in the following deceptively pythonesque pseudocode should be applied in creating the labels and grouping the portions of the list (actual implementation should of course vary, but

[2022-02-05 14:33] paregorios opened #465 "newly created locations often do not show up on parent place map in a timely manner: 5pts"
This bug is a significant impediment to content creation, editing, and review.

Newly created locations **do** show up immediately on the map in the location view, but they do not always show up immediately on the parent place view. They do seem to **eventually** show up, but user experience indicates that the delay is somewhere between several hours and as much as several weeks. Sometimes they sh

[2022-02-05 14:35] paregorios commented on #465
I suspect that this problem is not occurring in [the map javascript](https://github.com/isawnyu/PleiadesEntity/blob/master/Products/PleiadesEntity/skins/PleiadesEntity/place_map.js), but rather has something to do with the location data consumed by the map javascript, which is packaged for consumption by code running somewhere in the plone.

[2022-02-05 14:41] paregorios opened #466 "show complex geometries on place and location maps instead of convex hulls: 5pts"
Currently, the maps shown on place and location pages display convex hulls around polyline and polygon geometries in locations, rather than the complete geometries themselves. These convex hulls are provided by code running in the plone when the javascript asks for the location geometries; they are not constructed by the map javascript itself.

As a viewer of a map on a pleiades place or location

[2022-02-06 00:21] paregorios opened #467 "optionally draw accuracy buffers around locations on place and location maps: 8pts"
As a user (authenticated or anonymous) viewing a place page in my browser, I will see a new option on the map on the page to toggle display of an "accuracy buffer" around all location geometries shown in the map. When active, this option causes [a convex hull](https://shapely.readthedocs.io/en/stable/manual.html#object.convex_hull) to be drawn around each location geometry at a notional distance e

[2022-02-06 13:35] paregorios opened #468 "stop overwriting non-empty "access URI" field on Zotero import: 2pts"
When importing data from Zotero into a "reference", the "access URI" field gets overwritten if there is content in the Zotero "url" field. That Zotero.url is normally the landing/title page of online resources that may have many subordinate pages. It is a manual task for the user who is creating the reference to paste in the specific access URI.  Many users' process involves filling in the "citati

[2022-02-06 14:07] paregorios opened #469 "unreliable reprPoint (centroid) recalculation: 5pts"
Given a place resource with a single, published location, upon retraction to drafting of the location, [one would expect recalculation of the "representative point" (centroid) on the basis of any connections](https://github.com/isawnyu/pleiades-geographer/blob/62d2772b9d34cec48881bffb630c4f1f34145643/pleiades/geographer/geo.py#L562). In the experience of editors, this does not happen reliably. The

[2022-02-08 20:44] paregorios opened #470 "bump deployed version of pleiades-dumps: 1pts"
In order to pick up and deploy a modest modification to the README for the CSV dumps: https://github.com/isawnyu/pleiades-dump/commit/50d589cf4d5c0e1d2366275973493c1b6760cfa4

[2022-02-15 16:58] rybesh opened #471 "foaf:primaryTopicOf should be foaf:isPrimaryTopicOf: 1pts"
Pleiades uses `foaf:primaryTopicOf` to link features to place concepts, but the actual name of the predicate is [`foaf:isPrimaryTopicOf`](http://xmlns.com/foaf/spec/#term_isPrimaryTopicOf).

[2022-03-04 22:56] alecpm commented on #453
I think this should be done now. The buildout is updated and running correctly. I've also updated to the latest 2021 certifi in the version pins.

[2022-03-07 18:44] #453 closed, assigned to nobody

[2022-03-07 20:25] paregorios opened #472 "CSV documentation error"
See https://github.com/isawnyu/pleiades-dump/issues/6 from @bmschmidt

[2022-03-08 17:11] paregorios commented on #469
A current example, which of course may disappear on its own, is https://pleiades.stoa.org/places/585129/. The sole published location was retracted this morning, and connections added. We would expect to see a new reprPoint calculated solely on the basis of the connections -- and indeed one can see that this has happened for the SEARCH MAP ONLY (see second screen capture below) -- but the place pa

[2022-03-21 14:07] paregorios commented on #471
code appears to be here: https://github.com/isawnyu/pleiades-rdf/blob/6d29a3d34b5615780d0810d78ef3b8eafea2f618/pleiades/rdf/common.py#L358

[2022-03-21 14:13] #359 closed, assigned to nobody

[2022-03-21 14:24] paregorios commented on #9
I have just reviewed and verified that steps taken previously in response to this ticket have eliminated trailing spaces in URIs (see also https://github.com/isawnyu/pleiades-rdf/issues/6). I am now investigating current status of the other problems detailed by @wouterbeek [above](https://github.com/isawnyu/pleiades-gazetteer/issues/9#issuecomment-529650576).

[2022-03-21 14:44] paregorios commented on #9
Our TTL files are still throwing errors when parsed with `rapper`, for example:

[code]

For this example, the data at line 77912 (reported in the rapper error) reads:

[code]

Indeed, unencoded curly braces can be seen in the URI, and these are unsafe URI characters. As discussed above, fully urlencoding all our URIs would render many helpfully readable URIs opaque. A better solution perhaps is t

[2022-03-21 15:00] paregorios commented on #9
Accordingly I offer the following reformulation of the problem statement:

**Description:** Unsafe characters occur in URIs in [Pleiades RDF/TTL exports](https://github.com/isawnyu/pleiades-rdf).

**Examples:**
[code]

**Recommended fix:** Either of the following options seems plausible:
- Selectively encode "unsafe" characters like ""{", "}", "|", " ", "^", "~", "[", "]", and "`" when they appear

[2022-03-21 15:05] #450 closed, assigned to alecpm

[2022-03-21 15:06] #439 closed, assigned to alecpm

[2022-03-21 15:06] #436 closed, assigned to paregorios

[2022-03-21 15:07] #435 closed, assigned to alecpm

[2022-03-21 15:07] #434 closed, assigned to nobody

[2022-03-21 15:17] paregorios commented on #320
Was this deployed?

[2022-03-21 16:26] paregorios commented on #414
Steps to reproduce:

1. As an authenticated Pleiades user, navigate to a place page and select the downward error on the "Add Location" button ...
![Screen Shot 2022-03-21 at 11 21 00 AM](https://user-images.githubusercontent.com/263285/159305091-9f9035bb-57e0-40c3-92d9-25cf28232a29.png)
2. ... which exposes the OSM import interface:
![Screen Shot 2022-03-21 at 11 22 34 AM](https://user-images.git

[2022-03-21 16:49] jessesnyder commented on #465
If not reproducible, ask @paregorios for help with this.

[2022-03-21 17:01] alecpm commented on #471
The incorrect spelling also appears in page metadata [here](https://github.com/isawnyu/pleiades-notredame/blob/ddd9ada347a7d8d0d836cc32a17bb6089a0273df/pleiades/notredame/browser/templates/rich_meta.pt#L60) and [here](https://github.com/isawnyu/PleiadesEntity/blob/bd7c2ee2629657f2ce3ac8e1d52ef5af0e412cac/Products/PleiadesEntity/skins/PleiadesEntity/place_view.pt#L15).

[2022-03-21 19:00] ryanfb commented on #320
With the instructions/link in the original comment, I still get a right-hand rule warning.

[2022-03-21 19:13] paregorios commented on #320
It looks like this might be the code, which has been merged to staging but has not been merged to master: https://github.com/isawnyu/pleiades-geographer/tree/features/righthandrule

[2022-03-21 22:15] paregorios commented on #464
It turns out that "locationType" is a multivalued list, rather than a single value, so a group-by approach ([like we use for names](https://github.com/isawnyu/PleiadesEntity/blob/master/Products/PleiadesEntity/browser/attestations.py#L290)) won't work.

[2022-03-22 16:34] silviot commented on #471
@alecpm The two instances you linked are `foaf:PrimaryTopic`, not `primaryTopicOf`. I'll double check the specs.

[2022-03-22 17:48] alecpm commented on #471
@silviot Oh right, I think that's OK then since `isPrimaryTopicOf` is the inverse reference for `PrimaryTopic`. Sorry.

[2022-03-22 17:59] silviot commented on #471
The foaf specs about [primaryTopic](http://xmlns.com/foaf/spec/#term_primaryTopic) and [isPrimaryTopicOf](http://xmlns.com/foaf/spec/#term_isPrimaryTopicOf) specify they should be used like this:
[code]
I'm not familiar with `foaf` enough to fully understand what `Document`s and `Thing`s are, in particular if a `Document` is also a `Thing` or not.
[Inspecting the source of a page](https://pleiades

[2022-03-22 18:00] paregorios opened #473 "conduct census of content types used in Pleiades"
We want to know what content types are included in the Pleiades production deployment and whether they are used. Put data here: https://docs.google.com/spreadsheets/d/1AIIByQdB0MIpMqrCe7WtMqswuCmwLqw-n2axXNR5xuM/edit#gid=0

[2022-03-22 18:06] paregorios commented on #471
I agree that fiddling with the `primaryTopic` stuff in the page template is outside the scope of this ticket.

The HTML page identified by a URI like `https://pleiades.stoa.org/places/91371094` is a `Document` ("information resource"). We use URIs like `https://pleiades.stoa.org/places/91371094#this` to refer to the real-world `Thing` (place = "non-information resource") described by the correspon

[2022-03-22 18:08] silviot commented on #471
@paregorios Makes sense. Thanks for clearing that out!

[2022-03-22 18:31] paregorios commented on #464
As a Pleiades user viewing a place page with a web browser, I would like to see subheadings, based on `location type` in the "Locations" section of the place page.

As `location type` is a multi-valued field, the logic in the following deceptively pythonesque pseudocode should be applied in creating the labels and grouping the portions of the list (actual implementation should of course vary, but

[2022-03-22 18:48] alecpm commented on #465
I think there are a couple of potential issues at play here.

One is aggressive caching of the JSON APIs on the Plone side, in particular aggressive caching headers for varnish, as well as a RAMCache. Another is additional caching headers set in apache that tells browsers to cache all JSON content for a day. I've updated the caching to be more reasonable in both Plone and varnish, only proxy cachi

[2022-03-22 18:52] paregorios commented on #464
Examples:

## [Tell Ras Budran](https://pleiades.stoa.org/places/555858016)

### Locations:
 - **Representative Locations:**
   - [OSM location of Tell Ras Budran](https://pleiades.stoa.org/places/555858016/osm-location-of-tell-ras-budran) (3000 BC - 2000 BC)

## [Nērebtum](https://pleiades.stoa.org/places/357565832)

### Locations:
- **Central Point:**
  - [Imagery location of Išẖālī](https://ple

[2022-03-22 18:56] alecpm commented on #465
@paregorios The changed caching settings appear to have resolved the issue on staging when there's already at least one published location:

http://pleiades.jazkarta.com/places/868552020/

Note that because the `bbox` is based on only the published location, the initial zoom level is initially too tight to see the second location. Maybe we should always set the zoom level based on the plotted loca

[2022-03-22 18:57] paregorios commented on #465
@alecpm agree that we should set the zoom level based on the plotted locations, rather than API `bbox`.

[2022-03-22 18:59] paregorios commented on #465
FWIW I think aggressive caching of the JSON resources both server-side and client-side was aimed at anonymous users, especially bots that don't behave politely (but also refresh-and-multi-tab-happy users).

[2022-03-22 19:05] alecpm commented on #465
The caching for anon-users and bots should essentially remain the same. The exception would be for the client side caching change, which might cause refresh happy users to fetch from the varnish cache more often, but not impact bots.

[2022-03-22 19:13] paregorios commented on #468
## Steps to reproduce the undesireable behavior:

1. Login to Pleiades.
2. Navigate to https://pleiades.stoa.org/places
3. Select "Add new ..." > "Place" from the grey, tertiary menu bar.
4. In the "Add Place" form, enter a Title like "Foo".
5. Select the "References" tab.
6. Select the "Add Reference" button.
7. In the "Citation Detail" textbox, enter "Strab. 6.2.2"
8. In the "Access URI" textbox

[2022-03-22 21:40] alecpm commented on #465
Deceased users seem to have an `email` address set to a value like `deceased nov 2003`. I propose we look for `deceased ` in the email and if we find it set the email to `testing@cmc.org` so there's a valid email, set the `deceased` flag to `True`, and set the username to use the default means of constructing it (first-last).

[2022-03-23 00:12] alecpm commented on #465
@paregorios This seems to be working well on staging now. See http://pleiades.jazkarta.com/places/868552020 for an example. So far adding, publishing, retracting, etc. locations all seem to result in immediate changes to the map on reload. You may need to clear your browser cache to get the latest map JS.

Once approved, I'll make the caching updates and production and also push the JS changes to

[2022-03-23 00:18] alecpm commented on #320
It definitely appears to be the case that the feature was not merged. When I ran the staging branch of Products.PleiadesEntity locally I got an `ImportError: cannot import name is_clockwise`. I'll take care of merging this work.

[2022-03-23 01:04] alecpm commented on #469
I thought I was seeing this on staging even after the caching changes, but that was because the staging branch of pleiades.geographer didn't have the latest changes to the `reprPoint` calculations merged and was only using the centroid of the most certain location for the calculation instead of using the centroid of multiple locations. Once I merged those changes to staging it seems like the cachi

[2022-03-23 01:21] alecpm commented on #320
I found relevant changes is `Products.PleiadesEntity`, `pleiades.geographer`, and `pleiades.json`, merged those to the respected masters, and updates the repo pins in the production buildout. This should be live on production now.

[2022-03-23 11:31] paregorios commented on #465
This seems to be working perfectly on staging.

[2022-03-23 11:31] paregorios commented on #469
This seems to be working well on staging.

[2022-03-23 12:13] paregorios commented on #320
Both bulk and individual serializations on production are now correct.

[2022-03-23 12:14] #320 closed, assigned to alecpm

[2022-03-23 13:02] silviot commented on #471
@paregorios The fix for this is now deployed to staging

[2022-03-23 13:02] silviot commented on #414
@paregorios The fix for this is now deployed to staging

[2022-03-23 14:24] paregorios commented on #471
## Staging Error

RDF serializations (both XML and TTL) on staging are throwing tracebacks like this:

[code]

## Steps to recreate:
1. Visit http://pleiades.jazkarta.com/places/462172
2. Under "Alternate representations", select [the link for "RDF+XML"](http://pleiades.jazkarta.com/places/462172/rdf)
3. Observe the traceback above.
4. Return to http://pleiades.jazkarta.com/places/462172
5. Under

[2022-03-23 14:29] paregorios commented on #414
@silviot this is working perfectly on staging. Marking "ready to deploy" to production.

[2022-03-23 14:32] silviot commented on #471
@paregorios I don't see the error in my local (`master` based) install nor I see anything in the traceback that hints at a connection with the work I did. I suspect we should reset the various `staging` branches to their respective `master`s before going on with testing on staging. @alecpm opinions?

[2022-03-23 14:46] paregorios commented on #471
hmm yeah there must be some other branch's changes to `pleiades-rdf/pleiades/rdf/common.py` lurking on staging because line 118 from the traceback points to a seemingly innocuous "else" directive in old code both in [@silviot's branch](https://github.com/isawnyu/pleiades-rdf/blame/story/471-isPrimaryTopicOf/pleiades/rdf/common.py#L118) and [master](https://github.com/isawnyu/pleiades-rdf/blame/mas

[2022-03-23 17:35] paregorios commented on #9
Problem examples (try the "turtle" serializations for these places):

- https://pleiades.stoa.org/places/116722325
- https://pleiades.stoa.org/places/403281

[2022-03-23 17:38] paregorios commented on #9
@jessesnyder The problematic URLs in those two examples are (respectively):
- `https://www.archaeopress.com/ArchaeopressShop/Public/displayProductDetail.asp?id={5B092BCB-89F4-4EA0-94FF-811F304B3B27}`
- `http://atlantides.org/bibliography/c.html#Ciampoltrini-G.-1994.-”Aspetti-dell’insediamento-etrusco-nella-valle-del-Serchio:-il-V-sec.-a.C.“-Studi-Etruschi-59.`

[2022-03-23 18:17] paregorios commented on #371
We never did the last bit, but we should: "Remove ATVocabularyManager from the Pleiades buildout. Hunt down and exterminate related cruft."

[2022-03-23 18:19] paregorios opened #474 "improve Pleiades settings UI"
The giant single HTML page of tables for managing all our vocabulary content is overwhelming and cumbersome. It would probably be better if we:

- put each of vocab on its own tab
- provide word-wrapping and scroll (or vertical auto-expand) within long cells

[2022-03-23 19:30] jessesnyder commented on #9
@paregorios Is it the case that in the following example, we'd want to encode _only_ the `{` and `}` characters, and not the "پارسی"?

[code]

[2022-03-23 19:35] paregorios commented on #9
@jessesnyder yes.

I made a little RDF/TTL file with only the curly braces encoded:

[code]

I ran it through `rapper`:

[code]

If `rapper` is happy, then I'm happy.

[2022-03-23 21:28] jessesnyder commented on #9
@paregorios A possible solution is deployed to the staging server.

[2022-03-23 22:08] paregorios commented on #9
@jessesnyder In trying to resolve the example URI `{STAGING}/places/116722325/turtle`, I got the same traceback I'm seeing when trying to test #471, [which I have documented here](https://github.com/isawnyu/pleiades-gazetteer/issues/471#issuecomment-1076437351).

[2022-03-24 00:18] alecpm commented on #471
I've merged all `master` changes from the various pacakges with `staging` branches into those `staging` branches. There was some funny business with a bad merge or something in `pleiades.rdf` staging, so I rebased it to bring it in line with master plus changes from @silviot and @jessesnyder. Now aside from the couple of outstanding changes from this iteration I'm not seeing any additional differe

[2022-03-24 00:24] alecpm commented on #471
That seems to have come from this commit by me in 2016:

https://github.com/isawnyu/pleiades-rdf/commit/5b65a2252d5b5dc7b51bf9dc2e93cc9c92719062

I'm not seeing any issues indicating what the intention of that commit was, but it was part of the following branches:

https://github.com/isawnyu/pleiades-rdf/compare/remove-ssl-sameas
https://github.com/isawnyu/pleiades-rdf/compare/profile-links

[2022-03-24 00:26] paregorios commented on #471
I think that work pre-dated our use of github issue trackers. There are also evident modifications to profiles to provide the corresponding ORCID and VIAF fields running on staging now.

[2022-03-24 00:29] paregorios commented on #471
@silviot this now looks ready to deploy

[2022-03-24 00:39] paregorios commented on #9
The two examples of individual files I’d given (403281 and 116722325) now test clean in rapper. I still need to review/test the full RDF/TTL export files.

[2022-03-24 01:08] jessesnyder commented on #9
@paregorios I don't know what URL you'd access the archive at, so I downloaded it from the  server:
[pleiades-20220323.tar.gz](https://github.com/isawnyu/pleiades-gazetteer/files/8337599/pleiades-20220323.tar.gz)

[2022-03-24 02:47] alecpm commented on #465
This is deployed. Because we've reduced RAM caching and some proxy/browser caching of API resources we should keep an eye on how CPU performance changes over the next couple of days. I don't expect any problems, but it would be good to know if there's a noticeable impact.

[2022-03-24 12:00] paregorios commented on #9
@jesssesnyder: could be the result of a tar packaging error or of a problem upstream with the generation script or the code it invokes:
 - expected to find a places-2.ttl file in the archive, but there's not one
 - files places-3.ttl through places-9.ttl are unexpectedly empty

[2022-03-24 12:06] paregorios commented on #465
This is working perfectly on production. I will close this ticket when I have the requested CPU performance monitoring and alerts in place.

[2022-03-24 12:07] paregorios commented on #471
This is working perfectly on production.

[2022-03-24 12:07] #471 closed, assigned to silviot

[2022-03-24 12:08] paregorios commented on #414
This is working perfectly on production.

[2022-03-24 12:08] #414 closed, assigned to silviot

[2022-03-24 12:25] paregorios commented on #469
This is working perfectly on production.

For future reference, the following behaviors are observed and appreciated:
- Adding locations in states other than published do not affect reprPoint calculations.
- Adding a new location to an existing, published place and publishing that new location causes an instant and correct update to the place's "representative point".
- Retracting a published loca

[2022-03-24 12:25] #469 closed, assigned to alecpm

[2022-03-24 14:41] silviot commented on #468
@paregorios The fix is deployed to staging.

[2022-03-24 17:38] jessesnyder opened #475 "RDF export error: capgrids ValueError"
Exception thrown while running weekly RDF export:

[code]

[2022-03-24 17:40] jessesnyder opened #476 "RDF export error: capgrids TypeError"
Exception thrown while running weekly RDF export:

[code]

Same error, different call site (line **538**):
[code]

[2022-03-24 17:44] paregorios commented on #9
We are getting close. All but one of the dump files test clean with `rapper`. The remaining (hopefully last?!?!) problem can be found in places-8.ttl, line 48206:

[code]

This reference URL occurs in [Pleiades place 834285 (Hippika? Ore)](http://pleiades.jazkarta.com/places/834285).

@jessesnyder I propose I fix this URI manually on staging and production (because it's a mess anyway and better ca

[2022-03-24 17:47] jessesnyder opened #477 "RDF export error: rdf.common.references()"
Exception thrown while running weekly RDF export:

[code]

[2022-03-24 17:50] paregorios commented on #9
A couple of tabs are sneaking through, so we should add TAB to the list of characters that we selectively URL-encode.

[2022-03-24 17:51] jessesnyder opened #478 "RDF export error: missing gridsquares"
Exception thrown while running weekly RDF export:

[code]

There are a number of these, caused by missing data.

[2022-03-24 17:52] jessesnyder opened #479 "RDF export error: capgrids SyntaxError"
Exception thrown while running weekly RDF export:

[code]

[2022-03-24 18:19] jessesnyder commented on #9
Tabs now escaped also, and tested successfully with `rapper`.

[2022-03-24 18:22] paregorios commented on #9
This is working perfectly on staging. Ready to deploy to production.

[2022-03-24 18:43] alecpm commented on #395
@paregorios Looks like an easy fix to the selection widget used on Connection, Location, and Name. It also looks like a few other fields on Name are missing the functionality: "Level of transcription completeness", "Accuracy of transcription", "Name type", and "Language". Should I update those as well?

[2022-03-24 18:52] paregorios commented on #395
@alecpm yes, please update all fields from which the functionality is missing.

[2022-03-24 19:03] jessesnyder commented on #476
Traced this error to inconsistent return values from `pleiades.capgrids.box()` depending on the input values.  Currently 3 of the "inset" maps defined in `pleiades.capgrids.maps.csv` have more than one set of bounding-box coordinates. For example, number 45:
45,"Tarentum",500,14.50,19.00,40.00,42.00,"a","I",1,4,**"[[15,41.5,16,42.5], [17.5, 39.5, 40.5, 19]]"**,"45 inset"

Compare this with number

[2022-03-24 19:08] alecpm commented on #395
@paregorios this fix is applied on staging. There is an interesting quirk though:

When the AT selection widget has 3 or fewer values it uses a radio widget by default, and with more than 3 it uses a select widget. Our custom version which filters hidden vocabulary items includes the hidden values in the count when determining the style of widget, so adding a new hidden item can change the widget

[2022-03-24 19:10] paregorios commented on #468
This is working perfectly on staging. Please deploy to production.

[2022-03-24 19:16] paregorios commented on #395
[Design guidance from M$ opines](https://docs.microsoft.com/en-us/windows/win32/uxguide/ctrl-radio-buttons) that for option count <= 7, one should use radio buttons, otherwise a drop-down or single-selection list.

@alecpm Is it practical and low-cost for us to renovate the AT selection widget behavior across Place, Name, Location, and Connection content types at this time as part of the work on t

[2022-03-24 19:19] alecpm commented on #395
If we want to simply say that specific fields on specific types will always be a radio (because we expect to have fewer than 7 values) or a select (because we expect to have more than 7 values), then this is a pretty trivial change. If we want to fix our custom widgets to automatically determine the input type based on the item count while factoring out the hidden items, that's a more extensive ch

[2022-03-24 19:20] paregorios commented on #395
ok @alecpm for fields governered by vocabularies that currently have <= 5 values, let's go with the trivial solution to make the field always be a radio. Do you need me to do the summing and reporting?

[2022-03-24 19:23] alecpm commented on #395
I can manage that.

[2022-03-24 19:33] alecpm commented on #395
I've updated the widget format to `radio` for "Association Certainty", "Attestation Confidence", "Name Accuracy", and "Name Completeness". The only other short vocab is "Location Type" but that's only used in a multi-select.

[2022-03-25 13:27] paregorios commented on #465
So far, no wild, out-of-band CPU increases, but possibly a bit higher in band over the last 24hours. We'll know more when we have a week's series of data since the change:

![cpu](https://user-images.githubusercontent.com/263285/160129239-354e6c3d-4c79-493b-95c7-c5aadbc31d52.jpg)

[2022-03-25 13:30] paregorios commented on #395
Sounds good. Let me know when this is ready for staging review.

[2022-03-25 13:48] skleinfeldt commented on #465
Are the spikes because of crawlers, or the nightly data dumps, or something else? Just curious...

[2022-03-25 14:11] paregorios commented on #465
Data dumps. Someday it might be worth looking at rolling these off to some
kind of spot instance and downsizing the main host.

On Fri, Mar 25, 2022 at 8:48 AM Sally Kleinfeldt ***@***.***>
wrote:

--
--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

pronouns: he

[2022-03-25 15:56] silviot commented on #464
@paregorios Deployed to staging for testing

[2022-03-25 16:34] alecpm commented on #395
@paregorios Sorry should have been clearer, but it's already live on staging.

[2022-03-25 17:33] paregorios commented on #395
@alecpm is it in-scope for this ticket to make this functionality work on:
- Connection form: "connection type" aka "relationship type" (currently fails: "connection" value should be hidden)

[2022-03-25 17:39] alecpm commented on #395
@paregorios I think so. The `FilteredSelectionWidget` is already being used on the `relationshipType` (`Connection type`) field on `Connection`, so there's another bug lurking here. I'll take a look.

[2022-03-25 17:49] paregorios commented on #464
Logic for the various subheadings seems to be working as desired on staging. Labels for those subheadings do not yet exactly match the text in [the examples above](https://github.com/isawnyu/pleiades-gazetteer/issues/464#issuecomment-1075513246). I note also [the suggestions made by @alecpm on the related PR](https://github.com/isawnyu/PleiadesEntity/pull/52#pullrequestreview-921900765); I think t

[2022-03-25 17:50] paregorios commented on #465
I propose we go ahead and close this ticket. If we do have CPU issues, those will show up in the course of regular monitoring and we can address with a new issue from there. Sound ok @alecpm ?

[2022-03-25 17:50] alecpm commented on #395
@paregorios Actually there's not really a bug here per se. The field default value is hardcoded to `connection` which is why it always appears in the vocabulary on the add form (it would go away on the edit from if you had selected another value). Is there some other value you'd like to use as a default? Should there not be a default?

While trying to track this down I ended up implementing your s

[2022-03-25 17:52] paregorios commented on #395
@alecpm if we can safely go to a state where there is no default for this widget, I would prefer that.

[2022-03-25 17:58] alecpm commented on #395
@paregorios It's about the specific field in this case rather than the widget more generally. In this case not having a default value would mean that the select would populate by default with the first value alphabetically (currently `at`). If that's not desirable, I could implicitly add an empty/None option to only this vocabulary, which would trigger a validation error when selected.

[2022-03-25 18:00] paregorios commented on #395
@alecpm thinking about the fact that this vocabulary may grow, I'd rather not have an arbitrary value appearing first in the list down the road. Honestly, "at" is a very good default value, so let's replace the current hard-coded default "connection" with a hard-coded default "at".

[2022-03-25 18:03] alecpm commented on #395
This fix is live on staging now.

[2022-03-25 18:05] paregorios commented on #395
This is working perfectly on staging. Please merge to master and deploy to production.

[2022-03-25 18:10] alecpm commented on #465
@paregorios sounds good.

[2022-03-25 18:10] #465 closed, assigned to alecpm

[2022-03-25 18:14] silviot commented on #464
@paregorios I fixed the problems pointed out by @alecpm and added `:` and `Location` that were missing from the subheading. Am I still missing something?

[2022-03-25 18:18] paregorios commented on #464
@silviot that's everything, thanks! This is now working perfectly on staging. Please move forward by merging for deployment.

[2022-03-25 20:18] paregorios opened #480 "place maps autozoom fails on places with inbound connections"
When the HTML page for a place with inbound connections renders in a browser, instead of zooming to a notional bounding box around the connected features, the map incorrectly zooms **out** to the maximum map extents. Examples:

- Rome: https://pleiades.stoa.org/places/423025
- Athens: https://pleiades.stoa.org/places/579885
- Asia Minor: https://pleiades.stoa.org/places/837
- Los Tocanos: https://

[2022-03-25 20:19] alecpm commented on #480
I think this is fixed on staging (you may need to clear your cache to refresh the js).

[2022-03-25 20:20] alecpm commented on #480
http://pleiades.jazkarta.com/places/423025

[2022-03-25 20:23] paregorios commented on #480
@alecpm this is fixed gloriously on staging. Please merge and deploy to production.

[2022-03-25 20:33] alecpm commented on #480
This is on production now, but Athens is still being a bit weird for presumably different reasons.

[2022-03-25 20:33] paregorios commented on #480
It took Athens a few minutes and a few refreshes on staging before it got its act together.

[2022-03-25 20:39] paregorios commented on #464
This is working perfectly on production.

[2022-03-25 20:39] #464 closed, assigned to silviot

[2022-03-25 21:38] paregorios commented on #480
All is well on production.

[2022-03-25 21:38] #480 closed, assigned to alecpm

[2022-03-25 21:39] paregorios commented on #9
Individual serializations on production are good. Will keep this open pending testing of complete export files after next daily dump script runs (tomorrow morning) and I have time to check it.

[2022-03-25 21:41] paregorios commented on #468
This is working perfectly on production.

[2022-03-25 21:41] #468 closed, assigned to silviot

[2022-03-25 21:46] paregorios commented on #395
this is working perfectly on production.

[2022-03-25 21:46] #395 closed, assigned to alecpm

[2022-03-27 12:32] paregorios commented on #9
This morning's bulk RDF export ran to completion and all place files parse error-free in `rapper`. This is done.

[2022-03-27 12:32] #9 closed

[2022-04-06 18:17] paregorios opened #481 "Pleiades place maps do not display geometries other than polygons and points: 3pts"
This is an omission in the JavaScript code for the maps: https://github.com/isawnyu/PleiadesEntity/blob/master/Products/PleiadesEntity/skins/PleiadesEntity/place_map.js#L280

[2022-04-07 19:57] paregorios opened #482 "some OSM relation imports silently produce empty MultiLineString geometry: 5pts"
## Steps to reproduce:

- Login to Pleiades
- Navigate to the place entry for the [*Alisina (river)](https://pleiades.stoa.org/places/118555)
- Select the drop-down arrow on the "Add Location" button to open the "Add OpenStreetMap Location" pop-up
- In the "Add OpenStreetMap Location" popup:
   - Select the "relation" radio button
   - Enter "2335018" in the "OSM Unique Identifier" text box
   - E

[2022-04-07 19:59] paregorios commented on #482
This also is currently happening with another OSM relation: https://www.openstreetmap.org/relation/28737 . Many other OSM relations work fine.

[2022-04-08 01:34] serviliusahala opened #483 "Pleiades error on check-in of working copy"
Checking in a working copy of this Pleiades [place](https://pleiades.stoa.org/places/118547) produced the following error:
Here is the full error message:

[Display traceback as text](https://pleiades.stoa.org/places/118547/error_log/getLogEntryAsText?id=1649381409.620.0697798865871)

Traceback (innermost last):

Module ZPublisher.Publish, line 138, in publish
Module ZPublisher.mapply, line 77, in

[2022-04-08 01:41] serviliusahala opened #484 "Error on publication of location resource"
A similar error to the previously reported issue - publishing location resource for this [place](https://pleiades.stoa.org/places/118583/) produces the following error:

Here is the full error message:

[Display traceback as text](https://pleiades.stoa.org/places/118583/error_log/getLogEntryAsText?id=1649382075.210.567444925057)

Traceback (innermost last):

Module ZPublisher.Publish, line 138, in

[2022-04-08 13:26] paregorios commented on #482
Another example: https://pleiades.stoa.org/places/118547/osm-location-of-the-modern-inn-river

[2022-04-08 13:27] paregorios commented on #483
Same problem as reported in #482 (some OSM relation imports silently produce empty MultiLineString geometry). Consolidating there.

[2022-04-08 13:27] #483 closed, assigned to nobody

[2022-04-08 13:29] paregorios commented on #482
And another: https://pleiades.stoa.org/places/118583/osm-location-of-modern-naab-river

[2022-04-08 13:29] paregorios commented on #484
Same problem as reported in https://github.com/isawnyu/pleiades-gazetteer/issues/482 (some OSM relation imports silently produce empty MultiLineString geometry). Consolidating there.

[2022-04-08 13:29] #484 closed, assigned to nobody

[2022-04-08 13:34] paregorios commented on #482
@serviliusahala any location that's imported from an OSM Relation right now is suspect. Before submitting (or in these cases publishing or checking-in) please eyeball the "Geometry and Coordinates" field in the Location view. If you see `"coordinates": []` as in the image below, please don't proceed. In fact, send back to "drafting" and then put a link to the pleiades location in a comment on this

[2022-04-20 17:35] paregorios commented on #482
Another one: https://pleiades.stoa.org/places/857166/karadere

[2022-04-25 13:57] paregorios commented on #481
Desired behavior:

Javascript for maps on the place view should display any and all geometry types found in our locations:

- [x] Point
- [x] LineString
- [x] Polygon
- [x] Multilinestring

Add support for LineString and MultilineString

[2022-04-25 14:11] paregorios commented on #482
I note that MultiLineString is not a supported type in our place maps (see #481).

[2022-04-25 21:36] jessesnyder commented on #466
@paregorios Sorry for only asking this now: do you have an example Place where this is evident?

[2022-04-25 21:40] paregorios commented on #466
Example:

Consider the Meander river: https://pleiades.stoa.org/places/599777

The map shows a big, honkin' polygon:
![Screen Shot 2022-04-25 at 4 39 09 PM](https://user-images.githubusercontent.com/263285/165179533-8ad32cea-337d-4f01-a3c8-918d3d8fcefa.png)

But lurking inside the subordinate location [OSM Location of the modern Maeander river basin](https://pleiades.stoa.org/places/599777/osm-loc

[2022-04-26 00:09] jessesnyder commented on #466
Looks like I'm now butting up against #481:
![Maeander__river___a_Pleiades_place_resource](https://user-images.githubusercontent.com/63560/165194067-a88e810e-3a56-46bb-bb85-d40e863d2e4c.png)

[2022-04-26 01:40] alecpm commented on #466
Yup.

[2022-04-26 03:16] alecpm commented on #481
You'll probably need to clear your cache, but LineString geometries should render on staging now. They seem a bit subtle with the shade of blue it's currently using so color suggestions would be appreciated.

I believe MultiLineString geometries should also work, but currently they are converted into Polygon geometries on the server side (see #466).

[2022-04-26 03:19] alecpm commented on #466
@jessesnyder If you want to try my fix see isawnyu/PleiadesEntity#53

[2022-04-26 13:50] paregorios commented on #481
Some test linestrings:

- Single two-point linestring:
   - Pont du Gard: `/places/149496`
   - Aqueduct (Mérida): `/places/256708`
- Single multi-point linestring:
   - Atlas Montes ridgeline: `/places/846`
   - Portus Lemanis: `/places/79647`
- Multiple locations, each containing a linestring:
   - Roman Bridge at Albertville: `/places/169140`
   - Walls of Caerwent (Venta Silurum): `/places/122

[2022-04-26 13:51] paregorios commented on #466
Various examples of LineStrings and MultiLineStrings: https://github.com/isawnyu/pleiades-gazetteer/issues/481#issuecomment-1109823682

[2022-04-26 13:52] paregorios commented on #482
If it's useful to be able to compare OSM relations that were successfully imported as MultiLinestrings to these failing ones, see the final entries in the list here: https://github.com/isawnyu/pleiades-gazetteer/issues/481#issuecomment-1109823682

[2022-04-26 15:42] silviot commented on #482
The current code fails to extract meaningful information from this XML document: https://www.openstreetmap.org/api/0.6/relation/2335018/full

It's looking for a `<member type="way" role="main_stream">` but can't find one, hence the empty `MultiLineString`.
There's a condition in the code that adds the `role` requirement only for waterways:

[code]

Removing that condition would probably fix the pr

[2022-04-26 16:13] paregorios commented on #482
Aha! @silviot rather than removing the condition entirely, could we give it a fallback? Pseudocode:

[code]

Stuff I looked at other than the XML file you included:

- https://wiki.openstreetmap.org/wiki/Rivers
- https://help.openstreetmap.org/questions/22364/riverbank-to-relation

[2022-04-26 16:20] paregorios commented on #481
Yes, I can see the linestrings on the maps! As to color, I see what you're saying about contrast. The challenge is we have color-coding trying to happen here: orange for "representative point", blue for "location geometry", and green for "connection representative point". If we switch to red, we would need to change that for all location geometries, not just the lines.

[2022-04-26 16:28] alecpm commented on #481
@paregorios That makes sense, let me know if you'd like to play with a different color for the location geometries. Otherwise I think this is ready apart from needing better handling of MultiLineString geometries via #466.

[2022-04-26 16:30] paregorios commented on #481
A quick color experiment ... also, I wonder if it's possible to increase the stroke width by a pixel. That might help alot.

![color_options](https://user-images.githubusercontent.com/263285/165348455-99bb5bad-3b27-4e86-8135-a349243b9d00.png)

[2022-04-26 16:31] silviot commented on #482
@paregorios The pseudocode is super helpful. Thanks! Can you provide example ids for the three cases the code needs to deal with?

[2022-04-26 22:46] paregorios commented on #482
Examples:

- OSM relation with `@role="main_stream"`: https://www.openstreetmap.org/api/0.6/relation/2573905/full
- OSM relation lacking `@role="main_stream"` but possessing `<tag k="waterway" v="river">`: https://www.openstreetmap.org/api/0.6/relation/2335018/full

I can't easily find an example of the third case I listed above (the "otherwise" in my pseudocode). Perhaps instead of trying to use

[2022-04-27 10:42] silviot commented on #482
@paregorios The fix is now deployed on staging

[2022-04-27 16:03] paregorios commented on #482
@silviot this is working great! I even managed to provoke the error I requested in the "otherwise" discussion above. It was created by this lovely beastie: https://www.openstreetmap.org/api/0.6/relation/14059404/full, wherein we find a mix of nodes with `<tag k="waterway" v="river">` and `<tag k="waterway" v="stream">`. How hard would it be to modify code to accept several different values for the

[2022-04-27 16:04] paregorios commented on #481
Let's leave color as it is for now, since changing the point symbols to match would require changes to our MapBox style definition. I'm happy for this to be deployed to production.

[2022-04-27 16:59] silviot commented on #482
@paregorios Currently we're checking which `<way>`s to include by looking into the `<relation>` tag. [The item you mention](https://www.openstreetmap.org/api/0.6/relation/14059404/full) has this one:

[code]

If I understand correctly we should look into the linked `<way>`s when we can't find a `<tag>` with  `k="waterway"`. If the linked `<way>` contains a `<tag k="waterway" v="A_WHITELISTED_VALUE

[2022-04-27 17:05] paregorios commented on #482
@silviot yes I think so

[2022-04-27 22:26] alecpm commented on #481
This is live on production.

[2022-04-27 22:27] alecpm commented on #466
I've merged @jessesnyder's branch to staging for testing.

[2022-04-27 22:29] alecpm commented on #466
It's looking good here:

http://pleiades.jazkarta.com/places/599777
http://pleiades.jazkarta.com/places/599777/osm-location-of-the-modern-maeander-river-basin

[2022-04-27 22:41] alecpm commented on #466
Looks like the location map may still be treating these as some kind of polygon when rendering them. Probably some style tweak is needed in `location_map.js`.

[2022-04-27 22:43] paregorios commented on #466
@alecpm that didn't seem to be the case for the Maeander example [you posted above](https://github.com/isawnyu/pleiades-gazetteer/issues/466#issuecomment-1111542185). Or am I confused?

[2022-04-27 22:44] alecpm commented on #466
@paregorios you can see it if you zoom in close on the map at the location link. There are some light blue triangular areas linking various points for some reason.

[2022-04-27 22:46] paregorios commented on #466
Ah, yes:
![Screen Shot 2022-04-27 at 5 46 06 PM](https://user-images.githubusercontent.com/263285/165643593-a8d5c9a3-04c6-4b4f-887d-51bcd0675292.png)

[2022-04-27 22:58] paregorios commented on #481
I'm still seeing a polygon here: https://pleiades.stoa.org/places/846

[2022-04-27 22:59] paregorios commented on #481
And this: https://pleiades.stoa.org//places/122572946

[2022-04-27 23:00] alecpm commented on #481
@paregorios I think that's expected for everything except two point LineStrings until the fix for #466 is deployed.

[2022-04-27 23:01] paregorios commented on #481
ah, ok

[2022-04-27 23:02] alecpm commented on #481
See, e.g. http://pleiades.jazkarta.com/places/122572946 and http://pleiades.jazkarta.com/places/846

[2022-04-27 23:19] paregorios commented on #481
Working as intended on production. See #466 for additional functionality around multilinestrings etc.

[2022-04-27 23:19] #481 closed, assigned to alecpm

[2022-04-27 23:20] paregorios commented on #466
@jessesnyder I'm moving this into "needs work" in the project so we can try to address the polygon-like behaviors of some of these. OK?

[2022-04-27 23:39] alecpm commented on #466
@jessesnyder I think this is just a matter of changing this [`style`](https://github.com/isawnyu/PleiadesEntity/blob/770bccd139b74d945263865aa4ab419ed1d17ab0/Products/PleiadesEntity/skins/PleiadesEntity/location_map.js#L157) function to return different Leaflet styles for different feature types (e.g. omit `fill...` properties for `LineString` and `MultiLineString`).

[2022-04-28 00:08] jessesnyder commented on #466
I've made this change and it works locally. I've merged again to the staging branch, but am unable to ssh into the server. Maybe my IP changed? I'm currently at 216.160.64.51

[2022-04-28 00:11] alecpm commented on #466
@paregorios @jessesnyder Looking good after updating and shift-reloading.

[2022-04-28 00:14] paregorios commented on #466
Beauty!

[2022-04-28 00:17] paregorios commented on #466
All my examples now look good on staging.

[2022-04-28 00:18] paregorios commented on #466
@jessesnyder @alecpm if you guys think this is ready, I do ... let's merge and deploy to production

[2022-04-28 08:34] silviot commented on #482
@paregorios The new logic is now on staging.

[2022-04-28 12:09] paregorios commented on #482
This is working perfectly on staging for all known test cases. Let's merge and deploy to production please.

[2022-04-28 18:39] #466 closed, assigned to jessesnyder

[2022-04-28 19:26] paregorios commented on #482
This is working perfectly on production and I have successfully reimported and published locations for all the ones that had problems previously and were annotated above.

[2022-04-28 19:26] #482 closed, assigned to silviot

[2022-04-28 20:31] paregorios opened #485 "import of non-river OSM relations is broken on production by today's river-relations bugfix"
It looks like our feature enhancement for the import of some river-related relations  (#482) has broken our ability to import other non-river relations (i.e., multipolygon and boundary relations), resulting in this error message:

[code]

[This relation](https://www.openstreetmap.org/relation/5640261), which contains `<tag k="type" v="multipolygon"/>` would have been imported by our old code, but

[2022-04-28 21:27] paregorios commented on #485
## Tests, including for regression:

### One time: Create a test place to serve as context for each imported Location from OSM

1. Login to Pleiades
2. Navigate to `/places`
3. On the grey, tertiary menu bar, select "Add new ..." > "Place"
4. On the "Add Place" enter a title of your choosing, like "Super Foobar", then scroll down and select the "Save" button.
5. Make a note of the URI of the new p

[2022-04-28 22:49] paregorios commented on #485
Victory! My heartfelt thanks to all.

[2022-04-28 22:49] #485 closed, assigned to nobody

[2022-06-06 21:07] paregorios opened #486 "place diff throws traceback"
Not only does the diff between working copy and baseline not give us useful information, sometimes it just implodes. For example:

[code]

[2022-07-22 10:45] paregorios commented on #344
This has happened again:

https://pleiades.stoa.org/places/1101

[code]

What I did:

- Checked in working copy of the place to pick up new changes.
- Navigated to "pleiades settings" and added new connection type "related"
- Added [new connection](https://pleiades.stoa.org/places/1101/lusitani/) through the web to the place, connected it to another place, saved it
- Navigated back to the parent p

[2022-08-01 17:37] paregorios commented on #344
And now we have another one: https://pleiades.stoa.org/places/79340

[2022-08-01 18:13] alecpm commented on #344
@paregorios Yeah, there's a module level variable being used as a cache for a vocabulary [here](https://github.com/isawnyu/PleiadesEntity/blob/c412146faa9a290ec8245ae75956bbbadaff7bc3/Products/PleiadesEntity/browser/attestations.py#L453). It's a pretty easy fix to remove that and just do the vocabulary lookup. There's likely a performance penalty for doing so (which is probably why this cache was

[2022-08-30 21:54] paregorios opened #487 "add a "location_maker" script to the buildout"
Create locations in bulk from JSON. Model on `place_maker.py`. The script exists and is ready for code review (see PR linked below).

[2022-09-09 17:05] paregorios commented on #463
The JSON already provides, outside the "history" list, a "creation" key with a datetime, and that's sufficient for object creation. But the "publish" workflow transition is completely missing; it should be added to the "history" for each object, so that it looks like this:

[code]

[2022-09-09 17:06] paregorios commented on #463
The value for "modifiedBy" of course should be the userid of whoever the actor was that published the item.

[2022-10-31 19:40] #443 closed, assigned to paregorios

[2022-10-31 19:41] #228 closed, assigned to atomrab

[2022-10-31 19:42] #50 closed

[2022-10-31 19:43] #38 closed

[2022-10-31 19:43] #39 closed

[2022-10-31 19:43] #40 closed

[2022-10-31 19:43] #42 closed

[2022-10-31 19:43] #43 closed

[2022-10-31 19:43] #45 closed

[2022-10-31 19:43] #46 closed

[2022-10-31 19:43] #48 closed

[2022-10-31 19:43] #288 closed, assigned to nobody

[2022-10-31 20:46] paregorios commented on #303
I haven't observed this behavior recently.

[2022-10-31 20:46] #303 closed, assigned to paregorios

[2022-10-31 20:47] paregorios commented on #299
I have not been able to reproduce this behavior recently, and there have been significant code changes since this ticket was posted, so closing as "magically auto-fixed".

[2022-10-31 20:47] #299 closed, assigned to paregorios

[2022-10-31 20:55] #451 closed, assigned to nobody

[2022-10-31 20:56] paregorios commented on #432
It looks like we're starting to see proliferation in OSM of relations of type "site" for archaeological sites (and possibly other things). 8481114 is an example of this and I know I've seen others in the last few days.

[2022-10-31 21:01] paregorios commented on #432
[We currently support](https://github.com/isawnyu/PleiadesEntity/blob/c412146faa9a290ec8245ae75956bbbadaff7bc3/Products/PleiadesEntity/browser/osm.py#L92) import attempts on relations of types 'multipolygon', 'waterway', 'watershed', and 'boundary' so the error message is indeed out of date and should be updated to be dynamic instead of static. So, this ticket needs to do two things: correct that

[2022-11-07 16:09] paregorios opened #488 "review/reset/redeploy isaw1staging and associated repos branches to match what is currently running on isaw (production)"
to include copying zope db and blob storage from production to staging

[2022-11-07 23:09] alecpm commented on #344
@paregorios The fix for this is up on staging for review.

[2022-11-07 23:19] paregorios commented on #344
@alecpm this works great on staging! Please move forward with merging and deployment.

[2022-11-08 00:18] alecpm commented on #344
Should be live on production now.

[2022-11-08 16:22] #488 closed, assigned to alecpm

[2022-11-08 16:25] paregorios commented on #344
Works on production!

[2022-11-08 16:25] #344 closed, assigned to alecpm

[2022-11-08 21:52] paregorios commented on #470
@alecpm @jessesnyder post-deployment I expect to see this at https://atlantides.org/downloads/pleiades/dumps/README.txt but the new version is not there

[2022-11-08 22:55] jessesnyder commented on #463
@paregorios I think I've patched something together. Here's an example of a resulting history list for a single `Place`:

[code]

Look right (and is the order [most recent first] as desired?)

[2022-11-09 00:17] jessesnyder commented on #463
Made some more refinements so events that happen in the same second are sorted properly. Here's a sample of the first 100 Places:

[pleiades-places.json.zip](https://github.com/isawnyu/pleiades-gazetteer/files/9966156/pleiades-places.json.zip)

[2022-11-09 16:27] paregorios commented on #463
@jessesnyder this looks great to me. I'm ready to see it merged to master and deployed to production.

[2022-11-09 18:13] jessesnyder commented on #470
It's definitely merged:
https://github.com/isawnyu/pleiades3-buildout/commit/a42585ec7750646034ce75225fc3f67e7be44a3e

I'm not sure what's going on. Maybe deployment doesn't overwrite which commit is checked out for some reason? I'm going to have to punt this to @alecpm.

[2022-11-10 16:23] #487 closed, assigned to jessesnyder

[2022-11-10 16:25] paregorios commented on #470
@alecpm I'm still seeing the old version of the README.txt file at https://atlantides.org/downloads/pleiades/dumps/README.txt as of this morning

[2022-11-10 23:29] #455 closed, assigned to alecpm, paregorios

[2022-11-11 01:32] alecpm commented on #470
@paregorios That url links to the file [here](https://github.com/isawnyu/pleiades-dump/blob/master/README.rst) rather than the updated one [here](https://github.com/isawnyu/pleiades-dump/blob/master/docs/README.txt). I can change the symbolic link at `/var/www/atlantides.org/downloads/pleiades/dumps/README.txt` or we can update the README at the root (or turn it into a symlink).

[2022-11-11 12:13] paregorios commented on #463
@jessesnyder @alecpm is there a problem that is holding up deployment of this functionality to production?

[2022-11-11 16:43] jessesnyder commented on #157
I have learned that they are sorted by the Title() of the Place you're looking at, which in this case is of course the same for every connection. I suspect there's some other context where this listing generation is used where the sort makes sense (at least I'm _afraid_ that could be true).

I'll try to make a revised sort that's scoped to this context.

[2022-11-11 18:41] paregorios commented on #470
@alecpm I would prefer that we change the symbolic link at /var/www/atlantides.org/downloads/pleiades/dumps/README.txt

so that, instead of

[code]

we have

[code]

Does ansible create this symbolic link or something else?

[2022-11-11 20:08] alecpm commented on #470
@paregorios is there a reason to have two similar READMEs in the repo? Perhaps we could make the one at the root (useful for GitHub purposes) a symlink to the one in docs also?

[2022-11-11 20:13] paregorios commented on #470
@alecpm see now https://github.com/isawnyu/pleiades-dump/pull/7

[2022-11-11 20:47] alecpm commented on #470
Should be updated.

[2022-11-14 21:05] paregorios commented on #470
Looks good!

[2022-11-14 21:05] #470 closed, assigned to jessesnyder

[2022-11-14 21:05] paregorios commented on #463
This seems to be running perfectly on production now.

[2022-11-14 21:05] #463 closed, assigned to jessesnyder