[2015-05-12 17:40] paregorios opened #1 "Make it easy for users to find own items in drafting state"
Right now there's no easy way, short of either keeping an external list of bookmarks or using advanced search to get back to items you were working on in an earlier session. This sounds like a job for something on the dashboard.

[2015-05-14 16:48] paregorios opened #2 "CAT Links Return 404"
The website for Current Archaeology in Turkey has evidently been redesigned without the use of redirects. Therefore, every link we previously made to CAT returns a 404. So, for example, we link to http://www.une.edu.au/cat/sites/antandros.php, which returns a 404. The new URL for the same article is http://www.une.edu.au/[…]/antandros

Migrated from http://pleiades.stoa.org/docs/site-issue-tracker

[2015-05-14 16:52] paregorios opened #3 "Connections missing in CSV export"
Working with the CSV exports to walk the graph of connections, I noticed a suspicious absence of connections for Hadrian's Wall. The offending line in pleiades-places-latest.csv on 8/11/14 is attached as a single line CSV with headers for ease of debugging.

Meanwhile, http://pleiades.stoa.org/places/91358 has a large number of connections. Perhaps a limit somewhere in the export is being hit, cau

[2015-05-14 16:53] paregorios opened #4 "Connections in inconsistent state"
Discovered working with the CSV dumps, there are some places which have invalid/temporary id's in the "hasConnectionsWith" field:

628924: 619114,874303,628932,copy_of_874316
599777: copy_of_599799,599987,599799,638748
550406: 109376212,713587306,550597,586367305,copy_of_550404,733481546,276639809,20684053,550823,596969470
91357: 458085759,89148,89246,89309,place.2013-03-02.3711045485,89171,89138,

[2015-05-14 16:54] paregorios commented on #4
Added by @ryanfb on Aug 11, 2014 02:55 PM
There's also a potentially-related variant of this, which is connections that point to other non-existent places. For example, http://pleiades.stoa.org/places/275577 (Abila M.) and http://pleiades.stoa.org/places/256198 (Herakleios Porthmos/Gaditanum Fretum) both have connections with 733985672, which has no entry in the places CSV dump but http://pleiades

[2015-05-14 16:55] paregorios opened #5 "Privacy document needs update"
See http://pleiades.stoa.org/docs/policies/privacy ... we are no longer using google maps API. The entire document should be reviewed for currency and completeness.

Migrated from http://pleiades.stoa.org/docs/site-issue-tracker/67

[2015-05-14 16:58] paregorios opened #6 "Certain reference URLs don't show in edit view of checked out copies"
I've noticed this mostly with links that point into http://atlantides.org/bibliography/ e.g. http://atlantides.org/[…]/r.html#RE-%5BSesterrio%5D.
Steps to reproduce:
-check out a place resource
-verify that link is there in "view"
-go to "edit"
-go to "references"
-notice that "reference identifier" is blank
![lsdhlerab_-v](https://cloud.githubusercontent.com/assets/263285/7637021/88661d1a-fa30-11

[2015-05-14 17:02] paregorios opened #7 "unpublished locations leaking into extent/replatlon in dumps?"
tcarlson reports: There is another odd discrepancy between what I see on Pleiades and the data dump: Sozopolis (638758) has two locations (one from DARMC, one from DARE), yet the "extent" field in the data dump describes a triangle (admittedly a very flat triangle) with third point not located on the line which goes through the other locations. The reprLatLong is then the average of these three po

[2015-05-14 17:04] paregorios opened #8 "names not correctly located in search result maps"
spotted by jsosin:

When more than one string-identical name (each from a different place) appears in a search result set, all of those names are mapped at the location of the first name appearing. Places in parentheses have the same problem. Individual place entries in the result set (even if these are the same appearing in parentheses after names) appear where they should.
Steps to reproduce:
[c

[2015-05-14 17:04] paregorios commented on #8
Migrated from http://pleiades.stoa.org/docs/site-issue-tracker/61

[2015-05-14 17:05] paregorios opened #9 "ensure URIs in TTL export files are valid and well-formed: 3pts"
@ryanfb reports:

working with pleiades RDF dumps I get some issues with URL's in the ttl files not being URL-encoded that winds up needing hand-fixing before parsing in some things…e.g. angle brackets, square brackets, percent signs, etc. not being %-escaped

https://gist.github.com/ryanfb/6796a5e2d77a4c1423b4 for specific instances

Steps to reproduce:
current flow encountering them is using jen

[2015-05-14 17:06] paregorios commented on #9
Added by @ryanfb on Oct 25, 2013 04:44 PM
It looks like rdflib (which looks to be what pleiades-rdf uses to serialize to turtle) expects URLs/URIs to be escaped before being passed in to the URIRef constructor: https://github.com/RDFLib/rdflib/issues/263

[2015-05-14 17:06] paregorios commented on #9
Added by @ryanfb on Oct 31, 2013 10:42 AM
Diff of changes made to load/convert places in Jena rdfcat in one RDF dump snapshot: https://gist.github.com/ryanfb/18d7fa31d7561791ceb2

[2015-05-14 17:07] paregorios commented on #9
Added by @paregorios on Oct 31, 2013 10:49 AM
data fix in place for: https://gist.github.com/rya[…]eiades-uri-escape-patch-L47

[2015-05-14 17:07] paregorios commented on #9
Added by @paregorios on Oct 31, 2013 10:53 AM
data fix in place for: https://gist.github.com/rya[…]eiades-uri-escape-patch-L56

[2015-05-14 17:09] paregorios opened #10 "More problems with representative points"
I noticed that the representative point for http://pleiades.stoa.org/places/857018/ is in the Black Sea, a good distance away from the locations provided. This is from the nightly .csv dumps
Steps to reproduce:
SImply download the nightly .csv dumps and locate the coordinates for the place

Migrated from http://pleiades.stoa.org/docs/site-issue-tracker/59, where it was originally opened by @rmhorn

[2015-05-14 17:12] paregorios opened #11 "Problem with Representative Points"
I just noticed a very large problem with at least one (but there may be more) place coordinates in the pleiades-places-latest.csv dump.

The issue I noticed is with Pergamon / Bergama, ID# 550812. Although the place shows up just fine in the main Pleiades interface ( http://pleiades.stoa.org/places/550812 ), the coordinates for the representative point are way off in the .csv file, reading 38.5788

[2015-05-14 17:14] paregorios opened #12 "draft content contributors credited on parent"
I have found at least one case in which a location has been added to an existing place by a user and left in drafting state, but that user's name incorrectly appears in the "contributors" list for the parent place. On the credits page, the user (incorrectly) gets contributor credit for the affected place, but (correctly) not for the location, which is still in drafting. I see no evidence in the ed

[2015-05-14 17:17] paregorios opened #13 "add "suggested citation" functionality to UI for locations?"
arabinowitz writes: "there's a suggested citation for places, with the various authors, but is it worth providing a suggested citation for locations as well?"

[2015-05-14 17:17] paregorios commented on #13
Migrated from http://pleiades.stoa.org/docs/site-issue-tracker/52

[2015-05-14 17:18] paregorios opened #14 "Show drafting-state locations and names on Place pages"
To head off duplication of effort, we'll surface information about drafting-state content subordinate to a Place, but not allow traversal to the content itself.

This may be accomplished with little more than a little bit of permission tweaking.

Migrated from http://pleiades.stoa.org/docs/site-issue-tracker/44, where it was originally opened by @sgillies

[2015-05-14 17:20] paregorios opened #15 "Time periods appearing in pick lists but not vocab page"
"Foo" and "Test" time periods show (for me) in the select list when editing a location, but not in http://pleiades.stoa.org/vocabularies/time-periods/view. It's confusing and a sure sign of other trouble.

Migrated from http://pleiades.stoa.org/docs/site-issue-tracker/36, where it was originally opened by @sgillies

[2015-05-14 17:26] paregorios opened #16 "Comments interfere with cutting and pasting content"
In resolving the duplication in places 511141 and 550420, I copied 550420 to /errata and replaced it with a link. We seem to have a plone.app.discussion bug in which the comment on 550420 was not moved to /errata/550420 along with it. The consequence is that the new Link object at /places/550420 couldn't be published until I went into the catalog and removed the orphaned discussion entries.

Migra

[2015-05-14 17:32] paregorios opened #17 "OSM location import/create barfs (non-roman chars in title?)"
Tried to add location based on OSM Way 212107109
(see http://www.openstreetmap.org/browse/way/212107109)
location gets created but title defaults to node number, coordinates are incorrect, and nothing else gets filled in (i.e., same symptoms as our earlier problem).
I wonder if somethings barfing on a unicode string and so the import fails?
OSM title is Тракийска гробница - оригинал

here's the dr

[2015-05-14 17:32] paregorios commented on #17
Added by @paregorios on Oct 25, 2013 04:30 PM
worked fine earlier today with greek characters in OSM title

[2015-05-14 17:34] paregorios opened #18 "Users are unable to delete their drafting-state Locations and Names"
The issue is that Plone uses a single permission to guard both whether you can can call a method of the parent object to delete content and whether this method can delete the particular child content object. We can't usefully widen the roles for the "delete object" permission without opening the place objects themselves up to deletion.

Solution: add a new "PleiadesEntity: Remove Child Object" per

[2015-05-14 17:38] paregorios opened #19 "A dedicated maintenance Plone instance is needed for catalog rebuilds, etc"
The problem: our site's catalog is too big to be rebuilt or even partially reindexed while the site is in production. It takes hours and the transaction size is very big and will almost certainly conflict with user transactions.

The solution: we need a completely separate Plone instance, one not upstream from the Pleiades load balancer, to which we'll copy the production Data.fs for maintenance (

[2015-05-14 17:39] paregorios opened #20 "Get credits page (and other pages) under version control"
Productize these pages ASAP. This is a precarious position to be in.

Migrated from http://pleiades.stoa.org/docs/site-issue-tracker/20, where it was originally opened by @sgillies.

[2015-05-14 17:40] paregorios opened #21 "provide a help doc about "errata""
we have an errata folder; some users have been confused upon arriving there, so a help document explaining it in more detail than the present description would be nice to have

migrated from http://pleiades.stoa.org/docs/site-issue-tracker/18, where it was originally opened by @paregorios.

[2015-05-14 17:41] paregorios opened #22 "harmonize "home" page"
There's a bit of cognitive dissonance between the "about" link we use on the splash page and the "home" moniker we use for it in the menu tabs throughout the plonish site. We should consider what might be done to better harmonize these usages and protect users from the potential for confusion and frustration.

Migrated from http://pleiades.stoa.org/docs/site-issue-tracker/17, where it was original

[2015-05-14 17:43] paregorios opened #23 "Surface Association Certainty on Place Pages"
It would be very helpful to users if we had some textual or graphical way to surface, on the place page, any "association certainty" values other than "certain" alongside the contained locations and names to which they apply. Perhaps something as simple as prefixing a question mark (?) to the title (with a space between) would be enough to alert people that there's some hesitation or issue surroun

[2015-05-14 17:43] paregorios commented on #23
Migrated from http://pleiades.stoa.org/docs/site-issue-tracker/13, where it was originally opened by @paregorios.

[2015-05-14 17:45] paregorios opened #24 "Change Place type label on Add Place page"
With the change in nomenclature of Place Types to Place Categories (noted on <http://pleiades.stoa.org/[…]/base_view>), please modify the "Place type" label on the Add Place page consistently therewith.
Steps to reproduce:
See "Place type" label on Details tab of Add Place page.

Migrated from http://pleiades.stoa.org/docs/site-issue-tracker/12, where it was originally opened by @sarcanon.

[2015-05-14 17:47] paregorios opened #25 "KML search URLs can't handle RTL language chars"
Am naively appending the Hebrew language string for Tadmur (from http://pleiades.stoa.org/places/668331/tadmor) to http://pleiades.stoa.org/search_kml?SearchableText= and encountering trouble.

http://pleiades.stoa.org/se[…]%93%D6%B0%D7%9E%D6%B9%D7%A8 doesn't work (no results), but http://pleiades.stoa.org/se[…]%93%D6%B0%D7%9E%D6%B9%D7%A8 does (1 result).

Q: Are we making valid internationalized

[2015-05-14 17:48] paregorios opened #26 "Diffs should show all fields"
Fields specific to Pleiades – references, temporal attestations, locations – are missing from diffs.

Migrated from http://pleiades.stoa.org/docs/site-issue-tracker/10, where it was originally opened by @sgillies.

[2015-05-14 17:48] sgillies commented on #25
Hey @paregorios no need to mention me on all these!

[2015-05-14 17:50] paregorios opened #27 "Show only representative location geometry in place view map"
In a place's map, it would be more simple to show just the representative point of a place and its neighbors

seang:

in a place's map, it would be more simple to show just the representative point of a place and its neighbors

i'm going to be adding maps to the location pages, and those could show all the sibling locations

(a request of sarcanon's @sarcanon)

paregorios:

hmmm

+1 maps at the lo

[2015-05-14 17:51] paregorios commented on #27
Migrated from http://pleiades.stoa.org/docs/site-issue-tracker/7, where it was originally opened by @sgillies.

[2015-05-14 17:53] paregorios commented on #27
representative points were added as an optional layer to the place maps via a series of commits culminating in 99092736823e5272486c6642f51bc1d664da88d3

[2015-05-14 17:54] #27 closed

[2015-05-14 17:55] paregorios opened #28 "Need a better time period picking widget"
Something that looks like a timeline

would be nifty if something like that were reusable

given a json service that gives you a list of uris and labels and date info for sorting

seang:

okay: my dream widget looks like this...

click on a timeline, get a list of periods that overlap your point + the option to create a new period overlapping that point

maybe a couple options: circa X (year), cir

[2015-05-14 17:56] paregorios commented on #28
Migrated from http://pleiades.stoa.org/docs/site-issue-tracker/6, where it was originally opened by @sgillies

[2015-05-14 17:59] paregorios opened #29 "Create a quality index for names and locations"
Some calculation of content completeness that puts a value in the catalog that we can use for search and surface in the UI to encourage user intervention.

we have an idea of what a "complete" location or name consists of right?

at least one "cites as evidence" reference for a name, at least one date annotation, both attested and transliteration fields filled, a populated title and description

g

[2015-05-14 18:00] paregorios opened #30 "Provide more context-sensitive help"
And do it in a way that alerts users to its presence.

paregorios:

various ideas here, captured from an irc stream of consciousness:

one could also

put text like the following under the "Locations" heading in the right-hand side

"the following geographic locations are :::verb::: this place (click to view detailed maps and data)"

or something

makes the interface more wordy but people keep stu

[2015-05-14 18:00] paregorios commented on #30
Migrated from http://pleiades.stoa.org/docs/site-issue-tracker/4, where it was originally opened by @sgillies

[2015-05-14 18:01] atomrab commented on #28
Don't do anything about this before we figure out if PeriodO can help in some way (or talk to us as you're doing it).

[2015-05-14 18:01] paregorios opened #31 "Add simple "upload KML" functionality to location editing"
We've downplayed the workspace-context KML upload, but it would make it much easier to bring polygons or linestrings into Pleiades if there was an "upload KML" button on the location edit view.

Migrated from http://pleiades.stoa.org/docs/site-issue-tracker/3, where it was originally opened by @sgillies.

[2015-05-14 18:02] paregorios commented on #31
There's been a lot of water under the bridge since this was mooted back in December 2012. Is this still worth doing, or is the combination of OSM import and paste/type coordinate pairs now sufficient?

[2015-05-14 18:04] paregorios opened #32 "Give maps some user-friendly borders"
Perhaps by adding a div above and/or below the map box and styling it to look like part of the map frame we could gain some space to add some user-friendly components.

Here are some possible things we could do in such space(s):

* add a "legend" link that pops up a legend on hover to explain blue, brown, green, icons vs. polygons, why the placenames are baked in, etc.
* add a "show on google maps

[2015-05-14 18:04] paregorios commented on #32
Migrated from http://pleiades.stoa.org/docs/site-issue-tracker/1, where is was originally opened by @sgillies.

[2015-05-14 18:06] paregorios commented on #32
This was accomplished in a series of commits, culminating in https://github.com/isawnyu/PleiadesEntity/commit/df6b8e63a7323973b12ca8250d6ce35eb82cc53f.

[2015-05-14 18:06] #32 closed

[2015-05-14 18:09] paregorios opened #33 "Full Review List throws unspecified traceback"
After logging in, attempting to access the full review list via http://pleiades.stoa.org/full_review_list generates a

We’re sorry, but there seems to be an error…

Since you are a site administrator, you can see the full error message

message. Clicking on the link to see the full error message, one sees:

Site Error Log at /error_log
Exception traceback

The specified log entry was not found. It

[2015-05-14 18:21] paregorios opened #34 "Revise feedback page"
http://pleiades.stoa.org/feedback

 * deprecate the old tracker and point users to this new one
 * remove references to separate component trackers: all trouble and enhancement requests should point to this tracker; team members can handle multiple repos but that will just confuse general users
 * re-order to highlight content issues first and point people back into the help; put "email admin" las

[2015-05-14 18:35] paregorios commented on #15
Per third party developers, this is a bug associated with ATVocabularyManager, which most think we should ditch for something with better performance.

[2015-05-14 18:50] atomrab commented on #15
And again, if @periodo can help with this by serving you back your own periods with URIs (which, incidentally, it would be great for us if you could actually implement in Pleiades), please let us know!

[2015-10-28 14:55] paregorios opened #35 "place map icons are busted"
![bustedicons](https://cloud.githubusercontent.com/assets/263285/10792236/da212616-7d59-11e5-820e-4097b16f80c9.jpg)

May be related to recent undocumented fix (apache conf change) for images in image folder.

[2015-10-28 19:08] paregorios commented on #35
fixed in apache conf

[2015-10-28 19:08] #35 closed

[2015-10-28 19:20] #34 closed

[2015-11-02 15:55] rmhorne opened #36 "Previous / Next Button for Gazetteer Functionality"
The addition of a Previous / Next button (or some equivalent interface) to browse Pleiades places alphabetically. This will allow a user to "read" places as if they were using a physical gazetteer, and will assist the editors / reviewers who work with the Barrington Atlas and other reference works.

[2016-01-06 23:45] davisagli commented on #18
https://pypi.python.org/pypi/collective.deletepermission is a Plone add-on that provides a similar solution in a ready-made package. Probably needs a bit of integration with your workflow.

[2016-01-26 00:23] paregorios opened #37 "subordinate contribution roundup is too greedy for permissions"
it appears that, when gathering up usernames of subordinate location and name creators to add to the "contributors" field on the parent place, this happens before the subordinate resource is published, thus causing (among other things) the credits page to reflect a contribution that hasn't yet been published.

[2016-02-08 16:41] paregorios opened #38 "create facility for batch ingest of new and updated content"
From [the Pleiades 3 proposal narrative](http://pleiades.stoa.org/files/pleiades-3-2015/proposal.pdf), page 5:

Some context and justification, also from the proposal (p. iv):

[2016-02-08 16:41] paregorios opened #39 "repackage code for Atom export"
From [the Pleiades 3 proposal narrative](http://pleiades.stoa.org/files/pleiades-3-2015/proposal.pdf), page 4:

[2016-02-08 16:42] paregorios opened #40 "repackage nightly CSV export code and make it comprehensive"
From [the Pleiades 3 proposal narrative](http://pleiades.stoa.org/files/pleiades-3-2015/proposal.pdf), page 4:

From the Pleiades 3 proposal data management plan, page D1:

[2016-02-08 16:43] paregorios opened #41 "repackage code for JSON export and make comprehensive"
From [the Pleiades 3 proposal narrative](http://pleiades.stoa.org/files/pleiades-3-2015/proposal.pdf), page 4:

[2016-02-08 16:43] paregorios commented on #41
At the Pleiades Workshop in San Francisco in January 2016, we agreed to make JSON the primary comprehensive export format from Pleiades. Other formats would be produced on the basis of the JSON.

[2016-02-08 16:44] paregorios commented on #39
This deliverable is dependent upon #41

[2016-02-08 16:47] paregorios commented on #40
This deliverable is dependent on #41

[2016-02-08 16:47] paregorios opened #42 "repackage code for KML export"
From [the Pleiades 3 proposal narrative](http://pleiades.stoa.org/files/pleiades-3-2015/proposal.pdf), page 4:

[2016-02-08 16:47] paregorios commented on #42
This deliverable is dependent on #41.

[2016-02-08 16:49] paregorios opened #43 "create and deploy new GUI"
From [the Pleiades 3 proposal narrative](http://pleiades.stoa.org/files/pleiades-3-2015/proposal.pdf), page 4:

[2016-02-08 16:50] paregorios opened #44 "instrument plone with new relic"
From [the Pleiades 3 proposal narrative](http://pleiades.stoa.org/files/pleiades-3-2015/proposal.pdf), pages 4-5:

[2016-02-08 16:50] paregorios opened #45 "implement a preservation strategy"
From the [the Pleiades 3 proposal](http://pleiades.stoa.org/files/pleiades-3-2015/proposal.pdf) data management plan, page D2:

From the Pleiades 3 proposal narrative, page 10:

[2016-02-08 16:50] paregorios opened #46 "implement a reconciliation API"
From [the Pleiades 3 proposal narrative](http://pleiades.stoa.org/files/pleiades-3-2015/proposal.pdf), page 4:

[2016-02-08 16:51] paregorios opened #47 "implement relationships beyond "connection""
From [the Pleiades 3 proposal narrative](http://pleiades.stoa.org/files/pleiades-3-2015/proposal.pdf), pages 5:

[2016-02-08 16:51] paregorios opened #48 "implement faceted search with Solr"
From [the Pleiades 3 proposal narrative](http://pleiades.stoa.org/files/pleiades-3-2015/proposal.pdf), page 4:

[2016-02-08 16:52] paregorios opened #49 "upgrade plone"
From [the Pleiades 3 proposal narrative](http://pleiades.stoa.org/files/pleiades-3-2015/proposal.pdf), pages 4-5:

Now tracking specifics for implementation of this deliverable in #51 (upgrade and improve webapp performance). Keeping this issue open until we've addressed everything in #51 and feel this deliverable has been met for reporting purposes.

[2016-02-08 16:53] paregorios opened #50 "conduct user focus sessions"
From [the Pleiades 3 proposal narrative](http://pleiades.stoa.org/files/pleiades-3-2015/proposal.pdf), page 9:

[2016-02-08 17:00] paregorios opened #51 "upgrade and improve webapp performance"
Upgrade Plone and improve performance.

Relevant Pleiades 3 deliverables:

* #49: upgrade plone

For running the actual P4 upgrade deployment see: #69: Launch Checklist for Plone 4 upgrade

Associated/subordinate issues:

- [x] #52: modify maps code to fetch json from separate URI rather than using encoded URL in page link
- [x] #57: missing location and name lists on staging
- [x] #59: homepage m

[2016-02-08 18:14] alecpm commented on #44
Unfortunately, it appears that there is not presently a Python 2.4 compatible release of the New Relic Python Agent, so we cannot instrument Plone 3.x.  This will have to be done post Plone 4 upgrade.  David has suggested we make an initial pass at using Products.signalstack (https://pypi.python.org/pypi/Products.signalstack/).  I may also try some of the old-school profiling tools (collective.pro

[2016-02-08 21:30] paregorios commented on #44
That seems reasonable to me, with the caveat that I don't think I want to spend time and money diagnosing and repairing problems that may disappear or that may be easier to spot after the upgrade to Plone 4.

[2016-02-08 23:22] paregorios commented on #41
See now: https://github.com/isawnyu/pleiades.comprehensive

[2016-02-08 23:46] davisagli commented on #49
I started working on this in the `jazkarta-plone4` branch of pleiades3-buildout.

I'm able to run buildout. Next step is to fix import errors for things that have moved so we can start the instance and run tests.

We should talk at standup tomorrow about our strategy for testing and deploying the upgraded site.

[2016-02-09 23:54] davisagli commented on #49
One blocker is the use of `zgeo.*` packages which are not compatible with Plone 4 and no longer have active repositories.

Sean suggested switching to `collective.geo`, parts of which were based on the `zgeo` packages, and which has been better maintained and has repositories in the github collective.

Some tasks necessary to do that are:
- [ ] Change all uses of `zgeo.geographer.interfaces.IGeore

[2016-02-14 01:48] alecpm commented on #51
I've got a few findings and possible fixes related to performance that I'd like to summarize here and get some feedback on before committing/releasing:

1) There are a few places in `place_view.pt` with `tal:condition` statements that check a content object, causing the object to be silently rendered to check the condition.  Adding `nocall:` to those will ensure that doesn't happen.  It appears th

[2016-02-15 22:09] davisagli commented on #51
1 sounds non-risky to go ahead and change in production. For 2 let's see if @paregorios knows what that's used for first.

[2016-02-16 00:10] alecpm commented on #51
Indeed that's the plan, though 1 doesn't offer much benefit for non working-copy content, and 2 basically solves the whole performance problem on its own.  3 and 4 become much more important if we can't do 2.

[2016-02-16 17:47] paregorios commented on #51
I think early versions of the maps on place and location used those pre-packaged json bits. I'm not sure if they do now, but will go look.

[2016-02-16 17:56] davisagli commented on #51
Ah yeah, it looks like they are used in https://github.com/isawnyu/PleiadesEntity/blob/master/skins/PleiadesEntity/context_map.js, which doesn't appear to be actually used anywhere.

[2016-02-16 18:01] davisagli commented on #51
Oh, but place_map.js is still used, and it uses the `where`, `baseline-where`, and `connections` json.

[2016-02-16 18:07] paregorios commented on #51
That would be it.

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Tue, Feb 16, 2016 at 12:01 PM, David Glick <notifications@github.com>
wrote:

[2016-02-16 18:20] alecpm commented on #51
I'm still not convinced that's a good reason to render the JSON in the page rather than let the map fetch the data via HTTP.  I'd suggest it's better to have the page appear quickly and then have the connections fill in after, then to render all that JSON inside a data-url.  It should be fairly trivial to alter that getJSON call to asynchonously follow the links.  From there we can optimize the co

[2016-02-16 18:23] alecpm commented on #51
@paregorios Any thoughts on optimizing the time periods.  I can probably do a lot to speed up the stuff that's already there (there seem to be some fairly obvious inefficiencies), but if the plan is to re-architect that system, it might not be worthwhile to do so.

[2016-02-16 18:41] paregorios commented on #51
@alecpm I think your sense about modifying what the map does is right; we need to get those pages loading faster.

Time periods: I think we are serious about (1) getting rid of ATVM, and (2) drastically reducing the number of time periods in the vocab (but leaving oddball values in place in individual content item value fields (or some such).

[2016-02-16 19:19] paregorios commented on #51
So, do we need to break out two separate issues from here:

1. modify place_map.js (and probably also in locations somewhere) to fetch json from separate URI rather than using encoded URL in page link
2. rearchitect time periods vocabulary and associated mechanisms

[2016-02-17 00:17] alecpm commented on #51
Yes, I think that's the way to go.  I've already got a partial implementation of your 1) along with my 1) above, so feel free to assign that one to me.  For 2) we'll probably need to work out a plan of attack based on the TBD requirements for this feature, but there may be some preliminary optimizations we can make independent of the eventual storage for the vocabulary.

[2016-02-17 13:37] paregorios opened #52 "modify maps code to fetch json from separate URI rather than using encoded URL in page link"
Construction of the embedded JSON URIs in place views has been identified as a source of significant slow-down for page rendering (see background discussion, mixed with other issues, at #51). Removing these would speed page load. Maps would still need to fetch the JSON, which would take time, but it wouldn't hold up initial painting of the HTML page.

Itemization (incomplete?) of map-related templ

[2016-02-17 13:38] paregorios commented on #51
JSON URL refactoring and associated maps modifications now moved to a separate issue: #52

[2016-02-17 13:52] paregorios opened #53 "improve and streamline time period management and selection"
We'd like to improve several aspects of time period stuff in Pleiades, including:

- Eliminate ATVM dependency, which is implicated in performance problems (see discussion at #51)
- Hide from pick lists the odd-ball time periods we added solely for the purpose of supporting TAVO/GANE content (leave as values in objects, but don't permit assignment to new content through-the-plone)
- Tie our period

[2016-02-17 14:20] paregorios commented on #49
@davisagli should this issue be assigned to you?

[2016-02-17 14:23] paregorios commented on #37
Possibly related to #12 and/or #7

[2016-02-17 14:23] paregorios commented on #12
Possibly related to #7 and/or #37

[2016-02-17 14:24] paregorios commented on #7
Possibly related to #12 and/or #37

[2016-02-17 14:30] paregorios commented on #53
@atomrab will no doubt be interested in this thread

[2016-02-17 16:56] davisagli commented on #53
Do you mean that admin users should be able to edit the vocabulary, or that normal contributors should be able to enter a time period that's not in the vocabulary?

[2016-02-17 17:05] paregorios commented on #53
When I wrote that bullet, I was imagining that any authenticated Pleiades user with appropriate role+permission on a relevant content item could add a time-period reference not presently in our vocabulary *if* said time period was cataloged by PeriodO (even if it wasn't in the Pleiades vocab).

I'd imagine further that we'd want admin users to be able to add such periods (or others) to the time-pe

[2016-02-17 17:07] davisagli commented on #53
So the contributor UI for entering a time period would become a dropdown of the options from the vocabulary, plus a text input to enter a PeriodO URI, and some validation to make sure that you only enter one or the other. Am I understanding right?

[2016-02-17 17:13] paregorios commented on #53
Yes, that's what I'm imagining.

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Wed, Feb 17, 2016 at 11:07 AM, David Glick <notifications@github.com>
wrote:

[2016-02-17 20:24] paregorios opened #54 "add a map-browse feature for content discovery"
From @ekansa in email:

[2016-02-17 21:35] atomrab commented on #53
From the perspective of PeriodO, we'd also welcome additions to the
existing Pleiades vocabulary via PeriodO. This will help us keep all the
Pleiades assertions in one place (though one of our goals, if we get a next
round of funding, is to make it easier to keep track of arbitrary user
collections, so that other people could quickly figure out in PeriodO which
periods were being used in Pleiades)

[2016-02-18 20:12] paregorios opened #55 "align the place type vocabulary with external LOD vocabulary/ies"
Candidates:

- [Getty Art and Architecture Thesaurus, Build Environment Facet](http://www.getty.edu/vow/AATHierarchy?find=&logic=AND&note=&page=1&subjectid=300264550)
- [FISH Thesaurus of Monument Types](http://heritagedata.org/live/schemes/eh_tmt2.html)
- ???

[2016-02-18 20:13] paregorios opened #56 "consolidate bibliographic data management with Zotero"

[2016-02-19 15:16] ryanfb commented on #55
[Geonames](http://www.geonames.org/ontology/documentation.html)?

[2016-02-19 16:09] atomrab commented on #55
http://pactols.frantiq.fr/opentheso/index.xhtml? Expresses as RDF, but no
idea how one would align with it.

On Fri, Feb 19, 2016 at 9:16 AM, Ryan Baumann <notifications@github.com>
wrote:

[2016-02-23 00:31] davisagli commented on #49
More todo items:
- [ ] fix display of user fullnames in listings
- [ ] what happened to openid login?
- [ ] re-apply Pleiades search customizations to Plone's revised search view
- [ ] fix tests
- [ ] find and fix templates that are still assuming globally defined variables

[2016-02-28 00:08] alecpm commented on #52
This is completed and deployed to the staging server.  Once tested we can safely deploy to production.

[2016-02-28 00:10] alecpm commented on #51
Items 1) and 4) from my list have been implemented and applied to staging, along with item 2) which is covered by issue #52.

[2016-02-29 16:04] paregorios opened #57 "lists of locations and names missing from place view on staging"
Compare ```/places/579885``` on production and staging.

On production, an anonymous user sees:

![athens-production](https://cloud.githubusercontent.com/assets/263285/13400074/b3d74fca-decb-11e5-934f-8d1248bf1ea4.jpg)

But on staging, the listings of published names and locations are missing:

![athens-staging](https://cloud.githubusercontent.com/assets/263285/13400085/c61216c0-decb-11e5-95c3-17c

[2016-03-02 14:30] paregorios opened #58 "specify a complete JSON export format"
To support both our comprehensive export requirement (#41) and our batch create/update import story (#38).

Specific tasks:
- [x] Create a separate repository for work on this component: see now [pleiades-comprehensive](https://github.com/isawnyu/pleiades.comprehensive)
- [ ] Create a complete JSON example file (i.e., includes all fields from place, name, and location): [in-progress](https://raw.g

[2016-03-07 17:57] davisagli opened #59 "homepage map not working"
part of #49

The map of recent edits on the homepage fails to render, with `Uncaught ReferenceError: L is not defined` on the first line of `search_maps.js` (looks like leaflet is missing for some reason).

[2016-03-07 17:58] davisagli opened #60 "missing upgrade steps"
part of #49

We need to add some upgrade steps that will run as part of the Plone 3 -> 4 migration:
- reimport `typeinfo`, `actions`, and `viewlets` steps

[2016-03-07 19:05] davisagli opened #61 "Map styles broken on place view"
part of #49

![screen shot 2016-03-07 at 11 04 31 am](https://cloud.githubusercontent.com/assets/49014/13579867/7d006e1c-e454-11e5-8d8e-e893a9f8a362.png)

[2016-03-07 19:08] davisagli opened #62 "Credits not working"
part of #49

When logged in, http://pleiades.jazkarta.com/credits does not list any individuals (likely related to absence of LDAP on the staging server).

When logged out, http://pleiades.jazkarta.com/credits shows the login form rather than the credits page.

[2016-03-07 19:13] davisagli opened #63 "Topics show too many tabs"
![screen shot 2016-03-07 at 11 11 54 am](https://cloud.githubusercontent.com/assets/49014/13580075/70f3c564-e455-11e5-8ba4-c206f8c0a8cf.png)

We should merge the Subfolders and Subtopics tabs, remove the Properties tab, remove the History tab (Plone moved it to a link in the byline) and remove the extra Sharing tab.

[2016-03-07 19:18] davisagli opened #64 "Remove Poi leftovers"
part of #49

Uninstalling Poi leaves behind some catalog indexes and metadata that we can remove:
- getArea
- getRelease
- getIssueType
- getSeverity
- getTargetRelease
- getResponsibleManager

[2016-03-07 19:19] davisagli opened #65 "Clean up bad entries in catalog"
part of #49

While running the upgrade steps I noticed a few dozen warnings about catalog entries that no longer have their corresponding full content item. We should clean these up, though it's not very high priority.

[2016-03-07 19:35] davisagli opened #66 "Convert LDAP users to standard Plone users"
part of #49

Tom mentioned that there's no particular need to keep users in LDAP. Since there aren't a large number of users and depending on LDAP makes it harder to upgrade, we recommend converting the existing LDAP users to standard Plone users.

This probably consists of writing a script to get LDAP users, disable the LDAP plugins, then recreate them in source_users with the same properties and

[2016-03-07 19:40] davisagli commented on #66
Properties currently mapped:
- cn => fullname
- mail => email
- uid => user id
- uid => login

Groups mapped from LDAP to Plone roles:
- managers -> Manager role
- members -> Member role

LDAP also has a committers group which is unused by Plone (I guess it's related to svn access).

[2016-03-07 19:48] paregorios commented on #66
When converting these we'll want to watch out for clobbered non-ASCII characters in fullname. We had a lot of problems around unicode-or-not between Plone and LDAP and I don't know what all was patched, upgraded, replaced, or duct-taped to make it all work.

[2016-03-07 19:50] davisagli commented on #66
Thanks for the heads-up. Can you find a page that includes a fullname with non-ASCII characters so that we have a test case?

[2016-03-07 19:57] paregorios commented on #66
These users (note that some also have full names containing more than 2 words, which iirc was at one point also an issue):

- dadima
- holgerj
- jmartinez
- jahlfeldt

Not an exhaustive list, but exemplary I think.

[2016-03-07 23:29] davisagli commented on #66
I wrote a script to export users from the production site, and another script to import users to a site that's not using LDAP. I've done a trial run so the plone 4 staging site now has native Plone users based on the ones that were in LDAP. Assigning to @paregorios for testing.

[2016-03-07 23:35] davisagli commented on #63
Fixed

[2016-03-08 00:15] davisagli commented on #62
Both fixed.

[2016-03-08 04:38] davisagli commented on #59
Activating plone.app.theming somehow fixed this.

[2016-03-08 05:07] davisagli opened #67 "Missing pieces of place view"
part of #49

The place view appears to be missing a few things at the bottom: history toggle, print link, commenting.

e.g. compare http://pleiades.stoa.org/places/540726 to http://pleiades.jazkarta.com/places/540726

Also, the description is no longer styled the same, and the Canonical URI is now clearing the map.

[2016-03-08 05:40] davisagli commented on #61
Fixed

[2016-03-08 05:40] #61 closed

[2016-03-08 07:06] alecpm commented on #57
Should be fixed.

[2016-03-08 15:27] paregorios commented on #66
I've successfully logged into staging (p...jazkarta.com) with both my own account and our test account. Everything seems to be in order. I'm OK with closing this ticket if the step is incorporated into whatever repeatable checklist we're going to need for subsequent staging and production deployment.

[2016-03-08 15:32] paregorios commented on #63
I'm still seeing the "history" tab and the doubled "sharing" tab (one of which throws an error on click).

![tabs](https://cloud.githubusercontent.com/assets/263285/13606185/a955b3a2-e510-11e5-8a94-4081d2788084.jpg)

[2016-03-08 15:34] paregorios commented on #62
Looks good. Closing as resolved.

[2016-03-08 15:34] #62 closed

[2016-03-08 15:37] paregorios commented on #57
This looks good in both P3 and P4 staging. Closing as resolved.

[2016-03-08 15:37] #57 closed

[2016-03-08 17:00] davisagli commented on #63
Fixed

[2016-03-08 17:40] davisagli opened #68 "Content type icons are broken"
part of #49

This is because Plone switched from using gifs to pngs. I updated the icons referenced in the type definitions, but we need to update `getIcon` in the catalog metadata as one of the upgrade steps.

[2016-03-08 17:58] davisagli opened #69 "Launch checklist for Plone 4 upgrade"
re #49

- [x] Pin revisions of dev checkouts
- [x] Deploy Pleiades 4 to new server
- [x] Set up migration instance on production server
- [x] Disable access to production site (or make readonly) -- add notice to top of main_template, disable PAS authentication plugins
- [x] Export users using /home/zope/pleiades/p3-four/zopectl-scripts/export-users.py
- [x] Copy data from production server to migr

[2016-03-08 22:24] davisagli commented on #67
@paregorios where do you want the "history" link? At the bottom where it currently appears, or in the byline where it usually goes in Plone 4? No technical concerns from me for either way, since we're already customizing the byline.

[2016-03-08 22:37] davisagli commented on #67
Aside from the history link, I've fixed the other issues.

[2016-03-08 23:33] davisagli commented on #60
Done

[2016-03-08 23:33] #60 closed

[2016-03-08 23:33] davisagli commented on #68
Fixed

[2016-03-08 23:33] #68 closed

[2016-03-08 23:35] davisagli commented on #59
This started happening again and I'm not sure why.

[2016-03-09 00:42] paregorios commented on #67
I'd prefer having the history link with the byline.

On Tuesday, March 8, 2016, David Glick <notifications@github.com> wrote:

--
--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

[2016-03-09 17:24] davisagli opened #70 "set up plone.app.caching"
related to #49 and #51

[2016-03-09 18:16] davisagli commented on #67
Done

[2016-03-09 21:02] davisagli commented on #59
Fixed

[2016-03-09 21:02] #59 closed

[2016-03-09 23:25] davisagli commented on #52
On the plone 4 site I've optimized the `temporalRange` method. It now caches the temporal ranges of the temporal vocab terms on the request so they only need to be calculated once per request, rather than once per item that temporalRange is called on.

[2016-03-10 00:17] davisagli commented on #70
I've enabled plone.app.caching using the "With caching proxy" profile. The default cache settings are pretty conservative but nevertheless seem to make a noticeable difference.

[2016-03-10 15:18] paregorios opened #71 "cannot create a new "place""
Part of #49.

Attempting to create a new "place" at ```/places/``` on P4 staging throws an error as follows:

[code]

Steps to reproduce:

- Login in P4 staging server
- Navigate to /places/
- Select "add new" -> "place" from the actions menu
- On the "add place" form:
  - enter the following field values:
    - Title: Atlantis
    - Description: A fictional place, or perhaps an island inhabited b

[2016-03-10 15:41] paregorios opened #72 ""representative point" doesn't show on place map"
Part of #49. May be related to #71 (see specific error there, which also seems to involve reprPoint).

This problem appears to affect both anonymous and logged-in users.

Steps to reproduce (as an anonymous user):

- Navigate to ```places/511181```
- Select the layers menu icon on the map and activate the checkbox next to "representative point"

Here's what the map looks like on production after d

[2016-03-10 16:46] davisagli commented on #72
This could easily be related to the changes @alecpm made to load the map JSON asynchronously. Do you want to look at it first, Alec?

[2016-03-10 18:08] davisagli commented on #71
Fixed.

@paregorios you actually fixed this on the live site back in July, but I guess the fix didn't make it into our branch for some reason.

[2016-03-10 18:09] paregorios commented on #71
Oops.

[2016-03-10 18:15] paregorios commented on #71
Ah, an unmerged but apparently deployed enhancement in a branch other than master. @davisagli is an excellent detective and I am in need of penance.

[2016-03-10 18:18] paregorios commented on #71
Verified works on P4 staging. Closing as resolved.

[2016-03-10 18:18] #71 closed

[2016-03-10 18:30] davisagli commented on #70
And now there's an upgrade step ready to set this up automatically when we run the upgrade from production.

[2016-03-10 18:30] #70 closed

[2016-03-10 18:33] paregorios opened #73 "copyright character getting munched on place creation"
Part of #49.

Copyright character in rights statement in byline appears fine for existing content, but after creating a new place with defaults, it's escaped or something.

Steps to reproduce:

- login to P4 staging
- navigate to /places/
- select "add new" -> "place" from the actions menu
- put title and description in "add place" form and select the save button
- inspect the byline

Here's an ex

[2016-03-10 18:36] davisagli commented on #73
Looks like it is already escaped in the edit form, so probably something wrong with lookup up the default value.

[2016-03-10 18:42] paregorios opened #74 "some users in p4 staging appear to have missing or broken names"
Part of #66.

I noticed this on ```/credits```, but it follows through on ```/author/{userid}``` for each:

- bdturner (missing full name?)
- vpapathanasiou (full name replaced with email address?)

[2016-03-10 18:47] paregorios opened #75 "suppress checkout folder choice"
Always silently default to "parent".

[2016-03-10 18:49] paregorios opened #76 "default text for content "submit" action - 5"
As an authenticated pleiades user preparing to submit a piece of content for review, I am currently presented with an empty "comments" field on the "Publishing Process" page:

![Screen Shot 2019-03-25 at 10 14 08 AM](https://user-images.githubusercontent.com/263285/54931336-cd943e80-4ee6-11e9-999d-197dbb75ed59.png)

Instead, I would like to see the comments box pre-populated with any and all itera

[2016-03-10 19:18] davisagli commented on #74
Bug in my user import script. Fixed.

[2016-03-10 22:23] davisagli commented on #66
I've got this in the launch checklist, so am going to close this ticket.

[2016-03-10 22:23] #66 closed

[2016-03-11 02:17] davisagli commented on #73
Fixed. I think the live site has the same problem; okay for me to fix it there too?

[2016-03-11 02:56] davisagli opened #77 "Edit tabs positioned poorly"
They are overlapping the fields:

![screen shot 2016-03-10 at 6 54 45 pm](https://cloud.githubusercontent.com/assets/49014/13691927/9f262654-e6f1-11e5-95a6-ce5a067fe0bf.png)

[2016-03-11 10:57] paregorios commented on #73
Yes, please fix on live site.

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Thu, Mar 10, 2016 at 8:17 PM, David Glick <notifications@github.com>
wrote:

[2016-03-11 16:27] paregorios opened #78 "radio button groups and combo boxes positioned oddly on edit forms"
Some examples:

![odd1](https://cloud.githubusercontent.com/assets/263285/13708338/afcac852-e773-11e5-9b8f-6aeb0f1bc940.jpg)

![odd2](https://cloud.githubusercontent.com/assets/263285/13708340/b76116fc-e773-11e5-94f0-0b6265b7d660.jpg)

![odd3](https://cloud.githubusercontent.com/assets/263285/13708345/befcc58c-e773-11e5-846e-6f7340723319.jpg)

![odd4](https://cloud.githubusercontent.com/assets/263

[2016-03-11 16:45] paregorios opened #79 "Map icons are broken on working copies of places"
This is happening on both P3 production and P4 staging.

P3 production:

![mapicons-production](https://cloud.githubusercontent.com/assets/263285/13708770/03f63bc6-e776-11e5-9d5f-e117eae7a7fa.jpg)

P4 staging:

![mapicons-staging](https://cloud.githubusercontent.com/assets/263285/13708776/0dabf2b4-e776-11e5-9a14-745483a24dc9.jpg)

Steps to reproduce:

- Login
- Navigate to any published place
- Ch

[2016-03-11 16:46] paregorios opened #80 "place map doesn't auto-zoom on working copy checkout"
On production, when viewing a working copy of a place, the map auto-zooms to the immediate locale:

![mapicons-production](https://cloud.githubusercontent.com/assets/263285/13708873/79e27dd6-e776-11e5-88a7-82674a03fd5f.jpg)

This isn't happening on P4 production:

![mapicons-staging](https://cloud.githubusercontent.com/assets/263285/13708885/87b474dc-e776-11e5-8986-f8f4aba80868.jpg)

[2016-03-11 17:07] davisagli opened #81 "Remove link to "Alternate JSON (Experimental)" format"

[2016-03-11 17:20] davisagli commented on #73
Okay, fixed on live site now too.

p.s. Congrats, this issue made me look at a piece of Plone (the CMF metadata tool) that I've managed to avoid knowing anything about for 8 years.

[2016-03-11 18:00] davisagli commented on #77
Fixed (note, it was only a problem on the add form)

[2016-03-11 18:01] davisagli commented on #78
Fixed (also fixed field help text styles)

[2016-03-11 18:01] davisagli commented on #81
Done

[2016-03-11 23:06] paregorios opened #82 "location icons are broken in /recently_modified"
Tested with an authenticated user. Occurs on P4 staging, but not on P3 production:

![recently](https://cloud.githubusercontent.com/assets/263285/13718020/85cf4e50-e7ab-11e5-9e83-1eb2b0a7b8b7.jpg)

[2016-03-11 23:11] paregorios opened #83 "pdf icons are broken in /docs/reports"
Tested with an authenticated user. Problem manifests on P4 staging but not P3 production:

![pdf](https://cloud.githubusercontent.com/assets/263285/13718090/3ade733e-e7ac-11e5-939f-786052f778b7.jpg)

[2016-03-11 23:12] paregorios commented on #83
Not PDF, but see also: ```/docs/papers-and-presentations``` where one icon is busted.

[2016-03-11 23:17] paregorios opened #84 "site-map sits and spins"
Clicking on the "site map" link in the header on P4 staging (it's been removed on P3 production), issues a request for ```/sitemap``` that, after a minute or two of unresponsiveness from the server results in:

[code]

[2016-03-11 23:24] davisagli opened #85 "Determine cause of CPU usage spikes"
The staging server occasionally has its CPU usage spike to the point where the server is inaccessible. @paregorios notes that this happens on the Plone 3 production instance too.

I should probably rig up something to dump out a stacktrace when it detects that, so that we can figure out what it's doing.

[2016-03-11 23:24] davisagli commented on #85
"It may be a red herring, but it was behaving well until I clicked on the site map link in the header."

[2016-03-11 23:25] davisagli commented on #84
duplicate of #83

[2016-03-11 23:25] #84 closed

[2016-03-11 23:33] paregorios opened #86 "advanced search link destination differs from production"
On P4 staging, selecting the "advanced search ..." link immediately under the text box on the quick search portlet takes one to ```/@@search```, whereas on P3 production, one goes directly to ```/search_form```

[2016-03-12 02:08] alecpm commented on #72
Should be fixed now.  It was related to the async loading, the repr point was placed on the map before the JSON had been loaded.

[2016-03-13 11:39] paregorios opened #87 "paged connection nav links are doubled on place pages"
In the rare cases where we have more than 50 connections to a place, the results list gets automatically batched. On production, the associated navigation controls appear at both top and bottom of the "Has a connection with" section. This seems sensible.

On P4 staging, the navigation controls also appear at both top and bottom of the "Has a connection with" section, but at the bottom of the listi

[2016-03-13 11:49] paregorios opened #88 "extraneous workflow and states?"
This issue applies to both P3 production and P4 staging, but probably only needs to be addressed for P4.

The list of "review status" states shown on the "Workflow Details" tab on the ```/search_form``` page leads me to believe that we have multiple workflows defined (probably unnecessarily). P3 production shows even more, but removing Poi from the P4 buildout gets rid of alot of them. But there a

[2016-03-13 11:58] paregorios opened #89 "remove all content rating functionality"
It's underused, clutters up the interface, and didn't achieve what we wanted.

Removal is likely harder than just yanking the add-on. I think there's code (moribund? commented out? ignored? or not) for sorting names and locations within place listings based on ranking.

[2016-03-13 12:12] paregorios opened #90 "some control panel icons are broken"
There's one such broken icon on P3 production ```/plone_control_panel``` (Workflow Policies). It's also broken in P4 staging ```/@@overview-controlpanel```, where one also finds additional broken icons for "Visual Editor" and "Image Handling." No need to fix on production, but should fix in P4 going forward. Is this indicative of potential breakage somewhere else, possibly with respect to general

[2016-03-13 12:16] #81 closed

[2016-03-13 12:24] paregorios opened #91 "working copy notifications overlap menus"
The working copy notification blocks that appear on both the working copy and the corresponding baseline item overlap other UI components on P4 staging. Screen shots below show working copy and baseline of a ```Name``` item, but this behavior can be seen after checking out working copies of a ```Place``` or a ```Location``` as well.

Are there other kinds of notifications that appear in the same s

[2016-03-13 12:26] #78 closed

[2016-03-13 12:26] #77 closed

[2016-03-13 12:27] #74 closed

[2016-03-13 12:27] #73 closed

[2016-03-13 12:28] #67 closed

[2016-03-13 12:31] paregorios opened #92 "/places frequently slow to load on p4 production"
I'm routinely seeing this take 3+ seconds to load; sometimes as many as 10. It's noticeable, and I don't understand why.

Could the Pelagios portlet be the culprit?

[2016-03-13 12:32] #63 closed

[2016-03-13 12:33] #72 closed

[2016-03-13 12:34] #52 closed

[2016-03-14 04:01] davisagli commented on #85
I was able to reproduce the problem by loading the sitemap. There's a setting to limit how deep to make the sitemap; I changed it from 3 to 2 and now it seems to load fine.

[2016-03-14 04:12] davisagli commented on #92
The Pelagios portlet is loaded via a separate AJAX request after the main page load, so is very unlikely to be the culprit.

It's not obvious to me what the problem is, and I don't see the problem consistently (only on the first page load after starting the instance, which is bound to be slower). I suggest we take a look at this with New Relic once it's set up; it'll make it a lot easier to confir

[2016-03-14 04:17] davisagli commented on #85
Btw, let me know if you want to show the link to the sitemap or not. I think it got turned on as an accidental side effect of one of the Plone upgrade steps.

[2016-03-14 20:15] paregorios commented on #92
Agree on deferring until we have New Relic in place. Pulling out of the P4 upgrade deployment milestone.

[2016-03-14 20:18] alecpm commented on #92
I can setup New Relic using my personal account for the time being, and David and I can analyze data there. Then we can switch over to a new New Relic Pro Trial when we do the production launch.

[2016-03-14 20:18] davisagli commented on #92
Good idea @alecpm

[2016-03-14 20:50] paregorios commented on #85
Closing resolved. Will answer [@davisagli's question](https://github.com/isawnyu/pleiades-gazetteer/issues/85#issuecomment-196129193) in a new ticket.

[2016-03-14 20:50] #85 closed

[2016-03-14 20:51] paregorios opened #93 "remove site map link from header"
Background: #85

Rationale: We don't have it now, and given the big, flat nature of our content, I don't think it helps users more than the nav. In its current form would surely confuse.

[2016-03-14 20:52] paregorios commented on #93
@davisagli as requested

[2016-03-14 22:55] paregorios commented on #92
So, should I add this ticket back to the P4 upgrade deployment milestone and give it a priority?

[2016-03-14 22:58] paregorios opened #94 "it's not obvious how to close OSM add location box"
One clicks again on the arrow that opens the box. It's not intuitive. There are also layout issues: the form's box underlies the place map.

[2016-03-14 23:08] paregorios opened #95 "place history compare fails with AttributeError"
This is occurring on P4 staging, not on production.

As a logged-in, admin user:

- Visit ```/places/433211/@@historyview```
- Select any ```↑ Compare ↓``` link
- See something like this:

[code]

[2016-03-14 23:27] paregorios opened #96 "using browser "back" function sometimes provokes 406 not acceptable"
Steps to reproduce:

- Visit ```/places/433211```
- Select the first link under "Locations", labeled "location of course of Volturnus fl. (modern)"
- After ```/places/433211/location-of-course-of-Volturnus-fl``` has loaded, select the browser back button
- Contemplate the message below (note that doing a browser refresh/reload at this point will banish the 406 message and get you the place page ba

[2016-03-14 23:32] paregorios opened #97 "dashboard and full review lists are slow to load"
I.e., ```/dashboard``` and ```/full_review_list```.

For authenticated users with editorial privileges (i.e., can see "pending" items). A significant factor, of course, is that we have over 1,500 items in pending state. Is there anything that can be done to speed this up?

[2016-03-14 23:33] paregorios opened #98 "add sortability to full review list for editors"
By title, date, username, type? Via @rmhorne

[2016-03-14 23:36] paregorios opened #99 "programmatically create a place from a location"
We have a large number of ```locations``` that should have been (in the current editorial view) had new ```places``` created to contain them instead of being created inside the ```places``` where they currently reside. How hard would it be to create a mechanism whereby an editor -- ideally through-the-plone -- could force the programmatic creation of a new ```place``` on the basis of the existing

[2016-03-14 23:45] paregorios opened #100 "indicate "level of checking needed" on submit"
Users can currently leave messages for the editorial board via the "submit for review" comment function; however, the editors wonder if it would be possible to give users a flag or enumerated value field to use at submit time to indicate the level of checking they think the item needs. The perceived problem the editors are trying to solve is prioritizing editorial work in the context of a large re

[2016-03-14 23:52] paregorios commented on #64
I've noticed (by way of the full review list) a number of Poi content items (tickets?) that seem to still be hanging around in staging in pending state. Is that part of this cleanup as well?

[2016-03-15 00:02] davisagli commented on #96
There's some magic I wasn't aware of in the apache configuration that goes to a "conneg" view that negotiates which view to serve based on the request's Accept header, if that header does not contain 'html' or equal '*/*'. Will need to figure out why the back button triggers this.

[2016-03-15 00:04] paregorios opened #101 "if "attested" form of name is blank, place KML should use romanized form"
i.e., title

right now it just joins an empty string. In the following example, of the 4 names associated with this place in Pleiades, only Consaburrenses has a filled out "attested" field.

![names-in-kml](https://cloud.githubusercontent.com/assets/263285/13763854/6f64e15c-ea17-11e5-9950-065c727766d8.jpg)

[2016-03-15 00:21] paregorios commented on #96
Ah, yes. That apache magic is about [content negotiation in the context of linked data](https://www.w3.org/TR/swbp-vocab-pub/#negotiation).

[2016-03-15 01:08] davisagli commented on #96
Fixed.

This was a bit of a doozy. It was happening like this:
1. You load the main place view. The place_map.js javascript tries to do an AJAX request to load the json for the baseline. It gets this URL from a `<link rel="baseline-where">`, but since you aren't on a working copy, that is not present and it ends up with a URL of "", which jquery interprets as wanting to load the current URL. So it

[2016-03-15 01:17] davisagli commented on #99
What information needs to be transferred from the location to the place? Can it be done automatically or are you thinking more of loading the place add form pre-populated with some info from the location?

Do we also need some sort of duplicate check to try to alert you if there's already an existing place similar to the one you're trying to create?

[2016-03-16 13:00] ryanfb commented on #58
Any interest/use in hooking up Travis continuous validation for this? I think you would just need the following in `.travis.yml`:

[code]

[2016-03-16 14:06] paregorios commented on #58
Travis is hooked up and I've added status message to the README and the first build has run and passed. Thanks @ryanfb

[2016-03-16 17:16] paregorios opened #102 "serialize vocabularies as JSON?"
It would permit us to incorporate them in the json schema for our exports directly.

[2016-03-16 18:07] davisagli commented on #102
Is there a standard format that it would make sense to use?

[2016-03-16 18:33] paregorios commented on #102
I was thinking something simple that could be used as input to an enum in a jsonschema, as imagined here: https://groups.google.com/forum/#!topic/json-schema/q90ym6dPcKs

[2016-03-21 10:39] paregorios opened #103 "verify "dumps" run effectively on P4"
Production has nightly and weekly dump functions that, I believe, are fired by cron jobs that startup a separate, scripted instance to accomplish the export. We should make sure that these scripted instances run properly to completion, and produce the expected output, on P4 before deploying to production. We should also verify that ansible steps (or some other deployment mechanism) are in place to

[2016-03-25 13:05] paregorios opened #104 "locations and names are sometimes showing up as connections to places"
e.g., Cosa (```/places/413107```)

[2016-03-28 21:14] paregorios opened #105 "capture content of pleiades trac wiki"
convert to static HTML for historical reference

[2016-03-28 21:15] paregorios opened #106 "rehome concordia.atlantides.org and get it out of our way"
Convert to static HTML for future reference.

[2016-03-29 21:23] paregorios opened #107 "verify alternate serializations from upgraded version match those from p3 production"
The following export files match exactly between P3 production and P4 staging (with the exception of domain self-reference in URLs, which is not a problem):

- Atom
- KML
- Neighborhood KML

There are some apparent differences showing up in JSON and in the two RDF serializations. I'm going to look into those some more.

[2016-03-29 21:33] paregorios commented on #107
The only apparent difference in the JSON serializations is that P4 production adds a JSON-LD ```@context``` that's not there on production:

[code]
This shouldn't cause any problems (and is, in fact, a good thing), but I think we should figure out whether this crept in magically by virtue of some upgrade in the JSON tooling or one of our products, or if it was intentionally added by @davisagli or

[2016-03-29 21:38] davisagli commented on #107
It's not something we changed intentionally. Could it be a change that was made in the source repository but not deployed?

[2016-03-29 21:40] paregorios commented on #107
Possibly. I'll investigate.

[2016-03-29 21:58] paregorios commented on #107
I've observed the following differences in the RDF/TTL serializations:

## Datetime formatting

In P3 production exports, datetime strings look like "2014-03-22 11:21:50" but in P4 production they look like "2014-03-22T11:21:50-04:00". The latter string looks right as I read the Dublin Core and W3C guidance (i.e., there must be a "T" separating date and time). Apparently, this fixes a bug in the P

[2016-03-29 22:02] davisagli commented on #107
The last one is due to a change in how Python itself represents floating point numbers (in Python 2.7). I'd have to take a look at what it's doing with `osgeo:asWKT`

[2016-03-30 01:26] paregorios commented on #107
I'm still working on comparing the RDF/XML files. Elements appear in different orders throughout the files, so a text-or-xml-based diff is inadequate. Jena's rdfcompare reports "models are unequal", but by design doesn't say how.

[2016-03-30 01:40] paregorios commented on #107
Use of rdflib/compare.py demonstrates that the only semantic differences between the two RDF/XML files are the same datetime and float formatting issues [identified above](https://github.com/isawnyu/pleiades-gazetteer/issues/107#issuecomment-203129702) for the RDF/TTL.

[2016-03-30 10:27] paregorios commented on #107
I have verified that the appearance of ```@context``` in JSON exports is (as @davisagli suspected) due to code changes that were committed to the pleiades.json module. The corresponding egg (pleiades.json 0.16) was deployed to production, but the version pin in the buildout config was never updated from 0.15.2.

[2016-03-30 10:37] paregorios opened #108 "update Pleiades geojson"
We should conduct a full review of [our json exports and dumps](../../pleiades.comprehensive) to ensure they are conformant with [the full GeoJSON spec](https://datatracker.ietf.org/doc/draft-ietf-geojson/) and that our `@context` conforms to the latest draft [guidance for geojson-ld](https://github.com/geojson/geojson-ld).

[2016-03-30 20:53] paregorios commented on #107
I have split out the remaining thread item on geojson upgrades to #108.

[2016-03-30 20:56] paregorios commented on #107
There are, in my opinion, no further tasks to undertake on this ticket, so closing.

[2016-03-30 20:56] #107 closed

[2016-03-30 20:58] paregorios commented on #96
works!

[2016-03-30 20:58] #96 closed

[2016-03-30 21:00] paregorios commented on #33
cannot duplicate on staging. Closing.

[2016-03-30 21:00] #33 closed

[2016-03-30 21:04] paregorios commented on #20
Here are a few questions for @davisagli and/or @alecpm regarding the P4 staging version of the code:

- What page-like components of the site are outside the plone? Are any of them not under version control?
- IIRC, /credits was a custom template managed through the ZMI. Is this still the case? Should we move to something more code-like?
- Can/should these issues be pushed after the initial P4 dep

[2016-03-30 21:08] paregorios commented on #15
All time periods in the vocab show up on the appropriate page in the upgraded P4 staging version of the site. Closing this issue. Note that issues #28 and #53 are relevant to time periods and remain open.

[2016-03-30 21:08] #15 closed

[2016-03-30 21:35] davisagli commented on #20
I made sure that all changes in the custom folder, including the credits template, are copied into a filesystem skin layer in pleiades.notredame so that we can clear out the custom folder after we upgrade.

In the long run credits should probably be a modern browser view, but there's no pressing reason to put time into that unless we're making other changes to it.

I'm not sure about pages outside

[2016-03-31 19:14] paregorios opened #109 "make credits page into a modern browser view"
For future prioritization. See @davisagli's [comment here](https://github.com/isawnyu/pleiades-gazetteer/issues/20#issuecomment-203644812).

[2016-03-31 19:21] paregorios commented on #20
Will wait to see if @alecpm has anything to add before clearing and closing this issue.

[2016-03-31 22:55] paregorios commented on #106
I have done a full trac dump to markdown as well as a wget capture of the full trac wiki and am holding both sets of data locally. There are a number of SVN repositories that still need to be migrated, and the concordia.atlantides.org landing page needs to be captured as well.

Once this is all done, a strategy that involves github (for the repos) and rehoming of concordia.atlantides.org off isaw1

[2016-04-01 14:44] paregorios opened #110 "add facility for manual reprPoint override for places"
Useful for some large-area places, e.g., the Mediterranean, rather than letting the centroid run the show on the basis of connection scatter. Perhaps this would be a "type" of location?

[2016-04-04 15:52] paregorios commented on #20
I'm under the impression that this is not essential before deploying the P4 upgrade; however, there is the open question of non-ploneish components on the server, on which I'll need to confer more closely with @alecpm

[2016-04-04 16:41] paregorios opened #111 "lock down server replacement schedule"

[2016-04-04 22:41] davisagli commented on #95
The place content type's diff settings had been customized so that it explicitly uses a `List Diff` for the `placeType` field, rather than the defaults. This was triggering a Plone bug because it appears that the List Diff registration has been accidentally overridden by a differ that expects files.

I fixed the `placeType` field to be correctly declared as a LinesField (it was previously declared

[2016-04-05 14:51] paregorios commented on #95
Staging seems to be responding very slowly this morning, so I am not able to verify.

[2016-04-05 14:53] paregorios commented on #95
In fact I'm getting 503s.

[2016-04-05 15:11] alecpm commented on #95
My fault, I started the RDF export, which seems to consume all resources (even when run with ``nice -n 19``).  My guess is it's exhausting RAM (though that would normally trigger an OOM kill on the exporter). Rebooting now.

[2016-04-05 15:25] davisagli commented on #95
Back up now. From syslog it looks like the instances became inaccessible at 7:28 and a python process was OOM-killed at 7:50

[2016-04-05 15:32] davisagli commented on #93
done

[2016-04-05 15:33] alecpm commented on #95
It stayed inaccessible for a while after the OOM kill and the reboot went through at 11:20. Looks like we should probably look into optimizing RAM usage during the RDF export.

[2016-04-05 15:37] davisagli commented on #87
@cguardia this looks like a good one to start on. This list appears in the place view (place_view.pt in Products.PleiadesEntity).

[2016-04-05 15:54] alecpm commented on #103
These should be available in ``/var/www/atlantides.org/downloads/pleiades/``, we don't yet have a complete RDF export, but the kml and csv exports appear to be working, along with the daily sitemap export. These are not currently available through the web, since they live under the atlantides.org virtual host.

When testing the dumps, I ran across a couple bugs. One was a simple backwards incompat

[2016-04-05 17:09] davisagli commented on #97
Well, we should certainly limit how many are shown in the Review List portlet. Should we show the oldest or most recently modified items pending review?

As for the full review list, it looks like Plone builds it in an inefficient way that loads full objects rather than using catalog results. So we could probably rewrite that and make it work much better.

I'm guessing reviewers are not going to s

[2016-04-05 17:16] paregorios commented on #97
For the review list portlet, is it easy to limit it to the n most recent items?

For the full review list, this is sounding more like a enhancement/feature request. Should we defer that aspect to a future milestone? The editors are currently in the habit of using advanced search to filter items in pending state.

[2016-04-05 17:27] davisagli commented on #97
#98 is also related to enhancing the full review list.

[2016-04-05 17:28] davisagli commented on #97
It's not completely trivial to show the most recent n items in the review list, because we need to change how the list is looked up from the workflow tool to avoid fetching the entire thing. But can probably be done in an hour or two.

[2016-04-05 17:34] paregorios commented on #97
I think that would be worth doing.

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Tue, Apr 5, 2016 at 12:28 PM, David Glick <notifications@github.com>
wrote:

[2016-04-05 17:51] davisagli commented on #86
Fixed

[2016-04-05 17:54] davisagli commented on #91
Fixed

[2016-04-05 17:55] #86 closed

[2016-04-05 17:57] #93 closed

[2016-04-05 17:57] davisagli commented on #95
Let's keep this open until I get that Plone fix added.

[2016-04-05 17:58] #91 closed

[2016-04-05 18:58] davisagli commented on #83
Fixed

[2016-04-05 19:01] davisagli commented on #82
Seems to be working for me (may have gotten fixed already)

[2016-04-05 19:12] davisagli opened #112 "Prevent plone.app.iterate from asking where to put working copy"
Currently in p4 checking out a working copy shows this screen:

![screen shot 2016-04-05 at 12 10 14 pm](https://cloud.githubusercontent.com/assets/49014/14294764/790f6896-fb27-11e5-961c-e3c3a1887936.png)

In p3 I think plone.app.iterate was patched to avoid giving this option (and always check out into the parent folder). Am I correct that we'd like to keep that customization?

[2016-04-05 19:28] davisagli commented on #79
For locations from the baseline it's coded to use `location-gray.png` which doesn't exist. Do you by any chance have a copy of the gray icon?

[2016-04-05 20:06] paregorios commented on #112
Yes please keep that customization.

On Tuesday, April 5, 2016, David Glick <notifications@github.com> wrote:

--
--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

[2016-04-06 05:32] cguardia commented on #87
The Plone folder listing now adds navigation at the bottom, so removed the one we added.

[2016-04-06 09:44] paregorios commented on #87
staging is refusing connections this morning, so I am unable to check

[2016-04-06 14:24] paregorios commented on #87
staging is back now

[2016-04-06 14:27] paregorios commented on #87
I see no indication that this is fixed as deployed on staging, e.g. see e.g. ```/places/423025/base_view```

[2016-04-06 14:28] #83 closed

[2016-04-06 14:28] #82 closed

[2016-04-06 14:39] paregorios commented on #79
Ah, evidence of my past misdeeds. So, I've just [created a repository](https://github.com/isawnyu/pmapi) that contains all the map icons that should have been copied into ```/var/www/pleiades.stoa.org/images/pmapi``` on production, but weren't. How hard would it be to get righteous here and incorporate these image files into [PleiadesEntity](https://github.com/isawnyu/PleiadesEntity) instead of ha

[2016-04-06 15:49] davisagli commented on #87
@cguardia hasn't deployed this yet (note that it's not assigned to you for review yet, @paregorios)

[2016-04-06 15:50] davisagli commented on #79
Yeah, that sounds good to me.

[2016-04-06 16:00] paregorios commented on #79
Great!

On Wednesday, April 6, 2016, David Glick <notifications@github.com> wrote:

--
--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

[2016-04-06 17:35] davisagli commented on #87
This is now deployed.

[2016-04-06 18:01] davisagli commented on #112
Okay, this should work correctly now.

[2016-04-06 18:03] davisagli commented on #95
The fix to CMFDiffTool is now in place. If you edit a place and change the place type, then compare the versions, you should see an inline diff for the place type.

[2016-04-06 18:03] davisagli commented on #80
Fixed. This was a side effect of the change to load the JSON via separate requests. I adjusted the javascript to wait for both the baseline and working copy JSON responses before setting the map bounds.

[2016-04-06 18:04] davisagli commented on #79
Done

[2016-04-06 18:05] davisagli commented on #75
duplicate of #112

[2016-04-06 18:05] #75 closed

[2016-04-07 05:30] cguardia commented on #97
I changed the portlet to show only the 20 most recent items. Is that number OK or should I change it?

[2016-04-07 10:14] paregorios commented on #97
20 sounds good thanks

On Thursday, April 7, 2016, Carlos de la Guardia <notifications@github.com>
wrote:

--
--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

[2016-04-07 10:53] #112 closed

[2016-04-07 10:56] #95 closed

[2016-04-07 10:59] #87 closed

[2016-04-07 11:00] #80 closed

[2016-04-07 11:01] #79 closed

[2016-04-07 19:30] cguardia commented on #97
Deployed.

[2016-04-07 20:13] paregorios commented on #97
The dashboard now loads much faster thanks to the changes to the portlet. Shall I close this ticket and make a new separate one for the more extensive changes that will be needed to make the full review list faster? I assume from trying it that nothing has yet been done on that score.

[2016-04-07 20:25] davisagli commented on #97
That sounds good.

[2016-04-08 05:58] cguardia commented on #89
I think I covered all the bases. Please test.

[2016-04-08 09:17] paregorios opened #113 "some places on staging throwing errors"
For an anonymous user,  ```/places/501380``` results in:

The traceback I get when logged in is more diagnostic:

[code]

This seems likely to be related to #89.

[2016-04-08 09:20] paregorios commented on #89
Content rating widgets are still visible on name and location pages:

![content-rating-name](https://cloud.githubusercontent.com/assets/263285/14379747/97c254aa-fd49-11e5-8a7f-c2b79036f4b6.png)
![content-rating-location](https://cloud.githubusercontent.com/assets/263285/14379746/97bff0fc-fd49-11e5-8561-3d766ebc5625.png)

Moreover, there is now a related error: #113

[2016-04-08 15:29] cguardia commented on #113
Got rid of this error.

[2016-04-08 15:39] alecpm commented on #111
The server configuration scripts and documentation should be comprehensive and ready to create and deploy to both staging and production environments. See here:

https://github.com/isawnyu/pleiades-ansible

Once there's a plan for #106 we can potentially incorporate the concordia repository and configuration into the server setup if needed.

[2016-04-08 15:43] cguardia commented on #89
Forgot to uninstall the ratings product. Done.

Also, fixed the error in #113.

[2016-04-08 15:47] alecpm opened #114 "Reduce resource consumption for RDF export"
Currently the RDF export scripts consume significant amounts of RAM and CPU over a long period. We should attempt to minimize resource usage during the dump process. Refs #103

[2016-04-08 15:49] davisagli commented on #89
@cguardia did you uninstall it through the web or add an upgrade step? Remember that anything we do through the web will be wiped out when we run the real migration from production.

[2016-04-08 16:02] cguardia commented on #89
I was planning to make a step. In fact, I typed this too early. I was unable to uninstall from the web now that I tried. I get a weird plone.ldap error.

[2016-04-08 16:07] davisagli commented on #89
What's the error?

[2016-04-08 16:17] skleinfeldt opened #115 "Remove LDAP"
Really remove it. When add-on is removed there can be LDAP error messages (see standup notes for 4/8/2016).

[2016-04-09 06:30] cguardia commented on #89
Ok, now it should be working.

[2016-04-11 17:46] cguardia commented on #88
This can be tested on staging now.

[2016-04-11 19:14] #113 closed

[2016-04-11 19:20] paregorios opened #116 "make full review list faster"
When the review list is large, it takes a lot of time to generate it and a lot of resources get used in the process. Investigation documented at #97 led to the conclusion that we might be able to rewrite how this works to use the catalog instead of accessing actual objects. Other optimizations might be possible as well.

Other review list enhancement request: #98

[2016-04-11 19:21] paregorios commented on #97
Review list speed enhancements have been hived off as their own issue ticket (#116) and placed on the backlog.

[2016-04-11 19:21] #97 closed

[2016-04-11 19:53] paregorios opened #117 "remove concordia.atlantides.org from ansible playbook"
The [pleiades.ansible readme](https://github.com/isawnyu/pleiades-ansible/blob/master/README.md) says that concordia.atlantides.org is setup as a virtual host by pleiades.yml. We should remove this, as concordia.atlantides.org is being re-homed off this server.

[2016-04-12 10:06] paregorios opened #118 "serialize all project vocabs in RDF"
Most of our [project vocabularies](http://pleiades.stoa.org/vocabularies) are presently only available as HTML. To get 5 stars, we really need to give them RDF instantiations. NB place types and time periods are already available in TTL via [the RDF dumps](http://atlantides.org/downloads/pleiades/rdf/). H/t @rybesh (https://twitter.com/rybesh/status/719710986966548480).

[2016-04-12 13:56] skleinfeldt commented on #92
@paregorios I think you should decide if you want this in the P4 upgrade deployment milestone, and whether it should remain on the #51 checklist. (I sort of lost track of it because it wasn't in the milestone.)

[2016-04-12 13:58] skleinfeldt commented on #51
@paregorios I updated the checklist - only #92 remains, need to decide if it is in or out of the P4 upgrade milestone.

[2016-04-12 16:57] paregorios commented on #92
It's not in the milestone now and I'm happy to leave it out, with the understanding we'll see how live performance goes and, if we notice oddities, go poking around with our New Relic powers.

[2016-04-12 16:58] paregorios commented on #51
I just removed #92 from the checklist.

[2016-04-12 21:10] rybesh commented on #118
Here's something to start from:
[code]

[2016-04-12 23:58] paregorios commented on #103
It's not clear how to me to get to these to view/test on staging.

[2016-04-13 00:13] cguardia commented on #90
@paregorios I have an upgrade step to fix this, but it seems I don't have commit permission to pleiades.policy. Can someone give me that please?

My fix for #88 was also not committed because of this (but it's working on the site).

[2016-04-13 00:17] paregorios commented on #90
I've just added the "Pleiades team" as admin on the pleiades-policy repository; evidently when alecpm set it up, he didn't add anyone else to it.

[2016-04-13 00:17] paregorios commented on #88
Re-opening until we're sure this is committed.

[2016-04-13 01:48] cguardia commented on #90
Thanks. Committed and ran on staging.

[2016-04-13 01:49] cguardia commented on #88
Commited.

[2016-04-13 13:23] hcayless commented on #118
Can I make a plea for folding in some of the https://github.com/lawdi/LAWD vocabulary? A chunk of it was inspired by Pleiades in the first place, so it should be a good match.

[2016-04-13 13:57] rmhorne commented on #118
I agree with @hcayless - the more we can use LAWD vocabulary, the better it is for everyone.

[2016-04-13 18:37] paregorios opened #119 "add "what's nearby" link to Pleiades place pages"
Clicking on the link executes a proximity query. Results are returned in HTML with the option of our other serialization formats (i.e., it's a part of the api).

[2016-04-13 19:13] #90 closed

[2016-04-13 19:13] #88 closed

[2016-04-14 21:20] paregorios commented on #106
Static virtual host content has been migrated to isaw2, as has the captured and static-i-fied trac content. Rewrite rules are in place and DNS has been updated. Now need to make sure apache.conf changes have been added to (or removed from) pleiades.ansible as appropriate.

[2016-04-15 19:33] alecpm commented on #103
You should be able to SSH to the pleiades.jazkarta.com server using the same login and SSH key you use for atlantides.org and download the files from there. Alternatively, we could set up a domain alias so you could view those files through the web server.

[2016-04-15 20:22] cguardia commented on #117
Done.

[2016-04-15 20:42] paregorios commented on #103
ssh is fine; I'll use that method. Thanks.

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Fri, Apr 15, 2016 at 2:33 PM, Alec Mitchell <notifications@github.com>
wrote:

[2016-04-18 15:51] #106 closed

[2016-04-18 15:52] paregorios opened #120 "test deploy scripts on Ubuntu 16.04"
Per @alecpm in email:

[2016-04-18 16:13] alecpm commented on #114
This is done. I added some intermediate commits during the export, removed the reliance on content ratings for sorting names and locations, and reduce looping and list construction. Resource consumption during export now appears to be pretty reasonable.

[2016-04-19 15:53] #114 closed

[2016-04-19 15:54] #117 closed

[2016-04-19 16:42] davisagli opened #121 "Hide Language and Location fields from Place?"
When editing a Place, on the categorization tab we show the standard Plone Language and Location metadata fields. These seem potentially confusing since they are unused but called the same thing as Pleiades concepts that we do use. Is there any reason not to hide them?

[2016-04-19 18:51] paregorios commented on #121
Yes, please hide them. They should probably also be hidden on locations and names, for the same reason.

[2016-04-19 18:55] davisagli commented on #121
Since I wrote that I discovered that on Locations the 'location' field is being co-opted to store a reference to CAP grids. So we probably don't want to hide that one.

[2016-04-19 18:55] paregorios commented on #121
:)

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Tue, Apr 19, 2016 at 1:55 PM, David Glick <notifications@github.com>
wrote:

[2016-04-19 22:17] alecpm commented on #120
The Ubuntu 16.04 test site is up at: http://52.39.101.112 and ready for testing. It should be identical to the deploy on the staging server.

[2016-04-20 10:37] paregorios commented on #120
Places, names, and locations appear to be in good shape, including ```/places``` but I'm seeing (as an anonymous user) 502 errors on at least the following:

- ```/news/blog```
- ```/credits```
- ```/docs```
- ```/vocabularies```
- ```/help```

[2016-04-20 10:40] paregorios commented on #53
This ticket now has associated stories in scrumdo for development (nos. 26 and 31). Reassigning to @cguardia since he is working on those stories in the current iteration.

[2016-04-20 13:34] paregorios opened #122 "rehome planet from isaw1 to isaw2"
planet.atlantides.org should not be served (nor the underlying processes be running on) production. Tasks:

- [x] rehome to isaw2, set up cron job, and update DNS
- [x] disable planet-related cron jobs on isaw1
- [x] remove virtual host settings on isaw1
- [x] verify there's no related cruft in our P4 ansible setup

[2016-04-21 18:28] alecpm commented on #120
The segfault that occurs when running under the OS python (2.7.11-7ubuntu1) appears to go away when running under a self compiled python. So at this point we could have the ansible scripts compile a python and use that if we want to run on 16.04 or we could stick with 14.04 until the issue is definitively resolved. I've attached a full stack trace for the segfault.
[stack-trace.gz](https://github.

[2016-04-21 20:16] alecpm commented on #120
@paregorios Do you have an opinion on whether we should go with a custom python on 16.04 or stick with 14.04? Updating our ansible playbook to build a custom python shouldn't more than an hour.

[2016-04-21 20:19] paregorios commented on #120
Unless there are other factors that might complicate things, I am
comfortable going with the custom python in order to go with 16.04.

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Thu, Apr 21, 2016 at 3:16 PM, Alec Mitchell <notifications@github.com>
wrot

[2016-04-22 22:51] alecpm commented on #120
The scripts are updated and the server is deployed with the new python. Let me know when we have access to the new Tummy server so we can do an initial deploy and test there. The new test server for 16.04 is up at:

http://52.38.6.139/

[2016-04-26 17:44] paregorios commented on #103
regarding ssh: Permission denied (publickey), but I can still use that key to login to atlantides.org. :(

[2016-04-26 17:50] paregorios opened #123 "16.04 staging version: history link throws error"
steps to reproduce:

- As an anonymous user, on the 16.04 staging version, navigate to ```/places/442473```
- Select "History" link in the byline
- Note following error message, vel sim:

An authenticated user also experiences the error, but gets a traceback:

[code]

So, apparently, we have still not completely succeeded in eliminating the content ratings cruft as envisioned in #89?

[2016-04-26 17:51] paregorios commented on #89
Reopening because #123

[2016-04-26 18:50] alecpm commented on #103
Is this for the 16.04 or 14.04 server? I don't think I had run the user playbook on the 16.04 server. I've re-run it on both servers now. Could you try again?

[2016-04-27 15:46] paregorios commented on #103
looks like a derelict public key got picked up for the ansible script; pull request above replaces it with a known good one.

[2016-04-27 21:28] alecpm commented on #103
OK, public keys have been updated on both servers.

[2016-04-27 21:55] paregorios commented on #103
I'm able to login now, thanks.

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Wed, Apr 27, 2016 at 5:28 PM, Alec Mitchell <notifications@github.com>
wrote:

[2016-04-27 22:02] paregorios commented on #103
CSV dumps on the 16.04 server under ```/var/www/atlantides.org/downloads/pleiades/dumps``` appear to only contain a few bytes of garbage.

[2016-04-27 22:09] paregorios commented on #103
KML export on the other hand, looks healthy on a macro level. It's a big, valid KMZ file and it paints the picture I expect to see in Google Earth. I will need to dig into particulars before giving it a clean bill of health.

[2016-04-27 22:11] paregorios commented on #103
RDF exports, like the CSV exports, are all small or zero-length files.

[2016-04-27 23:48] alecpm commented on #103
I haven't checked the dump setup on 16.04, I'll do that now. Do CSV and RDF look OK on 14.04?

[2016-04-28 00:26] alecpm commented on #103
It looks like there was a strange issue with the way the dump script was interpreting command line arguments on 16.04. I've fixed that issue and am re-running the dumps.

[2016-05-03 19:44] paregorios opened #124 "upgrade Pelagios Portlet to use newer API"
Via @rsimon [Our Pelagios portlet](https://github.com/isawnyu/pleiades.portlet.pelagios) uses a deprecated version of the Pelagios API (now re-branded as the Peripleo API). Current docs are here: https://github.com/pelagios/peripleo#peripleo-1

[2016-05-03 21:02] paregorios commented on #111
New production server is ready.

[2016-05-03 21:02] #111 closed

[2016-05-03 21:06] #122 closed

[2016-05-03 21:20] paregorios commented on #103
We still have problems (I'm looking at content on 52.38.6.139). Some more of the files appear superficially complete, but we are still missing content from the following:

- locations CSV files (in ```dumps/```)
- names CSV files (in ```dumps/```)

These files no longer contain garbage, and they do contain the expected column headers, but there are no data rows.

There are no files at all in ```rd

[2016-05-06 06:22] alecpm commented on #103
OK, something strange is going on with the CSV dumps for locations and names, which worked when I ran the command manually, but appear to yield empty results when run via cron. In hindsight, this isn't too surprising since the prior issue was related to the specific ordering of command line arguments which could be different during a cron run vs a non-cron run of the same command. I will dig into

[2016-05-06 06:39] alecpm commented on #123
It looks like we will need to keep the contentratings package in the buildout (though not installed or used) because saved versions of the content have persisted ratings information. In theory, we could remove the persisted rating information from all content and all saved versions of content using a migration step, but that might not be an entirely worthwhile undertaking.

[2016-05-06 06:51] alecpm commented on #103
All the CSV dumps now appear to be working, though I will recheck in a day to verify so that any differences between running the script directly vs from a cron job are apparent.

[2016-05-06 07:00] davisagli commented on #123
Or maybe add a fake module in place of the actual contentratings package?

David Glick
(mobile)

[2016-05-06 07:18] rsimon commented on #124
Hi Tom!

I took a quick look at [client.py](https://github.com/isawnyu/pleiades.portlet.pelagios/blob/master/pleiades/portlet/pelagios/client.py), which is where you'd need to make the adjustments if I understood that right?

If you query `http://pelagios.org/peripleo/places/{escaped Pleiades URI}` instead of the old `http://pelagios.dme.ait.ac.at/api/places/{escaped Pleiades URI}/datasets.json` y

[2016-05-06 08:30] alecpm commented on #123
Adding contentratings (but not the more complex user facing plone.contentratings) to the buildout eggs appears to have fixed the issue:

http://52.38.6.139/places/442473/@@historyview

[2016-05-06 10:01] paregorios commented on #124
Thanks @rsimon! We'll try to get on this as soon as we rollout [the pending performance upgrade](https://github.com/isawnyu/pleiades-gazetteer/milestones?direction=asc&sort=due_date&state=open).

[2016-05-06 13:43] paregorios opened #125 "flickr portlet not longer displays anything"
It's been removed from place pages through-the-plone because it was no longer displaying anything and we didn't have time or resources to troubleshoot, but there is a lot of useful content out there, and people would like to see it.

https://github.com/isawnyu/pleiades-portlet.flickr

[2016-05-06 13:49] paregorios commented on #123
@alecpm is there anything else that needs to be done to make sure this happens repeatedly and reliably when we (re)deploy? If not, let me know and I'll close the issue (or you can).

[2016-05-06 13:50] paregorios commented on #103
I'm taking this issue in order to conduct review.

[2016-05-06 13:56] atomrab commented on #14
I would consider this priority:high at this point.

[2016-05-06 14:00] atomrab commented on #125
It might make sense to consider something that could also be configured to pull in images with Pleiades tags expressed in RDF or JSON-LD. I'm working on a student-sourced LD image tagger (https://github.com/utls/django-nanosourcer) that applies Pleiades and PeriodO URIs, with images to be published with RDF descriptions through a Fedora repository at the UT libraries, and it would be cool if those

[2016-05-06 16:42] paregorios commented on #103
I've invested about 3 hours today in working to verify the dump files match (but for changes made on production since content was last replicated to staging). That's all I'll be able to invest today. Here is the current status:

- RDF dumps and KML look superficially OK, but I have not closely diffed them yet
- CSV places dump is OK in detail. There are changes due to floating point management, bu

[2016-05-06 16:47] alecpm commented on #103
If you'd like I can add back the ratings field with empty values for both locations and names.

[2016-05-06 16:48] alecpm commented on #103
On second thought, that won't help much since we're talking about line diffs for a format where each record is a single line. So nevermind.

[2016-05-06 16:52] alecpm commented on #123
Now that the contentratings package is back in the build there shouldn't be an issue with this recurring. @cguardia may have documented some steps needed for the initial removal of the add-on, but as far as I know it just needs to be removed from the control panel.

[2016-05-06 16:58] paregorios commented on #123
I'll wait to hear from @cguardia before closing this ticket.

[2016-05-06 18:59] paregorios commented on #103
So, for reference, here are the things I was doing to test the CSV files.

I set up a virtual environment with python 3 and the csvdiff tool. Issuing a command like the following got me a json file describing the differences:

[code]

Then I fired up the python interpreter and ran the following:

[code]

That provided some more useful information than just

[code]

And still in the python interpre

[2016-05-06 22:45] alecpm commented on #103
Great! Didn't know about csvdiff. Let me know if you'd like any output changes.

[2016-05-10 23:05] paregorios opened #126 "creating location with empty geojson coordinate string throws traceback"
This is probably a long-standing bug. To re-create, login, visit any existing place resource, click "add location", fill out only title, click "save". View the glorious traceback;

[code]

[2016-05-10 23:08] paregorios opened #127 "pressing enter in quicksearch behavior has changed"
On P3 production, typing a string and pressing the enter key executes an advanced search for the string with a wildcard search operator appended. On P4, the advanced search form is presented, with the search text box prefilled with the string and asterisk, but the search does not execute without additional input from the user (i.e., clicking the "advanced search" button on the advanced search form

[2016-05-10 23:10] davisagli commented on #126
What should it do? Show a validation error, or save without a location?

[2016-05-10 23:12] davisagli commented on #127
Right, this broke when I changed the advanced search link on the search portlet to go to the advanced search form; I didn't realize that that value is also used for the form action.

[2016-05-10 23:52] paregorios commented on #126
Save without, I think.

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Tue, May 10, 2016 at 6:10 PM, David Glick <notifications@github.com>
wrote:

[2016-05-10 23:55] paregorios commented on #123
Hi @cguardia, can you comment on [the comment by @alecpm above](https://github.com/isawnyu/pleiades-gazetteer/issues/123#issuecomment-217496655)? Thanks.

[2016-05-12 15:26] paregorios opened #128 "RDF/TTL dumps lack proper URI domains"
In working to verify implementation of #103 on the incoming production server (isaw1), I discovered that URIs in the RDF/TTL files that should begin ```http://pleiades.stoa.org``` are starting instead with ```http://nohost/plone/```. Is this a condition that will magically clear up when we shift the DNS over, or is specific intervention required?

[2016-05-12 15:31] davisagli commented on #128
Looks like the RDF dump script expects to find SERVER_NAME in the OS environment, and we need to set that up.

[2016-05-12 16:15] #123 closed

[2016-05-12 16:17] #120 closed

[2016-05-12 16:18] #103 closed

[2016-05-12 16:19] #89 closed

[2016-05-12 17:18] alecpm commented on #128
Hm, the script already sets the SERVER_NAME environment variable, so something else appears to be happening here.

[2016-05-12 18:53] davisagli commented on #128
Here's what I'm doing in the new dump script:

    app.REQUEST.setServerURL('http', 'pleiades.stoa.org')
    app.REQUEST.other['VirtualRootPhysicalPath'] = site.getPhysicalPath()

[2016-05-12 22:00] paregorios opened #129 "dupe references need cleanup"
Each reference in ```/places/534964140``` has somehow been repeated many multiple times. This needs to be cleaned up.

[2016-05-13 04:54] davisagli commented on #129
/places/831377672 is another one like this

[2016-05-13 05:30] alecpm commented on #127
Should be working properly now with advanced search going to advanced search and regular search going to regular search.

[2016-05-13 05:33] alecpm commented on #128
This fix is in place. Check the dump on isaw1.atlantides.org, the corrected dump on 52.38.6.139 should be finished soon as well.

[2016-05-13 06:59] alecpm commented on #124
This is now live on the EC2 staging server, see e.g.:

http://52.38.6.139/places/579885

I've implemented a 10 minute (maximum) RAM cache for the API request results, let me know if you'd like to shorten or lengthen that cache timeout.

[2016-05-13 10:19] paregorios commented on #124
I think the 10 minute caching target is a good place to start. @rsimon do you have any guidelines for how long third parties should be caching results?

[2016-05-13 10:28] paregorios commented on #129
It will probably be worthwhile, once we're confident that references are fully represented in the json dumps, to use them to identify all places that exhibit this sort of defect.

[2016-05-13 10:30] paregorios commented on #129
I'm hopeful this sort of thing is confined to place resources that, like these two, were new additions during the GANE import of Ancient Near East content from the TAVO index.

[2016-05-13 10:36] rsimon commented on #124
I don't think we'd update even the most dynamic sources more than once a week. So almost any caching interval will definitely be safe.

[2016-05-13 15:59] #128 closed

[2016-05-13 16:00] #127 closed

[2016-05-13 16:22] alecpm opened #130 "Connections Byline Has Dead Links"
Links to the author page in the bylines of the folder_listing template (used for place Connections) do not attempt to determine if the author name corresponds to a member. The result is often a 404 link to a non-existent author page. See:

http://isaw1.atlantides.org/places/423025

[2016-05-13 17:12] alecpm commented on #124
@paregorios given that, let me know if you want to bump it up to something a bit more generous (e.g 24 hours). The benefit of a longer cache time for this is likely to be small, but if the data is infrequently updated it may be worth doing anyway.

[2016-05-13 17:35] paregorios commented on #124
Let's make it 24 and then see how it behaves on the live site. Apart from
our performance, I don't want to pummel the Peripleo api server more than
necessary. Thanks.

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Fri, May 13, 2016 at 12:12 PM, Alec Mitche

[2016-05-13 17:52] alecpm commented on #124
Done and merged to master so this should go live along with the optimizations.

[2016-05-13 19:13] alecpm commented on #130
This should be fixed on staging and will be fixed on the next production deploy:

http://52.38.6.139/places/579885

[2016-05-13 19:15] paregorios commented on #130
looks good to me

[2016-05-13 19:15] #130 closed

[2016-05-14 09:53] paregorios opened #131 "tinymce throws traceback on attempted edit"
Steps to reproduce:

- login as a user with editorial role
- navigate to http://pleiades.stoa.org/places/423117/ouelitrai (which is in pending state)
- select "edit"

The following traceback results:

[code]

[2016-05-14 09:54] #49 closed

[2016-05-14 09:54] #51 closed

[2016-05-14 09:55] paregorios commented on #69
I'm keeping this ticket open and moving it to the post deployment milestone since there's still the matter of sorting the pleiades.stoa.org DNS with UKY, and that's my responsibility.

@davisagli I note there's one un-checked task above.

[2016-05-14 09:57] #124 closed

[2016-05-14 09:58] paregorios commented on #115
I think this is done, right @davisagli ?

[2016-05-14 10:00] paregorios commented on #92
We were noticing this immediately post-deploy on new production, although RAM caching may be mitigating the behavior now from the user perspective. There was some discussion in IRC about how to fix it.

[2016-05-14 16:56] davisagli commented on #131
Oops, I guess the editor preference needs to be set to an empty string rather than None to get the default editor. I just ran a script to fix that for all members, so please try again.

[2016-05-15 01:58] paregorios commented on #131
works!

[2016-05-15 01:58] #131 closed

[2016-05-16 16:31] davisagli commented on #115
Nope. We aren't using LDAP any more, but the site still breaks if we remove the plone.app.ldap package.

[2016-05-17 02:41] paregorios opened #132 "Pleiades site returning 503 errors for all ploneish pages"
This seems to have started around 22:27 US EDT on 16 May.

[2016-05-17 02:47] paregorios commented on #132
It seems likely this is in the aftermath of the server updates and reboots, see email earlier today.

[2016-05-17 03:10] alecpm commented on #132
Taking a look now.

[2016-05-17 03:11] alecpm commented on #132
Looks like @davisagli got to it a minute before I did.

[2016-05-17 03:17] paregorios commented on #132
Everything looks good now. Thanks for the quick response!

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Mon, May 16, 2016 at 11:11 PM, Alec Mitchell <notifications@github.com>
wrote:

[2016-05-17 03:24] alecpm commented on #132
It appears the supervisor service (which runs all the Plone related services) wasn't starting at boot. On past Ubuntu versions, installing supervisor via apt automatically enabled it, that does not appear to be the case on 16.04. I'm updating and testing the install scripts to ensure the service is enabled after it is installed.

[2016-05-17 03:38] alecpm commented on #132
This should be fixed now.

[2016-05-17 10:47] #132 closed

[2016-05-17 22:12] paregorios opened #133 "newly published place demands authentication"
I have just recently published the following pages:

- http://pleiades.stoa.org/places/246984898
- http://pleiades.stoa.org/places/237861811

But when visited anonymously with a browser that is not logged in, the user is confronted with http://pleiades.stoa.org/acl_users/credentials_cookie_auth/require_login

I tried visiting ```@@caching-controlpanel-purge``` and entering one of the above URLs. I

[2016-05-17 22:17] paregorios commented on #133
I note that, though purging is enabled in the "caching proxies" tab on `@@caching-controlpanel`, the "place", "name", and "location" types are *not* selected in the "content types to purge" list box.

[2016-05-17 22:25] davisagli commented on #133
@paregorios because Places are containers whose view aggregates multiple objects, they use the "content folder view" cache ruleset, which is associated with the "weak caching" operation. "Weak caching" allows proxy servers to store the resource, but requires that they validate it is up to date before serving the cached response to clients. So purging is not required.

I should double check how cac

[2016-05-17 22:31] paregorios opened #134 "double-check how names and locations are cached"
see: https://github.com/isawnyu/pleiades-gazetteer/issues/133#issuecomment-219872670

[2016-05-17 22:35] davisagli commented on #133
The published state in the workflow used for places was not granting one of the necessary permissions for anonymous users to be able to view items. I'm not quite sure how that happened and/or why it wasn't a problem in Plone 3, but I fixed it to be in line with how Plone workflows usually manage that permission.

[2016-05-18 01:18] paregorios opened #135 "content actions menus disappearing after editing"
Steps to reproduce:

- Navigate to a place page (in any state)
- Edit the content item (one must have permissions to do so)
- Save
- The browser reloads with the place + ```/base_view``` in which the "content actions" menus are missing.

Screen shot showing place page before editing (content actions are visible):

<img width="967" alt="before" src="https://cloud.githubusercontent.com/assets/263285

[2016-05-18 01:20] #133 closed

[2016-05-18 01:22] davisagli commented on #135
This is probably because the actions menu only appears when looking at the item's default view, and the default view is now the content negotiation view that @alecpm added, which indirectly invokes base_view. Possible solutions:
1. Do content negotiation in an IPublishTraverse adapter, so that base_view is resolved as part of traversal and recognized as the default view.
2. Adjust the redirect fro

[2016-05-18 02:10] alecpm commented on #135
There will likely be some small but useful benefits to moving to an IPublishTraverse adapter, and though it might be slightly easier to modify the redirect, doing so would also be a bit more invasive (modifying Archetypes form actions). I'd recommend we go with 1.

[2016-05-18 17:10] paregorios commented on #133
This seems still to be happening on production, e.g. http://pleiades.stoa.org/places/386745968

Are we waiting just to deploy code updates, or is there something else going on?

[2016-05-18 17:12] davisagli commented on #133
I didn't fix the permissions for any existing places aside from the two you mentioned. This is a place that was created some time ago so I guess we need to run a script to make sure the permissions are correct for all places.

[2016-05-18 17:14] paregorios commented on #133
Alternatively, if you can teach me how to make the changes manually, I'll
make that part of the process of publishing items that have been hanging
around in the queue since before yesterday ...

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Wed, May 18, 20

[2016-05-18 17:19] davisagli commented on #133
The permissions should be set correctly for anything that changes to published after I made the fix. So the easiest workaround is to retract and then re-publish the item. Although that'll add extra entries in the history.

[2016-05-18 17:29] alecpm commented on #133
We could use the update workflow permissions button from the ZMI to ensure all workflowed content has the appropriate permissions. That will take some time to run, and should probably be done at a low traffic time, but should address the issue if I understand it correctly.

[2016-05-18 17:32] davisagli commented on #133
Yeah that's more or less the script I was intending to run.

[2016-05-18 17:40] paregorios commented on #133
Honestly, I suspect there are not many (if any) additional places that have
been migrated to "published" since the fix was put in. If that's the only
factor, it may not be worth the trouble to try to hunt them down
comprehensively.

I am understanding this right, aren't I, that the issue is not the creation
date of the content item in question, but rather the date at which it was
transferred from

[2016-05-18 17:47] alecpm commented on #133
That is correct, the date of transition to published would determine the current permission settings.

[2016-05-18 17:50] paregorios commented on #133
OK, let's not worry about this further.

[2016-05-19 19:21] paregorios opened #136 ""Member since" strings on credits page have no date values"
E.g.:

http://pleiades.stoa.org/credits

[2016-05-20 05:45] davisagli commented on #134
Looks fine.

[2016-05-20 05:45] #134 closed

[2016-05-23 10:25] paregorios opened #137 "production is using wrong robots.txt"
A number of disallows are missing, plus there's no reference to the google sitemap.

[2016-05-23 10:27] paregorios commented on #137
Here's what we used to have:

[code]

[2016-05-23 10:29] paregorios commented on #137
We probably don't need the high crawl-delay any more, but the exclusions and the sitemap reference are still valid, it seems to me.

[2016-05-23 13:29] paregorios commented on #44
We can consider this done, right?

[2016-05-23 15:43] davisagli commented on #44
Yes

[2016-05-23 15:43] #44 closed

[2016-05-23 15:51] paregorios commented on #20
I think this can be closed, yes?

[2016-05-23 16:31] paregorios opened #138 "use New Relic to identify worst performance bottlenecks"
For example:
https://rpm.newrelic.com/accounts/1332365/applications/17811158/transactions#id=5b225765625472616e73616374696f6e2f5a6f7065322f76657273696f6e735f686973746f72795f666f726d2e7074222c22225d&app_trace_id=10fc6d8-cdc485b6-20b6-11e6-85b6-f8bc124250a8

[2016-05-23 16:33] alecpm commented on #138
The credits page could perhaps use some optimizations as well:

https://rpm.newrelic.com/accounts/1332365/applications/17811158/transactions#id=5b225765625472616e73616374696f6e2f5a6f7065322f637265646974732e7074222c22225d&sort_by=slowest

[2016-05-24 01:06] davisagli commented on #137
Not quite sure what happened here...the file was still there in the root of the Plone site with the correct contents, and once I re-saved it it started serving the correct contents again.

[2016-05-24 03:38] #20 closed

[2016-05-24 03:56] davisagli commented on #69
All done

[2016-05-24 03:56] #69 closed

[2016-05-24 04:15] davisagli commented on #64
Done

[2016-05-24 04:15] #64 closed

[2016-05-24 05:58] davisagli commented on #136
It determines this date from the creation date of the member folder, but was traversing to member folders in a way that they're not found when logged out. Fixed. I also fixed the formatting a bit (the extra spaces) and made it not show " since " for members that don't have a member folder, of which there are a few.

[2016-05-24 06:46] davisagli commented on #65
Fixed

[2016-05-24 06:46] #65 closed

[2016-05-24 10:18] #136 closed

[2016-05-24 10:32] paregorios commented on #137
So, this is what I'm seeing now, which includes the sitemap reference:

[code]

I can't seem to find out where that's located on the production filesystem though. Can you point me in the right direction?

[2016-05-24 10:44] paregorios opened #139 "apache conf currently denies even good bots"
Need to modify rewrite rules in https://github.com/isawnyu/pleiades-ansible/blob/master/templates/pleiades.stoa.org.j2 , which I will do shortly and submit a pull request.

[2016-05-24 10:45] paregorios commented on #137
Google claims they can't see it, which must be because of #139

[2016-05-24 11:01] paregorios commented on #139
Please merge and deploy isawnyu/pleiades-ansible#4

[2016-05-24 11:02] paregorios commented on #139
please merge isawnyu/pleiades-ansible#4

[2016-05-24 15:52] davisagli commented on #137
It's at http://pleiades.stoa.org/robots.txt/manage_workspace in the ZMI. That obviously has the full file. However when I first looked at it yesterday, and again today, the first part of the file was not being served. I added an initial blank line, resaved, and it ended up the same (no initial line) but started serving correctly...until it didn't again. Something weird's going on.

[2016-05-24 15:54] davisagli commented on #139
Okay, deployed that.

[2016-05-25 02:28] witekdev commented on #125
@paregorios fixed, the issue was that we were not using ssl.
but I need commit rights to the repo (and maybe to other repos too?) to push my fix.
```remote: Permission to isawnyu/pleiades-portlet.flickr.git denied to witekdev```

[2016-05-25 05:20] davisagli commented on #125
@witekdev the Pleiades team didn't have access to that repository; should work now.

[2016-05-25 07:11] cguardia commented on #116
I changed the review list to use the catalog. It will be interesting to try it out on staging (not deployed yet).

[2016-05-25 07:25] davisagli commented on #116
This is a good candidate for contributing upstream to Plone.

[2016-05-25 15:37] paregorios opened #140 "Prevent and remove \r\n from summary field on all content objects - 2"
ticket opened by @Jmuccigr in https://github.com/isawnyu/pleiades-dump/issues/4; migrated here.

Some records in the dump have new lines inside fields. This is ok when you load the whole CSV as a spreadsheet in order to work on it, but it means that lots of command-line tools will have trouble with the file. For example, I was using grep to select entries that had a featureType of temple and the n

[2016-05-25 15:52] davisagli commented on #140
The fields have newlines in them, and this is how newlines are represented in CSV (with the entire field contained in double quotes). My first inclination is to recommend using a tool that fully understands CSV to process CSV files, or alternately to run the file through a script to convert it to your desired format before working with it with other tools.

We could decide to dump the Python strin

[2016-05-25 16:43] Jmuccigr commented on #140
The newlines inside fields are so rare (I think I see 5), I thought they might be deprecated in the CSV (though of course that's one of the things the quotation of values is for). They don't seem to serve any obvious purpose that a space couldn't handle.

[2016-05-25 16:51] davisagli commented on #140
Actually now that I think about it, newlines in the description get rendered as spaces when shown in HTML. So I don't see much downside to cleaning up those rare occurrences and adding a constraint on the description field to disallow newlines. I'll let @paregorios make the call as to whether to do that and where to prioritize this.

[2016-05-25 18:34] witekdev commented on #125
@paregorios the fix is on staging. Just add the portlet somewhere to see it in action. I added it to "Browse Places" section.

[2016-05-25 20:48] paregorios commented on #125
Flickr portlet tested on staging. I think this fix is ready to deploy to production. I think we should address the RDF/JSON-LD feature request from @atomrab (above) in a separate story, which I will undertake to create in scrumdo.

[2016-05-25 21:13] davisagli commented on #92
I tracked down the source of this; some code for the display menu was doing an inefficient check that required loading a list of all place ids when it didn't have to, which was slow when the internal structure of the places folder wasn't in the ZODB cache yet. Submitted a pull request to plone.app.contentmenu and updated the Pleiades buildout to use that branch. Deployed to staging.

[2016-05-25 21:32] cguardia commented on #116
Deployed. It does appear to be a lot faster (but still not *fast*).

[2016-05-26 00:01] witekdev commented on #125
This has been deployed to production.

[2016-05-26 09:40] paregorios commented on #125
Looks great! I've reassigned the portlet to the /places folder instead of the default page so that it propagates down to all the place content items.

[2016-05-26 09:40] #125 closed

[2016-05-26 15:08] paregorios opened #141 ""site setup" appears twice in page header for authenticated users"
![screen shot 2016-05-26 at 10 07 35 am](https://cloud.githubusercontent.com/assets/263285/15579327/c4a50f2a-2329-11e6-92f0-8e25c50bc2ae.png)

[2016-05-26 15:12] davisagli commented on #141
Which should stay?

[2016-05-26 15:22] paregorios commented on #141
I think the one in the second line, between "dashboard" and "log out" should be kept, since those are all actions available only to authenticated users, whereas stuff in the top line should be available to anonymous.

[2016-05-26 15:26] davisagli commented on #141
Cool, you picked the same one using the same logic as Plone's default. :) Fixed.

[2016-05-26 15:26] witekdev commented on #126
There is another issue here, namely that the default that this field sets is
```{}```
which causes the same traceback. So setting this field to required is good but we probably need a better default entry or some better validation.

[2016-05-26 15:28] #141 closed

[2016-05-26 15:31] davisagli commented on #126
Can you just change the default to None so that it doesn't pass the validation for requiredness?

On the other hand, one imagines there might be other malformed inputs that would also cause errors. The *right* solution would be to write a validator that tries to convert the input using the same logic that's currently in `setGeometry`, and displays a validation error to the user.

[2016-05-26 21:02] paregorios commented on #116
Is this deployed to production or just to staging?

[2016-05-26 21:17] #139 closed

[2016-05-26 21:21] paregorios opened #142 "add bing ownership verification to ansible playlists"
In order for us to use Bing's Webmaster tools, we must return a particular file from this URI: `http://pleiades.stoa.org/BingSiteAuth.xml`. P3 production had this, but we didn't get it into the ansible playbook, so it needs to be added.

Note that the apache config file in the ansible playbook already has a rewrite rule that addresses this path. The `BingSiteAuth.xml` file needs to be placed at `/

[2016-05-26 21:22] paregorios commented on #142
I'm taking ownership of this ticket, since to get the file in question I have to authenticate against the bing webmaster tools.

[2016-05-26 21:27] paregorios commented on #137
I wonder if we were seeing some kind of caching artefact. In any case, curl just returned the right thing. I'll keep this file open so that I can check it again a few more times in coming days, but I'm pulling the priority label.

[2016-05-26 21:29] paregorios commented on #116
This is remarkably faster on staging. I assume it has not yet been deployed to production, where one encounters a 503 when trying to view the full review list. So, I'm going to label this for deployment to production and ask @cguardia to make that happen when he has time.

[2016-05-26 22:44] witekdev commented on #126
I've committed a validator to a new branch:
https://github.com/isawnyu/PleiadesEntity/commits/location_coordinates_validation
It is ready for deployment to staging but I'm not sure how to proceed as I forked off master and in the meantime I see there has been work done on staging by @cguardia

[2016-05-26 23:25] paregorios opened #143 "a broken place page"
A particular (drafting state?) place page ([Skorba temples](http://pleiades.stoa.org/places/946094051/)) throws a "ValueError: Object cannot be adapted" traceback:

[code]

[2016-05-27 00:03] davisagli commented on #126
Merge your branch to staging and check with Carlos if there are any conflicts that you need help resolving.

David Glick
(mobile)

[2016-05-27 05:52] davisagli commented on #92
This is on production

[2016-05-27 05:52] #92 closed

[2016-05-27 05:57] cguardia commented on #116
This is on the staging branch, which also has the registry vocabulary. Should I cherry pick the change and put it on master?

[2016-05-27 05:59] davisagli commented on #116
@cguardia please do if it's not too hard

[2016-05-27 06:41] witekdev commented on #126
@davisagli merged and deployed to staging, I didnt get any conflicts when merging.
However, I get this when trying to add a new place to the places folder to test my fix:
[code]
My initial thought is that this probably not my doing? but I could be wrong..

[2016-05-27 06:42] davisagli commented on #126
That looks related to @cguardia's changes. We can take a look tomorrow.

[2016-05-27 06:45] witekdev commented on #126
@davisagli ok thanks!

[2016-05-27 19:38] davisagli commented on #126
This should be working now on staging.

[2016-05-27 19:50] paregorios commented on #126
That looks great. Please deploy to production.

[2016-05-27 23:36] davisagli commented on #143
Turns out this is because there's no precise location for this place, so the representative point is being calculated from the precise extents of connected places (/places/462311/). That contains a location (/places/462311/batlas-location) using a CAP grid of "http://atlantides.org/capgrids/47/inset", which happens to have *two* inset bounding boxes which the code does not handle.

Is the solution

[2016-05-28 01:06] cguardia commented on #116
Deployed to production.

[2016-05-28 05:24] alecpm commented on #135
This is fixed (in a slightly different manner than expected) on staging.

[2016-05-28 10:43] paregorios commented on #53
I just encountered the following error on staging, which seems to be related to the code being developed and tested for this enhancement. To recreate, visit /search_form and enter ```Zucchabar``` in the search box and execute search:

[code]

[2016-05-28 10:55] paregorios commented on #135
Confirmed on staging: we still end up on base view after an edit, but now the content actions menus are available and functional. Please deploy to production.

[2016-05-28 10:57] paregorios commented on #137
I have been getting the correct file reliably for several days now via curl, and the Google webmaster tools (or whatever they're calling that functionality this week) is no longer complaining. Closing as resolved.

[2016-05-28 10:57] #137 closed

[2016-05-28 10:59] paregorios commented on #116
This is *sooooo* much better. Closing as resolved.

[2016-05-28 10:59] #116 closed

[2016-05-28 11:24] paregorios commented on #143
The batlas location on 462311 has been retracted to drafting state because we want 462311 (the island of Malta) to pick up *its* geometry from connected places (individual sites on the island). So, I think there are two things going on here: the oddball case of two inset boxes in the CAP grid CSV (which really surprises me hadn't caused a problem in all these years!) and the case of cascading posi

[2016-05-28 12:40] paregorios opened #144 "escapes and UTF8 in new JSON strings"
Our new JSON (as the old JSON) currently uses escape sequences for characters outside the base ASCII range (a default setting of [```json.dump```](https://docs.python.org/2/library/json.html#basic-usage) in Python). For example:

These escapes are valid per [RFC 7159](https://tools.ietf.org/html/rfc7159#section-7); however, human readability would be enhanced if these characters were all rendered

[2016-05-28 17:00] alecpm commented on #135
Done.

[2016-05-28 17:39] paregorios commented on #135
:)

[2016-05-28 17:39] #135 closed

[2016-05-28 23:54] alecpm commented on #144
I'll take this as it's a quick fix in the updated exporter.

[2016-05-29 06:55] alecpm commented on #144
This should be fixed on staging. And the latest dump there should reflect the change.

[2016-05-29 12:41] paregorios opened #145 "multiple places with 503 errors on production edit/checkout"
Another editor reported, and I have confirmed, that users with permissions to direct-edit or checkout published items are experiencing "503 backend fetch failed" errors on production, apparently beginning sometime yesterday afternoon and continuing this morning. Here are some examples:

attempted edit
http://pleiades.stoa.org/places/648548
Guru Meditation:
XID: 1769219
Varnish cache server

attemp

[2016-05-29 14:10] alecpm commented on #145
Right now all of these are currently working for direct edit on my end. A 503 error generally means that varnish timed out on a long running request. The edit form is one of the slower pages on the site according to our New Relic data (though it is inconsistently slow), but generally loads fast enough to avoid a timeout. We implemented some additional tracing in New Relic on that view yesterday in

[2016-05-29 14:12] paregorios commented on #145
I'll look into getting us pro on an on-going basis asap

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Sun, May 29, 2016 at 9:10 AM, Alec Mitchell <notifications@github.com>
wrote:

[2016-05-29 14:14] paregorios commented on #145
I have submitted the non-profit new relic request.

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Sun, May 29, 2016 at 9:12 AM, Thomas Elliott <tom.elliott@nyu.edu> wrote:

[2016-05-29 14:15] paregorios commented on #145
Were there any dumps (e.g., RDF) running during the period 5pm - 7am US EDT?

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Sun, May 29, 2016 at 9:14 AM, Thomas Elliott <tom.elliott@nyu.edu> wrote:

[2016-05-29 14:30] paregorios commented on #145
Site is now notably faster across all actions than it was a couple of hours ago.

[2016-05-29 14:30] alecpm commented on #145
The pleiades RDF dump did complete it's run at 8:35 AM EDT today. It should have started at 6:47 AM according to the crontab. The daily json, kml and csv dumps should have started at 6:25 AM, and they completed at 9:21 AM EDT. It might be a good idea to have the daily and weekly jobs run non-concurrently. None of that explains what could have happened starting at 5:00 PM yesterday though. One thin

[2016-05-29 14:34] alecpm commented on #145
It's also worth noting that the newly working Flickr portlet is one of the slower elements of the site, and it renders on almost all pages. There could be some improvements made to better cache the API data from Flickr, but the benefits of that would be small since the request varies from Place to Place. Alternatively, we could try to refactor the portlet to make the API calls and render the data

[2016-05-29 14:43] paregorios commented on #145
Yes, there was some discussion with @davisagli and @ryanfb I think on IRC
the other day about refactoring/replacing the Flickr portlet with a pure,
client-side Javascript solution. I will undertake to capture the content of
that conversation and get it into appropriate Github issue and/or Scrumdo
story.

It also occured to me this morning that we really don't need to be seeing
the Flickr portlet i

[2016-05-29 14:49] paregorios commented on #145
Yeah, we've seen in the P3 past that multiple bots visiting at the same
time can really clobber things. And recent changes to robots.txt, apache
conf, and google webmaster settings have removed most of the obstacles we
put in place to try to mitigate those effects (because we want the site to
register well in the search indexes).

Apache logs show only 19 503 errors since 0700 EDT yesterday. Most

[2016-05-29 14:54] paregorios commented on #145
There are a large number of plain 500s being returned to the googlebot, bing, and possibly some other users during the last 24 hours (and this is ongoing). I will email an apache log extract with details to @alecpm

[2016-05-29 15:03] alecpm commented on #145
OK, I've set some timeouts in the varnish configs to match/exceed those we already have set in our HAProxy config. That should allow these requests to get served to clients, rather than having the execute on the server and get hung up on by varnish. Might be best to open a new ticket with the 500 errors as an attachment.

Let me know how the New Relic non-profit application works out. I believe it

[2016-05-29 15:07] paregorios commented on #145
Thanks will do.

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Sun, May 29, 2016 at 10:03 AM, Alec Mitchell <notifications@github.com>
wrote:

[2016-05-29 15:11] paregorios opened #146 "multiple 500 errors"
We are seeing a very large number of 500 errors in the logs on pleiades. Opening new ticket as suggested by @alecpm in #145.

[2016-05-29 15:37] alecpm commented on #146
I just committed a fix for this. You can see the details of the issue here for the time being:

http://pleiades.stoa.org/prefs_error_log_showEntry?id=1464535315.890.495335704717

(you'll probably need a couple reloads to get the right ZEO Client). It's related to a couple issues in the new content negotiation setup. The first one is an long-standing issue where crawlers that pass in an ACCEPT head

[2016-05-29 15:44] alecpm commented on #146
Both fixes are now deployed to production. Looking through the logs, I've noticed a couple additional unrelated errors and will make tickets for those.

[2016-05-29 15:46] alecpm opened #147 "Exception thrown in KML view when appellations are not set"
See e.g.:

http://pleiades.stoa.org/places/599612/kml

[2016-05-29 15:48] alecpm opened #148 "Place view string exception when calculating "neighborhood" box (?)"
See e.g.:

http://pleiades.stoa.org/places/776211/

[2016-05-29 21:17] alecpm commented on #148
A somewhat different traceback in the same code path:

http://pleiades.stoa.org/places/589764/

[2016-05-30 12:12] paregorios commented on #148
Well spotted. There are other place examples wherein these errors are occurring.

[2016-05-30 12:13] paregorios commented on #146
Thanks!

[2016-05-30 12:13] #146 closed

[2016-05-30 12:18] paregorios opened #149 "anonymous view of place 560221 throws error"
Displays fine for admin user:

http://pleiades.stoa.org/places/560221

anonymous sees e.g., The error has been logged as entry number 1464610371.180.29930496417.

[2016-05-30 12:37] paregorios commented on #144
Both the JSON retrieved from /newjson URL slugs and the 2015-05-30 json dump on production still seem to be using escapes.

[2016-05-30 12:41] paregorios commented on #144
@alecpm please disregard earlier comment; I was looking in the wrong place.

[2016-05-30 13:00] paregorios commented on #144
This looks good on staging in both the JSON dump and the in the individual JSON resources returned from Pleiades URIs with the appended "/newjson" slug. Please deploy to production when convenient.

[2016-05-30 23:42] witekdev commented on #126
@paregorios Deployed to production now.

[2016-05-31 09:44] paregorios commented on #140
I will hunt down and kill these cases manually.

[2016-06-01 23:03] paregorios opened #150 "isaw1.atlantides.org urls are publicly browseable and google-bottable"
Is there any way we can prevent this? It's going to confuse users and muddle the google index.

[2016-06-02 16:55] davisagli commented on #150
We could completely stop all access to domains other than pleiades.stoa.org, or we could let the server serve other domains that happen to point at it but set up robots.txt so that it will only allow indexing of the official domain. Any preference?

[2016-06-02 17:11] paregorios commented on #150
I'd prefer that port 80 on isaw1.atlantides.org not be accessible from
outside at all. There used to be an uncached instance accessible from
atlantides.org on another port number for administrative purposes. This
still seems to be active and serves up a robots.txt as follows:

User-agent: *
Disallow: /

It seems to me that leaving the latter setup on the alternative port
number might be useful?

-

[2016-06-02 17:54] paregorios opened #151 "CSS problems on the insert/edit image dialog"
Layout of icons is wonky and form fields flow off and are truncated at the end of the dialog.

It doesn't need to be pretty, but It's nearly useless at present.

[2016-06-02 18:16] alecpm commented on #150
I've setup a permanent redirect from any non "pleiades.*" domain hitting the default virtualhost to the canonical pleiades.stoa.org domain. So requests to http://isaw1.atlantides.org/... will all get a 301 to http://pleiades.stoa.org/...

[2016-06-02 18:18] paregorios commented on #150
Looks great, thanks.

[2016-06-02 18:18] #150 closed

[2016-06-06 16:52] paregorios opened #152 "robots.txt intermittently returning 503"
My uptimerobot monitor has reported twice this morning short periods of the site "being down". it's specifically watching robots.txt. The error it reports is 503. Times are as follows:

- 8:26 am CDT to 8:29 am
- 11:47 am CDT to 11:48 am CDT

Can New Relic or log analysis tell us what is happening?

[2016-06-06 17:02] alecpm commented on #152
It looks like some "web external" requests took a very very long time to return. This is almost certainly related to the Flickr portlet and delays in their API or issues with the server's connection to it. We could apply a shorter timeout to those requests to ensure they don't tie up a request thread for more than say 5 seconds (not displaying the portlet if we don't get a response in a reasonable

[2016-06-06 17:14] paregorios commented on #152
Right, Flickr is having problems this morning. Can we implement the shorter portlet timeout relatively quickly and cheaply, then at our next planning session do planning poker to estimate re-implementing our flickr functionality on the client side?

[2016-06-06 17:36] alecpm commented on #152
I can do the timeout quickly.

[2016-06-06 19:21] alecpm commented on #152
I've deployed a fix to staging that implements a timeout (2 seconds to connect, 5 seconds for data read) along with some better error and performance handling logging and some internal caching (two hour cache of valid responses). I also implemented similar updates in the pelagios portlet, to ensure pelagios API issues don't impact the site too much. Let me know if you see anything amiss in those p

[2016-06-07 13:15] paregorios commented on #55
from @VladimirAlexiev at https://twitter.com/paregorios/status/739442194621292544:

cc @rmhorne

[2016-06-07 14:42] ryanfb commented on #55
These vocab alignments could also help with producing better place alignments in processes like [pleiades-plus](https://github.com/ryanfb/pleiades-plus) (Geonames alignment) and [pleiades-tgn](https://github.com/ryanfb/pleiades-tgn).

Thinking about other potential automated alignments as a source for where we could use vocab alignments:

- OpenStreetMap / OpenHistoricalMap - I know OSM has tags l

[2016-06-07 17:30] VladimirAlexiev opened #153 "add LOD links to RDF representation"
In RDF, there are few if any links to other LOD. Eg for http://pleiades.stoa.org/places/462425/turtle and Geonames:
[code]
But this doesn't mention the Geonames semantic URL, which is http://sws.geonames.org/2524753/ (see http://sws.geonames.org/2524753/about.rdf). Use eg
[code]

There is a Wikipedia link, but it would be nice to emit an appropriate RDF statement (eg skos:exactMatch) against Wikid

[2016-06-07 17:46] VladimirAlexiev commented on #55
- I think this effort should be centered around Wikidata. It has a lot of properties to describe the correlations precisely. Eg https://www.wikidata.org/wiki/Q4022 "river" has OpenStreetMap tag (Tag:waterway=river), Geonames feature code, and AAT id (ok, I just added the last two). The Wikidata class hierarchy has been largely fixed in the last year, and I think it's consistent
- Geonames features

[2016-06-07 17:49] VladimirAlexiev commented on #55
Where are the Pleiades place types? I want to make a WD property proposal.
- is http://pleiades.stoa.org/vocabularies/place-types the latest?
- google found https://archive.nyu.edu/bitstream/2451/34306/11/place-types.ttl but is it authoritative?

[2016-06-07 18:13] VladimirAlexiev commented on #55
Please fix http://pleiades.stoa.org/vocabularies/place-types/stadion%2C%20stadium: doesn't resolve, and it's not a good idea to use such special chars in URLs.

[2016-06-07 18:18] VladimirAlexiev commented on #55
Added to wikidata:
- Pleiades project: https://www.wikidata.org/wiki/Q24423804. Feel free to add more info!
- property proposal https://www.wikidata.org/wiki/Wikidata:Property_proposal/Authority_control#Pleiades_ID
- property proposal
https://www.wikidata.org/wiki/Wikidata:Property_proposal/Authority_control#Pleiades_place_type

[2016-06-07 20:41] VladimirAlexiev commented on #55
Wikidata has 9466 place types: https://tools.wmflabs.org/sqid/#/view?id=Q2221906.

The Pleiades property proposals are garnering good support. Please retweet https://twitter.com/valexiev1/status/740246972574093312

[2016-06-07 20:47] paregorios commented on #55
http://pleiades.stoa.org/vocabularies/place-types/stadion%2C%20stadium was fixed a week ago; we appear to have had a regression. I will open a separate ticket to see what has happened.

[2016-06-07 20:56] paregorios commented on #55
@VladimirAlexiev the version of the vocabulary you found via archive.nyu.edu is a down version. You want http://atlantides.org/downloads/pleiades/rdf/place-types.ttl, which is always the latest version. The term that was bothering you has been replaced with http://pleiades.stoa.org/vocabularies/place-types/stadion

[2016-06-07 21:05] VladimirAlexiev commented on #55
Corrected https://www.wikidata.org/wiki/Wikidata:Property_proposal/Pleiades_place_type to include th authoritative Turtle location

[2016-06-08 12:58] paregorios commented on #153
Agreed, this needs upgrade.

[2016-06-08 21:15] paregorios commented on #152
I'm marking this with the "review" label and taking it, since that seems to be what @alecpm was looking for me to do.

[2016-06-08 21:30] paregorios commented on #152
This seems to be working on staging as I would expect from the user perspective. Please deploy to production at your leisure.

[2016-06-08 22:13] alecpm commented on #152
This is live on production now, with @cguardia's suggested timeout improvements.

[2016-06-09 15:48] #152 closed

[2016-06-09 15:57] paregorios commented on #151
## steps to reproduce:

- edit an item with a rich text field
- select/focus rich text field and select the "insert/edit image" icon on the editor menu bar
- attempt to add and edit metadata about an image

##The following specific problems are noted:

### Layout of icons for files and folders
Icons for files and folders are not tiled, they are presented in a single, vertical row, which wastes spa

[2016-06-09 15:58] paregorios commented on #129
Is there a way we can script identifying places, names, and locations that have this problem?

[2016-06-10 00:36] paregorios opened #154 "readme file was missing from the CSV downloads folder: find a way to prevent reoccurence"

[2016-06-10 00:43] paregorios commented on #154
I have manually copied the file from the old server to the new server, so downgrading, but we probably want to find a way to manage this readme file under version control, either in the ansible buildout or the CSV export module. Downgrading to medium priority now that we've eliminated the near-term probabiliyt of 404s for this.

[2016-06-10 06:06] witekdev commented on #151
I've managed to make decent progress here using only css tweaks - worked on a branch here:
https://github.com/isawnyu/pleiades-notredame/commits/tinymce_plonebrowser_fixes
As things stand it is now in a usable state, though I will try to tweak it a bit more, then get it out to staging..

[2016-06-10 14:11] paregorios opened #155 "misleading status codes for bad web requests"
@rmhorne reports that our web server provides varying and idiosyncratic responses to some forms of "bad" HTTP requests:

I think it should be our goal that a request for a non-existent PID value in an ```http://pleiades.stoa.org/places/``` URI (that has not been redirected to ```http://pleiades.stoa.org/errata/*``` in the plone) should return 404, regardless of the kind of characters appearing in

[2016-06-10 14:29] paregorios commented on #151
sounds good. Please let me know @witekdev if you need any help from me.

[2016-06-10 14:56] paregorios commented on #115
So I take it that there's still a todo here. In terms of technical debt and angering downstream upgrade deities, how urgent is this?

[2016-06-10 15:25] witekdev commented on #151
@paregorios tnx, will do if anything..

[2016-06-10 22:01] davisagli commented on #115
Not pressing, but it'd be nice to get it cleaned up.

[2016-06-11 05:07] witekdev commented on #151
I now have something I'm happy with, here are some screenshots:
![screenshot from 2016-06-10 22 03 12](https://cloud.githubusercontent.com/assets/883619/15983298/7d15eb40-2f57-11e6-8ac1-c06812095a1b.png)
![screenshot from 2016-06-10 22 03 17](https://cloud.githubusercontent.com/assets/883619/15983299/81a8d74e-2f57-11e6-98db-ec39ff5aaf5f.png)
![screenshot from 2016-06-10 22 03 38](https://cloud.git

[2016-06-11 05:14] davisagli commented on #151
Hmm, that's definitely an improvement. But the out-of-the-box Plone styles for this dialog float the details panel on the right which I think looks better (those are some loooong fields) and avoids the vertical scrollbar. Maybe we can compare to those styles to see what we need.

[2016-06-11 05:36] witekdev commented on #151
@paregorios ok nevermind my earlier screenshots, thanks to @davisagli who pointed out that we were missing some deco styles
https://github.com/plone/plonetheme.sunburst/blob/master/plonetheme/sunburst/skins/sunburst_styles/columns.css

after testing we now have:
![screenshot from 2016-06-10 22 31 33](https://cloud.githubusercontent.com/assets/883619/15983401/b463cfbe-2f5b-11e6-8e98-e6eba838cc72.pn

[2016-06-11 06:14] witekdev commented on #151
@paregorios The fix is on staging

[2016-06-11 08:10] paregorios commented on #151
I'm taking this ticket for review

[2016-06-11 09:24] paregorios opened #156 "copyright symbol getting erroneously escaped on editing"
after an edit to a place, name, location, etc. the existing (or default for new items) rights statement has a borked character entity. One sees in the browser:

instead of

[2016-06-11 09:30] paregorios opened #157 "connection lists in place views should be sorted alphabetically by title: 2pts"
Right now they seem to the user to have an arbitrary order, see e.g., sub "Has a connection with" on http://pleiades.stoa.org/places/579885

[2016-06-11 09:33] paregorios opened #158 "add description to connection browser widget"
At present, the reference browser widget used to make connections shows only the title of the places turned up by in-widget search. As our titles are not unique, it would be helpful to users if the descriptions (perhaps just the initial part of the string in order to control length), was shown along with the title.

[2016-06-11 09:35] paregorios opened #159 "sort the title list in the connection browser more helpfully"
Ideally, the list the user gets in the connection browser reference widget thing would show first exact title matches, then close title matches, then everything else (each group in alphabetical order by title).

[2016-06-12 11:19] paregorios opened #160 "sort time periods by "lower" value (ascending)"
In legacy production, the time periods pick widget sorts periods by their start date so that users can find the right period intuitively. In the new implementation on production, there is no obvious sort order in the pick widget. We need to reimplement sorting by state ("lower") year in the pick widget.

[2016-06-12 11:26] paregorios commented on #53
Reviewing on staging, I found an issue with the pick widget: #160

[2016-06-12 13:27] paregorios opened #161 "differentiate ethnica on place views"
When a `name` is marked as an "ethnic name" (instead of a "geographic name"), we should indicate this in the "names" list in the parent `place` view. Perhaps something like:

[2016-06-12 16:05] paregorios opened #162 "cannot delete a time period in @@pleiades-settings"
It's not clear how to do this. See below.

[2016-06-12 16:06] paregorios commented on #162
The "delete row" icon (a yellow minus sign) appears along with the "add row" icon (a yellow plus sign), but they are not linked nor are they associated with any sort of javascript.

[2016-06-12 16:20] paregorios opened #163 "time periods are difficult to edit in @@pleiades-settings"
The current layout of the time periods listing uses ```input``` boxes in table cells, one row per period. Titles and especially descriptions are longer than these boxes. Would it be possible to use "text areas" (with word-wrapping and scroll bars) or introduce some other more flexible layout that would make these easier to edit?

[2016-06-12 16:21] paregorios commented on #163
<img width="910" alt="screen shot 2016-06-12 at 11 20 52 am" src="https://cloud.githubusercontent.com/assets/263285/15992369/c98f719c-308f-11e6-8995-e3f5ad3fa1dc.png">

[2016-06-12 16:48] paregorios commented on #160
This sort rule has also been lost from the time periods listings on "location" and "name" base views and needs to be put back.

[2016-06-13 15:52] davisagli commented on #155
Yeah, there was an apache rule to return a 410 Gone response for any /places/ URL starting with a non-digit. I removed the rule so it now returns a 404.

[2016-06-13 15:54] davisagli commented on #155
There are also rules to return a 410 for URLs starting with `/names`, `/locations`, and `/join_form`. Should these go too?

[2016-06-13 15:55] davisagli commented on #155
Looks like `names` and `locations` don't exist anyway, and the registration form is at a different URL in Plone 4. So I'll remove those. But maybe you want to block `/@@register` instead of join_form?

[2016-06-13 15:57] paregorios commented on #155
Everything you've done and suggested sounds good. Yes, we do want to block
/@@register instead of join_form. But what's the right response?

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Mon, Jun 13, 2016 at 10:55 AM, David Glick <notifications@github.com>

[2016-06-13 16:00] davisagli commented on #155
Never mind, I was confused because I was logged in as an admin so could load the registration form. It's already blocked for logged-out users (raises Unauthorized which causes Plone to show the login form instead).

[2016-06-13 16:02] paregorios commented on #155
Perfect.

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Mon, Jun 13, 2016 at 11:00 AM, David Glick <notifications@github.com>
wrote:

[2016-06-13 16:31] paregorios opened #164 "make sure new time period vocab terms appear in the RDF exports"
Including the "same as" data.

[2016-06-13 16:32] skleinfeldt commented on #164
Assigning to @paregorios for testing.

[2016-06-13 16:33] paregorios opened #165 "replace old time-periods vocabulary at /vocabularies with the new one"
Delete old ATVM-managed time-periods vocabulary and expose the new data-grid one at /vocabularies

[2016-06-13 16:53] davisagli commented on #162
@cguardia you probably know this, but this sounds like we just need to activate the js for collective.z3cform.datagridfield

[2016-06-13 18:05] paregorios commented on #151
Perfect! Please deploy to production at your leisure.

[2016-06-13 18:59] witekdev commented on #151
@paregorios deployed to production

[2016-06-14 03:46] cguardia commented on #162
As @davisagli said, the datagrid field was not installed on the site. Fixed and added upgrade step to avoid this issue in the future.

[2016-06-14 04:43] cguardia commented on #165
One problem that I didn't think of when we discussed this before: right now 'vocabularies' is a folder and it shows all the vocabularies that it contains. We can't get rid of the folder right now, because there's only one registry vocabulary and then the real ones would not show up. For now, we could create a special view for the folder (assigned using the display menu) and add the new registry vo

[2016-06-14 09:39] paregorios commented on #165
That seems like a reasonable solution.

[2016-06-14 10:10] paregorios commented on #162
Works great!

[2016-06-14 10:10] #162 closed

[2016-06-14 10:12] #155 closed

[2016-06-14 10:14] paregorios commented on #53
The Zucchabar aspect of this is fixed.

[2016-06-14 10:55] paregorios commented on #164
It looks to me like, as of the last run on 12 June. the RDF export of time periods on staging are still serializing the old vocabulary. Here's the set of triples being created for a given term now:

[code]

In addition to producing this from the new vocabulary, we would want to add a triple to express the value in the "same as" field:

[code]

If the "same as" field on the term is blank, this fina

[2016-06-14 10:57] paregorios commented on #151
Thanks!

[2016-06-14 10:57] #151 closed

[2016-06-14 11:12] paregorios commented on #164
fyi @atomrab @rybesh

[2016-06-14 21:06] rybesh commented on #164
BTW, here's what it looks like in Turtle:
[code]

[2016-06-15 06:52] davisagli commented on #105
@paregorios was this done?

[2016-06-15 07:06] davisagli commented on #148
The first traceback is because there's a location (http://pleiades.stoa.org/places/776211/undetermined/edit) which references a CAP grid inset (http://atlantides.org/capgrids/79/inset) that does not exist in maps.csv in pleiades.capgrids...so it's breaking while trying to interpret an empty string from the CSV's inset column as a geometry.

I'm not sure if the CSV is missing an inset, or if this l

[2016-06-15 18:13] paregorios opened #166 "update "downloads" page to point to JSON exports"
Now that we have working JSON exports, we should point people to them from the downloads page.

[2016-06-15 18:18] davisagli commented on #129
Based on last night's JSON dump, here are places that have duplicate references. The number after the colon is how many duplicates it has.

[code]

[2016-06-15 18:31] paregorios commented on #129
Thanks! How hard do you think it would be to script a deduplication script?

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Wed, Jun 15, 2016 at 1:19 PM, David Glick <notifications@github.com>
wrote:

[2016-06-15 18:32] davisagli commented on #129
A lot less hard than cleaning them up by hand. Working on it.

[2016-06-15 18:50] paregorios opened #167 "add representative point to KML"
Our KML exports don't include the calculated representative point, and this is a problem for places that don't have locations of their own but rather depend upon connections to produce spatial location.

[2016-06-15 19:04] davisagli commented on #129
All right, the duplicate references are gone.

[2016-06-15 19:08] paregorios commented on #129
Spot checks look great. Thanks!

[2016-06-15 19:08] #129 closed

[2016-06-17 15:22] paregorios opened #168 "staging unuseable"
I cannot presently test stories 34 and 51 because most terms have been removed from the time periods vocabulary, such that all the place pages I tried to visit elicit errors such as this:

[code]

[2016-06-17 15:23] paregorios commented on #168
Here's what one sees presently for the time periods vocab in pleiades settings:

<img width="933" alt="screen shot 2016-06-17 at 8 22 26 am" src="https://cloud.githubusercontent.com/assets/263285/16155532/b904dd5c-3464-11e6-8220-3900297c0386.png">

[2016-06-17 16:22] davisagli commented on #168
Sorry, this was due to a failure in coordination and should be fixed now.

Carlos adjusted the setup code in pleiades.vocabulary to import some test data to the new vocab to fix tests, but I didn't notice that it was doing that even if the vocab already had values. So I ran the setup to add Witek's vocabulary, not realizing that it would wipe out the time periods. Fortunately since no one has been

[2016-06-17 16:38] cguardia commented on #160
Forgot to say this is on staging already.

[2016-06-18 13:34] paregorios commented on #168
thanks

[2016-06-18 13:34] #168 closed

[2016-06-18 13:35] paregorios commented on #160
looks good

[2016-06-18 13:35] #160 closed

[2016-06-18 13:36] #105 closed

[2016-06-18 18:08] davisagli commented on #144
This was deployed to production when I made the new json dump the default.

[2016-06-18 18:08] #144 closed

[2016-06-20 03:59] davisagli commented on #164
@paregorios this is ready for testing on staging, including drawing from the new vocabulary and including the `sameAs` triple.

[2016-06-20 04:00] davisagli commented on #165
This is ready for testing on staging.

[2016-06-22 11:08] paregorios opened #169 "KML serialization throws unicode error"
On http://pleiades.stoa.org/places/511337, requesting the KML serialization (http://pleiades.stoa.org/places/511337/kml) provokes the following error:

[code]

[2016-06-22 20:56] cguardia commented on #163
I just tried and I can get a text area in there. You might need to see it to see if you like it. Need to look up how to change the rows, but otherwise it's a simple change.

[2016-06-22 23:39] davisagli commented on #169
@paregorios it's breaking because there are Names whose "Name as attested" field has no value. Is the correct fix to skip those names when building the list of names for KML, or to show a different field?

[2016-06-23 10:36] paregorios commented on #169
@davisagli Preferred behavior would be to use the "Romanized" field instead.

[2016-06-23 10:38] paregorios commented on #165
looks good

[2016-06-23 10:38] #165 closed

[2016-06-23 10:43] paregorios commented on #164
@davisagli is there a way we can get an out-of-cycle run of the RDF TTL export on staging?

[2016-06-23 15:34] paregorios opened #170 "(Re-)enable CORS for JSON requests"
From @hcayless, migrated from https://github.com/isawnyu/pleiades-json/issues/1:

[2016-06-23 15:45] davisagli commented on #169
@paregorios use it always, or use it as a fallback when there's an empty "Name as attested"?

[2016-06-23 16:14] paregorios commented on #169
fallback when attested is empty

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Thu, Jun 23, 2016 at 11:45 AM, David Glick <notifications@github.com>
wrote:

[2016-06-23 16:51] skleinfeldt commented on #170
@davisagli will take a look shortly

[2016-06-23 17:06] davisagli commented on #170
Sorry, didn't realize we were setting `Access-Control-Allow-Origin: *` in the old JSON view, so failed to duplicate it for the new one. It should be there now.

[2016-06-23 17:08] davisagli commented on #164
Sure, I just kicked it off...

[2016-06-23 17:21] paregorios commented on #163
This is an enhancement I'd like to undertake at some point, but I would like to defer developing it and instead go ahead and finish up the rest of the time periods stuff and get that tested and deployed.

[2016-06-23 17:30] skleinfeldt commented on #163
@paregorios perhaps you should remove the low priority tickets that we are deferring from this milestone, that would make things clearer.

[2016-06-23 17:36] paregorios commented on #163
@skleinfeldt good idea, I've done it

[2016-06-23 17:46] paregorios commented on #170
fixed per @hcayless

[2016-06-23 17:46] #170 closed

[2016-06-23 17:49] davisagli commented on #164
And done.

[2016-06-23 17:57] paregorios commented on #164
@davisagli unfortunately, time-periods.ttl appears to be zero-length

[2016-06-23 18:14] davisagli commented on #164
Okay, I don't think we remembered to pay attention to that one. We'll take a look.

[2016-06-23 22:20] davisagli commented on #169
Fixed

[2016-06-23 22:33] davisagli commented on #147
Duplicate of #169; now fixed.

[2016-06-23 22:33] #147 closed

[2016-06-24 10:35] #169 closed

[2016-06-24 11:33] paregorios commented on #166
Please review, merge, and deploy to staging.

[2016-06-24 11:36] paregorios commented on #164
removing "review" label pending addressing of zero-length time-periods.ttl

[2016-06-24 11:37] paregorios commented on #53
Final review on this is blocked for #164

[2016-06-24 21:13] davisagli commented on #166
Deployed to staging. Sorry, I overlooked that there was a pull request here.

[2016-06-24 21:52] paregorios commented on #166
Looks good on staging. Please deploy to production.

[2016-06-24 22:41] davisagli commented on #166
done

[2016-06-27 06:32] davisagli commented on #164
@cguardia what's the status of this?

[2016-06-27 11:07] cguardia commented on #164
I fixed it on jazkarta-plone4.

[2016-06-27 16:49] davisagli commented on #164
Now it fails with:
[code]

[2016-06-27 17:50] davisagli commented on #164
@paregorios we've got this working now, and I manually ran the time-periods.ttl dump so you can take a look.

[2016-06-27 18:21] #166 closed

[2016-06-27 18:24] paregorios commented on #164
This looks right. Please deploy to production.

[2016-06-27 18:26] davisagli commented on #164
@paregorios Meaning all of the changes related to the new implementation of the time periods vocabulary, plus the addition of the archaeological remains field?

[2016-06-27 18:36] paregorios commented on #164
Yes, please deploy to production everything related to scrumdo stories 26
and 34. I'll mark them accordingly.

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Mon, Jun 27, 2016 at 2:26 PM, David Glick <notifications@github.com>
wrote:

[2016-06-27 18:37] davisagli commented on #164
Okay, I will work on that.

[2016-06-27 20:17] davisagli commented on #164
Deployed.

[2016-06-27 23:04] paregorios opened #171 "web transactions time takes a hit on "Pleiades settings" save"
I made changes to the time-periods vocabulary via the "pleiades settings" control panel (I hid a number of periods), then saved the form. New Relic reported a hit to response time (see screenshot below). Discussed this with @davisagli in IRC. Transcript follows.

![screen shot 2016-06-27 at 6 00 41 pm](https://cloud.githubusercontent.com/assets/263285/16398595/363ec966-3c91-11e6-86a1-ce7244185181.

[2016-06-28 02:44] davisagli commented on #171
inline validation is now disabled for the pleiades-settings view

[2016-06-28 12:31] paregorios commented on #171
@davisagli this is on production?

[2016-06-28 15:57] paregorios commented on #164
Will add a couple on production today and verify after the next run, at which point I will close this ticket.

[2016-06-28 15:58] #53 closed

[2016-06-28 16:32] davisagli commented on #171
Yes

[2016-06-28 20:59] paregorios commented on #171
verified with some more time periods edits and a subsequent check of new relic. Looks good thanks.

[2016-06-28 20:59] #171 closed

[2016-06-28 21:02] paregorios opened #172 "Pleiades KMZ dumps for last two days are busted"
pleiades-20160627.kmz and pleiades-20160628.kmz contain only the following string:

[code]

[2016-06-28 21:05] davisagli commented on #172
Traceback is
[code]

[2016-06-28 21:06] davisagli commented on #172
The problem is that the KML dump is run in a way that doesn't set up the Plone site as the activity component site, and the new time period vocabulary requires that. Should be an easy fix fortunately.

[2016-06-28 21:13] paregorios opened #173 "locations and names showing up as connections for anonymous viewers"
Consider [Nora/Col. Norbensis Caesarina](http://pleiades.stoa.org/places/256327).

An admin user, logged in, sees the following, which is what I would expect:

![screen shot 2016-06-28 at 4 11 26 pm](https://cloud.githubusercontent.com/assets/263285/16432531/042e15ac-3d4b-11e6-93b2-0071a5fae04f.png)

But an anonymous user, viewing the same page, sees this:

![screen shot 2016-06-28 at 4 12 20 pm](

[2016-06-28 21:22] davisagli commented on #173
I'm pretty sure this is not new--it's a bug in code that we haven't touched. It's a long-standing Plone bug/quirk that you just noticed. It's an edge case in how we are displaying the connections using Plone's folder listing template, but overriding the list of items to display to use the backreferences. The bug is that if the template receives an empty list, it falls back to the normal source of

[2016-06-28 21:23] paregorios commented on #173
@davisagli given the origin as you describe, I agree this is not worth addressing given pending changes. Closing "won't fix".

[2016-06-28 21:23] #173 closed

[2016-06-28 21:24] davisagli commented on #173
Well, we "will fix" but without extra effort required. :)

[2016-06-28 21:45] davisagli commented on #172
Fixed and I re-ran today's dump.

[2016-06-28 21:56] paregorios commented on #172
Looks good! Thanks.

[2016-06-28 21:56] #172 closed

[2016-06-29 10:11] paregorios opened #174 "location listing in place view throwing error for authenticated users"
Anonymous users don't see the following error for [Takyris](http://pleiades.stoa.org/places/737063), but authenticated users do, so I assume it's related to the "drafting" state location contained therein:

[code]

[2016-06-29 10:11] paregorios commented on #174
From @serviliusahala via email

[2016-06-29 10:23] paregorios commented on #174
Another example: http://pleiades.stoa.org/places/736963

[2016-06-29 16:02] davisagli commented on #174
Fixed.

[2016-06-29 16:02] davisagli commented on #174
@paregorios p.s. for next time, you left off the most important line of the traceback (the actual error which is printed at the end)

[2016-06-29 16:24] paregorios commented on #174
@davisagli sorry about that

[2016-06-29 16:25] paregorios commented on #174
Looks good, thanks.

[2016-06-29 16:25] #174 closed

[2016-06-29 17:58] paregorios commented on #104
closing as duplicate for #173

[2016-06-29 17:58] #104 closed

[2016-06-29 18:00] paregorios commented on #101
Closing as already fixed. May have been an earlier manifestation of the (lack of) behavior leading to #169, but in any case it cannot now be duplicated.

[2016-06-29 18:00] #101 closed

[2016-06-29 18:02] paregorios commented on #99
This was implemented as [Story 51 in scrumdo](https://www.scrumdo.com/projects/project/pleiades/iteration/133485#story_1095150). It has been reviewed and deployed to production. Closing as resolved.

[2016-06-29 18:02] #99 closed

[2016-06-29 18:04] paregorios commented on #14
This was implemented with [Scrumdo Story 52](https://www.scrumdo.com/projects/project/pleiades/iteration/133485#story_1095151), which has been reviewed and deployed to production. Closing as resolved.

[2016-06-29 18:04] #14 closed

[2016-06-29 22:47] paregorios opened #175 "rich meta for Pleiades pages"
Details for [scrumdo story 62](https://www.scrumdo.com/projects/project/pleiades/iteration/133087#story_1096491):

attributes on html element:

[code]

tags in head element:

[code]

[2016-06-30 15:28] ryanfb opened #176 "Pending/drafting data output in dumps"
In both the CSV & JSON dumps, I see data that shows as pending/drafting when I log in to the site (and doesn't appear when not logged in).

An example is: http://pleiades.stoa.org/places/659885

In the dumps I see the locations "Undetermined location" (drafting) and "OSM location" (pending) as well as the name "Cendere Köprüsü" (pending).

Potentially related to #7.

[2016-06-30 15:54] paregorios commented on #17
Can't now reduplicate. Closing.

[2016-06-30 15:54] #17 closed

[2016-06-30 20:41] paregorios opened #177 ""millennium" is misspelled in some time periods"
In key, value, and description. We will need to deprecate the existing ones, create new ones, renovate content, then delete the incorrect originals. Note also that start and end dates appear to be wrong for some of these.

[2016-06-30 21:55] atomrab commented on #177
Let us know on the PeriodO side when you do -- it will be a test case for
our ability to handle edits due to errors of fact, rather than changes in
interpretation. I'd noticed the wrong spelling in some of these, but we
preserved it because that's what we do.

On Thu, Jun 30, 2016 at 3:41 PM, Tom Elliott <notifications@github.com>
wrote:

[2016-07-05 13:51] paregorios opened #178 "new-style connections not showing up in place maps"
On staging, where the new-style connection code has been deployed and the migration steps run, the place map for Sicilia only shows green icons for a fraction of the 200+ connected places that appear in the "Has a connection with" listing:

![screen shot 2016-07-05 at 8 50 35 am](https://cloud.githubusercontent.com/assets/263285/16586868/98d3b396-428d-11e6-8004-6c577fe069c6.png)

This, from produc

[2016-07-05 13:54] paregorios opened #179 "new-style connections have "all_powerful_Oz" as creator"
I would prefer something more pedestrian, like "Admin".

![screen shot 2016-07-05 at 8 54 21 am](https://cloud.githubusercontent.com/assets/263285/16586987/1c00bc82-428e-11e6-8653-d70aee3bdfd3.png)

[2016-07-05 13:57] paregorios commented on #178
In addition (and I think this is likely a knock-on effect), the representative point is demonstrably the centroid only of those locations shown on the map, not of the whole corpus of the connections:

![screen shot 2016-07-05 at 8 57 15 am](https://cloud.githubusercontent.com/assets/263285/16587064/804e7f62-428e-11e6-877b-490c62b0e0d5.png)

[2016-07-05 14:18] paregorios commented on #145
Google's Webmaster tools thinks we're making good progress on this front (see "Server Error" graph of 50x-series responses, below). Will close the general ticket and open new ones for specific problems.

![screen shot 2016-07-05 at 9 17 15 am](https://cloud.githubusercontent.com/assets/263285/16587666/5ba484ce-4291-11e6-8904-bd049b77bb74.png)

[2016-07-05 14:18] #145 closed

[2016-07-05 16:00] skleinfeldt commented on #179
Nice.

[2016-07-07 00:09] paregorios opened #180 "aggressive bot problems"
all plone-served pages were throwing 503s for several minutes this evening

[2016-07-07 00:29] paregorios commented on #180
This resolved after a few minutes. Examination of New Relic (and an assist from @witekdev and @davisagli) pointed us to the the KML view of search. @davisagli opined:

Examination of apache logs revealed a series of likely expensive requests for kml and search views of kml for prolific users. These all emanate from a single IP (associated with an ISP in Montreal) that is switching between multiple

[2016-07-07 06:30] davisagli commented on #179
I adjusted how the migration script sets itself up with a Manager-level user so that it uses the real "admin" user rather than a fake one. I'm not going to re-run the migration on staging, but the change is in place for when we run it in production.

[2016-07-07 06:44] davisagli commented on #178
These are similar but un-connected (no pun intended) issues.

The connections are missing from the map because it's based on the @@connections-json view, which needs to be updated to look for the new connections. (This raises the question of why some connections remain on the map. We should check to make sure this doesn't mean the migration left some old references behind.)

The centroid is wrong

[2016-07-07 09:48] #179 closed

[2016-07-07 10:16] paregorios commented on #180
It occurs to me that the addition of a crawl-delay directive to robots.txt (for good actors), combined with some fail2ban rules (for bad actors) could go a long way here. But I think we may want also to see if there is a way to protect ourselves down inside search. Some tasks:

- [ ] add crawl-delay directive to robots.txt (I'll issue a pull request for this)
- [ ] engage tummy to add apache log m

[2016-07-07 10:29] paregorios commented on #180
I can't find robots.txt in pleiades-ansible. Is it under configuration control somewhere else, or are we just managing it on the server filesystem?

[2016-07-07 15:08] davisagli commented on #180
Sounds good. I didn't realize that fail2ban could also monitor apache logs; that sounds useful.

robots.txt is in the database, here: http://pleiades.stoa.org/robots.txt/manage

[2016-07-07 15:26] cguardia commented on #178
One problem here appears to be that the staging migration was run before changing the getConnections calls in places like pleiades.json and pleaides.rdf.

I did do a search for all getConnections calls (and getConnections_from too). Is there any other way to query the connections that I might have missed?

[2016-07-07 15:43] paregorios commented on #180
@davisagli I tried modifying robots.txt through the plone. I added a single line for the crawl-delay directive so that in the browser it looks like this:

![screen shot 2016-07-07 at 10 41 54 am](https://cloud.githubusercontent.com/assets/263285/16659401/7a3f4348-442f-11e6-9da8-36ac586fa9a1.png)

After cache was successfully purged, it looks like the introduction of that line is somehow/why causin

[2016-07-07 15:55] davisagli commented on #180
We saw this before. Add a newline at the top of the file. I really have no idea why that's necessary.

[2016-07-07 16:04] cguardia commented on #178
Also, the problem with the remaining connections on the map might just be with the reindexing. I changed the script to reindex after all the changes, but maybe the first run before that change resulted in some catalog entries not being updated. I can take a look at that today.

[2016-07-07 16:06] paregorios commented on #180
@davisagli thanks that's got it

[2016-07-07 22:30] alecpm commented on #180
I've had a lot of luck dealing with similar issues using nginx's built-in rate limiting on other projects, and there appear to be some similar plugins for apache and varnish.

http://opensource.adnovum.ch/mod_qos/
https://codepoets.co.uk/2015/varnish-throttling/

Not sure how easy either of these would be to integrate into our ansible setup (I suspect the apache one would be more straightforward t

[2016-07-08 00:36] davisagli commented on #178
I've fixed the problem with calculating the centroid in pleiades.geographer. (I reindexed Sicilia; it may not be correct again for other places until they are reindexed.) Carlos, it was using .getRefs('connectsWith') rather than .getConnections() so I guess that's why you missed it.

[2016-07-08 00:46] davisagli commented on #178
And now the connections missing from the map are fixed too.

[2016-07-08 16:41] sfsheath opened #181 "Link to "Pelagios Datasets" broken"
Looks like template has a link to "Pelagios Datasets" with URL http://pelagios.dme.ait.ac.at/api/datasets . That's 404'ing. This might be current(??): http://pelagios.org/peripleo/pages/datasets .

[2016-07-08 17:10] paregorios commented on #181
It's the hard-coded(?) link at the bottom of the portlet.

@rsimon can you confirm that http://pelagios.org/peripleo/pages/datasets is now the canonical link for the Pelagios datasets listing?

[2016-07-08 18:16] rsimon commented on #181
Yes, that's now the official one. The page will change when I get to revising Peripleo, but the URL will stay.

[2016-07-08 18:26] paregorios commented on #181
I've made what I think is [the necessary change](https://github.com/paregorios/pleiades.portlet.pelagios/commit/abc3727e4a26ecfe1af8e092e9593042375f8e2e) in a personal fork of pleiades.portlet.pelagios.

@skleinfeldt would you please ask a developer to do code review and let me know if there's anything else I should address before issuing a pull request?

[2016-07-08 21:18] skleinfeldt commented on #181
@paregorios please go ahead and issue the PR, and @ mention David and Alec to review it. A PR is their preferred context for doing a code review. Thanks!

[2016-07-08 22:47] davisagli commented on #181
I merged and deployed the change.

[2016-07-09 11:12] paregorios commented on #181
Confirmed this is working on production. Closing as resolved. Thanks.

[2016-07-09 11:12] #181 closed

[2016-07-10 21:59] davisagli opened #182 "404s on missing images"
Loading a place makes a few requests for images that are not found; we should fix these or remove the references to the images so the server doesn't have to spend time serving these 404s.

![screen shot 2016-07-10 at 2 57 27 pm](https://cloud.githubusercontent.com/assets/49014/16716348/b831e9fe-46ae-11e6-88bc-4125d55808a6.png)

[2016-07-11 15:04] paregorios opened #183 "authenticated Members receive "insufficient privileges" error on checkout"
This seems to be happening on any published place. For example:

- http://pleiades.stoa.org/places/462086
- http://pleiades.stoa.org/places/658587
- http://pleiades.stoa.org/places/550911

This problem, reported by a user, has been verified with a test user account with only the Member role assigned (our standard procedure for new users):

![screen shot 2016-07-11 at 10 03 12 am](https://cloud.git

[2016-07-11 15:39] alecpm commented on #183
Looking at permissions, currently on both staging and production normal Members do not have the check-out/check-in permissions. Should this permission be granted to Members globally (on all content in any review state) or should it be allowed for Members only for specific content in specific workflow states?

It's not clear to me what changed when here, as I'm not seeing any recent importStep runs

[2016-07-11 23:09] paregorios opened #184 "Pleiades Entity reference validator throwing IndexError"
@serviliusahala (a user with Contributor, Editor, Member, Reader, Reviewer roles) reported the following problem when trying to edit a particular drafting-state place: the [Curia Iulia](http://pleiades.stoa.org/places/837078212/). He was able to create a working copy of it, but the working copy throws the same error. This problem does not occur for a user with the Manager role.

The user sees the

[2016-07-12 14:42] paregorios opened #185 "place types are no longer sorted"
Formerly, the place types vocabulary was sorted alphabetically in the pick list on the edit view for place and location. When the new backend was rolled out, they no longer were.

It would be helpful if they were sorted similarly in these other two contexts:

- http://pleiades.stoa.org/vocabularies/place-types
- @@pleiades-settings

cc @serviliusahala

[2016-07-12 14:46] paregorios opened #186 ""hiding" doesn't work on place types"
The new @@pleiades-settings backend for the place types vocabulary includes the "hidden" option, but when selected, the corresponding term still shows up in the pick list on place and location edit views. Consider the following example, taken live from production.

**in @@pleiades-settings**

![screen shot 2016-07-12 at 9 44 47 am](https://cloud.githubusercontent.com/assets/263285/16771223/4e83dae

[2016-07-12 15:15] davisagli commented on #186
I completely forgot that for time periods this is enforced in a customized widget, and we need a similar customization to the widget for place types.

[2016-07-12 15:22] davisagli commented on #185
Heh, I noticed this yesterday, fixed it, and then promptly forgot to deploy. The fix is there now.

[2016-07-12 15:31] paregorios commented on #185
super duper thanks

[2016-07-12 15:31] #185 closed

[2016-07-12 22:50] witekdev commented on #186
I guess this will also need to be updated for the relationship types and the upcoming location types vocab widgets as they too include the "hidden" field?

[2016-07-12 22:59] davisagli commented on #186
@witekdev We said this morning that we don't need the 'hidden' flag for the location types vocab. But you're right, since we're making it available for relationship types we should probably make it work.

[2016-07-12 23:04] witekdev commented on #186
@davisagli I guess I must have missed that detail. Tnx!

[2016-07-13 14:54] alecpm commented on #183
The workflow changes and permissions updates are complete on staging. Please review.

[2016-07-13 15:40] paregorios opened #187 "connections missing on place maps"
After the new-style connections roll-out, only those connected places with point geometries in ```@@connections-json``` show up on the place map:

http://pleiades.stoa.org/places/579888

![screen shot 2016-07-13 at 10 39 50 am](https://cloud.githubusercontent.com/assets/263285/16809511/3a9cbe26-48e6-11e6-9303-935255ff72a7.png)

![screen shot 2016-07-13 at 10 36 58 am](https://cloud.githubuserconte

[2016-07-13 15:54] paregorios opened #188 "place URIs without trailing slash sometimes returning 406"
This problem is intermittent (but frequent) since the deployment of the new-style connections code. Discussion from chat:

@paregorios: yeah, I noticed that behavior; without trailing slash, we’re seeing that now
@davisagli: no, that one doesn't work with or without the slash
@paregorios: honestly, I thought there was a rewrite rule in our apache conf to catch those
@paregorios: ah, you get an err

[2016-07-13 15:56] davisagli commented on #188
The issue with 560221 in particular is completely unrelated to both content negotiation and this morning's deployment. The error is "No gridsquare c5 in map 60"

[2016-07-13 16:33] paregorios commented on #188
downgraded to priority "low" since we can't get the problem to recur at the moment

[2016-07-13 16:45] davisagli commented on #187
The connections in the json are there on the map; it's just that it's hard to see the ones that are not points because they display a shape rather than an icon, and it's small when zoomed out. I think it makes sense to use the representative point for connected places rather than the actual geometry, but that's a new feature request, not a regression, right?

A different problem is that the json d

[2016-07-13 16:51] #178 closed

[2016-07-13 16:54] paregorios commented on #187
@davisagli should we make this ticket just about the missing stuff in the json, and create a separate story for the visualization issue?

[2016-07-13 16:55] davisagli commented on #187
Sure.

When logged in the only one missing from the json is http://pleiades.stoa.org/places/585903, which is expected because it's unlocated.

[2016-07-13 17:07] davisagli commented on #187
When logged out, http://pleiades.stoa.org/places/560221 is missing because its only precise location is in drafting, so it falls back to determining the repr point using connected places, and that fails on something with "No gridsquare c5 in map 60"

[2016-07-13 17:14] davisagli commented on #187
When logged out, http://pleiades.stoa.org/places/606653928 is missing because it's in the drafting state. This reveals two bugs with the new connections: 1. if a connection object is published that references a place that is not published, it is shown to anonymous users, and 2. in the same scenario, a logged-in user does not see any indication that the connection refers to a place in drafting.

[2016-07-13 17:19] paregorios commented on #187
I have created [Scrumdo Story #66: use representative point for position of all connections on place maps](https://www.scrumdo.com/projects/story_permalink/1097310) for the visualization aspects of this ticket. I will next retitle this ticket to reflect the narrowing of its scope to missing items in the geojson.

[2016-07-13 17:52] davisagli commented on #187
Why http://pleiades.stoa.org/places/579885 is missing is a fun one. When adding a marker for a roughly located connected place, the connections-json view searches for getId=[id of connected place]. Well, the new connection object has the same id, so in some cases its finding the connection rather than the place, and the connection has no inherent geometry of its own. Will fix by also specifying po

[2016-07-13 18:18] alecpm commented on #187
Regarding the first issue (of published connections referencing drafting locations), I believe we discussed this possibility a bit, but don't recall the outcome of that discussion. In the end though, it probably doesn't make sense to show users links to content they can't actually view.

[2016-07-13 18:26] davisagli commented on #187
Even with the fix I mentioned, http://pleiades.stoa.org/places/579885 is not showing up for anonymous users, and I'm stuck trying to figure out why. I'll come back to that one another time.

[2016-07-13 19:04] davisagli commented on #188
The intermittent 406 problem is fixed. One detail of the cache configuration hadn't been deployed correctly, so cached responses for a different content type were being served from some zope instances' RAM caches.

[2016-07-13 19:22] alecpm commented on #188
There's still an open question of what was triggering the 406's in the first place (causing them to be cached). I've added logging to help determine that going forward if it comes up again.

[2016-07-14 04:03] davisagli commented on #184
It's not immediately obvious what's going on here. @serviliusahala is there a particular change you were trying to make when you encountered the error?

[2016-07-14 04:09] serviliusahala commented on #184
David:

I was unable to edit the item in any way, even after checking out a working
copy. Attempts to edit on the references tab, description, details all
resulted in error messages. The trigger for throwing the error was
attempting to save edits once made.

thanks,

Jeffrey Becker

#

Jeffrey A. Becker, Ph.D. RPA
jeffrey.becker@gmail.com; 617-877-4484
Twitter: @servilius_ahala https://twitter.com

[2016-07-14 04:44] davisagli commented on #184
@serviliusahala
Hi Jeffrey,
I've tried to reproduce the problem on our staging copy of the site without success. Would you be willing to do what you were doing again in hopes that I can glean some more debugging information? There is some info (details about what values were submitted in the form) that is only available for a short time.
thanks,
David

[2016-07-14 06:59] davisagli commented on #186
This is fixed (in production).

[2016-07-14 10:09] paregorios opened #189 "all place pages throwing archetypes error"
For example:

http://pleiades.stoa.org/places/74935822

[code]

[2016-07-14 10:11] paregorios commented on #189
Possibly related?

[code]

[2016-07-14 10:20] paregorios commented on #189
regular pages (blog, downloads, etc.) seem to be ok

[2016-07-14 10:23] paregorios commented on #189
This problem does not seem to be occurring on staging.

[2016-07-14 14:08] serviliusahala commented on #184
David:

Yes, I can try to do that and see what happens. However, any action I
attempt in Pleiades this morning produces an error, so I am guessing the
site is having troubles.

thank you,

Jeffrey Becker

#

Jeffrey A. Becker, Ph.D. RPA
jeffrey.becker@gmail.com; 617-877-4484
Twitter: @servilius_ahala https://twitter.com/servilius_ahala

#

On Thu, Jul 14, 2016 at 12:44 AM, David Glick notification

[2016-07-14 15:17] alecpm commented on #189
This appears to be related to https://github.com/isawnyu/PleiadesEntity/commit/21ce0485be335ad203346a897e3b7bdea2479eea

Is there a missing dependency or version mismatch between staging and production?

[2016-07-14 15:20] davisagli commented on #189
Oh dear, when I deployed the fix for #186 last night I missed checking in a new file. Deploying the fix now.

[2016-07-14 15:25] davisagli commented on #189
Fixed. My apologies, I should have tested after deploying.

[2016-07-14 15:27] davisagli commented on #184
@serviliusahala Sorry, that's my fault as I made a mistake while deploying a different fix. It's functioning again now.

[2016-07-14 15:50] #189 closed, assigned to paregorios

[2016-07-14 15:51] paregorios commented on #188
@alecpm should we leave this ticket open (with lower priority), or go ahead and close?

[2016-07-14 16:41] #186 closed

[2016-07-14 17:05] paregorios commented on #183
@alecpm This looks good to me, and I'd like to see it deployed to production. Note the comment I just added on related [Scrumdo Story #58](https://www.scrumdo.com/projects/story_permalink/1096403).

[2016-07-14 17:09] serviliusahala commented on #184
David:

OK, I am reporting back about this place resource about which we have been
corresponding: http://pleiades.stoa.org/places/copy_of_837078212

I was able to edit the working copy and save the changes, even to add two
new name resources, without generating an error. However, when I tried to
modify one of the pre-existing references in the checked-out copy and then
save, the error below result

[2016-07-14 17:12] davisagli commented on #184
Thanks, Jeffrey.

For my own reference, the traceback for the new error is the same as the one Tom posted above, and the request values are:

[code]

[2016-07-14 17:49] davisagli commented on #184
@serviliusahala I found the problem and believe I've fixed it. Fields were not getting renumbered correctly when a reference was removed from anywhere other than the end of the list. Please feel free to give it another try now. (@paregorios, this is a bug dating from my work on the widget for story 37).

[2016-07-15 14:44] paregorios commented on #183
@alecpm to clarify, I'd like to have the changes associated with this issue deployed at the earliest possible moment (we have some power users waiting). I'd rather work the outstanding questions with [Scrumdo Story #58](https://www.scrumdo.com/projects/story_permalink/1096403) separately (unless there's a good technical reason otherwise, of course).

cc @skleinfeldt

[2016-07-15 19:49] paregorios opened #190 "no gridsquare c5 in map 60"
http://pleiades.stoa.org/places/560221 throws this error

[2016-07-16 11:29] paregorios commented on #188
downgrading priority pending response from @alecpm @skleinfeldt

[2016-07-16 11:30] paregorios commented on #183
It appears to me that this has been deployed to production. @alecpm can you confirm? @skleinfeldt

[2016-07-16 23:18] alecpm commented on #183
Yes, I deployed yesterday morning and ran the migration in the evening.

[2016-07-17 12:14] #183 closed

[2016-07-20 05:21] witekdev commented on #175
@paregorios now on staging, please evaluate. I also left some comments on the Scrumdo story. Thanks!

[2016-07-21 18:18] skleinfeldt commented on #188
@paregorios it should be closed as far as I can tell.

[2016-07-22 10:07] paregorios opened #191 "meta tag for description is repeated in place views"
With the rich metadata upgrade now on staging ([Scrumdo Story #62](https://www.scrumdo.com/projects/story_permalink/1096491)), there are currently two `<meta>` elements getting generated for each place view. We only want one (the most expressive, new one). See, for example, the base view for the [Acropolis of Athens](http://pleiades.stoa.org/places/638356144):

[code]

and

[code]

Zotero, for exa

[2016-07-22 20:19] #188 closed

[2016-07-24 23:04] witekdev commented on #191
Looks like this <meta content.. line is being generated by the DublinCoreViewlet.
plone.app.layout.viewlets.common.py

[code]

@paregorios even though you pointed out that this is happening on places urls, I see it's also happening on locations: http://pleiades.stoa.org/places/638356144/imagery-location as well as on the home page: http://pleiades.stoa.org/home (and likely elsewhere but I didn't c

[2016-07-25 10:29] paregorios commented on #191
@witekdev yes, I'd like this gone everywhere it's occurring.

Would it be easier/better to fold the new behaviors into the dublin core viewlet and eliminate the duplication there, thereby getting the richer metadata experience for all (or mostly all) content views?

[2016-07-25 14:38] skleinfeldt commented on #191
If you wanted to suppress this everywhere, an easy option would be turning off Dublin Core behavior on Site Setup.

[2016-07-25 15:17] alecpm commented on #191
@witekdev, as sally mentions you can turn off the DC metadata in the control panel. We would then possibly need to add back whichever tags might be needed in our own viewlet.

An alternative would be to remove the name="description" attribute from the new meta tag, so that there are still two description meta tags, but they don't overlap in purpose. One for the HTML description and another for the

[2016-07-25 15:17] paregorios opened #192 "copyright symbol gets borked on location edit"

[2016-07-25 15:22] rmhorne commented on #192
When editing a location resource, clicking on "save" changes the copyright symbol to `&#169`

[2016-07-25 15:34] paregorios opened #193 "error while rendering pleiades.notredame.rich_meta"
Context: http://pleiades.stoa.org/places/324691/osm-location/base_view

Screenshot:

![screen shot 2016-07-25 at 10 33 17 am](https://cloud.githubusercontent.com/assets/263285/17107079/5e9a5696-5253-11e6-9476-bf0539c4be55.png)

[2016-07-25 15:34] paregorios commented on #193
@rmhorne anything else relevant to say about this?

[2016-07-25 15:38] rmhorne commented on #193
It seems to come and go as an error - It has currently disappeared and is no longer showing up in the edits.

[2016-07-25 15:38] paregorios commented on #193
Possibly related traceback from instance5.log:

[code]

[2016-07-25 20:29] witekdev commented on #193
@paregorios fixed and deployed to production (I first deployed to staging and tested, then I didn't see you around, so I just went directly and deployed to production)

[2016-07-25 22:08] witekdev commented on #191
@paregorios fix deployed to staging

[2016-07-25 22:09] witekdev commented on #175
https://github.com/isawnyu/pleiades-gazetteer/issues/191 deployed to staging

[2016-07-26 18:58] davisagli commented on #7
Confirmed. This happens because the dump is made using the extent stored in the catalog metadata, which was updated when a logged-in user made edits. We should make sure that we filter to only consider items that are visible to the public when updating the catalog metadata.

[2016-07-26 19:04] davisagli commented on #143
@paregorios what solution do you want here?

a. Change the CAP grid for this particular location.

b. Make the capgrid code handle multiple insets by calculating their combined bounding box.

c. Ignore errors while looking up CAP grids so that we don't break the page.

d. something else?

[2016-07-26 19:07] davisagli commented on #143
I think my preference would be to silently ignore errors looking up CAP grids at display time, but validate during editing to make sure that an invalid CAP grid can't be entered.

[2016-07-26 19:09] davisagli commented on #149
[code]

[2016-07-26 19:49] davisagli commented on #143
I've gone ahead and done (c), which I think we definitely want even if we want some of the others too. Can be tested on staging -- http://pleiades.jazkarta.com/places/946094051/ now loads without an error.

[2016-07-26 19:50] davisagli commented on #149
Fixed by the change I made for #143 -- see http://pleiades.jazkarta.com/places/560221

[2016-07-26 19:58] davisagli commented on #187
This is working much better (on staging) now that Alec implemented story 66 to show the representative point for connections, and with my fix from #143 so that wrong cap grids don't get in the way of locating a place by other means.

I think the only remaining thing we need to work on is what to do with connections where the Connection itself is published but the Place it refers to is not. Current

[2016-07-26 20:00] davisagli commented on #193
This appears to be working now.

[2016-07-26 20:00] #193 closed, assigned to paregorios

[2016-07-26 20:02] davisagli commented on #190
Duplicate of #149

[2016-07-26 20:02] #190 closed, assigned to nobody

[2016-07-26 20:03] davisagli commented on #192
Duplicate of #156

[2016-07-26 20:03] #192 closed, assigned to nobody

[2016-07-26 20:04] davisagli commented on #41
We did this.

[2016-07-26 20:05] davisagli commented on #47
We now have a full-blown Connection content type.

[2016-07-26 20:09] davisagli commented on #10
This appears to have a reasonable representative point now, so was probably fixed as a side effect of something else we did.

[2016-07-27 00:32] paregorios opened #194 "assertion error while importing relation from OSM"
@serviliusahala reported error number 1469578736.670.934644700953 while attempting to import a relation from OpenStreetMap at http://pleiades.stoa.org/places/138340/@@create-location-osm

The following traceback may be found in the instance5 log:

[code]

[2016-07-27 00:33] davisagli commented on #194
What OSM relation did he try to import?

[2016-07-27 00:33] paregorios commented on #194
@serviliusahala can you give us the relation number of what you tried to import from OSM?

[2016-07-27 00:35] #10 closed

[2016-07-27 00:36] #47 closed

[2016-07-27 00:36] #41 closed

[2016-07-27 00:40] paregorios commented on #187
@davisagli and @alecpm my inclination is to hide connections from unpublished places and to unpublished places from anonymous viewers. Authenticated viewers should be allowed to see them, even if they don't have permission to view the contents of the item (prevent duplicate creations). Make sense?

[2016-07-27 00:41] paregorios commented on #184
@serviliusahala can you confirm that this is now working for you?

[2016-07-27 00:42] paregorios commented on #149
nice

[2016-07-27 00:42] #149 closed

[2016-07-27 00:45] paregorios commented on #143
So @davisagli this looks as if the connection is gone entirely?

[2016-07-27 00:51] davisagli commented on #187
Yeah, that makes sense to me.

[2016-07-27 00:55] paregorios commented on #191
During standup discussion today, we spotted an additional `<meta name="description">` tag and also an additional `<title>` tag that we agreed should be got rid of in favor of our custom ones. @witekdev and @davisagli, did I miss any additional aspects of that discussion?

[2016-07-27 00:56] paregorios commented on #175
blocked for resolution of #191

[2016-07-27 01:01] davisagli commented on #143
Hmm, I think I temporarily took the connections changes to the place view out of the staging branch to get something working a while ago, and they didn't make it back in. Will fix.

[2016-07-27 01:10] davisagli commented on #143
Okay, now it shows the connection.

[2016-07-27 01:13] paregorios commented on #143
Great. So can we deploy the non-breaking-page solution to production?

[2016-07-27 01:14] davisagli commented on #194
Found it in /error_log; it was 1075830

[2016-07-27 01:19] serviliusahala commented on #184
This issue was successfully resolved for the reported place page (
http://pleiades.stoa.org/places/837078212). That page was successfully
edited and published. I have not experienced a reoccurrence of that same
error.

JAB

#

Jeffrey A. Becker, Ph.D. RPA
jeffrey.becker@gmail.com; 617-877-4484
Twitter: @servilius_ahala https://twitter.com/servilius_ahala

#

On Tue, Jul 26, 2016 at 8:41 PM, Tom El

[2016-07-27 01:20] serviliusahala commented on #194
I was attempting to import this OSM relation: http://www.openstreetmap.org/relation/1075830

[2016-07-27 01:21] davisagli commented on #194
This is a complex relation representing a stream, which references other relations as tributaries (as well as a "spring" node and "side stream" way) and includes them in the xml. I need to make the importer a bit smarter to pick the correct relation from the xml when there are multiple.

Am I correct in thinking you only want to import the geometry for the main stream, and not the tributaries?

[2016-07-27 01:24] serviliusahala commented on #194
From my point of view, the main stream of a river or stream is the geometry we would most want to import from OSM.

[2016-07-27 01:27] paregorios commented on #184
Thanks @serviliusahala and @davisagli

[2016-07-27 01:27] #184 closed

[2016-07-27 01:32] davisagli commented on #143
Okay, deployed.

[2016-07-27 01:35] davisagli commented on #143
@paregorios So you don't want to add validation to make sure cap grids are valid when they are entered? I think that'd be a good idea or else you might not notice when you put in one that doesn't result in a valid geometry.