[2016-07-27 01:39] paregorios commented on #143
Yeah, so I closed this prematurely.

That said, I don't think we want people entering new capgrids. That's a legacy function dating back to the days when we were still importing BAtlas content (prior to point digitization).

[2016-07-27 01:41] davisagli commented on #143
Oh right -- if these aren't getting entered any more than it's probably not worth the effort to add that validation.

[2016-07-27 01:44] paregorios commented on #143
any other reason I shouldn't go ahead and close this issue then?

[2016-07-27 01:48] davisagli commented on #143
No, go ahead

[2016-07-27 12:55] #143 closed

[2016-07-27 15:40] witekdev commented on #191
@paregorios I think that was it. I'm still on the hunt for the source of those..

[2016-07-27 15:51] davisagli commented on #191
I think the title comes from title.pt in plone.app.layout/viewlets

[2016-07-27 15:55] davisagli commented on #148
After yesterday's fix these are not breaking (though they are still unable to determine a location).

[2016-07-27 16:00] paregorios commented on #148
I think that getting to non-breaking is good enough on these. They all needed anyway to have something put in place of the raw CAP grid system. So, unless there are any objections from @alecpm or @davisagli , I'm happy to close this ticket.

[2016-07-27 16:26] #148 closed

[2016-07-27 16:31] davisagli commented on #176
I think what we want is:
- Only include published locations, names, and connections in the sitewide dumps
- But if you click the JSON link while logged in viewing a place, include the same ones that you see in the html (i.e. include pending/drafting items that you have permission to view). These are identifiable in the json via the `review_state` key.

@ryanfb @paregorios Sound right?

[2016-07-27 17:11] paregorios commented on #176
@davisagli yes exactly

[2016-07-27 17:47] witekdev commented on #191
@davisagli you are right, thanks! now on to hunt down the extra meta tag..

[2016-07-27 19:59] davisagli commented on #7
There was already an attempt in place to calculate the representative point from the perspective of an anonymous user when indexing, but it was not correct and the real user was getting restored before the calculation was actually performed. I'm working on fixing this.

I need to clarify one thing. For the representative point that is shown on the place view (coordinates and marker on the map), sh

[2016-07-27 20:08] paregorios commented on #7
Unless it's exceptionally the more costly option, either in terms of
programmer time or processing cycles once deployed, I would prefer the
representative point only be calculated against published items.

##

Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Wed

[2016-07-27 20:09] davisagli commented on #7
No, it's both easier and less processing.

[2016-07-27 20:11] paregorios commented on #7
Great, then let's do representative point only on the basis of published items.

[2016-07-27 23:04] davisagli commented on #7
This should be working on staging now. You can test after tonight's dump.

[2016-07-28 04:44] witekdev commented on #191
Ok, so strangely, the extra meta content=.... name="description" > tag is not present on production:
http://pleiades.stoa.org/places/874665
but is present on staging:
http://pleiades.jazkarta.com/places/874665
for the same place resource.
and I grabbed a copy of production today and running it locally now, so I cant see it happening locally.. hmm, /me needs a new strategy here..

[2016-07-28 04:54] davisagli commented on #191
@witekdev Oh man, I found it. staging had a copy of dublin_core.pt that was customized in portal_view_customizations, so that was taking precedence over your override on staging only. It was created 3 days ago, so must have been from one of us trying to work on this. I just deleted it.

[2016-07-28 11:00] witekdev commented on #191
@davisagli well that is music to my ears, thanks! :)
@paregorios I released this to production now, as hopefully it is done but let me know if you see anything else that's not right.

[2016-07-28 16:11] paregorios commented on #191
review on production

[2016-07-28 22:17] paregorios commented on #7
Looks good on staging. Please deploy to production.

[2016-07-29 18:12] davisagli commented on #7
deployed

[2016-07-29 19:28] davisagli commented on #176
I fixed this on staging and re-ran the dump so you can take a look. Note that the dump has a lot fewer places, which I think is because it ran out of memory and got killed in the middle. That shouldn't be an issue on production (it has a lot more RAM) so the main thing to check is that it's no longer including draft/pending locations, names, and places.

[2016-08-01 15:34] paregorios opened #195 "post-deployment of story 66: missing connections in place maps"
[Scrumdo story 66 (use representative point for position of all connections on place maps)](https://www.scrumdo.com/projects/story_permalink/1097310) has been marked as having been "deployed" to production. I would have expected the place maps on production to match those on staging with regard to connections, but they don't seem to (even after reload/refresh). For example, compare http://pleiades

[2016-08-01 15:41] paregorios commented on #191
great!

[2016-08-01 15:41] #191 closed, assigned to paregorios, witekdev

[2016-08-01 15:41] paregorios commented on #176
OK, please deploy to production.

[2016-08-01 15:42] paregorios commented on #7
thanks

[2016-08-01 15:42] #7 closed

[2016-08-01 16:14] davisagli commented on #195
They do look the same to me, Tom.

[2016-08-01 16:24] alecpm commented on #195
I had missed a version pin update on one of the packages, I've deployed that change and cleared the cache.

[2016-08-01 16:46] paregorios commented on #195
Great, thanks!

[2016-08-01 16:46] #195 closed, assigned to paregorios

[2016-08-01 17:44] serviliusahala opened #196 "Insufficient privileges to create connections"
Since Pleiades' connection tool became a standalone one (as opposed to being incorporated into the place-level page), I have been unable to create new connections. Attempts to creat connections result not in a numbered error message, but in a banner that indicates insufficient privileges to complete the operation. However, I experienced differing behavior today. I document two instances below:

**

[2016-08-02 22:30] paregorios opened #197 "new anchors not showing up as link targets in editor"
_This bug is blocking needed documentation updates._

I edited [an existing document](http://pleiades.stoa.org/help/editorial-guidelines) using the through-the-web editor to add some anchors to it. Saved. I created [a new working copy of a different existing document](http://pleiades.stoa.org/help/copy_of_how-to-add-a-new-name-resource), made some text changes, and used the link-helper widget in t

[2016-08-03 12:03] serviliusahala opened #198 "Error when checking-in working copy"
My attempt to complete the check in of a working copy (http://pleiades.stoa.org/places/copy_of_589981/?) produced an error. The error was logged as 1470192500.750.866846775154 at about 10:45 PM EDT on 2 August 2016.

[2016-08-03 15:19] davisagli commented on #176
Deployed; should take effect for tonight's dump.

[2016-08-04 00:17] witekdev commented on #197
@paregorios
I am seeing the 'names-certainty' in the dropdown when trying to edit your working copy:
http://pleiades.stoa.org/help/copy_of_how-to-add-a-new-name-resource

![untitled-1](https://cloud.githubusercontent.com/assets/883619/17386295/db6d9ebe-59ae-11e6-9141-007954bb47f0.jpg)

Can you check again?

[2016-08-04 00:27] witekdev commented on #197
I wanted to add that I followed your exact methodology/procedure with my offline copy of production and was expecting it to fail on the '2nd pass' but it did not. I then went and looked at the respective pages on production and could see 'names-certainty' in the drop down as described above.

[2016-08-04 15:41] ryanfb commented on #176
Confirmed that for the latest CSV/JSON dumps, http://pleiades.stoa.org/places/659885 no longer shows drafting/pending data.

[2016-08-04 15:42] paregorios commented on #176
Thanks @ryanfb! Closing as resolved.

[2016-08-04 15:42] #176 closed

[2016-08-04 23:37] witekdev commented on #156
What is perplexing me here is that when you edit the borked place, name, location etc and update the `&#169;` to a © manually, the place, name, location etc is no longer borked, upon the following edit attempt, the © is present and happy.

I manually unborked this place on staging:
http://pleiades.jazkarta.com/places/1000

While I don't understand the cause, my initial thought is that perhaps we c

[2016-08-06 11:21] paregorios opened #199 "HTML title on Pleiades credits page is wrong"
Here's what we have now:

[code]

It should read instead something like:

[code]

[2016-08-08 14:47] witekdev commented on #199
@paregorios
So it looks like this is due to the fact that the credits page is just a Page Template in the root of the site:
http://pleiades.stoa.org/credits2/pt_editForm
and our rich metadata viewlet calculates the formatted title from the title and content type from the context, and the context is the plone site root. This is also the case for the home page.

These are the formatted titles for ea

[2016-08-08 14:55] witekdev commented on #199
Maybe the others (@davisagli @alecpm) can weight in here but perhaps one solution is to manually place the rich metadata code in the these two templates (and customize it for each template) and disable the rich metadata viewlet for the ISiteRoot context?

[2016-08-08 16:13] davisagli commented on #199
The easiest solution is to add a folder with an id of `credits` and make its default layout be the credits template. Then we can give whatever title we want to the folder. You will need to rename the credits template so that Plone can traverse to the template rather than just finding the folder via acquisition (or turn it into a browser view so you can reference `@@credits`).

[2016-08-08 16:52] davisagli commented on #156
From what I recall from fixing this on staging, the field is correctly saving input with a utf-8 encoding. The problem is that the default value is stored in the `portal_metadata` tool with a different encoding.

[2016-08-08 19:01] paregorios commented on #156
@witekdev I think @davisagli is referring back to issue #73.

[2016-08-09 14:49] witekdev commented on #156
ok, I went into portal_metadata and updated the default rights field.
I'm not sure why but when you hit save the © symbol is prepended with an `Â`:
![screenshot from 2016-08-09 09 44 06](https://cloud.githubusercontent.com/assets/883619/17520753/7a4c891c-5e16-11e6-998d-84c385fe947d.png)

This also didn't help existing objects which if I edit, I still get the `&#169;` popping up.
@davisagli can you

[2016-08-09 15:23] witekdev commented on #199
This is still work in progress, my process:

I initially tried to create a Folder (not an ATFolder) with 'credits' as its id, title as 'Credits for the Pleiades gazetteer' and set its layout property by following this process:
http://stackoverflow.com/questions/8914479/how-to-define-default-views-in-plone
(I copied the the credits2 template into the folder and set it as the default layout.)

That

[2016-08-09 15:30] witekdev commented on #199
Maybe the add `ATFolder` functionality is broken since it appears 2x in the drop down and both options take me to the add `ATPortalTypeCriterion` page?

![screenshot from 2016-08-09 10 28 56](https://cloud.githubusercontent.com/assets/883619/17522355/4d70b32c-5e1c-11e6-9379-4dad4ff2ffaa.png)

[2016-08-09 15:33] davisagli commented on #199
Add a normal Plone folder via the Plone UI. A plain Zope folder does not have support for default views, and adding Plone content types via the ZMI is not expected to work.

[2016-08-09 15:49] witekdev commented on #199
thanks @davisagli that helps a lot, with this new Folder pointing at the plone/credits2 template the Products.PleiadesEntity.browser.credits.formatted_title now correctly detects the Folder type and its title.

however, I still have an issue with the getCredits call:

[code]

I did not move the template out of the site root.

[2016-08-09 16:02] davisagli commented on #199
You must have an old copy of the template; the one we're currently using does not use getCredits: https://github.com/isawnyu/pleiades-notredame/blob/master/pleiades/notredame/skins/pleiades_notredame_custom_templates/credits.pt

[2016-08-09 16:02] witekdev commented on #199
@davisagli yeah, I just realised that too. thanks!

[2016-08-09 16:10] witekdev commented on #199
@davisagli The problem is that the 'credits' template in use did not show up in the ZMI listing and only the credits2 was there. This is also the case on staging. However credits2 is not present on production I see now.

[2016-08-09 16:29] davisagli commented on #156
`Â©` is actually the correct utf8-encoded value (`\xc2\xa9`) being interpreted in the wrong encoding for this UI. Let's not worry about that because new Archetypes items appear to be showing the value correctly now. You're right that we need a script if we want to automate fixing existing items that got the wrong default.

[2016-08-09 16:32] davisagli commented on #199
The `credits` template is in portal_skins, no? I thought credits2 was just something you added?

[2016-08-09 16:37] witekdev commented on #199
yes credits is in plone/portal_skins/pleiades_notredame_custom_templates/manage_main
but the credits2 template sits in the root and so that is what I focused on as I thought that is what I needed to display. I did not add it, no. Its last modified timestamp is 2013-02-11 17:26

[2016-08-09 16:39] witekdev commented on #156
ok, thanks, so I will go ahead and write and test an update script..

[2016-08-09 16:42] davisagli commented on #199
Okay, please delete the existing credits2 and add your own in the same location as the one we're using from pleiades.notredame.

[2016-08-09 17:40] paregorios commented on #199
credits2 is afaik derelict junk

##

Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Tue, Aug 9, 2016 at 11:42 AM, David Glick notifications@github.com
wrote:

[2016-08-09 20:36] witekdev commented on #199
@paregorios on staging

for reference:
I nuked the credits2 template. I created a credits folder and inside created a credits_template where I copied the contents of plone/portal_skins/pleiades_notredame_custom_templates/ and set that as the layout. I updated the code in the rich metadata viewlet to check if we are dealing with a credits page and if so to only display its title (as opposed to titl

[2016-08-09 20:37] davisagli commented on #199
@witekdev maybe we should avoid showing the content type any time it is Folder, not just for the credits page

[2016-08-09 20:39] witekdev commented on #199
@davisagli I will wait for @paregorios to comment on that.
also if you want @paregorios for us to add any extra special checks for the other main nav pages?

Copying from earlier comment:
These are the formatted titles for each of the top level navigation items:

[code]

[2016-08-09 21:08] paregorios opened #200 "batch update: title update fails"
_Testing and reviewing [scrumdo story 12 (Batch Update of Content)](https://www.scrumdo.com/projects/story_permalink/1087991)_

Using a json file with these contents:

[code]

I login to dev, change directories to `/srv/python27-apps/pleiades4`, sudo su to the appropriate user, and run the following command:

`bin/instance1 run scripts/batch_update.py --workflow=draft /home/thomase/updates-test.js

[2016-08-10 02:39] cguardia commented on #200
@paregorios seems like I misunderstood the intent of the workflow option. From the description here, I believe this is what should happen:
- if workflow is 'draft': check out the content, make changes, do not check in.
- if workflow is 'review': check out the content, make changes, submit for review, do not check in.
- if workflow is 'publish': check out the content, make changes, submit for revie

[2016-08-10 02:46] witekdev commented on #156
@paregorios I created and ran the script to update all place, name, connection and location objects on staging. Let me know if things are ok and I will run it on production.

[2016-08-10 02:46] cguardia commented on #200
@paregorios also, the correct user to run the scripts is plone_daemon, sorry about the confusion.

[2016-08-10 09:28] paregorios commented on #156
@witekdev I'm not sure the script is catching everything. Consider, for example: http://pleiades.jazkarta.com/places/579885

[2016-08-10 09:30] paregorios commented on #200
@cguardia your description above matches what I expect regarding workflow, but it doesn't seem to be what is happening. I will try running my test again with the correct user and will report back.

[2016-08-10 09:38] paregorios commented on #200
Here's the run this morning. All but one of the unindex errors is gone, but note:
-  the "Checked in working copy" notice in the log despite `--workflow=draft`
- although its history shows the baseline creation and batch edit, the title of http://pleiades.jazkarta.com/places/70978 does not seem to have changed

[code]

[2016-08-10 12:54] witekdev commented on #156
@paregorios ok, I think I know what's up. The script as it stands won't actually fix the existing rights field if it is 'borked'. It only re-saves what is there. An omission on my part.

[2016-08-10 14:18] witekdev commented on #156
@paregorios fixed and reran the script on staging.

[2016-08-10 14:48] paregorios commented on #156
@witekdev that looks good. Please run the fix on production.

[2016-08-10 15:56] witekdev commented on #156
@paregorios the script has been run on production

[2016-08-10 16:06] cguardia commented on #200
Yeah, I had it wrong before. It's fixed now.

[2016-08-10 16:08] paregorios commented on #156
great, looks good!

[2016-08-10 16:08] #156 closed

[2016-08-10 16:51] paregorios commented on #200
@cguardia new error:

[code]

[2016-08-10 17:04] paregorios commented on #199
@witekdev and @davisagli thanks for thinking about these particular cases. I think I would like to step back to address only certain types of content.

Here are the types for which I would like to continue seeing the "{title}: A Pleiades {contentype} resource" pattern:
- place
- name
- location
- connection

All other types should just use the pattern "{title}" I think.

Is that possible?

[2016-08-10 17:07] witekdev commented on #199
@paregorios yes, I think it should be fairly easy to make the modifications..

[2016-08-10 17:23] paregorios opened #201 "OSM-derived polygon geometry missing in KML"
Consider [the Telesterion at Eleusis](http://pleiades.stoa.org/places/408217405). We have [a Pleiades location with polygonal geometery](http://pleiades.stoa.org/places/408217405/osm-location-of-i-iui-iuiii-r-ii1i-i1-2) derived from [an OSM Relation](http://www.openstreetmap.org/relation/2022511). It displays fine on the Pleiades page:

![screen shot 2016-08-10 at 12 14 03 pm](https://cloud.github

[2016-08-10 17:23] paregorios commented on #199
Great! Let's do that please.

##

Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Wed, Aug 10, 2016 at 12:07 PM, Witek notifications@github.com wrote:

[2016-08-10 21:24] witekdev commented on #199
on staging

[2016-08-10 21:47] witekdev commented on #175
@paregorios I guess this can now be closed?

[2016-08-10 21:51] witekdev commented on #199
@paregorios and I took the liberty of releasing it to production.

[2016-08-11 00:06] cguardia commented on #200
@paregorios the citations for this place (/plone/places/copy_of_70978) do not have a 'range' key, which is required by the PleaidesEntity code.

Is this normal? Does the current value look ok?

[{'bibliographic_uri': 'http://openlibrary.org/works/OL8327792W', 'alternate_uri': '', 'formatted_citation': 'BAtlas 7', 'short_title': '', 'identifier': ' ', 'type': 'seeFurther', 'citation_detail': '', 'a

[2016-08-11 00:22] paregorios commented on #200
@cguardia can you ask @alecpm to look at [this](https://github.com/isawnyu/pleiades-gazetteer/issues/200#issuecomment-239041679)? My suspicion is that, since the problem is with the references, it might have to do with the new bibliographic code that he has running on staging right now ([Scrumdo Story #60](https://www.scrumdo.com/projects/project/pleiades/iteration/133820#story_1096457)).

FWIW, t

[2016-08-11 00:27] alecpm commented on #200
This one is on me. Fixing now.

[2016-08-11 00:57] cguardia commented on #200
@alecpm thanks a lot. I was a bit confused that this hadn't come up in any of my tests.

[2016-08-11 00:59] alecpm commented on #200
Should be fixed on staging now.

[2016-08-11 01:05] cguardia commented on #200
Now getting a KeyError on 'title' in the same rangesText method:

  File "/srv/python27-apps/pleiades4/eggs/Products.ZCTextIndex-2.13.5-py2.7-linux-x86_64.egg/Products/ZCTextIndex/ZCTextIndex.py", line 184, in index_object
    text = text()
  File "/srv/python27-apps/pleiades4/src/Products.PleiadesEntity/Products/PleiadesEntity/content/Work.py", line 117, in Cites
    return self.rangesText()
  Fi

[2016-08-11 01:43] alecpm commented on #200
OK, I think it's really fixed now.

[2016-08-11 01:46] cguardia commented on #200
It is. Thanks a lot.

[2016-08-11 09:45] #200 closed, assigned to cguardia

[2016-08-11 09:51] paregorios opened #202 "batch update: changes baseline instead of working copy when workflow=draft"
_Testing and reviewing [scrumdo story 12 (Batch Update of Content)](https://www.scrumdo.com/projects/story_permalink/1087991)_

This command:

[code]

Correctly checks out a working copy and leaves it in "drafting" state, but it modifies the wrong object.
## Desired behavior
- Check out a working copy
- Modify the title in the working copy
## What it did
- Check out a working copy
- Modify the tit

[2016-08-11 09:58] paregorios opened #203 "batch update: script does not return URL or path to the working copy left in draft state"
_Testing and reviewing [scrumdo story 12 (Batch Update of Content)](https://www.scrumdo.com/projects/story_permalink/1087991)_

This command:

[code]

produces the following output (omitting Zope/Plone startup warnings):

[code]

It would be helpful to have something like this added:

[2016-08-11 10:11] paregorios commented on #199
And it looks good. Thanks.

[2016-08-11 10:11] #199 closed, assigned to witekdev

[2016-08-11 10:17] paregorios commented on #198
This is confirmed. Traceback:

[code]

[2016-08-11 10:17] paregorios commented on #197
I'm taking this back to re-check/review.

[2016-08-11 17:05] paregorios opened #204 "show "Fetch Zotero" button on newly added reference subform"
_Testing and reviewing [scrumdo story 61 (populate new-style references from Zotero)](https://www.scrumdo.com/projects/story_permalink/1096459)_

Presently (on staging), when the "References" tab on the "Edit" view is displayed, the "Fetch Zotero" button appears to the right of the "Bibliographic URI" field for each reference already in the object. But when a new reference is added to the widget,

[2016-08-12 15:00] gabrielbodard opened #205 "Pleiades json dump is not valid JSON"
The Pleiades JSON dump downloaded from http://atlantides.org/downloads/pleiades/json/pleiades-places-latest.json.gz (on July 13, 2016, for reference) seems not to be valid JSON. Specifically it is a comma-delimited set of json dictionaries, one for each place, but not grouped together in a list or similar. (If I add `[` and `]` and the very beginning and end of the file, it validates.)

[2016-08-12 16:19] paregorios opened #206 "pleiades dumps (csv, json, possibly others) are erroring off incomplete"
Last full set seems to date to 3 August. Daily there seem to be detritus of failed runs.

[2016-08-12 17:00] alecpm commented on #205
Taking a look at the latest successful export, I'm seeing valid JSON. The format looks like the following:

{
    "@context": {...},
    "@graph":  [...]
}

Where @context contains a JSON-LD schema and @graph contains the list of place dictionaries.

[2016-08-12 17:07] paregorios commented on #205
@gabrielbodard can you point us to the validator you were using?

[2016-08-12 18:54] alecpm commented on #204
The fix is live on staging.

[2016-08-12 19:50] paregorios opened #207 "add new reference default value for 'other uri'"
We're seeing an old default value (http://atlantides.org/bibliography/) populate into the "other identifier" field when a new reference is created:

![screen shot 2016-08-12 at 2 49 19 pm](https://cloud.githubusercontent.com/assets/263285/17635263/02b7f4e4-609c-11e6-96c9-feade77ca046.png)

I'd prefer that the field be blank by default.

[2016-08-12 19:55] paregorios opened #208 "on Zotero import, don't add title"
The [story](https://www.scrumdo.com/projects/story_permalink/1096459) said:
- short title < Zotero record short title
- formatted citation < response from Zotero API to [a call for 'format="bib"'](https://www.zotero.org/support/dev/web_api/v3/basics#parameters_for_format_bib_includecontent_bib_includecontent_citation) and citation style = https://www.zotero.org/styles/modern-language-association-w

[2016-08-12 20:24] alecpm commented on #206
There seem to have been a couple issues here. First the pleiades-dump-all script was erroring out due to a permission issue in the dump code, so new dumps were not being created for either csv or json. Additionally, the pleiades-json dump script was still running nightly, and that was replicating the dumps, but without rotation or compression. I have disabled that redundant script.

Things appear

[2016-08-13 06:19] alecpm commented on #208
This is done. The short title field will populate with title if the zotero short title isn't filled.

[2016-08-13 06:20] alecpm commented on #207
This is fixed on staging

[2016-08-13 11:24] paregorios opened #209 "Zotero import doesn't get short title when present"
_Reviewing implementation of https://www.scrumdo.com/projects/story_permalink/1096459_
## Steps to reproduce:
- login to staging with a user that has admin or editor group affiliation (i.e., can direct-edit published places)
- navigate to http://pleiades.jazkarta.com/places/109169
- select the "references" tab
- scroll down and select the "add reference" button
- paste https://www.zotero.org/group

[2016-08-13 11:25] paregorios commented on #209
Resolution of this issue blocks final review of #208

[2016-08-13 11:26] paregorios commented on #208
Final review of this issue is blocked for resolution of #209

[2016-08-13 11:27] paregorios commented on #207
looks good

[2016-08-13 11:27] #207 closed, assigned to nobody

[2016-08-13 11:32] paregorios commented on #205
@gabrielbodard please download the latest JSON file (http://atlantides.org/downloads/pleiades/json/pleiades-places-20160812.json.gz) and review for validation. It looks good to us.

[2016-08-15 07:13] cguardia commented on #202
Fixed.

[2016-08-15 07:19] cguardia commented on #203
Fixed.

[2016-08-15 11:26] gabrielbodard commented on #205
Yes, this looks fine now. What was missing before, I can now see, was the outer dictionary (@context and @graph) and so the file only contained the contents of the graph (without even the enclosing list braces).

Thanks so much!

[2016-08-15 11:26] #205 closed, assigned to paregorios

[2016-08-15 16:59] #203 closed, assigned to cguardia

[2016-08-15 17:00] #202 closed, assigned to cguardia

[2016-08-15 17:14] paregorios opened #210 "batch update: owner set by script has "insufficient privileges""
**This issue is related to review of [story 12](https://www.scrumdo.com/projects/story_permalink/1087991).**

As `plone_daemon`, I issued the following command on staging and saw the following output (plone warnings omitted):

[code]

Then I logged into staging as "auser" (the user to whom ownership of the working copy was assigned). But when I visit `/places/copy_of_70978` I see:

![screen shot 2

[2016-08-15 20:52] paregorios opened #211 "batch update: referenceCitation seems to have no effect"
## Source data:

[code]
## Steps to reproduce

On staging, I ran the following command and got the following output (plone startup warnings ignored):

[code]
## Problem

No reference seems to have been created (this screen shot is from the working copy):

<img width="325" alt="screen shot 2016-08-15 at 3 50 48 pm" src="https://cloud.githubusercontent.com/assets/263285/17679224/1ba20f88-6300-11e6-9

[2016-08-15 21:03] paregorios commented on #211
This also seems to occur on creation of a new content item.

[2016-08-16 16:18] alecpm commented on #209
I implemented it this way intentionally, so that the button did not overwrite manually entered values. It's simple enough to remove that "feature" if it's not desirable.

[2016-08-16 16:44] alecpm commented on #187
For the example Place above, I'm seeing two missing connections at this point. I think I understand why those specific ones are missing and perhaps we can decide how to handle similar cases going forward based on that.

1) Drymos: http://pleiades.stoa.org/places/585903 - has only a single location with no coordinates. The only point from which the geometry is derived is the one connection to Attic

[2016-08-17 07:01] cguardia commented on #211
The referenceCitations field required special handling. Fixed and deployed to staging.

[2016-08-17 07:02] cguardia commented on #210
Turns out changing owner was not enough. Local roles had to be set on the working copy as well. Deployed fix to staging.

[2016-08-17 07:59] alecpm commented on #209
This should be fixed now.

[2016-08-17 10:12] paregorios commented on #210
@cguardia now something else is broken.

I run the following:

`bin/instance1 run scripts/batch_update.py --creators auser jbecker --contributors sarcanon sgillies --workflow draft /home/thomase/updates-test.json`

Then, as my authenticated user, I try to visit the working copy at `http://pleiades.jazkarta.com/places/copy_of_70978`, I get the following:

I have left the busted working copy in plac

[2016-08-17 10:26] paregorios commented on #211
@cguardia something else is now broken. I'm getting a traceback on the parent place after running the update. It seems to involve the new name listing.

## Steps to reproduce on staging

`bin/instance1 run scripts/batch_update.py --workflow draft /home/thomase/updates-test2.json`

## console output looks fine (plone warnings omitted)

[code]

## Traceback on visiting http://pleiades.jazkarta.com/p

[2016-08-17 12:50] paregorios commented on #209
Fixed. Super duper!

[2016-08-17 12:50] #209 closed, assigned to alecpm, paregorios

[2016-08-17 13:00] paregorios commented on #208
@alecpm: alas, this doesn't yet seem to work (although clearly something has changed).

## Steps to reproduce:
- login to staging with a user that has admin or editor group affiliation (i.e., can direct-edit published places)
- navigate to http://pleiades.jazkarta.com/places/109169
- select the "edit" button
- select the "references" tab
- scroll down and select the "add reference" button
- paste

[2016-08-17 13:01] paregorios commented on #204
Works!

[2016-08-17 13:01] #204 closed, assigned to alecpm, paregorios

[2016-08-17 13:09] paregorios commented on #187
So there are two concerns here:
1. What to show in the "connections" lists on place view (varies between anonymous and authenticated)
2. What to show in the map on place view

I want to make sure we don't get these two concerns conflated.

I'll try to summarize again what I want to see in each case here in bit. Meantime, taking ownership of this ticket so I don't lose the todo in the shuffle.

[2016-08-17 13:29] atomrab commented on #208
This may be my fault -- I added this recently without including a "short
title" field (didn't realize this was how we'd be grabbing the Zotero
records). I've added a short title now -- maybe try again?

On Wed, Aug 17, 2016 at 8:00 AM, Tom Elliott notifications@github.com
wrote:

[2016-08-17 13:31] atomrab commented on #208
Or -- reading more carefully -- maybe you're trying to see what happens
when there is no short title, in which case you can try with one of the
other entries I recently added, like
https://www.zotero.org/groups/pleiades/items/itemKey/CUWZ2SG6.

On Wed, Aug 17, 2016 at 8:29 AM, Adam Rabinowitz adam.rabinowitz@gmail.com
wrote:

[2016-08-17 13:33] paregorios commented on #208
@atomrab right, I'm trying to make sure we have a fallback behavior that works when there is no short title in the zotero record. It will be Pleiads editorial policy to include the short title, but I want the import to do something sane if we screw that up.

So, to clarify, have you modified the zotero reference I indicated above int he "steps to reproduce"? If so, I'll need to change that so @ale

[2016-08-17 14:08] atomrab commented on #208
Yes, I modified that one, but the link I provided in the second message is
short-title free and can be used for testing.

On Wednesday, August 17, 2016, Tom Elliott notifications@github.com wrote:

[2016-08-17 15:38] alecpm commented on #208
Looks like I made a typo in the JS that only affected the case where there's no shortTitle, but there is a title set. Should be fixed now.

[2016-08-17 15:52] cguardia commented on #211
Right, I apologize for not mentioning this yesterday, but I removed support for converting from list to string automatically for string values. You now need to change the json to use plain strings as values for string fields, rather than lists:

'values': [ 'name']

becomes:

'values': 'name'

The conversion was causing problems with some fields, including reference citations. Also, this format is

[2016-08-17 15:56] cguardia commented on #210
This is the same problem with the json format that I mentioned in #211.

[2016-08-17 18:00] paregorios commented on #211
That's got it, thanks!

[2016-08-17 18:00] #211 closed, assigned to cguardia

[2016-08-17 18:09] paregorios commented on #210
Works!

[2016-08-17 18:09] #210 closed, assigned to paregorios

[2016-08-17 18:12] paregorios commented on #208
This (and all the associated permutations) is now working.

[2016-08-17 18:12] #208 closed, assigned to alecpm

[2016-08-17 18:18] paregorios commented on #206
everything checks good.

[2016-08-17 18:18] #206 closed, assigned to alecpm

[2016-08-18 13:22] serviliusahala commented on #196
If I may update my original trouble ticket - it would seem to me that my difficulties in creating connections seem tied to whether the place resource is recent or not. I was able to create a connection for a newly created place resource (http://pleiades.stoa.org/places/158081395) with no difficulty, while I still encounter difficulty making connections for older place resources. Not certain if thi

[2016-08-21 00:28] alecpm commented on #196
I'm having a little trouble tracking this down, but I've found something interesting. If I login as a non-Admin Editor user and simply visit:

http://pleiades.stoa.org/places/347468514

I get insufficient privileges, it's not clear where that's coming from because the permissions assigned to that place should allow me to view it. The traceback is not illuminating, as it indicates a generic Unautho

[2016-08-21 00:37] alecpm commented on #196
Hm, actually it appears changing the debug mode and/or the security verbosity is not what fixed the permission issue. After turning those features back off, I could still access the content. It appears simply restarting the instance allowed me to access the content, which I've confirmed by restarting instance 2 and trying to visit the content there after having failed to access it. I will see if I

[2016-08-21 00:44] alecpm commented on #196
@serviliusahala regarding the connection that appears to be stuck in drafting state, have you visited the "Folder listing of locations, names, and connections" link to edit the connection from the folder listing? Currently, the connection links that appear on the Place page link directly to the connected Place rather than going to the connection, but I have not had any issues visiting the connecti

[2016-08-21 01:09] alecpm commented on #196
The permission issue should be fixed now. The issue was that permissions for adding Connections were too limited, such that only the original creator of the containing place or a site admin could create one. Adding Connections is now restricted by the same permissions as adding Locations and Names.

[2016-08-21 01:14] alecpm commented on #198
It appears that the "Copy or Move" permission is granted to Anonymous (which effectively means all users) at the Zope root, so there's a bit of a mystery here.

[2016-08-21 01:53] alecpm commented on #198
I see what the issue is here. In order to perform the check-in the code does a cut/paste from the baseline to the working copy before checking in. The cut requires delete permissions on all the sub-objects, which the user checking in often doesn't have. I should be able to re-implement the custom check-in code to move those sub-objects without the permission checks.

[2016-08-21 02:24] alecpm commented on #198
Additionally, in order to remove the working copy after checkin, the user needs to have permission to delete the working copy. In this case the working copy is in the "Pending review" state, which makes it not deletable by anyone besides a Site Administrator. Is it expected that people should be allowed to check in content that is in the "Pending review" state? If so, I can override this permissio

[2016-08-21 02:30] alecpm commented on #198
This is fixed on staging. Please test and confirm that current behaviors are acceptable:

1) The working copy is deleted on check-in, even if it is currently in a state that would not ordinarily allow deletion by the current user.

2) The current sub-objects from the baseline content are moved into the working copy before check in, if the working copy already has a sub-object with a matching id, t

[2016-08-21 02:31] alecpm commented on #196
In case it wasn't clear this fix is currently deployed both to staging and production.

[2016-08-21 15:04] paregorios commented on #196
@serviliusahala please give connection creation and editing another try (on the production server) and let us know if you run into any problems.

[2016-08-22 03:52] cguardia commented on #154
I'm sorry, I don't know which file we are talking about. Can someone point me to it?

[2016-08-22 04:55] davisagli commented on #154
/var/www/atlantides.org/downloads/pleiades/dumps/README.txt

[2016-08-22 06:30] cguardia commented on #154
This looks like the same README in pleiades.dump. I added a symlnik to it in the ansible deploy file. Does that sound reasonable?

[2016-08-22 06:43] davisagli commented on #154
That sounds reasonable to me. Can you make sure it deploys cleanly to production?

[2016-08-22 08:15] cguardia commented on #154
Is there no VagranFile for locally testing it? Should I add one?

[2016-08-22 15:17] skleinfeldt opened #212 "August security patch"
Security patch coming out 8/30: https://plone.org/security/announcements/20160830-preannounce

Plus minor security fixes if not already done: https://plone.org/news/2016/minor-plone-security-fixes

[2016-08-22 15:28] davisagli commented on #154
You can test by deploying to staging. But the case I'm concerned about is when the file already exists as an actual file rather than a symlink, so I guess you should create one in the same location on staging before testing.

[2016-08-23 11:55] paregorios opened #213 "promote-to-place action no longer creates connection"
On locations, the actions menu gives appropriately authorized users (admin?) the ability to promote the location to a place. Various actions are performed, including:
- create a new place
- move existing location from current place context to new place context

Before we implemented new-style connections, it also created a connection from the newly-created place back to the place whence the locati

[2016-08-23 11:55] paregorios commented on #213
assigned to @skleinfeldt for disposition

[2016-08-23 22:57] davisagli commented on #194
Fixed. Importing a relation of type waterway from OSM should now work -- at least it does for this one.

Waterways are definitely a case where the way we currently show geometry on the map (with the convex hull containing the geometry rather than the geometry itself) looks odd.

[2016-08-24 14:39] paregorios commented on #198
@serviliusahala please test check-in of some items to see if we've cracked the nut here. Thanks.

[2016-08-24 14:41] paregorios commented on #194
@serviliusahala please see what you think about the behavior of this sort of thing now

[2016-08-24 14:42] #175 closed

[2016-08-25 12:32] witekdev commented on #213
@paregorios
do we also set the Association Certainty to "Certain" and the Initial Provenance to "Pleiades" on this connection?

[2016-08-25 15:16] paregorios commented on #213
Yes. Please.

On Thursday, August 25, 2016, Witek notifications@github.com wrote:

##

##

Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

[2016-08-26 00:14] davisagli commented on #201
Give it a try now. The KML export wasn't handling MultiLineString geometries.

[2016-08-26 01:22] serviliusahala commented on #198
Same behavior as before. I still lack sufficient privileges to check in and
publish a working copy. Attempted with this working copy from the pending
list - http://pleiades.stoa.org/places/147997/copy_of_cessero - and was
told I lacked privileges.

#

Jeffrey A. Becker, Ph.D. RPA
jeffrey.becker@gmail.com; 617-877-4484
Twitter: @servilius_ahala https://twitter.com/servilius_ahala

#

On Wed, Aug 24

[2016-08-26 10:24] paregorios commented on #198
@alecpm should I set up a test user for you to use on staging with group membership matching those that @serviliusahala has?

[2016-08-26 17:14] davisagli commented on #198
From what I see above, it looks like Alec only deployed this to staging but @serviliusahala was testing on production?

[2016-08-26 19:20] paregorios commented on #198
@davisagli aha! yes, that was my mistake in (mis)-guiding @serviliusahala. @alecpm I'm taking this back for further re-review (with apologies).

[2016-08-26 21:44] witekdev commented on #213
@paregorios
Deployed to staging. I promoted:
http://pleiades.jazkarta.com/places/108197884
one can see that it contains a connection object:
http://pleiades.jazkarta.com/places/108197884/folder_contents
http://pleiades.jazkarta.com/places/108197884/7731266408

[2016-08-26 21:53] paregorios commented on #213
@witekdev this works great! Please deploy to production.

[2016-08-26 22:53] witekdev commented on #213
@paregorios deployed to production but not tested as I'm not sure which place I can promote?
Let me know if all is fine once you test. Thanks!

[2016-08-26 23:33] cguardia commented on #154
Tested with an existing file. Needed a force flag, but works now.

[2016-08-29 17:38] alecpm commented on #198
Yes, the change is currently deployed for testing on staging only, but I can deploy to production if it's not practical to test fully on staging.

[2016-08-30 10:09] paregorios opened #214 "references are broken on production"
Consider the following examples ... perhaps a migration wasn't run or didn't complete?

http://pleiades.stoa.org/places/579920
<img width="409" alt="screen shot 2016-08-30 at 5 07 13 am" src="https://cloud.githubusercontent.com/assets/263285/18085219/d38f3bdc-6e6f-11e6-9339-d2320b6efef8.png">

http://pleiades.stoa.org/places/935032928
<img width="407" alt="screen shot 2016-08-30 at 5 06 59 am" src

[2016-08-30 11:36] alecpm commented on #214
It's not clear to me what happened here. The migration ran without any hiccups, but it appears the "range" data was not transferred into the formatted citation field. That data still appears to be accessible in the ZODB. Unfortunately, there seems to be a more significant issue where some identifiers, didn't get copied into the bibliographic_uri field. That data seems to be entirely gone, so we ma

[2016-08-30 13:03] paregorios commented on #214
I will investigate as soon as I can regarding the URI info and report back. Did you happen to grab a zodb snapshot or do I need to ask Tummy to start pulling the most recent backup?

[2016-08-30 13:08] paregorios commented on #214
@alecpm how would I check to see if the old URI data is still hanging around? I see plenty of references at random that have empty bibliographic_uri fields ...

[2016-08-30 14:12] skleinfeldt commented on #214
FYI Tom is in the process of getting the latest backup from Tummy.

[2016-08-30 17:02] alecpm commented on #214
No snapshots available, but we could backup the current DB and then truncate it at a specific transaction to bring it back to a point in time if needed.

[2016-08-30 17:05] alecpm commented on #214
@paregorios on that first item there are 2 references that have no URI field or even the identifier set. I'm wondering if that's just a one off issue or more common. I don't see how a record that originally had an identifier would end up with all those fields blank, but it appears to be the case for that one Place at least, and I'd like to know if it's more widespread.

[2016-08-30 20:38] alecpm commented on #214
The range data has been restored into the formatted citation field, and things are looking OK on production. The default atlantides.org bibliography urls are still not populating, and I'll investigate that ASAP.

[2016-08-30 21:18] alecpm commented on #214
OK, the default atlantides urls are now used on the view when no identifiers are set, they do not appear in the edit forms for reasons that are a bit mysterious to me at the moment, but I think that's actually a reasonable behavior.

[2016-08-30 21:27] paregorios commented on #214
@alecpm this looks fixed, thanks!

[2016-08-30 21:29] #214 closed, assigned to paregorios

[2016-08-30 22:24] witekdev commented on #212
Patched staging and production with the hotfix only. Minor security fixes will come with an upgrade to Plone 4.3.10 soon.

[2016-08-30 22:24] #212 closed, assigned to nobody

[2016-08-31 15:29] witekdev opened #215 "Upgrade to Plone 4.3.10"
Besides the hotfix deployed yesterday https://github.com/isawnyu/pleiades-gazetteer/issues/212. In order for Pleiades to take advantage of the latest minor security fixes: https://plone.org/news/2016/minor-plone-security-fixes. It is best for us to upgrade to the latest Plone version ASAP.

[2016-08-31 20:58] paregorios commented on #213
This looks good! Closing as resolved.

[2016-08-31 20:58] #213 closed, assigned to witekdev

[2016-08-31 20:59] witekdev commented on #213
Great :)

[2016-08-31 21:01] paregorios commented on #215
I am setting priority to **high** for this issue. I'd like to see the upgrade and any associated migration etc. tested on staging first (after copying up-to-date copies of filestorage and blobstorage) from production. Then we'll have some idea of what we're up against in terms of a production upgrade.

[2016-08-31 21:05] skleinfeldt commented on #215
@paregorios OK, @witekdev will work on this.

[2016-08-31 22:09] paregorios opened #216 "test issue please ignore"
test

[2016-08-31 22:10] #216 closed, assigned to nobody

[2016-09-01 04:57] witekdev commented on #215
Production data has been copied to the staging site (blobs, filestorage and vaytrou data)
Plone 4.3.10 has been deployed to staging, but the staging site is currently offline as I'm getting an error which I suspect is due the python that is on staging, and the instances keep restarting (so I shut them down for now)

[code]

It seems to me like the python that is on staging is not compiled with the

[2016-09-01 05:17] davisagli commented on #215
@witekdev try deleting the Pillow egg and rerun buildout. It looks like it was compiled for UCS-4 but the Python does not support it (Python can be compiled with or without support for this way of representing unicode)

[2016-09-01 05:26] witekdev commented on #215
@davisagli that worked, the site is up and running.
I'm getting an issue when doing a DRY run upgrade:

[code]

Thoughts?

[2016-09-01 06:38] davisagli commented on #215
There is a geographic index which runs in a separate process and is communicated with via TCP. It wasn't running; I ran `sudo supervisorctl start vtpleiades3` to start it, so let's see if that helps.

[2016-09-01 12:10] witekdev commented on #215
thanks @davisagli, I stopped that to copy the vaytrou data over and forgot to restart it. I was clearly too zombified last night to remember.
@paregorios I'm running the dry run upgrade now, will update progress here.

[2016-09-01 14:01] witekdev commented on #215
I ran the upgrade steps on staging, no issues, currently running a catalog update.

[2016-09-01 15:09] witekdev commented on #215
ok, maybe @alecpm @cguardia can advise here?
When doing a catalog update via browser after a while I get:

[code]

When ssh tunneling in directly  after a longer period of time I get:

[code]

When that happens I also see that one of the plone instances has been restarted.

Is there a better strategy to do a catalog update on pleaides staging?
And also how important is it for us to do a catalog up

[2016-09-01 15:15] witekdev commented on #215
Perhaps I should recatalog each index separately?

[2016-09-01 15:41] witekdev commented on #215
Something is not right with the re-indexing process. Even the individual re-indexing of the `expires` index which has only 5 entries, takes forever (at least a few minutes have gone by since I started and it was now timed out)
@alecpm could you look into this please?

[2016-09-01 18:03] alecpm commented on #215
It's normal for a catalog reindex (whole catalog or individual indexes) to take forever and it will almost always timeout the front end webserver/cache. The reindex needs to wake up every single object in the site and fetch data from them. As a rule, you should run those operations on the admin instance (instance1 on port 8080, you may have to ssh tunnel to access it or add your IP to the firewall

[2016-09-01 18:24] davisagli commented on #215
Why is the reindex necessary in this case? Is it part of the upgrade or something you're doing "just in case"?

David Glick
(mobile)

[2016-09-01 18:30] witekdev commented on #215
@davisagli @alecpm  as part of the plone upgrade process, there was a reindexing of the entire catalog. I don't know why, I assumed it was part of the upgrade. The entire dry run was taking forever and timing out so I took the approach of just applying the upgrade steps separately in portal_setup, and then doing the reindexing.

[2016-09-01 18:35] witekdev commented on #215
@davisagli @alecpm
You can see as part of my earlier comment that contains the dry run traceback, that it said:

[code]

I'm not sure if that is just standard upgrade boiler plate or if in fact a recatalog was really needed?

[2016-09-01 19:00] witekdev commented on #215
When comparing staging indexes against production indexes: There is only one difference:
staging: geolocation VaytrouIndex 8351
production: geolocation VaytrouIndex 58704

[2016-09-01 19:14] witekdev commented on #215
After recopying the vatrou data from production to staging, all the indexes in the catalog on staging are identical to those on production.

[2016-09-01 19:21] witekdev commented on #215
@paregorios The staging site is now ready for you to test. Thanks!
Since it is a copy of the production site data, code that was deployed to staging only such as: https://github.com/isawnyu/pleiades-gazetteer/issues/198 would now be MIA.

[2016-09-01 19:30] witekdev commented on #215
@paregorios although, I'm actually not certain of that, maybe @alecpm can double check. I just blindly assumed that the changes in https://github.com/isawnyu/pleiades-gazetteer/issues/198 were to site data, but if they were to code only, they should be there on staging.

[2016-09-01 20:14] paregorios opened #217 "newstyle references are not being output properly to the JSON serializations and exports"
Since implementing new-style references, we're not seeing the attributes appropriately serialized in non-html contexts. Consider the following example, drawn from http://pleiades.stoa.org/places/967060268.
## JSON serialization

_from http://pleiades.stoa.org/places/967060268/json_
### Currently

[code]
### Desired

[code]

... **plus similar objects for each reference (there are four on this plac

[2016-09-01 21:06] alecpm commented on #217
Do we not want to include alternate_uri for completeness?

[2016-09-01 21:16] paregorios commented on #217
Yes please. Thanks for catching that.

On Thursday, September 1, 2016, Alec Mitchell notifications@github.com
wrote:

##

##

Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

[2016-09-02 08:48] alecpm commented on #215
There are migration steps that would need to be run to address the issue. Looks like everything is updated.

[2016-09-02 14:00] paregorios opened #218 "advanced search throws error on spatial search"
## steps to reproduce

As an anonymous user:
1. Visit http://pleiades.stoa.org/search_form
2. Select the "Geolocation Parameters" tab
3. Enter "27.445,5.322" in the "Lower Left Corner" box
4. Enter "96.024, 39.933" in the "Upper Right Corner" box
5. Enter "5.0" in the "Distance Tolerance" box
6. Select the "Workflow Details" tab
7. De-select all the checkboxes under "Item Type" and then select onl

[2016-09-02 17:09] davisagli commented on #218
This was a bug in my fix for #201; I just deployed a fix to production.

[2016-09-02 18:41] skleinfeldt commented on #218
You're supposed to be on vacation @davisagli !!

[2016-09-12 15:41] ryanfb opened #219 "KML dumps are empty"
All files at: http://atlantides.org/downloads/pleiades/kml/

Are empty. If you unzip the KMZ, you'll get an empty `tmp/doc.kml` file.

Not sure if this should instead be filed against https://github.com/isawnyu/pleiades-kml

[2016-09-12 17:32] paregorios commented on #219
we should also check the KML serializations for each place to see if they are still functioning

[2016-09-12 18:42] ryanfb commented on #219
Individual place KML and neighborhood KML still appears to be functioning for some places I tried at random.

[2016-09-12 19:24] cguardia commented on #219
Were the dumps working ok the past few weeks?

[2016-09-12 19:27] paregorios commented on #219
I don't know.

On Monday, September 12, 2016, Carlos de la Guardia <
notifications@github.com> wrote:

##

##

Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

[2016-09-12 19:35] cguardia commented on #219
Also, are the dumps working on staging?

[2016-09-12 20:22] cguardia commented on #219
I'll answer that myself. Running at the command line, the dump script runs fine on staging. It throws an error in production. Looking into that.

[2016-09-12 20:55] cguardia commented on #219
Turns out it was just a typo. Should I deploy fix to production?

[2016-09-12 21:01] paregorios commented on #219
Yea please

On Monday, September 12, 2016, Carlos de la Guardia <
notifications@github.com> wrote:

##

##

Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

[2016-09-12 21:56] cguardia commented on #219
Deployed. I ran the script manually and it worked this time. I also updated staging with that code, which was only on master.

[2016-09-13 14:16] ryanfb commented on #219
I downloaded the new `pleiades-latest.kmz` and was able to use it for processing, so it appears to be fixed.

[2016-09-13 15:40] paregorios commented on #219
Thanks @ryanfb and @cguardia

[2016-09-13 15:40] #219 closed, assigned to skleinfeldt

[2016-09-15 19:29] paregorios opened #220 "map icon referenced in kml serializations is busted"
Consider http://pleiades.stoa.org/places/550867/kml

Here's what one sees in Google Earth:

![busted](https://cloud.githubusercontent.com/assets/263285/18564377/d0b01808-7b50-11e6-81c5-ae5890c5726f.jpg)

[2016-09-16 18:17] skleinfeldt commented on #215
@alecpm just to verify: you are saying that not only is the correct code on staging and the correct data on staging, but all the needed migration steps have been run as well?

[2016-09-16 18:19] paregorios commented on #182
also linktransparent.gif

[2016-09-16 18:24] skleinfeldt commented on #138
On hold until after more story work.

[2016-09-16 18:25] #121 closed

[2016-09-23 17:41] paregorios opened #221 "browsers blocking mixed content on home page"
On the home page via HTTPS:
- Chrome blocks: http://pleiades.stoa.org/api/status
- Chrome warns about: http://atlantides.org/images/justice-blue.png

[2016-09-23 17:44] alecpm commented on #221
The homepage should safely be able to reference https://pleiades.stoa.org/api/status instead or //pleiades.stoa.org/api/status to be protocol agnostic.

Could we move that image into the CMS and reference it via HTTPS, say:

https://pleiades.stoa.org/images/justice-blue.png

[2016-09-23 17:47] alecpm commented on #215
I believe so @skleinfeldt

[2016-09-23 17:57] paregorios commented on #215
So it sounds to me like staging has been running with the upgrade for a long time. I guess it's time to start planning to roll this out on production. @skleinfeldt do we need a story for this, or can we just use this ticket?

[2016-09-23 18:42] paregorios opened #222 "firefox says pleiades https is "not secure""
![screen shot 2016-09-23 at 1 41 39 pm](https://cloud.githubusercontent.com/assets/263285/18797421/85550a78-8193-11e6-9c2a-bb4e9fb9924e.png)

[2016-09-23 18:46] paregorios commented on #222
Qualsys testing reports that our server's certificate chain is incomplete, and this is what Firefox is complaining about. See attached report.

[qualsystest.pdf](https://github.com/isawnyu/pleiades-gazetteer/files/490434/qualsystest.pdf)

[2016-09-23 18:47] paregorios commented on #222
marked urgent because 20% of our sessions are firefox

[2016-09-23 18:48] skleinfeldt commented on #215
How about using this ticket @paregorios ? Although open to your suggestion.

[2016-09-23 19:08] paregorios commented on #215
fine by me, but let's hold off doing anything with this until the dust settles from the https crossover

[2016-09-23 19:17] paregorios commented on #222
now working on firefox

[2016-09-23 19:17] #222 closed, assigned to nobody

[2016-09-23 19:18] paregorios commented on #222
[qualsystest2.pdf](https://github.com/isawnyu/pleiades-gazetteer/files/490488/qualsystest2.pdf)

[2016-09-25 12:42] paregorios opened #223 "typo in code causes reference display problem in base views"
Because of a typo in code, Individual citations in reference lists in content base views do not appear to conform to the specification set out in [Scrumdo Story 66](https://www.scrumdo.com/projects/story_permalink/1096457):

[The code that constructs these citations](https://github.com/isawnyu/PleiadesEntity/blob/master/Products/PleiadesEntity/content/Work.py#L128) is to be found in the `getSorted

[2016-09-26 15:38] ryanfb opened #224 "Bad URLs in connectsWith property in JSON output"
The `connectsWith` property in the JSON output is often a URL which looks like (for https://pleiades.stoa.org/places/265877):

https://pleiades.stoa.org/places/9c80aa04f0883d00bbe730ad4b7a6e58

However, this is not always the case, as there are also good URLs as well (for https://pleiades.stoa.org/places/265880):

https://pleiades.stoa.org/places/269561

This appears to be the case for both the JS

[2016-09-26 16:30] davisagli commented on #223
I made the fix you identified and deployed it to production.

[2016-09-26 17:20] sarcanon opened #225 "KML Export Inserts Bogus Points in Polygons"
First noticed by @gabrielbodard:

Summary: The KML dumps appear to insert points into polygon Location representations that don't belong.

Test case: See the KML for the site Isca https://pleiades.stoa.org/places/79532. This site has three Locations associated with it. One of them (the fortress' boundary walls) is a polygon. That polygon, consisting of five points, is correctly represented on the

[2016-09-26 19:27] paregorios commented on #223
@davisagli it looks like fixing this has surfaced another bug in a subsequent line of code that wasn't getting executed at all because of the previous bug.

[In line 143](https://github.com/isawnyu/PleiadesEntity/blob/master/Products/PleiadesEntity/content/Work.py#L143), I think "detail" should be "text". Here's the traceback I'm looking at ([generated here for an authenticated user](https://pleia

[2016-09-26 21:50] davisagli commented on #223
@paregorios oops! better now?

[2016-09-26 22:34] paregorios commented on #223
@davisagli yes, I think that's got it! Thanks.

[2016-09-26 22:34] #223 closed, assigned to davisagli, paregorios

[2016-09-27 19:07] paregorios opened #226 "CORS failure using AWMCjs"
For example, consider [this page at DCC](http://dcc.dickinson.edu/caesar/book-1/chapter-1-1). Instead of nifty map and description pulled from Pleiades JSON, [AWMCjs](http://isawnyu.github.io/awld-js/) pops up a generic entry (symptomatic of a failure to retrieve and parse successfully the Pleiades JSON):

<img width="745" alt="screen shot 2016-09-27 at 1 55 30 pm" src="https://cloud.githubusercon

[2016-09-27 19:19] davisagli commented on #226
How hard would it be to make AWMCjs load directly from the https URLs instead of http? The problem is that the Access-Control-Allow-Origin: \* header is added by the json view, but the redirect happens before the traffic makes it to Plone, much less the view. We can make apache add the header, but loading directly from https should avoid the problem and also avoid an extra request.

[2016-09-27 19:26] paregorios commented on #226
Since Pleiades has gone to HTTPS "for real", it might not be unreasonable to help people out by having AWMCjs sniff pleiades links for protocol and just "do the right thing". That won't help others who aren't using AWMCjs but who are holding data in which the HTTP URIs have been embedded and who were relying on the promise of redirects to provide some future-proofing to their Pleiades-using webapp

[2016-09-27 19:27] davisagli commented on #226
Yeah. I think we should make apache add the header _and_ make AWMCjs load from https.

[2016-09-27 20:17] #201 closed, assigned to paregorios

[2016-09-27 20:29] paregorios commented on #198
@alecpm on staging I gave a user the same group memberships as @serviliusahala's user. I went to the item above and tried to check in the working copy. I got the same insufficient privileges error. Something's still wonky here, I'm afraid.

[2016-09-27 20:32] paregorios commented on #196
@serviliusahala could you give this a try and let us know how it goes?

[2016-09-27 20:33] paregorios commented on #194
@serviliusahala would you care to give this a try and let us know how it goes for you?

[2016-09-27 20:51] #218 closed, assigned to paregorios

[2016-09-27 22:08] portableant commented on #226
Does this sum up the issue
http://stackoverflow.com/questions/24484427/cors-no-access-control-allow-origin-header-is-present-yet-there-is
Sorry not dug into this deeply...

[2016-09-28 19:09] serviliusahala commented on #196
Creating connections has been working ok for me recently and I have not
received that error message related to insufficient privileges for
connections.

thanks,

JAB

#

Jeffrey A. Becker, Ph.D. RPA
Department of Classical and Near Eastern Studies
Binghamton University - SUNY
jeffrey.becker@gmail.com; 617-877-4484
Twitter: @servilius_ahala https://twitter.com/servilius_ahala

#

On Tue, Sep 27, 20

[2016-09-28 19:09] paregorios commented on #196
Thanks @serviliusahala . Closing as resolved.

[2016-09-28 19:09] #196 closed, assigned to alecpm, paregorios, serviliusahala

[2016-09-28 19:10] serviliusahala commented on #194
The performance of importing relations via OSM seems good to me. My most
recent successful attempt is this one:
https://pleiades.stoa.org/places/438803/osm-location-of-gallicano-nel-lazio

A great addition to Pleiades' functionality, IMHO.

best,

JAB

#

Jeffrey A. Becker, Ph.D. RPA
Department of Classical and Near Eastern Studies
Binghamton University - SUNY
jeffrey.becker@gmail.com; 617-877-448

[2016-09-28 19:15] paregorios commented on #194
thanks @serviliusahala. Closing as resolved.

[2016-09-28 19:15] #194 closed, assigned to serviliusahala

[2016-09-29 19:37] steko opened #227 "Fetch Zotero fails silently if query string is attached to item URI"
While trying to import a reference from https://www.zotero.org/steko/items/itemKey/IUN6AZYT/q/carsiche using the _Fetch Zotero_ widget, I obtained no error message and no content.

Removing the query string part from the URI, resulting in https://www.zotero.org/steko/items/itemKey/IUN6AZYT works perfectly.

Expected outcome: there should be an error message telling users that something is wrong wi

[2016-09-29 19:38] paregorios commented on #227
We should probably generalize this to report any error response received from the Zotero API (rather than just silently failing). Could we do this via a pop-up or something?

[2016-09-29 23:33] alecpm commented on #227
There is some alert message error handling, but it appears to be failing in this case. Should be easy to fix.

[2016-09-30 19:00] atomrab opened #228 "Connected place does not show that it is in drafting/pending state"
When viewing https://pleiades.stoa.org/places/865014139 while not logged in, I can see that it has a connection with Lucus Stimulae, which appears as a normally-colored live link (below).

![image](https://cloud.githubusercontent.com/assets/4740995/19003228/88d241f2-8715-11e6-97e3-b8e4a245e754.png)

If I follow that link, however, I'm taken to a login page, and if I log in, I discover that this pl

[2016-10-01 15:04] steko opened #229 "OSM widget to add new location not shown on working copy of a place"
See the screenshots

Original place

![schermata da 2016-10-01 17-03-04](https://cloud.githubusercontent.com/assets/40545/19014876/f67a178c-87f8-11e6-8ca1-32e6e6d1c6bf.png)

Working copy

![schermata da 2016-10-01 17-02-52](https://cloud.githubusercontent.com/assets/40545/19014877/f67a6af2-87f8-11e6-92b6-035645b4003f.png)

Thus apparently I have no way of adding a new OSM-based location to the wor

[2016-10-03 16:53] atomrab opened #230 "Thinking about densely-connected urban centers"
One of the effects of switching locations to places connected to containing places is that it has become a lot harder to use the map inset to view and explore places in densely-settled urban areas like Rome or Athens. The current map view of Rome at maximum zoom looks like this:

![image](https://cloud.githubusercontent.com/assets/4740995/19045577/3c74a0d8-895f-11e6-9e87-4e7fc26e0b26.png)

It's ba

[2016-10-03 16:59] paregorios commented on #230
@atomrab try switching the base map to "modern streets" and see whether you think that's adequate. That's the set of base tiles we have that provides the deepest zoom at present.

[2016-10-03 17:15] atomrab commented on #230
Well, duh. I just assumed that they'd all have the same zoom scale. I imagine that base map would be fine for just about anything we're likely to encounter, so never mind. I assume that a 5m satellite basemap would create problematic dependencies on commercial services (although this is what I want in my feverish brain), so never mind. I wonder if other users show the same lack of initiative, thou

[2016-10-03 18:28] rmhorne commented on #230
Hello everyone,

One of the main limitations for the zoom levels on the map is lack of space in mapbox for tiles. If there is editorial consensus, I could look into using AWMC data and the new veto tiles from mapbox, which may allow us to have even higher zoom levels with the same accurate AWMC data. This will require learning new techniques / etc for mapbox, which may take some time. Is this some

[2016-10-03 19:18] atomrab commented on #230
Anything that makes it easier to zoom in to a level appropriate for the information users might be trying to isolate would, in my opinion, be worthwhile. I suspect that my students rarely switch the basemap, either, so the question is whether the diminished frustration on the lazy user side is worth the increased effort on the @rmhorne side.

[2016-10-03 19:21] rmhorne commented on #230
Hello everyone,

That should read “vector” instead of veto. Either me or my autocorrect must have politics on the brain.

Thanks,
Ryan

On Oct 3, 2016, at 2:28 PM, Horne, Ryan <rmhorne@email.unc.edu<mailto:rmhorne@email.unc.edu>> wrote:

Hello everyone,

One of the main limitations for the zoom levels on the map is lack of space in mapbox for tiles. If there is editorial consensus, I could look in

[2016-10-05 15:12] ryanfb commented on #224
These are also in the connections properties in the CSV dumps.

[2016-10-07 02:06] serviliusahala opened #231 "Missing display of formatted citation (and more) for OSM import"
It seems that the formatted citation generated by the OSM import tool is now not displaying on nodes, ways imported from OSM. Upon opening the location in edit mode, the url appears in the 'other identifier' field, but Formatted citation is blank. An example here - https://pleiades.stoa.org/places/766392/osm-location-of-ras-muhammad
![screenshot 2016-10-06 22 04 36](https://cloud.githubusercontent

[2016-10-19 10:31] paregorios opened #232 "importing complex OSM relations provokes 500-series errors on Pleiades"
Frontpage works, so server is up and apache is running, but plone-served pages are returning 503. This seems to have started around 6:10 a.m. US Eastern time on 19 October.

[2016-10-19 10:31] paregorios commented on #232
And now it's back, suddenly.

[2016-10-19 10:32] paregorios commented on #232
I'd like to do some forensics on what happened here (about a 20 minute outage, it appears), when we have time.

[2016-10-19 10:44] davisagli commented on #232
It looks like the culprit is the view to import a location from OSM, which was called a number of times from static-170-42-226-77.ipcom.comunitel.net and at least in some cases ran for an insanely long time. I'm not sure why it would do that. If we know who was creating locations this morning and can find out what they were trying to import, we can investigate further.

[2016-10-19 10:54] paregorios commented on #232
Thanks @davisagli I'll try to find out who that was and get some info.

[2016-10-19 11:06] paregorios commented on #232
https://pleiades.stoa.org/places/810796635/osm-location-of-galicia

[2016-10-19 11:07] paregorios commented on #232
[code]

[2016-10-19 11:14] davisagli commented on #232
I'm wondering what OSM object was that imported from, and were there attempts to import any others that did not complete?

David Glick
(mobile)

[2016-10-19 11:31] paregorios commented on #232
It looks like the import was from https://www.openstreetmap.org/relation/349036, which is so complex that even OSM takes a long time to display it in their web app. I think we may need a complexity filter or something on the Pleiades import side (if we can figure out how that would work).

[2016-10-20 20:27] paregorios commented on #226
Thanks to [a patch to awld.js](https://github.com/isawnyu/awld-js/pull/11) from @ryafb, existing implementations that use legacy pleiades HTTP URIs and that pull their AWLD.js code live from github are no longer broken. We still need to modify our ansible playbook for apache to make it add the CORS header to the redirect.

[2016-10-31 13:12] paregorios commented on #215
dust is now settled from the https crossover; I assume this ticket now/still is ready to be addressed for production. Is that correct?

[2016-10-31 13:26] paregorios commented on #231
Note that this ticket should be resolved once [Scrumdo story 96](https://www.scrumdo.com/projects/story_permalink/1103944) is implemented.

[2016-10-31 13:43] paregorios commented on #231
OSM import needs to be updated to construct new-style references.

## Adjustments to the OSM import code

The current implementation has the following needs:
- OSM import seems to be putting the URI in the "Other identifier" field instead of in the "Access URI" field.
- OSM import is not constructing a "formatted citation". It should construct formatted citations of the form: "osm:{type}={osmid}"

[2016-10-31 14:32] #58 closed

[2016-10-31 14:33] paregorios commented on #180
We haven't seen a recurrence, so lowering priority.

[2016-10-31 14:34] paregorios commented on #197
This appears to have been some caching oddity. I can't recreate, so closing "no longer observed"

[2016-10-31 14:34] #197 closed, assigned to paregorios

[2016-10-31 14:45] paregorios commented on #187
still needs my attention

[2016-10-31 14:46] paregorios commented on #154
so, @davisagli and @cguardia, are we confident this works on production?

[2016-10-31 14:47] paregorios commented on #217
@alecpm can you check/update status on where this issue stands? Thanks

[2016-10-31 14:49] paregorios commented on #177
This is still my task to do.

[2016-10-31 14:51] paregorios commented on #25
closing "won't fix" as this is a rather artificial attempt and one I don't see users trying in analytics data.

[2016-10-31 14:51] #25 closed

[2016-10-31 14:53] paregorios commented on #12
Verified.

[2016-10-31 14:53] paregorios commented on #37
Duplicate for #12

[2016-10-31 14:53] #37 closed

[2016-10-31 14:54] paregorios commented on #12
NB: we should also make sure that creators and contributors on "pending" content are not credited on published content.

[2016-10-31 14:54] paregorios commented on #16
Since we've killed off commenting, this is no longer an issue. Closing.

[2016-10-31 14:54] #16 closed

[2016-10-31 15:23] paregorios commented on #102
still needs pondering

[2016-10-31 15:25] paregorios commented on #108
will replace this with a different set of tasks

[2016-10-31 15:25] #108 closed

[2016-10-31 15:37] #56 closed

[2016-10-31 15:43] paregorios commented on #22
should we do a user study around this at aia/scs 2017?

[2016-10-31 15:45] paregorios commented on #19
What's Jazkarta's thinking on this issue?

[2016-10-31 15:49] davisagli commented on #215
Correct

[2016-10-31 15:52] #138 closed

[2016-10-31 15:54] davisagli commented on #19
Not needed. For a site this size we try very hard to avoid complete catalog rebuilds, and if significant reindexing is necessary we can run it using one of the existing instances in "run" mode which just runs a script without binding to the http interface.

[2016-10-31 15:56] paregorios commented on #229
this used to work ...

[2016-10-31 15:57] paregorios commented on #230
so I'm not sure where this leaves us. Would a user study at AIA/SCS be worthwhile to try to sort out what would be best?

[2016-10-31 16:16] #19 closed

[2016-10-31 16:32] atomrab commented on #230
I would vote "yes", especially since there will be that SCS maker-space
panel where Sarah will be representing us and presumably dealing with lots
of interested potential users.

On Mon, Oct 31, 2016 at 10:57 AM, Tom Elliott notifications@github.com
wrote:

[2016-10-31 17:26] witekdev commented on #221
What I'm seeing with Chrome 54 on Win 7 is that it doesn't even let me access the http link but redirects me to the https. I see this behaviour too with other browsers, FF, Opera, Srware Iron.

[2016-10-31 17:29] davisagli commented on #221
@witekdev read it again. The problem is that _when_ the page loads via https, there are warnings in the console about some resources that are loaded via http. We should change them to load via https also.

[2016-10-31 17:31] witekdev commented on #221
@davisagli ah, I see now, ok thanks!

[2016-10-31 18:05] davisagli commented on #229
Fixed

[2016-10-31 19:13] witekdev commented on #220
I see that the icon that we link to in the kml:  http://google-maps-icons.googlecode.com/files/justice.png is no longer there and returns a 404. The google maps icons collection has moved to https://mapicons.mapsmarker.com
So we need to pick an icon and then, as this mapsmarker project asks for no hotlinking, host the icon ourselves somewhere?
@paregorios Which icon was previously in use here? Was

[2016-10-31 19:25] paregorios commented on #220
@witekdev let's use the same image as the front pages uses, i.e., http://atlantides.org/images/justice-blue.png but NB #221 where we're discussing moving that image into the plone so it gets served with https.

[2016-10-31 19:27] witekdev commented on #220
@paregorios sounds good.

[2016-10-31 19:31] paregorios commented on #229
Confirmed fixed. Closing.

[2016-10-31 19:31] #229 closed, assigned to paregorios

[2016-10-31 20:24] davisagli commented on #231
I have fixed this and ran the migration on staging.

[2016-10-31 20:25] davisagli commented on #231
Here is the migration script if you'd like to skim and make sure it looks sane:

[code]

[2016-10-31 20:39] paregorios commented on #231
@davisagli Import works on staging. Migrated content on staging looks good. Please deploy to production and run migration at whatever time seems best to you.

[2016-10-31 21:13] witekdev commented on #220
@paregorios
here: https://github.com/isawnyu/pleiades-placematch/blob/master/pleiades/placematch/kml_document.pt
we are referencing http://google-maps-icons.googlecode.com/files/monument.png which likewise no longer exists. What icon should we use as a replacement?

[2016-10-31 21:16] paregorios commented on #220
@Witek, I think that pleiades-placematch is orphaned code that is no longer
used. Is it still included anywhere in out buildout or ansible playbook?

##

Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Mon, Oct 31, 2016 at 4:13 PM, Witek notifications@github.co

[2016-10-31 21:24] witekdev commented on #220
@paregorios looks like you are right, it only features in the development buildout. Though @alecpm updated it to use ssl 6 weeks ago, so at first glance it looked like it was still in 'active' development:
https://github.com/isawnyu/pleiades-placematch/commits/master

[2016-10-31 21:25] paregorios commented on #220
yeah, I suspect that update was as a result of a big find-and-replace
effort. We can probably leave this one alone tho.

##

Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Mon, Oct 31, 2016 at 4:24 PM, Witek notifications@github.com wrote:

[2016-10-31 22:42] witekdev commented on #220
@paregorios deployed to staging and production. (and fixed)

[2016-11-01 02:50] davisagli commented on #231
Okay, all set on production now too.

[2016-11-01 05:53] witekdev commented on #215
@paregorios Production has been patched finally with a lot of help from @davisagli tonight. Happy its done though :)

[2016-11-01 12:37] paregorios commented on #231
My test of the OSM import on production worked, and migrated OSM locations I checked look ok as well. @serviliusahala would you please have a look at this as well and let us know if it looks good to you? If so, we'll close the ticket as resolved.

[2016-11-01 12:40] paregorios opened #233 "review/merge/deploy "october surprise" pull request on pleiades3-buildout"
Makes some adjustments to the batch update script. Tested locally with a copy of real data. https://github.com/isawnyu/pleiades3-buildout/pull/3

[2016-11-01 16:19] davisagli commented on #224
@witekdev These are supposed to use the place's id, not its UUID. In some cases these URLs are generated from catalog metadata, so maybe the metadata is wrong or maybe we're using the wrong field.

[2016-11-01 16:47] davisagli commented on #232
Actually that relation is supposed to already be rejected (we only allow relations of type "multipolygon" or "waterway"), but the code to abort when the relation type is something else wasn't working. Fixed.

[2016-11-01 18:32] paregorios commented on #215
thanks all!

[2016-11-01 18:32] #215 closed, assigned to paregorios

[2016-11-01 18:34] paregorios commented on #220
looks good @witekdev thanks

[2016-11-01 18:34] #220 closed, assigned to paregorios

[2016-11-01 19:19] davisagli commented on #233
Merged and deployed to production.

[2016-11-01 19:25] paregorios commented on #233
Thanks!

[2016-11-01 19:25] #233 closed, assigned to paregorios

[2016-11-01 19:29] davisagli commented on #154
Yep, looks like it's in place on production.

[2016-11-01 19:29] #154 closed

[2016-11-01 19:51] davisagli commented on #18
It looks like @alecpm prepared the update to add collective.deletepermission in https://github.com/isawnyu/pleiades-policy/commit/f0cd9a0bd09c7a2a35d35133b2b1ca88975630d5, but it has not been activated on production. @alecpm, is that intentional or an oversight?

[2016-11-01 20:11] paregorios opened #234 "test issue please ignore"
foo

[2016-11-01 20:21] #234 closed, assigned to nobody

[2016-11-01 20:33] davisagli commented on #18
@paregorios it turns out that Alec implemented a fix for this, but missed a step in deploying it. That's now taken care of on staging, so please test there.

[2016-11-01 20:51] paregorios commented on #18
I can confirm (with a test user in the Members group) that this is working on staging. Please deploy to production.

[2016-11-01 22:27] davisagli commented on #18
I made the same change in production.

[2016-11-02 00:39] alecpm commented on #198
@davisagli pointed out an oversight I made in deploying this one. I hadn't installed the collective.deletepermission add-on that this fix depended on in the control panel. After having installed the add-on, the check in appears to be working as a non-admin.

[2016-11-02 02:15] alecpm commented on #217
This is now implemented on staging, see e.g.: https://pleiades.jazkarta.com/places/967060268/json

[2016-11-02 03:08] alecpm commented on #227
The fix for both the missing alert and the underlying issue with the Zotero url are now on staging.

[2016-11-02 05:38] alecpm commented on #226
The header should be in place on all https redirects on staging and production.

[2016-11-02 13:29] paregorios commented on #226
looks good, thanks!

[2016-11-02 13:29] #226 closed, assigned to alecpm

[2016-11-02 13:37] paregorios commented on #227
@alecpm this is working now, but would it be possible to cleanup/regularize the URL that we subsequently store? So, for this example (https://www.zotero.org/steko/items/itemKey/IUN6AZYT/q/carsiche) you've figured out how to get the correct data. Could we strip off the query components when storing the bibliographic URL (i.e., store https://www.zotero.org/steko/items/itemKey/IUN6AZYT)?

[2016-11-02 13:44] paregorios commented on #217
@alecpm it looks like the "alternateURL" field is not being included.

[2016-11-02 13:49] paregorios commented on #198
I have tested this fix with appropriately-permissioned fake user accounts on staging and it works as expected. Please deploy to production so we can have @serviliusahala test in a real-world situation.

[2016-11-02 13:59] paregorios commented on #18
Something has regressed here, or my initial test was confused. On neither staging nor production is an authenticated user who is only in the Member group able to delete a place or a name that she has created. The "delete" option does not appear in the "actions" menu item. Here are some examples, created with the auser user:
- https://pleiades.jazkarta.com/places/52124298/
- https://pleiades.jazkar

[2016-11-02 14:21] witekdev commented on #221
I made changes to the pleiades.frontpage package that will hopefully address this, however I realised I don't know how to deploy these changes to the non-plone pleiades front page. @davisagli @alecpm what is the mechanism to do that? thanks!

[2016-11-02 14:39] paregorios commented on #232
@davisagli works well on staging. Did you also fix this on production? (I'm nervous to try without checking with you first).

[2016-11-02 15:04] witekdev commented on #182
Fixed. the missing gifs have been added. Deployed to production and staging.
If we happen to be missing other older Plone gifs in the future, this is where I sourced them from:
http://www.oces.okstate.edu/template12/ploneimages/images-in-plone

[2016-11-02 15:20] paregorios commented on #182
looks good, thanks

[2016-11-02 15:20] #182 closed

[2016-11-02 15:23] davisagli commented on #198
@paregorios if I understood Alec correctly, the only thing left to deploy was the installation of collective.deletepermission which I did on production for #18.

[2016-11-02 15:25] paregorios commented on #198
@serviliusahala please give this a test on production at your earliest convenience and let us know how it goes!

[2016-11-02 15:25] davisagli commented on #221
@witekdev It's in /var/www/pleiades.stoa.org/pleiades-frontpage on the server.

[2016-11-02 15:25] davisagli commented on #232
Yep.

[2016-11-02 15:26] paregorios commented on #221
Is it not part of the ansible playbook?

##

Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Wed, Nov 2, 2016 at 10:25 AM, David Glick notifications@github.com
wrote:

[2016-11-02 15:27] davisagli commented on #221
I think it's part of the full "pleiades.yml" playbook, not the "deploy.yml" playbook which only deploys Plone. But it seems silly to run the full playbook for something that only requires a "git pull"

[2016-11-02 15:41] cguardia commented on #12
For places, contributors include creators and contributors of contained names and locations, which is why David Diez Mata is included. Do you want this behavior to be removed entirely or only changed to not include creators and contributors of unpublished subitems?

[2016-11-02 15:43] davisagli commented on #12
We do want the creators and contributors from published subitems.

[2016-11-02 15:44] paregorios commented on #12
The only thing that needs to change is rejecting strings from unpublished
subordinate items.

##

Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Wed, Nov 2, 2016 at 10:43 AM, David Glick notifications@github.com
wrote:

[2016-11-02 15:50] davisagli commented on #18
Try now (on staging, not production yet). For some reason the "Delete objects" permission (which newly means "can delete items in this folder if I also have the 'Delete portal content' permission on those items) was not granted to all the roles it should be as specified in Alec's update.

[2016-11-02 16:09] alecpm commented on #227
Most likely yes, I'll look into that today.

[2016-11-02 16:11] alecpm commented on #217
Indeed, I totally missed my own comment regarding that. Will fix today.

[2016-11-02 16:27] paregorios commented on #18
This works great on staging now. I have tested adding and deleting places, names, and locations. Please deploy to / implment on production.

[2016-11-02 16:29] davisagli commented on #18
Okay, should be all set on production.

[2016-11-02 16:30] paregorios commented on #232
Confirmed this is now fixed on production. Thanks.

[2016-11-02 16:30] #232 closed, assigned to paregorios

[2016-11-02 16:37] paregorios commented on #18
Confirmed: this is rock and roll and disco on production.

[2016-11-02 16:37] #18 closed

[2016-11-02 17:22] witekdev commented on #221
Deployed on staging and production.

[2016-11-02 18:39] paregorios commented on #221
excellent, thanks!

[2016-11-02 18:39] #221 closed, assigned to paregorios, witekdev

[2016-11-02 20:21] cguardia commented on #12
I pushed in a change for rejecting contributors from unpublished subitems, but there are two problems with the other code as it is right now:
1. Once the name is in the main object contributors field, it will remain there, even if the review state of subitems changes. We would need to change the event to always review subobjects and take out any names that come from unpublished ones. However, that

[2016-11-02 20:30] paregorios commented on #12
@cguardia I understand your item 1 and I am happy with that remaining an exception. The editors will have to manually remove contributors from the parent place if we retract something.

I don't extactly understand your item 2. Do you mean that _if_ we made the changes necessary to change the behavior for item 1, then we'd have to do a massive migration, or do you mean that even the partial fix you

[2016-11-02 20:39] cguardia commented on #12
Yes, a script of some sort would be required, because contributors are not calculated at display time. They are set only when the object is edited or created. For example, to fix the example place above, David Díez Mata has to be manually removed from the list of contributors (because of comment 1 from myself above), then when that change is saved, my code change will make sure he is not added aga

[2016-11-02 20:43] davisagli commented on #12
If I'm understanding Carlos correctly, he's saying that it's hard to fix this for existing content because we can't automatically determine which "extra" names are there because someone explicitly added them vs. because they came from unpublished subitems.

But we don't need a migration to fix it so that creators/contributors of future unpublished subitems won't show up on the Place until the subi

[2016-11-02 20:52] cguardia commented on #12
Correct. Thanks for the explanation.

[2016-11-03 07:16] cguardia commented on #225
This took me some time to analyze, but I believe the export is not inserting bogus points. What happens is that the dump is just for places, not individual locations, so the code tries to get the smallest convex Polygon containing all the points in the combined locations for a place. There are adapters inside adapters here, but the final result is a call to the convex_hull method of the multipoint

[2016-11-03 12:24] paregorios commented on #12
I am good with a code change that only prevents grabbing creators and contributors from unpublished subordinate locations, names, etc. in the future. I understand that existing examples will be unchanged. In other words, what @cguardia has already done is fine with me.

Please push to staging so I can check it out.

[2016-11-03 13:12] paregorios commented on #225
Interestingly, something seems to have changed here. The KML file referenced in the original ticket submission now contains the following:

[code]

The amphitheatre seems no longer to be pulled into the calculation or the polygon.

Some other bugfix (or a version upgrade to something underneath like shapely?) must have fixed this.

@sarcanon can you verify to your satisfaction that this is no long

[2016-11-03 14:40] sarcanon commented on #225
Well, technically, it's not my ticket, i.e., I'm not the original reporter of the bug. This was Bodard's issue, but I helped him track it down, so I submitted the ticket on his behalf. I'm not entirely certain how he produced the export that surfaced the anomalous results, so I don't know how to reproduce the problem.

[2016-11-03 14:43] paregorios commented on #225
Thanks @sarcanon

@gabrielbodard would you please have a look at the latest KML and see if this problem persists?

[2016-11-03 14:48] cguardia commented on #225
@paregorios are you sure you generated the kml using the dump-scripts/kml script from the buildout? That's the one that has the polygon code. If you append 'kml' to a place it will show up correctly because it outputs each placemark separately.

[2016-11-03 14:49] ewg118 opened #235 "Add path to advanced search form to home page and refine instructions"
The autosuggest feature is useful in the main search bar on the home page, but it only suggests items where the search term appears in the title. Since there's no search button, it's impossible to search keywords. E.g., if I want to search "aqueducts" in general, I cannot do it from the home page. Several aqueducts will appear in the autosuggest (because the word is in the title), but Aqua Marcia

[2016-11-03 14:49] paregorios commented on #225
@cguardia I wasn't aware that we are using different code to produce kml serializations of individual places and for the dumps. I'll take this ticket back for further review.

[2016-11-03 15:03] paregorios commented on #235
this would be a modification to https://github.com/isawnyu/pleiades-frontpage

[2016-11-03 15:22] paregorios commented on #225
This ticket appears to have arisen from the same misunderstanding of the Pleiades KML dump (as distinct from the per-place KML serializations) that I held. @cguardia is right: the KML dump is working as designed in this case: it provides a single, bounding polygon (i.e., convex hull) for each place that contains a location with polygon geometry. If there are multiple subordinate locations, then th

[2016-11-03 15:22] #225 closed, assigned to paregorios

[2016-11-03 15:29] cguardia commented on #12
This is on staging already.

[2016-11-03 15:33] paregorios commented on #12
@cguardia can you point me to the code for this? I'm not understanding the logic.

[2016-11-03 16:17] cguardia commented on #12
For place subitems, I added a check for the review_state, to only add the subitem's contributor when the subitem is already published:

https://github.com/isawnyu/PleiadesEntity/blob/c34cb573338f9226d491b3a10ddb3561e886f53d/Products/PleiadesEntity/event.py#L87

[2016-11-03 16:23] davisagli commented on #3
This appears to be working now; it probably fixed itself when we migrated to separate content items as connections.

[2016-11-03 16:25] paregorios commented on #3
@ryanfb happy?

[2016-11-03 16:31] cguardia commented on #12
Oh, and it's important to remember that the value is changed only when the place itself is edited, so publishing a subitem will not automatically update contributors. This last thing might be something we could change later on.

[2016-11-03 16:35] davisagli commented on #12
@cguardia I think now is the right time to change that. It should be as simple as subscribing `contributorsSubscriber` to the workflow transition event in addition to IObjectModifiedEvent

[2016-11-03 16:40] paregorios commented on #12
yes please

[2016-11-03 17:16] ryanfb commented on #3
Looks good for spot-checks of the latest CSV dumps on the original report of places 91358 and 89288.

See also: #224 (not yet resolved by this fix)

[2016-11-03 17:16] #3 closed

[2016-11-03 17:30] cguardia commented on #12
It was true that this was an easy fix. It's on staging now.

[2016-11-03 23:10] alecpm commented on #224
It looks like this is a catalog metadata issue, reindexing the content fixes it.  I'll make a quick catalog updater script that we can run on every place to update its catalog metadata if it has any UIDs in connectsWith or hasConnectionsWith.

[2016-11-04 01:00] paregorios commented on #217
@alecpm this is labeled "review" but is still assigned to you. Do you want me to review it again, or are you still working on it?

[2016-11-04 01:08] alecpm commented on #217
I may need to clear a cache. Will update when I do that.
On Thu, Nov 3, 2016 at 6:00 PM Tom Elliott notifications@github.com wrote:

[2016-11-04 08:28] alecpm commented on #224
The migration has been run on staging, there should no longer be any items with the erroneous connection urls. I manually fixed the one above on production when verifying the cause, but the migration has not yet been run there to catch other instances.

[2016-11-04 08:30] alecpm commented on #227
This should be working correctly on staging now.

[2016-11-04 08:32] alecpm commented on #217
alternateURI is now in place on staging.

[2016-11-04 12:46] paregorios commented on #217
@alecpm Looks great! Please deploy to production.

[2016-11-04 12:48] paregorios commented on #224
ok @alecpm, let's schedule a time to run this migration on production. I'd like to ask for you to grab and store a copy of the database file before running the migration.

[2016-11-04 12:57] paregorios commented on #227
@alecpm I;'m not seeing the URL cleaning working on staging. Here's what I did:
- Logged into staging as an admin user
- Navigated to https://pleiades.jazkarta.com/places/893999
- Edited the place resource
- Switched to the reference tab
- Added a new resource
- Pasted this URL into the "Bibliographic URI" box: https://www.zotero.org/paregorios/items/collectionKey/V9VA7HTP/itemKey/5WZRH53A/q/git
-

[2016-11-04 13:40] paregorios opened #236 "some map controls have bigger z-index(?) than dialogs"
Consider the poor reference browser widget for accuracy assessments:

![screen shot 2016-11-04 at 8 38 45 am](https://cloud.githubusercontent.com/assets/263285/20007441/4156e51a-a26a-11e6-984c-3e84975cfcf7.png)

Is there a quick and easy (CSS?) way we can tone down the altitude on the layer selector and zoom level control in our maps?

[2016-11-04 16:14] alecpm commented on #227
The portal javascript registry needed to be re-saved to clear the cache. It is working as expected now.

[2016-11-04 16:47] paregorios commented on #12
This works great! Please deploy to production.

[2016-11-04 16:50] paregorios commented on #227
I can confirm it's working now on staging. Please deploy to production.

[2016-11-04 17:00] davisagli commented on #236
I fixed this while working on story 82 (currently on staging)

[2016-11-04 17:07] serviliusahala commented on #198
I tried to do the check-in on one of the original name resources that
spawned this error (https://pleiades.stoa.org/places/147997/copy_of_cessero)
and I received the same 'insufficient privileges' notification when I
attempted to check in the working copy.

JAB

#

Jeffrey A. Becker, Ph.D. RPA
Department of Classical and Near Eastern Studies
Binghamton University - SUNY
jeffrey.becker@gmail.com; 6

[2016-11-04 20:34] paregorios commented on #198
@davisagli and @alecpm: this is still not working on production. Steps to reproduce:

## Case 1
- Login as a user that is a member of the "Editors" group (contact me for test user credentials)
- Navigate to https://pleiades.stoa.org/places/147997/copy_of_cessero
- Select "actions" -> "check in"
- On the "Check in Cessero" page, enter a commit message and select the "check in" button
- Get the "Ins

[2016-11-04 22:05] alecpm commented on #198
It looks like this is working for places (which use pleiades.iterate's customizations), but not for place sub-content (which uses stock iterate methods).

Right now editors do not have permission to delete other owners content in any state. However, the standard iterate checkin requires permission to delete the working copy (regardless of state). We can workaround this by attempting to patch the c

[2016-11-04 22:57] paregorios commented on #198
@alecpm where do the two options rank on the following scales: difficulty, expense, maintainability?

[2016-11-05 20:48] alecpm commented on #198
Expense and difficulty is comparable. As I see it the pros and cons are:

1) Changing Workflow Permissions
- Pro: The most standard solution to these issues, no potential issues with future upgrades of packages.
- Con: Requires granting delete permission more widely to editors than the original workflow definitions envisaged. Would allows editors to delete any content within a Place (editors would

[2016-11-06 23:31] alecpm commented on #227
This is deployed to production.

[2016-11-06 23:32] alecpm commented on #217
Deployed.

[2016-11-07 07:11] alecpm commented on #224
OK, I made a backup (and started an implementation of auto-backup/pack since that appears to be missing from our deployment), and ran the migration on production. It appears to have run quickly and without issues.

[2016-11-07 08:16] cguardia commented on #12
Deployed.

[2016-11-07 15:45] ryanfb opened #237 "JSON place representations should include charset in HTTP Content-Type header"
See: http://www.w3.org/International/articles/http-charset/index

This results in encoding mangling when viewing the JSON response (which is UTF-8) as ISO-8859-1. e.g. https://pleiades.stoa.org/places/265877/json has:

    "details": "The Barrington Atlas Directory notes: SE coastal area, E Bastetania up to R. JÃºcar (XÃºquer)"

Instead of:

    "details": "The Barrington Atlas Directory notes: SE

[2016-11-07 16:51] ryanfb commented on #224
This appears to be fixed in both individual JSON representations and the latest JSON/CSV dumps. Thanks!

[2016-11-07 16:51] #224 closed, assigned to paregorios

[2016-11-07 17:37] paregorios commented on #236
@davisagli looks great. Please deploy to production.

[2016-11-07 17:40] davisagli commented on #236
This was deployed as part of story 82.

[2016-11-07 17:45] paregorios opened #238 "streamlined submit: edge case on locations"
In reviewing implementation of [Scrumdo Story 92 (force all submits to be "advanced")](https://www.scrumdo.com/projects/story_permalink/1101153) on staging, I encountered the following edge case:

When attempting to submit a draft Location within a draft Place, the "Publishing Process" page shows the Location twice in the "Affected content" listing:

<img width="543" alt="screen shot 2016-11-07 at

[2016-11-07 17:49] serviliusahala commented on #231
@paregorios asked me to check back on this issue. As a test I imported an OSM location (https://pleiades.stoa.org/places/658564/osm-location-of-bagras-castle/). The import seems to have behaved properly and, after import, the Data Source, with link, is displayed clearly as OSM Way 219558575. From this limited test, it would seem that the earlier behavior where the OSM reference was included but no

[2016-11-07 18:09] paregorios commented on #238
Update: this seems to affect all sub-place content. I just added a draft Name in the same Place context as above, and now when I attempt to submit the Name only, I see:

<img width="520" alt="screen shot 2016-11-07 at 11 48 07 am" src="https://cloud.githubusercontent.com/assets/263285/20068895/146a850c-a4e0-11e6-85e5-3bfb0b3bb55a.png">

(There should only be one "Atlantis Nesos" in this view, and

[2016-11-07 18:14] paregorios commented on #238
This same behavior occurs if the "submit" is actuated via the folder listing on the place with only one subordinate item checked.

[2016-11-07 18:20] paregorios commented on #238
I see this behavior on regular content too. So, for example, I create https://pleiades.jazkarta.com/news/blog/testaroo then select "state: drafting" -> "submit for review" and I see this:

<img width="918" alt="screen shot 2016-11-07 at 12 20 02 pm" src="https://cloud.githubusercontent.com/assets/263285/20070026/89dc4cd6-a4e4-11e6-9d30-803b341ac718.png">

I.e., all content in the parent folder.

[2016-11-07 18:30] davisagli commented on #238
I suspect this is happening for any item that is not itself folderish. Should be an easy fix.

[2016-11-07 18:38] davisagli commented on #238
Fix deployed to staging.

[2016-11-08 20:34] paregorios commented on #238
Perfect.

[2016-11-08 20:34] #238 closed, assigned to paregorios

[2016-11-08 20:37] paregorios commented on #231
thanks @serviliusahala

[2016-11-08 20:37] #231 closed, assigned to serviliusahala

[2016-11-08 20:41] paregorios commented on #236
@davisagli I'm not seeing any difference on production. Do we need a cache purge or is something else not quite fully deployed? See also comment in scrumdo on story 82 deployment.

[2016-11-08 20:50] paregorios commented on #237
I bet this is something that didn't get transferred from our hand-curated apache config to the one that's set up by ansible

[2016-11-08 21:37] davisagli commented on #236
@paregorios try now

[2016-11-08 21:39] paregorios commented on #236
that's got it.

[2016-11-08 21:39] #236 closed, assigned to paregorios

[2016-11-08 21:49] davisagli commented on #237
Fixed on staging.

[2016-11-08 21:50] paregorios commented on #237
Looks good to me:

[code]

Please deploy to production.

[2016-11-08 23:23] davisagli commented on #237
deployed

[2016-11-09 01:04] ryanfb commented on #237
Thanks!

[2016-11-09 01:04] #237 closed, assigned to paregorios

[2016-11-15 22:06] #227 closed, assigned to paregorios

[2016-11-15 22:10] #217 closed, assigned to paregorios

[2016-11-15 22:10] #12 closed

[2016-11-17 22:21] witekdev opened #239 "November security patch"
Security patch coming out 11/29: https://plone.org/security/announcements/20161129-preannounce

[2016-11-23 16:57] paregorios opened #240 "KMZ dump still has busted icons"
It looks like we didn't catch this when we were fixing #220.

[2016-11-23 17:10] paregorios opened #241 "the "initial provenance" field is not explained"

[2016-11-23 17:13] paregorios opened #242 "citation guide is out of date"
Doesn't reflect shift to Zotero: https://pleiades.stoa.org/help/citation-guide

[2016-11-23 17:15] paregorios opened #243 ""wikipedia links" help is out of date"
It doesn't address issues like citing an article that treats the modern analog. https://pleiades.stoa.org/help/wikipedia-links It also has broken internal content links.

[2016-11-23 17:16] paregorios opened #244 "how to add a new reference is out of date"
https://pleiades.stoa.org/help/add-new-reference

doesn't address zotero or other recent updates

[2016-11-23 17:17] paregorios commented on #244
be sure to link to https://pleiades.stoa.org/help/citation-types

[2016-11-23 17:17] paregorios commented on #243
be sure to link to https://pleiades.stoa.org/help/citation-types

[2016-11-23 17:17] paregorios commented on #242
link to https://pleiades.stoa.org/help/citation-types

[2016-11-23 17:19] paregorios opened #245 "editorial guidelines out of date with respect to references"
The [editorial guidelines document](https://pleiades.stoa.org/help/editorial-guidelines) addresses reference creation and criteria, but doesn't address recent additions of new fields nor import capabilities

[2016-11-23 17:36] paregorios opened #246 "location history compare throws traceback for some locations"
Steps to recreate:

- As an authenticated user with admin privileges, visit https://pleiades.stoa.org/places/434022176/osm-location-of-el-anda-c-valo
- Select the "history" link under the byline
- On the "History" view page, select the first "compare" link
- Receive the following traceback

[code]

[2016-11-23 17:37] paregorios commented on #246
bumping to "urgent" as this is blocking review work needed by a third party project on a deadline

[2016-11-23 17:38] paregorios commented on #246
compare links on some other locations (e.g. https://pleiades.stoa.org/places/593460162/imagery-location-for-grave-circle-b) seem to work fine.

[2016-11-23 17:50] paregorios opened #247 "editorial guidelines doesn't provide guidance for references on place resources"
[The relevant section](https://pleiades.stoa.org/help/editorial-guidelines#section-9) is marked "TBD".

[2016-11-23 18:00] witekdev commented on #240
@paregorios How can I reproduce this?

[2016-11-23 18:30] paregorios commented on #240
@witekdev Download pleiades-latest.kmz from http://atlantides.org/downloads/pleiades/kml/ and open it in Google Earth.

[2016-11-23 18:58] witekdev commented on #240
From what I can see:
If the place contains a single location, it has an icon. Otherwise if it contains more than one location, on the google map it is indicated as a line or triangle etc connecting the locations, it does not have an icon in that case. @paregorios is this what you were referring to? I did not see occurrences of missing icons in the way that we had with https://github.com/isawnyu/pl

[2016-11-23 19:04] paregorios commented on #240
No, I'm talking about the single KMZ dump of everything, in which
non-polygon features display like this for me in google earth:

​

##

Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Wed, Nov 23, 2016 at 12:58 PM, Witek notifications@github.com wrote:

[2016-11-23 19:05] witekdev commented on #240
@paregorios looks like the image didn't come through?

[2016-11-23 19:06] paregorios commented on #240
sorry, guess it didn't cross post from email:

![yuck](https://cloud.githubusercontent.com/assets/263285/20575147/abdc470a-b17d-11e6-9c00-b2dbf57fb293.jpg)

[2016-11-23 19:09] witekdev commented on #240
@paregorios that is strange as I'm seeing this for the same region:
![untitled-6](https://cloud.githubusercontent.com/assets/883619/20575245/52755f86-b16d-11e6-9f8d-9062de82fbbc.jpg)

[2016-11-23 19:10] witekdev commented on #240
This is coming out of ```	pleiades-latest.kmz	2016-11-23 07:43	1.8M	 ```

[2016-11-23 19:12] witekdev commented on #240
[code]

[2016-11-23 19:13] paregorios commented on #240
Closing this issue as being entirely confined to the space between this user's computer and his chair. Sorry for the noise.

[2016-11-23 19:13] #240 closed, assigned to nobody

[2016-11-23 19:14] witekdev commented on #240
Pebkac :)

[2016-11-23 21:17] paregorios opened #248 "conceptual overview does not address connections"
https://pleiades.stoa.org/help/conceptual-overview

[2016-11-23 21:18] paregorios opened #249 ""places" page needs update"
Better highlight starting points, help documents, participation?

https://pleiades.stoa.org/places/

[2016-11-23 21:20] paregorios opened #250 "search-related help docs need review"
Some recent refinements to search may have altered screenshots or even descriptive material in the following. Checks are needed:

- https://pleiades.stoa.org/help/how-to-search
- https://pleiades.stoa.org/help/using-advanced-search

[2016-11-23 21:21] paregorios opened #251 "help doc on "downloads" needs update"
Does not address JSON

https://pleiades.stoa.org/help/download

[2016-11-23 21:22] paregorios opened #252 ""modify" help page needs update"
Recent changes to steps/user interface around submission may necessitate new screenshots and changes to discussion: https://pleiades.stoa.org/help/modify-existing-resource

[2016-11-23 21:23] paregorios opened #253 ""add new name" help doc needs update"
Recent changes to UI/steps around workflow make this deserve a check:

https://pleiades.stoa.org/help/add-a-new-name-resource

[2016-11-23 21:24] paregorios opened #254 "consolidate and update "add new location" help docs"
We're all over the shop on this right now.

[2016-11-23 21:24] paregorios commented on #254
There's this, still in draft and now surely out of date: https://pleiades.stoa.org/help/how-to-add-a-new-location-or-improve-an-existing-one

[2016-11-23 21:25] paregorios opened #255 "check/update "add connection""
This is surely out of date:

https://pleiades.stoa.org/help/how-to-add-a-connection-between-two-places

[2016-11-23 21:25] paregorios commented on #254
And this: https://pleiades.stoa.org/help/better-locations

[2016-11-23 21:26] paregorios commented on #254
And this needs harmonizing in and updating: https://pleiades.stoa.org/help/gps

[2016-11-23 21:27] paregorios opened #256 "batch upload doc needs update"
This is now out of date:

https://pleiades.stoa.org/help/batch-upload

[2016-11-23 21:28] paregorios commented on #247
NB #244

[2016-11-23 21:29] paregorios opened #257 "better guidance on accuracy docs needed"
This is now out of date:

https://pleiades.stoa.org/help/origin-and-accuracy

And [the corresponding section in the editorial guidelines])https://pleiades.stoa.org/help/editorial-guidelines#section-14) is marked "TBD".

[2016-11-23 21:30] paregorios commented on #242
pull this in and eliminate it as a separate doc: https://pleiades.stoa.org/help/tpeut

[2016-11-23 21:30] paregorios commented on #242
pull this in too: https://pleiades.stoa.org/help/website-links

[2016-11-23 21:31] paregorios opened #258 ""getting started" is out of date"
Shoudl we update https://pleiades.stoa.org/help/getting-started (note there's a working copy, now also somewhat decayed and incomplete), or should we do something else?

[2016-11-23 21:32] paregorios opened #259 "eliminate "modifying titles and descriptions" doc?"
Isn't this now properly covered in the Editorial Guidelines?

https://pleiades.stoa.org/help/modifying-titles-and-descriptions-of-places

[2016-11-23 21:35] paregorios opened #260 "privacy policy likely needs update"
https://pleiades.stoa.org/help/policies

[2016-11-23 21:36] paregorios opened #261 "get rid of old "reviewers' guide"?"
This is superseded by the Editorial Guidelines, yes?

https://pleiades.stoa.org/help/reviewers-guide

[2016-11-23 21:38] paregorios opened #262 "clean up / update "concepts and features""
What do we need to do here?

https://pleiades.stoa.org/help/concepts

[2016-11-23 21:40] paregorios commented on #242
consolidate this too: https://pleiades.stoa.org/help/citation-of-external-resources

[2016-11-23 22:01] paregorios opened #263 "standalone help docs for "check out" and "submit" are needed"
These are such ubiquitous contribution steps, and they affect multiple content types. We really should have one central discussion point for them.

[2016-11-24 01:10] davisagli commented on #246
Fixed. The placeType and locationType fields were incorrectly set up as StringFields rather than LinesFields, which confused the diffing tool. It was a rendering error so I think it only errored for comparisons where those fields had changed.

[2016-11-29 20:03] alecpm commented on #239
Applied to staging and production. The Plone 4.3.11 upgrade took forever to dry-run migrate on staging, so I did not apply that.

[2016-11-29 20:03] #239 closed, assigned to nobody

[2016-12-02 01:41] paregorios opened #264 "pull request for batch update script -- 2"
Request code review and merge of https://github.com/isawnyu/pleiades3-buildout/pull/4

[2016-12-05 14:08] paregorios opened #265 ""representative point" missing on some places"
On some places, the "representative point" does not appear on the place HTML page, nor in the accompanying map. We find the following in the associated JSON serialization:

So far, I have only noticed this on pending items created by a non-editor, but I have not made a comprehensive review. Some examples:

 - https://pleiades.stoa.org/places/493070521
 - https://pleiades.stoa.org/places/124536979

[2016-12-05 14:08] paregorios commented on #265
fyi @serviliusahala

[2016-12-06 18:58] skleinfeldt commented on #265
@cguardia can you spend less than an hour to figure out what has happened?

[2016-12-07 00:00] cguardia commented on #265
The formatter gets the value from the catalog, and the value for the 124536979 place is (None, 'unlocated'). I exported the places to be able to use them locally, and it would appear that they have no representative point. Calling pleaides.geographer.geo.representative_point(loc) also returns unlocated.

[2016-12-07 13:21] paregorios commented on #265
Right. So, the representative point is supposed to be auto-calculated on the basis of associated locations and connected places. I think the following log entries are related to the same thing you've seen, i.e., when a place is requested, no relevant info that can be used to render the representative point is found:

[code]

The question now, it seems to me, is *why* isn't it getting created and p

[2016-12-09 15:18] paregorios commented on #265
I'm finding this on more locations, all imported recently from OpenStreetMap. I'm starting to suspect that recent changes to OSM import code may have broken representative point generation or indexing. Accordingly, I'm raising priority to "urgent" as this will only snowball, and it is blocking publication of items pending review.

More examples:

 - https://pleiades.stoa.org/places/416863/
 - http

[2016-12-09 15:19] paregorios commented on #265
@skleinfeldt I think we may need to spend a bit more time on this, with a focus on looking at possible OSM import error behaviors and the like. I think @davisagli has the most familiarity with that code, but don't know if he's available.

[2016-12-09 18:49] davisagli commented on #265
I will take a look.

[2016-12-09 18:59] davisagli commented on #265
@paregorios I don't think this is related to the spatial indexer or to OSM imports. It's simply that for indexing, only published locations are considered, because an indexed value cannot vary based on user role.

If the goal is for places to show a representative point that takes into account which locations the current user can see, then we can't get the representative point from the catalog but

[2016-12-09 19:01] davisagli commented on #265
(I didn't look into what's going on with the traceback when viewing a Location's catalog metadata; that feels like a separate bug.)

[2016-12-09 19:03] paregorios commented on #265
@davisagli thanks for looking into this. I hadn't noticed this aspect before. Now knowing that display of representative points are subject to workflow state in this way (i.e., this is a feature, not a bug), I am happy to leave the behavior as is. So, I will close this ticket as resolved (working as designed).

I too had noticed the metadata traceback, but agree it's a separate issue for which I w

[2016-12-09 19:03] #265 closed, assigned to davisagli

[2016-12-13 14:18] paregorios opened #266 "who is "admin2" and why are they showing up on the "credits" page?"
https://pleiades.stoa.org/credits

No name line, but that's the user account shown in the links.

Note, moreover, that creator link doesn't return results.\

![screen shot 2016-12-13 at 8 18 25 am](https://cloud.githubusercontent.com/assets/263285/21143539/c174d7aa-c10c-11e6-853d-c104af2be8f4.png)

[2016-12-13 14:21] paregorios opened #267 "map components not loading on https://pleiades.stoa.org/home"
They appear to be being invoked with http rather than https

![screen shot 2016-12-13 at 8 21 11 am](https://cloud.githubusercontent.com/assets/263285/21143662/28a7f48e-c10d-11e6-8d4a-b0c73a775a20.png)

[2016-12-13 18:05] davisagli commented on #266
This is a Zope-level admin account that I was using. I didn't intend to edit any content with it but I must have at some point. Looking at the catalog the items that were created by this user are:
- https://pleiades.stoa.org/Members/admin2 (you can delete this)
- https://pleiades.stoa.org/credits (i.e. the credits page itself; I think I turned this from just a view template into a page with a spec

[2016-12-13 21:16] paregorios opened #268 "modify Pleiades theme to use Noto as primary font"

[2016-12-14 22:14] paregorios commented on #266
@davisagli : removing admin2 from the "creators" list on https://pleiades.stoa.org/credits by itself didn't work, but once I'd changed the owner for the credits page, then that got rid of the "one addition" aspect. But the https://pleiades.stoa.org/help/help-and-information page was edited by someone using admin2 back in May and I don't see how to expunge that contribution without punting subseque

[2016-12-14 22:25] paregorios commented on #266
I found pleiades-notredame, but cannot see any filtering. Whatever we once had in place to keep sgillies out of the listing is now gone, but thomase is still not there, nor "admin".  But I cannot detect whatever code it is that makes that happen. Perhaps it is hidden somewhere else ...

[2016-12-15 21:34] davisagli commented on #266
@paregorios I think you can just edit https://pleiades.stoa.org/help/help-and-information, and delete admin2 from the Contributors field on the Creators tab. Or is the issue that you also don't want admin2 to show up in the revision history?

The list shown in the credits template is now generated by code in credits.py in PleiadesEntity. I think the list you mentioned is here: https://github.com/i

[2016-12-19 19:10] rmhorne opened #269 "Nightly .csv dump Connection Errors"
When looking at the daily .csv dumps, the hasConnectionsWith column (I have not seen this error repeat on the connectsWith column) has IDs of the type "copy_of_x".

Take http://pleiades.stoa.org/places/912849
In the .csv file, its hasConnectionsWith cell that reads: "658473968,912845,674270,copy_of_893990,658465,893951,893990,874721,874355,897717,279761117,912986"

[2016-12-19 21:42] paregorios opened #270 "place view template throws traceback on some attestations"
When attempting (as an appropriately credentialed and authenticated editor/user) to view https://pleiades.stoa.org/places/copy_of_279984092, one gets the following traceback:

[code]

Marked urgent because this error is blocking content work on production.

[2016-12-19 21:53] skleinfeldt commented on #270
@paregorios please confirm you want Jazkarta to use some of our remaining time for this?

[2016-12-19 22:06] paregorios commented on #270
@skleinfeldt yes please

[2016-12-20 14:49] skleinfeldt commented on #270
@cguardia can you look into this please? Priority urgent.

[2016-12-20 16:58] cguardia commented on #270
Fix deployed to production.

[2016-12-24 20:39] rmhorne opened #271 "include both raw term keys and full term URIs in vocabulary content serialized into CSV"
Looking at the nightly places .csv dump, some places have "temple-2" as a feature type, which is not reflected in the outward facing pleiades page, but IS present in the .json.

For example, take https://pleiades.stoa.org/places/86419549

The main page lists "Place type: temple". The .json (https://pleiades.stoa.org/places/86419549/json) lists "featureType": ["temple-2",""], and the .csv lists fea

[2017-01-03 20:30] witekdev opened #272 "January security patch"
Security patch coming out 01/17:  https://plone.org/security/announcements/20170117-preannounce

[2017-01-10 17:41] serviliusahala opened #273 "Esotero (Oasis) produces error"
Selecting this published place produces an error:

https://pleiades.stoa.org/places/776172

The error has been logged as entry number 1484070017.690.187982373105.

[2017-01-10 17:45] sfsheath commented on #273
It is working for me. I am not logged in.

[2017-01-10 19:13] serviliusahala opened #274 "Error when attempting to paste to errata list"
My attempt to move this unintentional duplicate (https://pleiades.stoa.org/places/509457604) to the errata page (https://pleiades.stoa.org/errata/) by copying and pasting produced an error -

"We’re sorry, but there seems to be an error…
The error has been logged as entry number 1484075410.10.716284385127."

This procedure is one that I have successfully used in the past, but perhaps it has been s

[2017-01-19 19:41] paregorios opened #275 "spatial constraints on advanced search seem to fail"
Searches that otherwise return vast numbers of places, when constrained to a bounding box, return a surprisingly small number of places. The places returned seem to be those edited in the past few months. Did code changes affecting "representative point" calculations somehow mess up the spatial component of advanced search?

For example:

[this search (published places of type = settlement)](https

[2017-01-19 19:48] paregorios commented on #275
Editing [a place in the target area](https://pleiades.stoa.org/places/893951) seems to have made no difference, but editing one of its subordinate locations did!

Reindexing needed?

[2017-01-19 19:53] paregorios commented on #275
Forcing an index update, via the ZMI, on a location of a place not appearing in the search results caused that place to appear when the search was next reloaded.

Steps:

 - ZMI
 - portal_catalog
 - "Catalog" tab
 - filter by place URI fragment
 - select checkbox next to entry for the published location
 - select "update" button

[2017-01-19 20:03] paregorios commented on #275
An re-index of the "geolocation" Vaytrou index, initiated via the ZMI and still in progress at this moment, seems incrementally to be adding to the search results.

Steps:

 - ZMI
 - portal_catalog
 - "Indexes" tab
 - select checkbox next to entry for "geolocation"
 - select "Reindex" button

[2017-01-19 20:04] davisagli commented on #275
.Sounds like maybe the spatial index data didn't get transferred properly when we upgraded, and that you're on the right track to resolving the problem.

[2017-01-19 21:37] skleinfeldt commented on #272
Thanks @davisagli closing.

[2017-01-19 21:37] #272 closed, assigned to davisagli

[2017-01-19 21:37] paregorios commented on #275
Indexing appears to be complete, with the Index page in the ZMI showing 59,385 unique values in the "geolocation" index. The diagnostic search above now consistently produces 3,539 matched places, which seems reasonable.

[2017-01-19 21:37] #275 closed, assigned to paregorios

[2017-02-01 19:05] paregorios opened #276 "add representative points to KML and clarify Placemark titles and descriptions: 5pts"
- [x] If a Pleiades `place` page displays a `representativePoint`, then the same coordinate pair should be included in the KML serialization, along with data for any `location` objects contained in that `place`.
- [x] This behavior should be identical for placewise GET requests against the REST API (e.g., https://pleiades.stoa.org/places/462373/kml) and for the nightly KML dump of all published co

[2017-02-01 20:45] paregorios opened #277 "add context sensitive help to edit forms for references"

[2017-02-01 20:48] paregorios opened #278 "complete references and citation types guidance"
In the editorial guidelines. Locations are OK, but the general "about referneces" section needs a rewrite, and we're missing guidance for places entirely. And we should link liberally to the "Citation Types" document.

[2017-02-01 20:49] paregorios commented on #277
Note that in-page guidance that currently appears is wrong/outdated and is leading to confusion.

[2017-02-06 15:23] paregorios opened #279 "test issue please ignore"

[2017-02-06 15:24] #279 closed, assigned to nobody

[2017-02-06 23:26] paregorios commented on #199
@davisagli and/or @witekdev : sorry to bug you, but am I right in reading [the comment above](https://github.com/isawnyu/pleiades-gazetteer/issues/199#issuecomment-238682807) to mean that [pleiades-notredame/.../credits.pt](https://github.com/isawnyu/pleiades-notredame/blob/master/pleiades/notredame/skins/pleiades_notredame_custom_templates/credits.pt) is now ignored and instead if I want to chang

[2017-02-07 19:38] davisagli commented on #199
Yeah that looks correct.

[2017-02-07 19:39] paregorios commented on #199
Thanks

[2017-02-09 15:55] paregorios opened #280 "place/location maps pan is limited"
Some sites outside the med core (e.g., near the Aral Sea) show up on the map, but no pan/zoom occurs.

As a web user, on opening a Pleiades place page, I will see the map auto-pan to center the "representative point" coordinates (centroid) for the place. There currently appear to be maximum extents on the map auto-panning algorithm; these should be removed.

## Working example:

If I load https://

[2017-02-09 16:11] paregorios opened #281 "add a "fetch worldcat" capability for references"
analogous to our "fetch zotero" functionality

[2017-02-09 17:33] paregorios opened #282 "deprecate/withdraw "Reviewers' Guide"?"
Is the [Reviewers' Guide](https://pleiades.stoa.org/help/reviewers-guide) not now superseded by the [Editorial Guidelines](https://pleiades.stoa.org/help/editorial-guidelines)?

[2017-02-10 11:30] paregorios opened #283 "recent map on "about" page not working in chrome"
https://pleiades.stoa.org/home

Seems to be due to mixed content blocking. The page is served over HTTPS, but leaflet.css seems to be referenced via an http url. In chrome, if one chooses to "load unsafe scripts", the map appears. Apparently our previous dragnet to move over to HTTP was not as comprehensive as we thought.

[2017-02-10 15:20] davisagli commented on #283
Looks like these links were changed to protocol-relative URLs (starting with //) in https://github.com/isawnyu/pleiades-notredame/blob/master/pleiades/notredame/skins/pleiades_notredame_custom_templates/home.pt#L12 but in the production site that's getting overridden by a template stored in the ZODB which doesn't have those fixes: https://pleiades.stoa.org/home/manage_workspace

[2017-02-10 15:22] paregorios commented on #283
@davisagli thanks, I'll have a look at that

[2017-02-10 16:18] paregorios commented on #283
For the short run, I'm going to intervene in the ZMI-override version to resolve the immediate problem. There are some other issues with the template in general that I'll undertake to address in code. Once that's done, the override can be eliminated entirely.

[2017-02-10 16:22] paregorios commented on #283
Overriding template has been modified and map now appears. Have made to-do to create new ticket for next steps.

[2017-02-10 16:23] skleinfeldt commented on #283
@paregorios reading the initial description - given the move towards expecting everything to be https, not just login pages, perhaps you should think about a long range plan for that. (No idea if it affects this ticket.) https://security.googleblog.com/2016/09/moving-towards-more-secure-web.html.

[2017-02-10 16:31] paregorios commented on #283
@skleinfeldt thanks, yes that's where I'm trying to go, and for that reason. iirc, we took that step with scrumdo story 76. This is cleanup.

[2017-02-10 17:11] skleinfeldt commented on #283
Ah, so "our previous dragnet to move over to HTTP" should have said HTTPS? That makes more sense!

[2017-02-10 17:23] paregorios commented on #283
Typos. They will end us.

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Fri, Feb 10, 2017 at 11:11 AM, Sally Kleinfeldt <notifications@github.com

[2017-02-14 20:27] paregorios opened #284 "intermittent unexpected redirect from base_view on production links"
After a deploy and restart on production, I am sometimes encountering an unexpected error when clicking on a link to a Pleiades place page from the map popup or the search results on the landing page. I've only been able to verify that this happens when I'm logged in, but I can't seem to find a reason for why it happens to some and not to others.

Here's what the error page looks like when it does

[2017-02-14 20:27] paregorios commented on #284
Although I cannot now repeat it, I know it just happened to me (e.g.) on Athens: http://pleiades.stoa.org/places/579885

[2017-02-14 20:51] paregorios opened #285 "update README for PleiadesEntity"
it's very much out of date.

[2017-02-14 20:52] paregorios opened #286 "cleanup stale branches on PleiadesEntity"
There's a lot of stuff hanging around that's no longer needed, but there also seem to be a few orphan branches that have never been fully tested or deployed.

[2017-02-14 22:12] davisagli commented on #284
This is supposed to be suppressed if the user is coming from the same domain; I think that was not working because the homepage slideshow and search were linking to http place URLs which then got redirected to https. I updated the homepage to link directly to https.

[2017-02-17 15:40] paregorios commented on #284
Looks good, thanks.

[2017-02-17 15:40] #284 closed, assigned to paregorios

[2017-02-17 19:06] paregorios opened #287 "friendly URL slug creation no longer works on names - 3"
Once upon a time, when a person created a new Pleiades name item, the URL slug was built automagically from the "romanized" name form field (which is also the title). So a Romanized name value like "York" would result in a URL like ```https://pleiades.stoa.org/12345/york.```  This no longer seems to happen reliably; instead we see slugs of a form like ```name.2017-02-17.5618929979```.

[2017-02-24 10:45] paregorios opened #288 "add a connections.csv to the nightly export dumps -- 3"
Suggested via email by @rmhorne:

NB: connection data is already present in [the nightly JSON export dump](https://pleiades.stoa.org/downloads#json), but not in the CSVs.

[2017-02-24 10:48] paregorios opened #289 "csv dumps have “copy_of_” entries in the hasConnectionsWith column"
From @rmhorne via email:

[2017-02-24 16:53] davisagli commented on #289
This doesn't necessarily look like a bug to me; this lists the ids of the connected objects, and these are the ids that Plone uses if you copy something into a folder where that id already exists. It might be a feature request to customize how copied items get named.

[2017-02-24 16:58] paregorios commented on #289
I think the implication is that we're getting information in the dumps about objects that are (presumably) in states other than "published" and the dumps are advertised as "published" data only. I'm going to spot check a few of these to see what states therein, then we'll undertake a discussion on whether this feature is desirable or not.

[2017-02-24 18:09] paregorios opened #290 "Assertion Error when attempting to save a location based on a failed OSM relation/linestring import -- 5"
Attempted to import OSM relation Ceyhan (158125). Received the following traceback:

[code]

[2017-02-24 18:13] paregorios commented on #290
Clarification: this was not on import but rather on first attempt to save the location after import.

[2017-02-24 18:14] paregorios commented on #290
Error appears to be symptomatic of the import having failed to bring over any useful geometry:

![screen shot 2017-02-24 at 12 13 24 pm](https://cloud.githubusercontent.com/assets/263285/23315191/bcca5894-fa8a-11e6-96e7-e0fa4691180c.png)

[2017-02-24 18:15] davisagli commented on #290
Still, I'd hope for this to show a validation error rather than breaking.

[2017-02-24 18:28] paregorios commented on #290
Offending location did get saved as https://pleiades.stoa.org/places/658576/osm-location-of-the-modern-course-of-the-ceyhan

It's throwing the error for the base view on the parent place too.

[2017-02-28 15:53] paregorios opened #291 "autozoom to location geometry in maps"
Polygonal geometry is often too small to be seen in our standard zoom level for places and locations. Even at maximum zoom level on the default layer, they may be difficult to spot. Ideally, we'd give users an affordance to zoom to

- extent of all geometry
- extent of a particular location

We probably should auto-switch to our highest resolution map layer (currently "streets").

discussed with @

[2017-02-28 17:04] paregorios opened #292 "pick bounding box coordinates for advanced search from a map"
Right now you have to enter them by hand.

[2017-02-28 17:06] paregorios opened #293 "add maps to review lists, dashboards, etc."
right now the only way to get them is by using advanced search separately

idea from @ctupman

[2017-02-28 18:26] paregorios opened #294 "https://pleiades.stoa.org/places/vocab returns 404 -- 3"
This is reported in our RDF as our place ontology. Here it is in the wayback: https://web.archive.org/web/20130410033524/http://pleiades.stoa.org:80/places/vocab

[2017-02-28 18:27] paregorios commented on #294
The document is still on the site, there just appears to be a broken redirect:

https://pleiades.stoa.org/docs/partners/pleiades-rdf-vocabulary

[2017-03-28 19:09] paregorios opened #295 "clarify documentation regarding supported unicode ranges"
Was: "Egyptological alef is not supported in name strings"

A user writes:

[2017-03-28 19:14] paregorios commented on #295
Cannot reproduce. Seeking more info from user.

[2017-03-28 20:07] steko commented on #295
For the record, the character under discussion is `ꜣ` (lower case) or `Ꜣ` (upper case).

[2017-03-28 20:09] paregorios commented on #295
@steko yep, thanks. I was able to enter and view it myself, so I'm trying to find out what prompted this report.

![screen shot 2017-03-28 at 2 13 28 pm](https://cloud.githubusercontent.com/assets/263285/24425124/9297dc48-13c8-11e7-8a8f-3bf786aacb5a.png)

[2017-03-29 12:09] paregorios commented on #295
User says:

https://pleiades.stoa.org/help/name-romanization-guide. It does specify that those are the character sets for the "Romanized name" field (though the character in question does turn up in romanizations).

[2017-03-29 12:10] paregorios commented on #295
Pleiades Romanizations are strictly that: Romanizations (hence no Egyptological Alef); however, it's perfectly legal in the "attested" field. Some further clarification to this extent is probably warranted in the docs.

[2017-04-03 12:25] paregorios opened #296 "references link rot: romanbritain.org"
reported in email by @jcowey:

Apparently defunct and domain taken over by squatters. Someone is trying to resurrect it at http://roman-britain.co.uk/ . We need to update our links, or move them over to archive.org if there is a corresponding page?

[2017-04-03 13:32] serviliusahala commented on #296
I have updated some of the links manually as I have re-encountered them, thus not systematically. The new pages look identical in terms of content, but with new url. If there is a way to produce a separate listing of Pleiades places with these bad links, it would be reasonably quick work to edit and replace with new links.

[2017-04-03 16:03] paregorios opened #297 "add a new "credit" citation type and hide the old "citation" citation type"
In order to facilitate clear indications (especially on locations) when a cited work has been used to determine content in Pleiades

candidate: http://www.sparontologies.net/ontologies/cito/source.html#d4e332

[2017-04-03 16:03] paregorios opened #298 "UI and "citation guide" need cleanup"
To match current editorial guidlines on references

[2017-04-03 16:17] paregorios commented on #296
There appear to be 143 places that still have references to the defunct domain:

[*Coriosopitum/Coria](https://pleiades.stoa.org/places/89152)
[*Glannoventa](https://pleiades.stoa.org/places/89193)
[*Locus Maponi?](https://pleiades.stoa.org/places/89227)
[*Petuaria](https://pleiades.stoa.org/places/79639)
[Ad Ansam](https://pleiades.stoa.org/places/79283)
[Adel](https://pleiades.stoa.org/places/28

[2017-04-03 16:23] atomrab opened #299 "Fetch Zotero button shows strange behavior"
While editing the Arch of Hadrian (https://pleiades.stoa.org/places/235795850) I deleted an irrelevant citation, added the following "see further" citation to Zotero (Adams 1989, https://www.zotero.org/groups/pleiades/items/itemKey/5XQ8KDIN), and -- although the formatted citation field was already filled out -- hit "fetch zotero" to try to guarantee consistency. The page hung for a few seconds, a

[2017-04-09 04:15] serviliusahala commented on #296
@paregorios I have edited this list of Pleiades places in order to replace the defunct roman-britain.org domain with the current domain. I found a few additional places and names via 'advanced search' that also had links to the old domain and, similarly, corrected them.

[2017-04-09 10:06] paregorios opened #300 "add "title" field to connections - 3"
As a Pleiades contributor adding/editing a connection, I am able to enter a title for the connection item, overriding the dynamic title drawn from the connected place.

Recent guidelines changes suggest particular naming strategy for connections; however, the current connection form hides(?) the title field, which prevents conformance with the Guidelines.

[2017-04-09 10:09] paregorios commented on #300
Renaming via menu item action doesn't affect title either.

[2017-04-09 10:13] paregorios opened #301 "workflow item selection is too greedy - 3"
Select a single item (inside a place) in the "folder listing", select the "change state" button below: on the "publishing process" page discover that everything inside the place has been selected for action, not just the item manually selected.

As an authenticated Member with appropriate role on the relevant content object(s):

- Initiate a workflow state change via the actions menu on a ```place

[2017-04-09 10:39] paregorios opened #302 "update data model doc to reflect addition of "connection" resources"
https://pleiades.stoa.org/help/pleiades-data-model

[2017-04-11 10:02] paregorios opened #303 "attempt to approve comment throws WorkflowException"
When a new comment is posted, admins get an email with a link in it to "approve comment". Transiting this link as an authenticated admin throws an exception and produces a traceback like the following:

[code]

[2017-04-20 13:55] paregorios opened #304 "CSV readme does not address all columns"
Reported via the community list:

[2017-04-20 17:27] paregorios opened #305 "Middle Assyrian period?"
Via email:

[2017-04-20 19:54] paregorios commented on #304
I'm a little unclear how we're getting [the readme file](http://atlantides.org/downloads/pleiades/dumps/README.txt), but it seems to be derived from the rst here: https://github.com/isawnyu/pleiades-dump/blob/master/README.rst

[2017-04-21 14:24] paregorios commented on #304
Which raises the question, why not link directly to the version on Github?

[2017-05-10 14:23] steko commented on #282
The _guidelines_ are a superset of the _guide_ and I see value in maintaining a one-page reference for reviewers, that can be used as a checklist of sorts.

The _guide_ should be updated to reflect the current guidelines, and point to it as the source of truth.

[2017-05-16 18:24] ryanfb opened #306 "CSV dumps mangling UTF-8 encoding in creator/contributor names"
On https://pleiades.stoa.org/places/589802, `Ηλίας Κολοβός` gets mangled to `Œ. ŒöŒøŒªŒøŒ≤œåœÇ` (maybe not easy to show here, as it also results in an invalid UTF-8 byte sequence).

This seems to have been introduced first in the [May 10th CSV places dump](http://atlantides.org/downloads/pleiades/dumps/pleiades-places-20170510.csv.gz), as the [May 9th places dump](http://atlantides.org/downloads/p

[2017-05-16 18:40] paregorios commented on #306
Changed user's full name to a romanized version, but this *should* be addressed at some point.

[2017-05-18 17:48] atomrab opened #307 "Update "time period" field instructions in "default" tab for Location edit page"
Currently the brief user instructions for the "time period and confidence level" input area read "Select time period for which this name is attested". Presumably this sentence should be changed to reflect the separation of location and name. This also requires an editorial decision about what we want the temporal value(s) for a location to reflect: its initial occupation/use? the full temporal ext

[2017-06-26 16:55] serviliusahala opened #308 "busted: full-screen map view of recent changes -- 1"
I am unable to get the full screen map view of 'recent changes' in Pleiades to load -

https://pleiades.stoa.org/map_recent

I have tried this using both Chrome and Safari browsers. Thanks!

[2017-06-26 18:23] ryanfb commented on #308
It looks like this was broken in the HTTPS switchover. I see a bunch of mixed content warnings that all the JQuery/Leaflet JS/CSS aren't loaded because they're on HTTP but the page is HTTPS.

[2017-07-10 17:39] gabrielbodard opened #309 "Barrington id redirects from Atlantides failing"
Back in the day, when we used Barrington uris in the form `http://atlantides.org/batlas/abrotonum-sabratha-35-e2` because Pleiades ids were not yet stable and easily discoverable, the intention was that those would redirect or be resolved to the correct Pleiades ids. The [IRT 2009](http://inslib.kcl.ac.uk/irt2009/inscr/xmlrepo.html) EpiDoc files contain many of these URIs, for example. At one time

[2017-07-13 15:55] rmhorne opened #310 "Add "summary" and "details" fields to connections - 1"
Like the places page, connections should have a details field that allows creators to put in more verbose information on a connection. Also desired: A summary field in addition to the title (see #300 ) to make the presentation of connections more in-line with our places, locations, and names.

[2017-08-22 14:48] paregorios opened #311 "representative point not being calculated"
https://pleiades.stoa.org/places/570028

[2017-08-22 14:55] paregorios commented on #311
Editing and saving the place resource seems to have forced a reindex and calculation of representative point.

[2017-08-22 14:55] #311 closed, assigned to nobody

[2017-08-24 14:36] paregorios commented on #273
Anonymous view works, but authenticated throws the following error:

[code]

[2017-08-24 14:38] paregorios commented on #273
There is an active checkout (working copy) at https://pleiades.stoa.org/places/copy_of_776172 that throws a traceback as follows:

[code]

[2017-08-24 14:39] paregorios commented on #273
Draft name objects inside seem to be ok.

[2017-08-24 14:39] paregorios commented on #273
There are two connections to the place, from:

Trimithis (working copy) https://pleiades.stoa.org/places/copy_of_776235
Trimithis (baseline copy) https://pleiades.stoa.org/places/776235

[2017-08-24 14:40] paregorios commented on #273
The baseline copy (https://pleiades.stoa.org/places/776235) is fine, but the working copy of Trimithis (https://pleiades.stoa.org/places/copy_of_776235) throws the following traceback:

[code]

[2017-08-24 14:59] paregorios commented on #273
Broken connection on Trimithis working copy. Deleted via ZMI, then checked in working copy. That one's ok now. Working backward.

[2017-08-24 15:04] paregorios commented on #273
Broken location on Dakhla. Deleted via ZMI (also deleted the working copy). Now ok.

[2017-08-24 15:04] #273 closed, assigned to paregorios

[2017-09-11 22:27] paregorios opened #312 "Make full use of enhanced bibliographic support"
_Pleiades_ now has support for linkage to bibliographic records in a _Zotero_ library, to include on-demand import of key, work-level fields from _Zotero_ records into individual citations (aka references). Now we need to consolidate and fully exploit these improvements. The following tasks remain:

- [x] Update [Citation Guide](https://pleiades.stoa.org/help/citation-guide) to provide guidance on

[2017-09-13 14:07] rmhorne opened #313 "ANE locations"
For locations tagged with ANE, the following issues need to be fixed:

1) Positional Accuracy Assessment is missing. This can be fixed by consulting the maps in The Helsinki atlas of the Near East in the neo-Assyrian period - possibly through a batch script if the maps are at the same scale.

2) Initial Provenance. This should be set to the location reference, as all of the locations originated fr

[2017-09-13 14:09] paregorios commented on #313
NB most of these are in pending status, so we'll get a lot of better locations (and several new parent places) when this is fixed up enough to publish.

[2017-09-13 14:24] rmhorne opened #314 "GeoNames and OSM doublets"
For places that have OSM and GeoNames locations, the OSM location should be retained and the GeoNames location should be moved to a reference at the place level.

[2017-09-13 14:25] paregorios commented on #314
should be scriptable against the JSON dump

[2017-09-13 14:40] paregorios opened #315 "zotero fetch should handle client-style zotero URIs"
At present, [our Zotero fetch function](https://github.com/isawnyu/isaw.bibitems/blob/master/src/isaw/bibitems/zotero.py) for references handles URIs of the form ```http://www.zotero.org/blah ...``` but export functions from the Zotero client (which are useful in a number of ways) produce URIs of the form ```http://zotero.org/blah...```, which confound our fetcher. It would be nice to handle both,

[2017-09-13 19:47] paregorios opened #316 "adjust reprPoint calculations to be aware of connection types - 5"
Right now [the representative point calculations for places](https://github.com/isawnyu/pleiades-geographer/blob/698ace62ac4b61285aec0f7795dd0a483072118a/pleiades/geographer/geo.py#L518) appear to treat all connections as having equal value (in the absence of precise locations) in centroid calculation. With the recent introduction of connection types, we should revisit the logic so that certain co

[2017-09-19 12:46] paregorios opened #317 "incorporate/adapt the Pelagios timerange widget"
https://github.com/pelagios/timerange-selector

 - Selector would be useful for search
 - Good visualization also for search results
 - Adapt to visualize location and name temporality at the place level?

[2017-10-13 16:54] paregorios commented on #140
This has been reported again, by other users. It chokes the standard Java CSV reading library. Need to bump priority on a permanent fix.

[2017-10-21 15:18] serviliusahala opened #318 "OSM relation imports fail for some types of waterways"
My attempt to import an OSM relation (http://www.openstreetmap.org/relation/2390658) to an existing Pleiades place page (https://pleiades.stoa.org/places/912877) generated an error:

The error has been logged as entry number 1508598975.380.714704536451.

[2017-10-23 20:35] paregorios commented on #318
Here's the corresponding traceback:

[code]

[2017-10-23 20:37] paregorios commented on #318
Viewing the parent place now throws this error as well. Familiar behavior for a busted location, so something probably went wrong on import.

[2017-10-23 20:38] paregorios commented on #318
Error throws when directly attempting to get base view of the newly imported location: https://pleiades.stoa.org/places/912877/osm-location-of-karkheh-river

[2017-10-23 20:40] paregorios commented on #318
Examination of the location content reveals an empty GeoJSON Multistring in the geometry field:

[code]

[2017-10-23 20:47] paregorios commented on #318
Deleted the offending location and tried to re-import the same OSM relation ([2390658](http://www.openstreetmap.org/relation/2390658) into Pleiades. This produced a new location with the same empty Linestring noted above. So we have a class of relation geometry or brokenness on the OSM side that Pleiades doesn't handle gracefully.

[2017-10-23 20:59] paregorios commented on #318
It looks like, at a minimum, that we need an additional check in [PleiadesEntity/osm.py:OSMLocationFactory](https://github.com/isawnyu/PleiadesEntity/blob/master/Products/PleiadesEntity/browser/osm.py#L85-L92) to make sure we have a user-friendly fallback when we fail to get any parseable ways back from OSM.

Maybe something like:

[code]

[2017-10-26 15:51] paregorios commented on #140
Now in work in https://github.com/isawnyu/PleiadesEntity/tree/issue140

[2017-10-27 09:53] paregorios opened #319 "batch update script fails setting plain TextField"
The batch update script, when replacing a value, tries to pass a list of values to the mutator function for TextFields like ```description```, but strings are expected.

This is a blocker for #140

[code]

[2017-10-27 09:53] paregorios commented on #140
Blocked by #319

[2017-10-27 09:54] paregorios commented on #319
Now in work in branch [issue319](https://github.com/isawnyu/pleiades3-buildout/tree/issue319)

[2017-10-27 20:07] paregorios commented on #319
Fixed with https://github.com/isawnyu/pleiades3-buildout/commit/377fcfd2cc28befec2aab74ac8529aead8c0ab86

[2017-10-27 20:07] #319 closed, assigned to paregorios

[2017-10-27 20:10] paregorios commented on #140
I ran a batch update on all ~40 descriptions that contained a newline character to ensure that every whitespace sequence therein had been normalized to a single, plain space character. This should cleanup the CSV export the next time it runs (tonight), but it won't prevent the introduction of weird whitespace during user editing sessions. Therefore, this ticket remains open until we have expanded

[2017-11-07 22:38] ryanfb opened #320 "GeoJSON Polygons should follow right-hand rule -- 5"
Use `npm install -g @mapbox/geojsonhint`, then run against e.g. https://pleiades.stoa.org/places/109255/json, and you'll get a warning that Polygons and MultiPolygons should follow the right-hand rule. This was a normative change when GeoJSON became an RFC: https://tools.ietf.org/html/rfc7946#section-3.3

From ryanfb/pleiades-geojson#3, it seems like in every instance simply *reversing* any Polygo

[2017-11-10 03:44] serviliusahala opened #321 "Import OSM watershed"
The current OSM import of relations is restricted to  'multipolygon' and 'waterway'.

For this place https://pleiades.stoa.org/places/874639, it would be advantageous to import the Batman basin watershed from OSM, which is not classified as  'multipolygon' and 'waterway', but as 'watershed'. http://www.openstreetmap.org/relation/2264091

[2017-11-11 14:12] paregorios opened #322 "place miscount"
Number of places in full JSON export (35,335) is significantly less than the number of places reported by the API (35,399) and therefore displayed on the home page. Why?

[2017-11-13 21:22] ryanfb commented on #322
Here's a way to get a list of all place ID's in the CSV export but not in the full JSON export:

    jq '.["@graph"] | .[] | .id' pleiades-places-latest.json | tr -d '"' | sort > json-ids.txt
    csvcut -c id pleiades-places-latest.csv | tail -n +2 | sort > csv-ids.txt
    comm -23 csv-ids.txt json-ids.txt

Here are the results for the latest dump: https://gist.github.com/ryanfb/46a5322cc4f95d7f6d

[2017-11-13 22:35] paregorios opened #323 "maps are broken on the Pleiades front page"
No content other than base tiles is loading on the banner map, and no maps appear at all for search results. The following error appears in the console:

[code]

[2017-11-14 13:56] paregorios commented on #322
Ah, thanks @ryanfb. I probably need to tweak the API so it only reports published places under ```/places```.

[2017-11-14 14:53] paregorios commented on #323
Now in work in https://github.com/paregorios/pleiades-frontpage/tree/issue323

[2017-11-14 17:06] #323 closed, assigned to paregorios

[2017-11-14 17:10] paregorios commented on #323
Deployed to production.

[2017-12-14 21:38] paregorios opened #324 "Usability problems with references list on edit form"
* Some string fields are too short to fully display common values (e.g., the various URI fields).
 * Field-level help text is incomplete, out-of-date, and divergent from editorial guidelines and citation guide.

[2017-12-15 14:50] paregorios commented on #324
This failed to deploy via ansible. Reopening while I investigate.

[2017-12-15 15:04] paregorios commented on #324
Pleiades buildout pins PleiadesEntity to a specific rev in buildout.cfg

[2017-12-15 16:23] paregorios commented on #324
Adjusted version spec in the buildout and deployed successfully to production.

[2017-12-15 16:23] #324 closed, assigned to paregorios

[2017-12-27 14:05] paregorios commented on #23
Changes deployed and tested.

[2017-12-27 14:05] #23 closed

[2017-12-27 14:10] paregorios opened #325 "include names icon in place template"
We currently see icons for place, location, and connection, but not for name.

[2017-12-27 14:11] #270 closed, assigned to paregorios

[2017-12-27 14:12] #248 closed, assigned to nobody

[2017-12-27 14:14] paregorios opened #326 "add UI affordance for editing an existing connection"
Presently, the only way for a user to access the view or the add/edit form for a connection from the place view is to go to the folder listing. This confuses users and requires too many clicks. When a user is authenticated, they should see not only the link on the place view that takes them directly to the connected place, but also a second link (icon?) that takes them to the connection object vie

[2017-12-27 14:16] paregorios opened #327 "surface connection type in the place view"
The connections listings right now are simply links to corresponding places. They should surface the connection type so that the user better understands their functions.  Association certainty should also be surfaced in the same manner as names and locations.

[2018-01-02 10:55] paregorios commented on #327
Deployed and verified 20180101

[2018-01-02 10:55] #327 closed, assigned to paregorios

[2018-01-02 10:55] paregorios commented on #326
Deployed and verified 20180101

[2018-01-02 10:55] #326 closed, assigned to paregorios

[2018-01-02 11:20] paregorios commented on #325
It's already specified in the public.css.dtml in the skin, but the actual icon file isn't in the PleiadesEntity skins/map_icons folder.

[2018-01-02 11:28] paregorios commented on #325
Actually, it's NOT specified in the skin dtml, so that needs updating too.

[2018-01-03 11:46] paregorios commented on #325
Resolved and deployed 2018-01-03

[2018-01-03 11:46] #325 closed, assigned to paregorios

[2018-01-10 08:31] paregorios opened #328 "unhashable type error in some connections listings"
After promoting an existing location to a place (https://pleiades.stoa.org/places/828476962).

Likely a boundary condition in code added recently for connection representation in place views.

[code]

[2018-01-10 08:34] paregorios commented on #328
Verified this is not symptom of a place without connections (e.g., https://pleiades.stoa.org/places/285857973)

[2018-01-10 13:18] paregorios opened #329 "encoding error in place view"
[code]

[2018-01-10 13:18] paregorios commented on #329
Users are reporting encountering this error through the Plone.

[2018-01-10 14:06] paregorios commented on #329
deployed and resolved

[2018-01-10 14:06] #329 closed, assigned to paregorios

[2018-01-10 14:07] paregorios commented on #328
This doesn't just occur in cases of place promotion. It can be seen in the wild on production, e.g., https://pleiades.stoa.org/places/89175

[2018-01-11 14:12] paregorios commented on #328
Fix deployed 2018-01-10 and verified on production.

[2018-01-11 14:12] #328 closed, assigned to paregorios

[2018-01-11 14:13] paregorios opened #330 "style tweaks needed for connection links"
Maybe arrows to set off the connection verb?

[2018-01-12 14:44] rmhorne commented on #330
I like this idea - a nice visual way for showing connection direction.

[2018-01-12 16:16] paregorios commented on #330
Deployed last p.m. Users may need to refresh to see changes before the CSS browser caching rule, which I think is 24 hours, does it for them.

[2018-01-12 16:16] #330 closed, assigned to paregorios

[2018-01-12 16:21] paregorios opened #331 "some place views are throwing an error on connection listing construction"
User reported error.

The problem may be with incomplete connections (i.e., those without targets). The error is occuring in trying to get the title of the target (referenced) place resource while constructing the connections listing. [Miletus](https://pleiades.stoa.org/places/599799) is an example:

[code]

[2018-01-12 16:36] paregorios commented on #331
Now in work in https://github.com/isawnyu/PleiadesEntity/tree/issue331

[2018-01-12 18:40] paregorios commented on #331
There are copies of two of the connections present and these seem to be causing part of the problem.

[2018-01-12 19:51] paregorios commented on #331
The fix has been deployed and the web application restarted. We are verifying reported problems have cleared.

[2018-01-12 20:06] #331 closed, assigned to paregorios

[2018-01-14 13:18] paregorios opened #332 ""promote to place" should do more - 5"
Desireable:
 - copy references from location to new parent place
 - construct place title free of conventional location title components

[2018-01-17 11:25] paregorios opened #333 "automate place, name, location, and connection merges"
Reconciling doublets is a not-uncommon task for editors. We need a mechanism, either a back-end script or (PREFERRED) something akin to the "promote to place" action, that does the initial heavy lifting automatically. It should:

 - permit selection of source and destination content items (and verify they are both the same content type)
 - concatenate contents of all plain text fields
 - concatena

[2018-01-17 11:26] paregorios commented on #333
cc @serviliusahala

[2018-01-17 11:37] paregorios opened #334 "update pelagios.portlet to address new URL targets"
Per @rsimon:

NB: defer until the new-style URLs are in production at Pelagios. @rsimon will let us know.

[2018-01-17 20:49] paregorios commented on #334
now from @rsimon:

[2018-01-23 16:23] rmhorne opened #335 "don't include comments in review list"
Comments appear in the review list, but they are unable to be opened. The link provided is of the form: https://pleiades.stoa.org/acl_users/credentials_cookie_auth/require_login?came_from=https%3A//pleiades.stoa.org/places/433033/%2B%2Bconversation%2B%2Bdefault/1361155957670327

[2018-01-23 21:26] paregorios commented on #335
I'm inclined to get rid of comments in the review list entirely.

[2018-01-23 22:37] rmhorne commented on #335
Agreed.

[2018-01-24 13:27] paregorios commented on #335
It might be that customization in the notre_dame skin package to either review.pt or full_review_list.pt (or both) could be used to accomplish this.

[2018-02-06 17:47] rmhorne commented on #301
Possibly related: I attempted to publish a place (https://pleiades.stoa.org/places/403627900) with only one location selected, and it would not leave the "pending" state.

[2018-02-19 21:54] paregorios opened #336 "single connections shown twice in origin place view"
I have so far noticed this behavior only here: https://pleiades.stoa.org/places/462204

<img width="524" alt="screen shot 2018-02-19 at 3 53 47 pm" src="https://user-images.githubusercontent.com/263285/36398523-1f0f4564-158d-11e8-8a1a-1fc967dd6425.png">

[2018-02-19 22:06] serviliusahala commented on #336
@paregorios I have noticed some of these. Will send some examples this
evening.

On Monday, February 19, 2018, Tom Elliott <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2018-02-19 23:05] serviliusahala commented on #336
Something odd going on with Tiberis (river)
<https://pleiades.stoa.org/places/423080>

​

============================================
Jeffrey A. Becker, Ph.D. RPA
Department of Classical and Near Eastern Studies
Binghamton University - SUNY
jeffrey.becker@gmail.com; 617-877-4484
Twitter: @servilius_ahala <https://twitter.com/servilius_ahala>
HCommons: @serviliusahala
<https://hcommons.org/members

[2018-02-20 14:05] paregorios opened #337 "zombie connections are lurking in some places -- 8"
Place view for [Tiberis (river)](https://pleiades.stoa.org/places/423080) works for logged-in admin user, but unauthenticated users see an error message.

[2018-02-20 14:07] paregorios commented on #336
Regarding Tiber, see now https://github.com/isawnyu/pleiades-gazetteer/issues/337

[2018-02-20 14:09] paregorios commented on #337
Here's the traceback:

[code]

[2018-02-20 15:21] paregorios commented on #337
In work in https://github.com/isawnyu/PleiadesEntity/tree/issue337

[2018-02-20 17:06] paregorios commented on #337
This is somehow related to #336. The error here is occurring when trying to deal with certain "zombie" connections, which seem to be derelict working copies(?).

[2018-02-20 17:21] paregorios commented on #337
## Said zombie copies show up in the ZMI:

![screen shot 2018-02-20 at 11 08 26 am](https://user-images.githubusercontent.com/263285/36438101-7b795488-162e-11e8-9204-1db41c9a330e.png)

## and in the place view:

![screen shot 2018-02-20 at 11 07 46 am](https://user-images.githubusercontent.com/263285/36438113-84f2a55a-162e-11e8-90eb-0ea7f6dcea4f.png)

## but not in the folder listing:

![screen sh

[2018-02-20 17:22] paregorios commented on #337
Near term: we should be able to ignore these objects in constructing the list of connections for viewing; however, we need to find out how/where they are getting created and fix that. I will pursue the near-term cosmetic fix sub #336 and leave this ticket open for finding and fixing the underlying problem.

[2018-02-20 17:25] paregorios commented on #336
Debugging in #337 has made it pretty clear that there is something odd going on in the database or the catalog or the code that is creating "zombie" connections with ids like working copies and these are confusing various views in the plone, including our custom ones. Work on this ticket will focus on fixing our code so it doesn't see the zombies and get confused by them. #337 will stay open until

[2018-02-20 17:51] paregorios commented on #336
This issue is now in work in https://github.com/isawnyu/PleiadesEntity/tree/issue336

[2018-02-20 18:05] paregorios commented on #336
I can't find an effective test for these. Locating the "zombie" connections via the ZMI and deleting is a faster method. See #337; we need to figure out how these are getting created.

[2018-03-09 21:45] paregorios opened #338 "reindexing object from script throws ComponentLookupError"
[code]

[2018-03-09 22:10] davisagli commented on #338
How are you invoking the script?

[2018-03-09 22:29] paregorios commented on #338
[code]

It does something like:
[code]

[2018-03-09 23:04] davisagli commented on #338
It should work if you do `bin/instance -Oplone run scripts/foobar_indexer.py`. That'll make sure that `plone` is activated as the site to use for Zope component loookups.

My scripts to reindex often end up looking like this to make sure that it commits periodically rather than ending up with a giant long-running transaction that is more likely to conflict with other transactions:

[code]

[2018-03-10 12:26] paregorios commented on #338
@davisagli thanks for the tip. That's got it!

[2018-03-10 12:26] #338 closed, assigned to nobody

[2018-03-12 18:01] paregorios opened #339 "Time period language on edit forms is misleading -- 1"
from @atomrab:

[2018-03-13 18:08] paregorios commented on #9
This problem has also been reported by @wouterbeek and Vincent Altenavan:

[2018-03-13 18:10] paregorios opened #340 "place-types.ttl is empty -- 5"

[2018-03-13 19:18] paregorios commented on #9
As @ryanfb pointed out above, it looks like the URIs need to have been urlencoded before being passed to ```URIRef()``` in https://github.com/isawnyu/pleiades-rdf/blob/master/pleiades/rdf/common.py (and possibly elsewhere?).

[2018-03-13 19:20] paregorios commented on #340
The code that is supposed to generate this file is in pleiades.rdf/pleiades/rdf/common.py. Is it possible that this aspect wasn't upgraded when the place types vocabulary was moved out of ATVocabularyManager and into settings?

[2018-03-19 11:44] paregorios commented on #339
+1 on this being a problem for users from Jamie Novotny in Munich.

[2018-05-07 23:41] paregorios opened #341 "add support for import of additional OSM way types - 3"
We'd like to be able to get relations of the following types that are not facilitated now:

 - boundary: https://www.openstreetmap.org/relation/3303726
 - watershed: https://www.openstreetmap.org/relation/2264091

keep existing values (multipolygon, waterway)

[2018-05-16 14:04] serviliusahala opened #342 "OSM import on Pleiades is broken"
An error occurred while attempting to import an OSM node to create a location for a [new place](https://pleiades.stoa.org/places/153179566) that, in turn, had been migrated from being a subordinate location on another place page.

https://pleiades.stoa.org/places/153179566/@@create-location-osm

We’re sorry, but there seems to be an error…
Here is the full error message:

Display traceback as text

[2018-05-16 21:33] paregorios commented on #342
I saw this error on a different OSM import this morning. On the face of it, it looks like OpenStreetMap has allowed the SSL certificate on their API server to expire or it has been configured incorrectly. But perhaps it has to do with library upgrades, possibly required on our side:

https://github.com/hotosm/osm-tasking-manager2/issues/976

[2018-05-17 14:58] paregorios opened #343 "Neighborhood KML seems to be broken - 3"
See, for example:

https://pleiades.stoa.org/places/390922209/neighborhood-kml

which throws errors about "unexpected element html" in Google Earth.

[2018-05-17 15:28] paregorios commented on #337
Still seeing these. I'm at a loss as to see where they are coming from.

[2018-05-25 08:35] paregorios opened #344 "newly added vocab terms throw tracebacks without instance restart (5 story points)"
Steps to reproduce:

 - as an admin visit pleiades settings
 - add a new term to a vocabulary and save
 - navigate to and edit a content item that uses that vocabulary
 - select the new vocabulary term from the appropriate combo box
 - enjoy the traceback

If all instances are restarted, this problem disappears. Would prefer not to have to restart all instances to get a new vocabulary term to work

[2018-05-25 08:39] paregorios opened #345 "connection attributes are not included in JSON -- 5"
We enhanced the connection content type, adding relationship types, references, and more. None of these new attributes appear in the JSON serializations (individual or export/dump), but they should if we are to meet our obligations of complete openness and data archiving.

For example, this is all we see at present in [the JSON for Syracuse](https://pleiades.stoa.org/places/462503/json):

[code]

[2018-06-07 15:11] paregorios commented on #342
Other users are now reporting this problem too.

[2018-06-07 15:15] serviliusahala commented on #342
I have encountered it multiple times myself, and so have held off on add'l
OSM import attempts for locations.

============================================
Jeffrey A. Becker, Ph.D. RPA
Department of Classical and Near Eastern Studies
Binghamton University - SUNY
jeffrey.becker@gmail.com; 617-877-4484
Twitter: @servilius_ahala <https://twitter.com/servilius_ahala>
HCommons: @serviliusahala
<https:/

[2018-06-07 15:17] paregorios commented on #342
Yeah, it's clearly a universal problem. OSM import on Pleiades is broken.

[2018-06-08 23:28] paregorios commented on #342
[Code inspection](https://github.com/isawnyu/PleiadesEntity/blob/859d23303d9deb2cb6a4f609e424c50d3359c2b4/Products/PleiadesEntity/browser/osm.py#L53-L62) and some non-production testing indicates that the problem may be that we are building the OSM API request with http which then **should** redirect to https, but something is going wrong somewhere in that process. Perhaps simply by updating to us

[2018-06-10 23:48] paregorios commented on #342
Fixed with @d2f561ab6cd837352732cbc9a6faef8c82f2b974 on Pleiades entity and version pin update in pleiades-buildout: c59e0a5c6963e229b5cb9a96e6d54a8843514ba5

Deploy to production.

[2018-06-10 23:48] #342 closed, assigned to paregorios

[2018-06-17 15:27] serviliusahala opened #346 "Via Campana?"
There was a duplicate stub in drafting state for [Via Campana?](https://pleiades.stoa.org/places/231839930/?searchterm=via%20campana*) so I attempted to merge resources and then to delete the duplicate stub, but I've done something wrong as the non-deleted [place](https://pleiades.stoa.org/places/231839930/?searchterm=via%20campana*) now produces this error -->

Traceback (innermost last):

Module

[2018-06-17 16:03] paregorios commented on #346
Looks like a broken connection link. I’ll hunt it down through the
ZMI.

On 17 Jun 2018, at 10:27, Jeffrey A. Becker wrote:

[2018-07-11 17:43] paregorios opened #347 "point-and-click action to copy/paste a reference - 13"
It's a pain to copy or move references from a location to a place vel sim. It would be much easier if we could select, copy, paste.

[2018-07-11 17:44] paregorios opened #348 "autofill attested <==> romanized for Roman languages"
It's a pain to have to type or copy/paste the same characters verbatim in both the attested and romanized fields. It would be nice if, for languages written in Roman characters (e.g. English, French, Latin, German), the web app did this for us automatically.

[2018-07-11 17:45] paregorios opened #349 "admin menu action to merge two resources of same type"
Sometimes we have to resolve dupes right now. It would be nice to have an automated-but-supervised merge function rather than having to do everything by hand.

[2018-07-11 22:43] paregorios opened #350 "reimport geometry from OSM ways - 8"
The early version of our OSM geometry importer only knew how to make points. When given the ID of an OSM way, it would grab the first vertex in the sequence and use its geometry to create a point location in Pleiades. It would be great to be able to revisit such Pleiades locations and update the geometry by importing the whole polygon from OSM.

[2018-07-13 17:23] sarcanon opened #351 "Home Page Search Needs Feedback for Negative Results - 2"
When performing a search from home page, if the query produces no results, no feedback is given to the user at all. This potentially creates the impression the query was not performed.

Steps to reproduce:
1. From home page, enter "XYZXYZ" into form field, and hit Enter.
2. Observe that no user feedback is provided to indicate query failed.

Test environment: Chrome Version 67.0.3396.99, Windows 1

[2018-08-24 02:32] sarcanon opened #352 "Target new window/tab for Pleaides reference documentation links"
When adding/editing content, links to Editing Guidelines, Citation Guidelines, etc., should target new windows/tabs, so that user's edits are not at risk of being inadvertently lost by following the link. Most users will want to refer to these reference pages while editing content, so the ability to have windows/tabs open side-by-side is essential.

[2018-08-24 13:37] serviliusahala opened #353 "Error generated during OSM relation import"
Importing a new OSM relation to this Pleiades [place](https://pleiades.stoa.org/places/148116/) produced this error:

https://pleiades.stoa.org/places/148116/error_log/getLogEntryAsText?id=1535117655.460.749680761255
Traceback (innermost last):
  Module ZPublisher.Publish, line 138, in publish
  Module ZPublisher.mapply, line 77, in mapply
  Module ZPublisher.Publish, line 48, in call_object
  Mod

[2018-08-28 18:55] paregorios commented on #353
@serviliusahala can you find and paste into a comment here the OSM relation ID?

[2018-08-28 19:45] serviliusahala commented on #353
@paregorios I am pretty sure this was the OSM [relation](https://www.openstreetmap.org/relation/1646871) Le Libron.

[2018-09-18 14:14] rmhorne opened #354 "Maps not reflecting connections"
It seems that only the "connection" sub-type of connections appears on a place map - see https://pleiades.stoa.org/places/177302800, where none of the "part of (administrative)" connections are shown.

[2018-09-18 14:17] rmhorne opened #355 "Connection Maps Weight"
It might be a good idea to weight the different types of connections differently for generating a representative point. For instance "borders" and "is near / close / etc" should be more heavily weighted than "part of". Some connection types, like "allied to", (especially if we expand the connection types) should be excluded from representative points altogether, and perhaps excluded from the map a

[2018-10-31 18:04] paregorios commented on #334
This is resolved and the fix deploy to production and tested.

[2018-10-31 18:04] #334 closed, assigned to nobody

[2019-01-11 21:08] rmhorne opened #356 "Search result map assigns incorrect coordinates to names - 3"
Every name with the same name is getting the same wrong coordinates on the search result map (at least as related to popups). See https://pleiades.stoa.org/search?b_start:int=0&_authenticator=9cab0223c063dbfdf19d09210eb21363b9498664&submit=Search&SearchableText=phrygia%2A for this in action with Phyrgia.

As a Pleiades user conducting an advanced search, I will see all matching content items in a

[2019-02-27 22:09] serviliusahala opened #357 "Error on check-in of working copy of Estel Roman Quarry"
My attempts to check-in the working copy of [Estel Roman Quarry](https://pleiades.stoa.org/places/148076) produces the following error:

Here is the full error message:

Display traceback as text

Traceback (innermost last):

Module ZPublisher.Publish, line 138, in publish
Module ZPublisher.mapply, line 77, in mapply
Module ZPublisher.Publish, line 48, in call_object
Module Shared.DC.Scripts.Bindi

[2019-02-27 22:24] paregorios commented on #357
Problem resolved by restarting all plone instances. The new connection type for “material sourced from” seems not to have been propagated to someplace that needed to know about it. The check-in appears to have gone through; a subordinate name and a connection remain in pending state.

Tom Elliott, Ph.D.
Associate Director for Digital Programs
Senior Research Scholar
Institute for the Study of the

[2019-03-01 10:59] #357 closed, assigned to nobody

[2019-03-01 15:12] paregorios opened #358 "add more precise date fields to connections - 5"
From @rmhorne via email:

[2019-03-19 17:34] paregorios opened #359 "places rdf ttl throws parse error"
From Emmanouil Ntoulias via email:

https://lod-cloud.net/dataset/pleiades and tried to store it in a local
endpoint. Unfortunately I get a parse error in multiple files: ERROR
org.openrdf.rio.helpers.ParseErrorLogger  - [Rio fatal] Expected an RDF
value here, found ']' (16439, -1) . This example is from the
"places-8.tll" file. The line is:

believe the inside of the brackets should not be empty.

[2019-03-19 17:37] paregorios commented on #359
Note to self:

First step: check to see if this problem is present in the up-to-date exports at https://pleiades.stoa.org/downloads/

[2019-03-19 19:12] manosntoulias commented on #359
Hello again,

I've checked with the latest dataset you suggested and the error is still there. :(

[2019-03-22 15:22] paregorios commented on #115
moving to backlog so we can close the "deployment cleanup" milestone

[2019-03-22 16:36] paregorios opened #360 "prepare to migrate to new server -- 8"
tummy has provisioned a new production server for us. I'd like to get pleiades fully up and running on this server and switch it over to being the production box. I'd like to ride shotgun with the developer(s) implementing this ticket so that I have a better idea of what and how we'd have to do things to provision yet another server in future. I thinik the main tasks are:

 - [x] verify developer

[2019-03-22 16:57] paregorios commented on #110
This is possible now by adding a "representative point" location. Closing won't fix.

[2019-03-22 16:57] #110 closed

[2019-03-22 17:43] paregorios commented on #316
priority:high because the current algorithm sometimes create wildly misleading representative points, ergo data corruption.

[2019-03-22 17:44] paregorios commented on #316
regarding storify: we need a first stab at the logic of comparison if we're going to estimate this. Assigning to me for same.

[2019-03-22 17:52] paregorios commented on #358
So, would two additional date data(!!) be sufficient? E.G.:

 - not before
 - not after

Caveats:
 - both labeled to be "proleptic Julian dates prior to establishment of the Gregorian calendar" vel sim.
 - values constrained by the upper and lower bounds of periods assigned to the context connection? it would throw an error on attempted save if that principle were violated

other concerns @rmhorne

[2019-03-22 17:53] paregorios commented on #300
need to add link to relevant bit of guidelines

[2019-03-22 17:55] paregorios commented on #336
block for #337

[2019-03-22 17:57] paregorios commented on #336
needs confirmation/revision and assessment after the blocking task #337 is resolved

[2019-03-22 17:58] paregorios commented on #337
once this ticket is resolved we need to review and reassess the blocked ticket #336

[2019-03-22 18:00] paregorios commented on #4
Is this possibly related to #336, #337, and/or #269

[2019-03-22 18:00] paregorios commented on #269
is this possily related to #4, #337, and/or #336

[2019-03-22 18:02] paregorios commented on #355
duplicate for #316; closing after transferring initial comment as it bears on suggested weighting algorithm

[2019-03-22 18:02] #355 closed, assigned to nobody

[2019-03-22 18:02] paregorios commented on #316
Migrating comments by @rmhorne from #355, which is being closed as duplicate. Some suggestions on weight:

[2019-03-22 18:05] paregorios commented on #354
This may be a manifestation of the fact that we do not have a nuanced algorithm for weighting connections by type in calculating representative point. We will mark this ticket as "blocked" by the ticket for getting a better algorithm for reprPoints (#316) then reassess once that is resolved.

[2019-03-22 18:05] paregorios commented on #316
blocker for #354

[2019-03-22 18:08] serviliusahala commented on #358
I think having terminus ante quem and terminus post quem options would be great - in many places we could radically narrow the chronology that the gazetteer surfaces.

[2019-03-22 18:13] paregorios commented on #228
[Enhancements made last year to the connections listings in places pages](https://github.com/isawnyu/PleiadesEntity/pull/34) addressed this concern,  but I failed to connect back to this ticket. Here's what one sees now:

![Screen Shot 2019-03-22 at 1 09 56 PM](https://user-images.githubusercontent.com/263285/54844054-e6f97880-4ca3-11e9-8ba1-55f025bb7c54.png)

@atomrab if you concur that this conc

[2019-03-22 18:19] paregorios commented on #159
So this is an ok result:

![Screen Shot 2019-03-22 at 1 18 20 PM](https://user-images.githubusercontent.com/263285/54844489-0f35a700-4ca5-11e9-900e-73920c2e01c5.png)

but this is much harder to deal with (note "untitled" and "castel sant angelo" for example):

![Screen Shot 2019-03-22 at 1 18 11 PM](https://user-images.githubusercontent.com/263285/54844519-1fe61d00-4ca5-11e9-9b75-fc2cc53427c9.png)

[2019-03-22 18:23] paregorios commented on #159
How expensive would a group and sort behavior like this be:

 - group 1: initial match for search term in any published title or any published name
    - sort alphabetically by title
    - include romanized forms of name that don't appear in the title in parentheses after the title
    - see also #158
 - group 2: substring match for search term in any published title or any published name if the p

[2019-03-22 18:24] paregorios commented on #159
No need to graphically distinguished between the different groups, just build the display list in that order

[2019-03-22 18:25] paregorios commented on #158
see also #159

[2019-03-22 19:23] paregorios commented on #351
Ideally, we'd provide some text with a suggestion like:

How expensive would it be to make the suggestion based on the first place or a random place initially matching the first letter or two (as here) in the failed query? If we did such a suggestion, I'd say link the "Xylopolis" (or whatever) to the place record so they can click through, but don't provide a map.

[2019-03-22 19:37] paregorios opened #361 "reduce map tile consumption on the home page - 5"
Our mapbox costs are increasing because of number of tile hits. Can we modify the home page to reduce impact? We had the following suggestions from a mapbox person:

Easy things to do in this regard might include:

 - Limit the number of example places that show up in the top-of-home-page map and then just loop over the same ones again and again.
 - Increase the delay on loading maps in the search

[2019-03-22 19:39] paregorios opened #362 "remove google analytics from pleiades -- 1"
Performance and privacy ftw.

[2019-03-22 19:39] paregorios commented on #362
priority:high because performance is a grant deliverable

[2019-03-22 19:40] paregorios commented on #360
priority: high because performance is a grant deliverable and this new server has SSD and MOAR POWRRR

[2019-03-22 19:42] paregorios commented on #359
priority:high because data corruption

[2019-03-22 19:46] paregorios commented on #343
priority:high because user experiences failure; we need to investigate how this is broken and how hard it would be to fix then make a go/no go determination on either fixing it or removing the option from the interface.

[2019-03-22 19:47] paregorios commented on #340
priority high becuase data corruption

[2019-03-22 19:49] paregorios commented on #335
priority:medium because saves editors time

[2019-03-22 19:49] rmhorne commented on #358
I think the solution offered by @paregorios (and seconded by @serviliusahala) would work - give a general time frame and the ability to give custom terminus ante quem and terminus post quem options within that frame (with an error / warning if you are violating the time bounds).

[2019-03-22 19:52] rmhorne commented on #310
As we continue to expand connections (including time adjustments - see #358 ), it is becoming apparent that we need more details / descriptions for them, especially for connections that may be controversial. Perhaps a "full conversion" of connections so that they have most of the same options presented by the places type.

[2019-03-22 19:52] paregorios commented on #320
priority:high because this is data corruption

[2019-03-22 19:54] paregorios commented on #315
Using the zutilio plugin for the zotero client produces uris that work in our fetcher. Zutilio is a much better option than other methods, so closing this "won't fix".

[2019-03-22 19:54] #315 closed, assigned to nobody

[2019-03-22 19:56] paregorios commented on #356
Confirmed by @rmhorne just now. I need to make sure I understand this ahead of planning poker so I can answer questions.

[2019-03-22 19:58] paregorios commented on #356
priority:high because user task failure is possible in this context

[2019-03-22 20:00] rmhorne commented on #356
In the Phyrgia example, the last Phyrgia is the location chosen by the map. If I find other cases of this error I will confirm if this is "standard" bug behavior.

[2019-03-22 20:01] paregorios commented on #310
@rmhorne What am I missing besides summary, details, and (#300) title?

[2019-03-22 20:02] paregorios commented on #309
This does indeed seem to be busted and needs fixing as a high priority concern because it consitutes data corruption.

[2019-03-22 20:04] rmhorne commented on #310
@paregorios: I think that does it, unless we want to consider connections as standalone entities that have URIs which are not tied to places (i.e. /connections/foo as opposed to  /places/foo/bar). That might be an entirely different philosophical / practical discussion however.

[2019-03-22 20:05] paregorios commented on #306
All Pleiades CSV should be saved as UTF-8 without BOM. Need to verify.

[2019-03-22 20:07] paregorios commented on #289
Priority high because this looks like a permissions bleed and therefore constitutes data corruption. All download/exports should only make reference to PUBLISHED content.

[2019-03-22 20:07] paregorios commented on #287
Need to add "steps to replicate"

[2019-03-22 20:10] rmhorne commented on #289
I agree with @paregorios: I think there is an expectation that our .csv files reflect the current state of published / reviewed content, and that any working, copied, pending, or otherwise unfinished and unreviewed entries should be kept off of these.

[2019-03-22 20:25] paregorios commented on #310
Thanks. I think for now keeping them within the context of their originating place is consistent with the way we treat names and locations. We don't have sufficient development resources right now IMO to contemplate a complete reswizzle of the data model.

[2019-03-22 20:41] paregorios commented on #283
I need to review this to see if there's still an override in place and then taskify getting rid of it if need be.

[2019-03-22 20:42] paregorios commented on #281
I'm inclined toward one zotero to rule them all. Zotero can hold the worldcat relationship. Won't fix.

[2019-03-22 20:42] #281 closed, assigned to nobody

[2019-03-22 20:44] paregorios commented on #280
Need to verify and add steps to reproduce. This may constitute a user fail scenario, hence high priority for now.

[2019-03-22 20:44] paregorios commented on #276
Is this still true? If so, what do we want to happen in these cases?

[2019-03-22 20:47] paregorios commented on #274
I was able successfully to move it just now. And this is still the standard approach (although I'm reminded we could sure use something better). Since I can't reproduce the problem, I'm closing this ticket. Please reopen or open a new one if you run into it again so we can dig deeper.

[2019-03-22 20:47] #274 closed, assigned to nobody

[2019-03-22 20:50] paregorios opened #363 "move place to errata - 8"
It is sometimes the case that we need to move a published place to the "errata" section because it's a duplicate or a mistake or something else that got published but, in retrospect, shouldn't have.

Why do this instead of just retracting or deleting it? Because we don't want people to end up getting a useless 404 if they somehow transit a link to the old item. We want something explaining what ha

[2019-03-22 20:54] paregorios commented on #271
It sounds to me like the export files contain only the vocabulary term **keys**, rather than the term values (or both). "temple-2" is a prefectly valid place type key, denoting this term: https://pleiades.stoa.org/vocabularies/place-types/temple-2. Why "temple-2" instead of "temple"? Because "temple" was already spoken for by the BAtlas-derived https://pleiades.stoa.org/vocabularies/place-types/te

[2019-03-22 20:57] paregorios commented on #268
Can we do this without having to hit google servers all the time for the font?

Didn't I already do this?

[2019-03-22 21:00] paregorios commented on #267
This ticket has since been duplicated by #283. Will close this one as duplicate since #283 has more recent discussion and troubleshooting.

[2019-03-22 21:00] #267 closed, assigned to nobody

[2019-03-22 21:01] paregorios commented on #283
This is long since fixed. closing.

[2019-03-22 21:02] paregorios commented on #283
wooops, wrong ticket reopening

[2019-03-22 21:06] paregorios commented on #349
This is a duplicate for #333. Closing.

[2019-03-22 21:06] #349 closed, assigned to nobody

[2019-03-22 21:06] paregorios commented on #348
Need to outline user story steps.

[2019-03-22 21:07] paregorios commented on #347
Need to storify.

[2019-03-22 21:08] paregorios commented on #346
This is resolved.

[2019-03-22 21:08] #346 closed, assigned to nobody

[2019-03-22 21:12] steko commented on #268
Yes, see e.g. https://git.occrp.org/libre/fonts-degooglifier

[2019-03-22 21:14] paregorios commented on #266
this was resolved long ago. closing

[2019-03-22 21:14] #266 closed, assigned to nobody

[2019-03-22 21:17] paregorios commented on #321
I'm consolidating this concern into #341. Closing.

[2019-03-22 21:17] #321 closed, assigned to nobody

[2019-03-22 21:20] paregorios commented on #341
I note that the OSM wiki doesn't seem to be up-to-date with regard to all the possible values:

https://wiki.openstreetmap.org/wiki/Types_of_relation

[2019-03-22 21:23] paregorios commented on #350
Ideally, we'd run a script on the server that walks through all of these and initiates the re-import. Re-import steps include:

- get the latest geometry from OSM for this Way and write it to the "coordinates" field on the Pleiades location
- verify/ensure that the Pleiades location references the "Generic OSM" Positional Accuracy Assessment
- rewrite the "Provenance" field using the same format t

[2019-03-22 21:25] paregorios commented on #322
As a user visiting the Pleiades home page, I will see the the number of published places is the same as the number of published place objects in the ```/places``` directory (i.e., excluding errata etc.).

As a computational agent hitting the Pleiades API for the number of places, I will get the count of published places in the ```/places``` directory.

[2019-03-22 21:28] paregorios commented on #307
priority:high because this confuses users and leads to potential task failure

[2019-03-22 21:29] paregorios commented on #305
Verify and then check for a reference.

[2019-03-22 21:30] paregorios opened #364 "cannot publish pending item"
@rmhorne reported:

[2019-03-22 21:30] paregorios commented on #364
I split this off from another ticket about workflow transition greediness: #301

[2019-03-22 21:32] paregorios commented on #301
I moved @rmhorne 's issue to #364 so we can keep this ticket focused specifically on the publication transition selection behavior. I will add story steps.

[2019-03-22 21:34] paregorios commented on #299
I will attempt to recreate this behavior in a new, test content item.

[2019-03-22 21:37] paregorios commented on #294
I would prefer for this document to be found under ```https://pleiades.stoa.org/help/concepts/pleiades-rdf-vocabulary```, for the RDF to report the new location, and for both https://pleiades.stoa.org/places/vocab and https://pleiades.stoa.org/docs/partners/pleiades-rdf-vocabulary to redirect to that new uri.

[2019-03-22 21:42] paregorios commented on #297
As an authenticated Pleiades contributor adding or editing a reference citation, I will see the following values in the "citation type" combo box whose contents should be sorted alphabeticallyt:

 - credit
 - data source
 - evidence
 - related
 - see also
 - see further

"Credit" is the new value here, and is to be associated in our RDF with [the corresponding term in the CITO ontology](https://sp

[2019-03-22 21:47] paregorios commented on #291
An alternative is to overlay a symbol when the polygon is too small for the scale. Thoughts @rmhorne?

[2019-03-22 21:59] paregorios commented on #290
I didn't keep a link to the source way on OSM, so this is a bit hard to troubleshoot/verify now, but I note the following:

 - There is an OSM relation of type=waterway corresponding to the Ceyhan river: https://www.openstreetmap.org/relation/158125
 - I tried importing it through Pleiades and was able to get the same behavior as that described above
 - I did not save the location, because I don't

[2019-03-22 21:59] paregorios commented on #290
priority:high because this behavior makes it easy for users to create broken pleiades content that throws errors.

[2019-03-22 22:02] paregorios commented on #264
This seems never to have got reviewed and merged. It should be re-assessed for validity/relevance, reviewed, tested, and then merged or rejected.

[2019-03-22 22:03] paregorios commented on #246
this is long since resolved

[2019-03-22 22:03] #246 closed, assigned to nobody

[2019-03-22 22:19] paregorios commented on #235
As a web user of the Pleiades front page, I will see a modified version of the search section of the home page, as follows:

![search](https://user-images.githubusercontent.com/263285/54855963-61d38b00-4cc6-11e9-968a-a54d7088e0b6.png)

Here's what's changed:

 - the tip text inside the search box will now read "Start typing a placename, Pleiades ID, or URL"
 - below the search box the following ne

[2019-03-22 22:23] paregorios commented on #198
I suspect this is unchanged. I will test to verify that assumption and then move forward with this issue.

[2019-03-22 22:26] paregorios commented on #180
We've been running iptables and fail2ban on the production server for a while. When we run into an aggressive bot that ignores robots.txt, we can ask tummy to make adjustments to deal with the problem. I regard this issue as resolved, so closing.

[2019-03-22 22:26] #180 closed

[2019-03-22 22:27] paregorios commented on #177
Needs to be revisited and checked.

[2019-03-22 22:28] paregorios commented on #167
This ticket has been replicated in #276. That ticket has more data/detail, so I'll close this one as duplicate, even though it came first.

[2019-03-22 22:28] #167 closed

[2019-03-22 22:29] paregorios commented on #276
From the earlier #167 (now closed), of which this is a duplicate:

[2019-03-25 14:35] paregorios commented on #140
To do:

 - [ ] on changing the summary (description) field, run the filtering described below
 - [ ] write and run a whitespace normalization script over the summary fields on all content items in the plone such that:
      1. ```ur'\s+'``` gets replaced by a single space.
      2. Leading and trailing whitespace is removed.

[2019-03-25 14:54] paregorios commented on #109
We need some developer advice to figure out how to assess this as a story.

[2019-03-25 14:54] paregorios commented on #109
priority:high because site performance is a grant deliverable

[2019-03-25 14:56] paregorios commented on #36
@rmhorne do you still see this as a potentially useful feature? If so, where would you put the previous/next buttons and what do you think would be a good point of entry?

[2019-03-25 15:03] paregorios commented on #9
priority:high because data corruption

[2019-03-25 15:44] atomrab commented on #358
This is actually excellent timing, because PeriodO has both a developer working on Pleiades integration and some extra money for development that we could use to expand the Pleiades mandate. I think I see two different functionalities here: one is to choose a period and then refine its dates for a particular site (eg one that's destroyed halfway through), and the other is to limit the list of peri

[2019-03-25 16:26] rmhorne commented on #36
I still think this is a useful feature - perhaps using the places tab, with  (which currently changes to browse places when clicked on, but that is another issue). A link right above the download link for an entry point - I am thinking the first alphabetical place name entry and a right arrow to enter the alphabetical listing. On each place page perhaps a listing to the left and right of the main

[2019-03-25 16:32] skleinfeldt commented on #361
To cut down on the Mapbox cost of showing maps in response to a search, would it be useful/feasible to consider automatically creating a static image of the standard map view of an item, storing it with the item, and using that in search results?

[2019-03-25 16:36] skleinfeldt commented on #351
The standard - that is Google - way of presenting "did you mean XYZ" in response to a misspelling is to link XYZ to the results of an XYZ search. You are proposing a different behavior - which could be the right thing to do, but it's always worth pausing to think when breaking a norm.

[2019-03-25 16:42] rmhorne commented on #361
@skleinfeldt - that is a really interesting idea. We can probably use "good enough" resolution for these images, and write some sort of script to auto-generate them when the representative point changes...

[2019-03-25 17:57] paregorios commented on #288
Desired columns:

 - associationCertainty
 - authors: (like pleiades-places-latest.csv)
 - created: (like pleiades-places-latest.csv)
 - creators: (like pleiades-places-latest.csv)
 - currentVersion: (like pleiades-places-latest.csv)
 - description: (like pleiades-places-latest.csv)
 - connectionType: (like "placeTypes" in pleiades-places-latest.csv, but use term ids drawn from the "relationship t

[2019-03-25 17:58] paregorios commented on #288
@rmhorne please review and comment on list of fields for this file above

[2019-03-25 18:11] atomrab commented on #358
Oh, also:

PeriodO is using proleptic Gregorian dates according to the ISO8601 standard, rather than proleptic Julian dates, which I know are preferred by the Classics community. For dates expressed only in years, as is usually the case for ancient periods, this won't usually make a difference, but I just thought it was worth mentioning.

[2019-03-25 19:16] paregorios commented on #345
Here's what we're looking for in the JSON (example excerpted from, and expanded upon, JSON for the [Forum of Beneventum](https://pleiades.stoa.org/places/585690564). Data under keys "bbox" and "connectsWith" are present now, and the logic for same must not be changed. We are introducing a new key "connections", which is the focus of this ticket. The objects in the "connections" array are modeled o